oscm-app/javares/META-INF/wsdl/OperationService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="executeServiceOperation" type="tns:executeServiceOperation"/>

  <xs:element name="executeServiceOperationResponse" type="tns:executeServiceOperationResponse"/>

  <xs:element name="getParameterValues" type="tns:getParameterValues"/>

  <xs:element name="getParameterValuesResponse" type="tns:getParameterValuesResponse"/>

  <xs:complexType name="getParameterValues">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="instanceId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="operationId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getParameterValuesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:operationParameter" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="operationParameter">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="executeServiceOperation">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="instanceId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="transactionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="operationId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="parameters" type="tns:operationParameter" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="executeServiceOperationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:operationResult" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="operationResult">
    <xs:sequence>
      <xs:element name="asyncExecution" type="xs:boolean"/>
      <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

