oscm-app/javares/META-INF/wsdl/ProvisioningService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://oscm.org/xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProvisioningService" targetNamespace="http://oscm.org/xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="ProvisioningService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createInstance">
    <part element="tns:createInstance" name="parameters"/>
  </message>
  <message name="createInstanceResponse">
    <part element="tns:createInstanceResponse" name="parameters"/>
  </message>
  <message name="modifySubscription">
    <part element="tns:modifySubscription" name="parameters"/>
  </message>
  <message name="modifySubscriptionResponse">
    <part element="tns:modifySubscriptionResponse" name="parameters"/>
  </message>
  <message name="asyncCreateInstance">
    <part element="tns:asyncCreateInstance" name="parameters"/>
  </message>
  <message name="asyncCreateInstanceResponse">
    <part element="tns:asyncCreateInstanceResponse" name="parameters"/>
  </message>
  <message name="createUsers">
    <part element="tns:createUsers" name="parameters"/>
  </message>
  <message name="createUsersResponse">
    <part element="tns:createUsersResponse" name="parameters"/>
  </message>
  <message name="deleteUsers">
    <part element="tns:deleteUsers" name="parameters"/>
  </message>
  <message name="deleteUsersResponse">
    <part element="tns:deleteUsersResponse" name="parameters"/>
  </message>
  <message name="sendPing">
    <part element="tns:sendPing" name="parameters"/>
  </message>
  <message name="sendPingResponse">
    <part element="tns:sendPingResponse" name="parameters"/>
  </message>
  <message name="upgradeSubscription">
    <part element="tns:upgradeSubscription" name="parameters"/>
  </message>
  <message name="upgradeSubscriptionResponse">
    <part element="tns:upgradeSubscriptionResponse" name="parameters"/>
  </message>
  <message name="saveAttributes">
    <part element="tns:saveAttributes" name="parameters"/>
  </message>
  <message name="saveAttributesResponse">
    <part element="tns:saveAttributesResponse" name="parameters"/>
  </message>
  <message name="asyncModifySubscription">
    <part element="tns:asyncModifySubscription" name="parameters"/>
  </message>
  <message name="asyncModifySubscriptionResponse">
    <part element="tns:asyncModifySubscriptionResponse" name="parameters"/>
  </message>
  <message name="asyncUpgradeSubscription">
    <part element="tns:asyncUpgradeSubscription" name="parameters"/>
  </message>
  <message name="asyncUpgradeSubscriptionResponse">
    <part element="tns:asyncUpgradeSubscriptionResponse" name="parameters"/>
  </message>
  <message name="deleteInstance">
    <part element="tns:deleteInstance" name="parameters"/>
  </message>
  <message name="deleteInstanceResponse">
    <part element="tns:deleteInstanceResponse" name="parameters"/>
  </message>
  <message name="activateInstance">
    <part element="tns:activateInstance" name="parameters"/>
  </message>
  <message name="activateInstanceResponse">
    <part element="tns:activateInstanceResponse" name="parameters"/>
  </message>
  <message name="deactivateInstance">
    <part element="tns:deactivateInstance" name="parameters"/>
  </message>
  <message name="deactivateInstanceResponse">
    <part element="tns:deactivateInstanceResponse" name="parameters"/>
  </message>
  <message name="updateUsers">
    <part element="tns:updateUsers" name="parameters"/>
  </message>
  <message name="updateUsersResponse">
    <part element="tns:updateUsersResponse" name="parameters"/>
  </message>
  <portType name="ProvisioningService">
    <operation name="createInstance">
      <input message="tns:createInstance" wsam:Action="urn:createInstance"/>
      <output message="tns:createInstanceResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/createInstanceResponse"/>
    </operation>
    <operation name="modifySubscription">
      <input message="tns:modifySubscription" wsam:Action="urn:modifySubscription"/>
      <output message="tns:modifySubscriptionResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/modifySubscriptionResponse"/>
    </operation>
    <operation name="asyncCreateInstance">
      <input message="tns:asyncCreateInstance" wsam:Action="urn:asyncCreateInstance"/>
      <output message="tns:asyncCreateInstanceResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/asyncCreateInstanceResponse"/>
    </operation>
    <operation name="createUsers">
      <input message="tns:createUsers" wsam:Action="urn:createUsers"/>
      <output message="tns:createUsersResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/createUsersResponse"/>
    </operation>
    <operation name="deleteUsers">
      <input message="tns:deleteUsers" wsam:Action="urn:deleteUsers"/>
      <output message="tns:deleteUsersResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/deleteUsersResponse"/>
    </operation>
    <operation name="sendPing">
      <input message="tns:sendPing" wsam:Action="urn:sendPing"/>
      <output message="tns:sendPingResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/sendPingResponse"/>
    </operation>
    <operation name="upgradeSubscription">
      <input message="tns:upgradeSubscription" wsam:Action="urn:upgradeSubscription"/>
      <output message="tns:upgradeSubscriptionResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/upgradeSubscriptionResponse"/>
    </operation>
    <operation name="saveAttributes">
      <input message="tns:saveAttributes" wsam:Action="urn:saveAttributes"/>
      <output message="tns:saveAttributesResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/saveAttributesResponse"/>
    </operation>
    <operation name="asyncModifySubscription">
      <input message="tns:asyncModifySubscription" wsam:Action="urn:asyncModifySubscription"/>
      <output message="tns:asyncModifySubscriptionResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/asyncModifySubscriptionResponse"/>
    </operation>
    <operation name="asyncUpgradeSubscription">
      <input message="tns:asyncUpgradeSubscription" wsam:Action="urn:asyncUpgradeSubscription"/>
      <output message="tns:asyncUpgradeSubscriptionResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/asyncUpgradeSubscriptionResponse"/>
    </operation>
    <operation name="deleteInstance">
      <input message="tns:deleteInstance" wsam:Action="urn:deleteInstance"/>
      <output message="tns:deleteInstanceResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/deleteInstanceResponse"/>
    </operation>
    <operation name="activateInstance">
      <input message="tns:activateInstance" wsam:Action="urn:activateInstance"/>
      <output message="tns:activateInstanceResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/activateInstanceResponse"/>
    </operation>
    <operation name="deactivateInstance">
      <input message="tns:deactivateInstance" wsam:Action="urn:deactivateInstance"/>
      <output message="tns:deactivateInstanceResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/deactivateInstanceResponse"/>
    </operation>
    <operation name="updateUsers">
      <input message="tns:updateUsers" wsam:Action="urn:updateUsers"/>
      <output message="tns:updateUsersResponse" wsam:Action="http://oscm.org/xsd/ProvisioningService/updateUsersResponse"/>
    </operation>
  </portType>
  <binding name="ProvisioningServicePortBinding" type="tns:ProvisioningService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createInstance">
      <soap:operation soapAction="urn:createInstance"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifySubscription">
      <soap:operation soapAction="urn:modifySubscription"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="asyncCreateInstance">
      <soap:operation soapAction="urn:asyncCreateInstance"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createUsers">
      <soap:operation soapAction="urn:createUsers"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteUsers">
      <soap:operation soapAction="urn:deleteUsers"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sendPing">
      <soap:operation soapAction="urn:sendPing"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="upgradeSubscription">
      <soap:operation soapAction="urn:upgradeSubscription"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveAttributes">
      <soap:operation soapAction="urn:saveAttributes"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="asyncModifySubscription">
      <soap:operation soapAction="urn:asyncModifySubscription"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="asyncUpgradeSubscription">
      <soap:operation soapAction="urn:asyncUpgradeSubscription"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteInstance">
      <soap:operation soapAction="urn:deleteInstance"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="activateInstance">
      <soap:operation soapAction="urn:activateInstance"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deactivateInstance">
      <soap:operation soapAction="urn:deactivateInstance"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateUsers">
      <soap:operation soapAction="urn:updateUsers"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProvisioningService">
    <port binding="tns:ProvisioningServicePortBinding" name="ProvisioningServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
<documentation>v1.8</documentation>
</definitions>
