oscm-integrationtests-apiversioning-client/javares/WSDL/AccountService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="AddMarketingPermissionException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ApplicationExceptionBean" type="tns:applicationExceptionBean"/>

  <xs:element name="ConcurrentModificationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="DeletionConstraintException" nillable="true" type="tns:deletionConstraintExceptionBean"/>

  <xs:element name="DeletionConstraintExceptionBean" type="tns:deletionConstraintExceptionBean"/>

  <xs:element name="DistinguishedNameException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="DomainObjectExceptionBean" type="tns:domainObjectExceptionBean"/>

  <xs:element name="ImageException" nillable="true" type="tns:imageExceptionBean"/>

  <xs:element name="ImageExceptionBean" type="tns:imageExceptionBean"/>

  <xs:element name="MailOperationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="MandatoryUdaMissingException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="MarketingPermissionNotFoundException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="NonUniqueBusinessKeyException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="ObjectNotFoundException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="OperationNotPermittedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="OperationPendingException" nillable="true" type="tns:operationPendingExceptionBean"/>

  <xs:element name="OperationPendingExceptionBean" type="tns:operationPendingExceptionBean"/>

  <xs:element name="OrganizationAuthoritiesException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="PaymentDataException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="PaymentDeregistrationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="RegistrationException" nillable="true" type="tns:registrationExceptionBean"/>

  <xs:element name="RegistrationExceptionBean" type="tns:registrationExceptionBean"/>

  <xs:element name="ServiceParameterException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="SubscriptionStateException" nillable="true" type="tns:subscriptionStateExceptionBean"/>

  <xs:element name="SubscriptionStateExceptionBean" type="tns:subscriptionStateExceptionBean"/>

  <xs:element name="TechnicalServiceNotAliveException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="TechnicalServiceOperationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ValidationException" nillable="true" type="tns:validationExceptionBean"/>

  <xs:element name="ValidationExceptionBean" type="tns:validationExceptionBean"/>

  <xs:element name="addSuppliersForTechnicalService" type="tns:addSuppliersForTechnicalService"/>

  <xs:element name="addSuppliersForTechnicalServiceResponse" type="tns:addSuppliersForTechnicalServiceResponse"/>

  <xs:element name="deleteBillingContact" type="tns:deleteBillingContact"/>

  <xs:element name="deleteBillingContactResponse" type="tns:deleteBillingContactResponse"/>

  <xs:element name="deletePaymentInfo" type="tns:deletePaymentInfo"/>

  <xs:element name="deletePaymentInfoResponse" type="tns:deletePaymentInfoResponse"/>

  <xs:element name="deregisterOrganization" type="tns:deregisterOrganization"/>

  <xs:element name="deregisterOrganizationResponse" type="tns:deregisterOrganizationResponse"/>

  <xs:element name="getAvailablePaymentTypes" type="tns:getAvailablePaymentTypes"/>

  <xs:element name="getAvailablePaymentTypesForOrganization" type="tns:getAvailablePaymentTypesForOrganization"/>

  <xs:element name="getAvailablePaymentTypesForOrganizationResponse" type="tns:getAvailablePaymentTypesForOrganizationResponse"/>

  <xs:element name="getAvailablePaymentTypesFromOrganization" type="tns:getAvailablePaymentTypesFromOrganization"/>

  <xs:element name="getAvailablePaymentTypesFromOrganizationResponse" type="tns:getAvailablePaymentTypesFromOrganizationResponse"/>

  <xs:element name="getAvailablePaymentTypesResponse" type="tns:getAvailablePaymentTypesResponse"/>

  <xs:element name="getBillingContacts" type="tns:getBillingContacts"/>

  <xs:element name="getBillingContactsResponse" type="tns:getBillingContactsResponse"/>

  <xs:element name="getCustomerPaymentConfiguration" type="tns:getCustomerPaymentConfiguration"/>

  <xs:element name="getCustomerPaymentConfigurationResponse" type="tns:getCustomerPaymentConfigurationResponse"/>

  <xs:element name="getDefaultPaymentConfiguration" type="tns:getDefaultPaymentConfiguration"/>

  <xs:element name="getDefaultPaymentConfigurationResponse" type="tns:getDefaultPaymentConfigurationResponse"/>

  <xs:element name="getDefaultServicePaymentConfiguration" type="tns:getDefaultServicePaymentConfiguration"/>

  <xs:element name="getDefaultServicePaymentConfigurationResponse" type="tns:getDefaultServicePaymentConfigurationResponse"/>

  <xs:element name="getMyCustomers" type="tns:getMyCustomers"/>

  <xs:element name="getMyCustomersResponse" type="tns:getMyCustomersResponse"/>

  <xs:element name="getOrganizationData" type="tns:getOrganizationData"/>

  <xs:element name="getOrganizationDataResponse" type="tns:getOrganizationDataResponse"/>

  <xs:element name="getOrganizationId" type="tns:getOrganizationId"/>

  <xs:element name="getOrganizationIdResponse" type="tns:getOrganizationIdResponse"/>

  <xs:element name="getPaymentInfos" type="tns:getPaymentInfos"/>

  <xs:element name="getPaymentInfosResponse" type="tns:getPaymentInfosResponse"/>

  <xs:element name="getSeller" type="tns:getSeller"/>

  <xs:element name="getSellerResponse" type="tns:getSellerResponse"/>

  <xs:element name="getServicePaymentConfiguration" type="tns:getServicePaymentConfiguration"/>

  <xs:element name="getServicePaymentConfigurationResponse" type="tns:getServicePaymentConfigurationResponse"/>

  <xs:element name="getSuppliersForTechnicalService" type="tns:getSuppliersForTechnicalService"/>

  <xs:element name="getSuppliersForTechnicalServiceResponse" type="tns:getSuppliersForTechnicalServiceResponse"/>

  <xs:element name="getSupportedCountryCodes" type="tns:getSupportedCountryCodes"/>

  <xs:element name="getSupportedCountryCodesResponse" type="tns:getSupportedCountryCodesResponse"/>

  <xs:element name="getUdaDefinitions" type="tns:getUdaDefinitions"/>

  <xs:element name="getUdaDefinitionsForCustomer" type="tns:getUdaDefinitionsForCustomer"/>

  <xs:element name="getUdaDefinitionsForCustomerResponse" type="tns:getUdaDefinitionsForCustomerResponse"/>

  <xs:element name="getUdaDefinitionsResponse" type="tns:getUdaDefinitionsResponse"/>

  <xs:element name="getUdaTargetTypes" type="tns:getUdaTargetTypes"/>

  <xs:element name="getUdaTargetTypesResponse" type="tns:getUdaTargetTypesResponse"/>

  <xs:element name="getUdas" type="tns:getUdas"/>

  <xs:element name="getUdasForCustomer" type="tns:getUdasForCustomer"/>

  <xs:element name="getUdasForCustomerResponse" type="tns:getUdasForCustomerResponse"/>

  <xs:element name="getUdasResponse" type="tns:getUdasResponse"/>

  <xs:element name="loadImageOfOrganization" type="tns:loadImageOfOrganization"/>

  <xs:element name="loadImageOfOrganizationResponse" type="tns:loadImageOfOrganizationResponse"/>

  <xs:element name="registerCustomer" type="tns:registerCustomer"/>

  <xs:element name="registerCustomerResponse" type="tns:registerCustomerResponse"/>

  <xs:element name="registerKnownCustomer" type="tns:registerKnownCustomer"/>

  <xs:element name="registerKnownCustomerResponse" type="tns:registerKnownCustomerResponse"/>

  <xs:element name="removeSuppliersFromTechnicalService" type="tns:removeSuppliersFromTechnicalService"/>

  <xs:element name="removeSuppliersFromTechnicalServiceResponse" type="tns:removeSuppliersFromTechnicalServiceResponse"/>

  <xs:element name="saveBillingContact" type="tns:saveBillingContact"/>

  <xs:element name="saveBillingContactResponse" type="tns:saveBillingContactResponse"/>

  <xs:element name="savePaymentConfiguration" type="tns:savePaymentConfiguration"/>

  <xs:element name="savePaymentConfigurationResponse" type="tns:savePaymentConfigurationResponse"/>

  <xs:element name="savePaymentInfo" type="tns:savePaymentInfo"/>

  <xs:element name="savePaymentInfoResponse" type="tns:savePaymentInfoResponse"/>

  <xs:element name="saveUdaDefinitions" type="tns:saveUdaDefinitions"/>

  <xs:element name="saveUdaDefinitionsResponse" type="tns:saveUdaDefinitionsResponse"/>

  <xs:element name="saveUdas" type="tns:saveUdas"/>

  <xs:element name="saveUdasResponse" type="tns:saveUdasResponse"/>

  <xs:element name="updateAccountInformation" type="tns:updateAccountInformation"/>

  <xs:element name="updateAccountInformationResponse" type="tns:updateAccountInformationResponse"/>

  <xs:element name="updateCustomerDiscount" type="tns:updateCustomerDiscount"/>

  <xs:element name="updateCustomerDiscountResponse" type="tns:updateCustomerDiscountResponse"/>

  <xs:complexType name="saveBillingContact">
    <xs:sequence>
      <xs:element name="billingContact" type="tns:voBillingContact" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voBillingContact">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="address" type="xs:string" minOccurs="0"/>
          <xs:element name="companyName" type="xs:string" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="orgAddressUsed" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="baseVO" abstract="true">
    <xs:sequence>
      <xs:element name="key" type="xs:long"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveBillingContactResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voBillingContact" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="applicationExceptionBean">
    <xs:sequence>
      <xs:element name="causeStackTrace" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="messageKey" type="xs:string" minOccurs="0"/>
      <xs:element name="messageParams" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validationExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="member" type="xs:string" minOccurs="0"/>
          <xs:element name="reason" type="tns:reasonEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="domainObjectExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="classEnum" type="tns:classEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getUdas">
    <xs:sequence>
      <xs:element name="targetType" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="targetObjectKey" type="xs:long" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUdasResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUda" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voUda">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="targetObjectKey" type="xs:long"/>
          <xs:element name="udaDefinition" type="tns:voUdaDefinition" minOccurs="0"/>
          <xs:element name="udaValue" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voUdaDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurationType" type="tns:udaConfigurationType" minOccurs="0"/>
          <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
          <xs:element name="targetType" type="xs:string" minOccurs="0"/>
          <xs:element name="udaId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getDefaultPaymentConfiguration">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getDefaultPaymentConfigurationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voPaymentType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voPaymentType">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="collectionType" type="tns:paymentCollectionType" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="paymentTypeId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="savePaymentConfiguration">
    <xs:sequence>
      <xs:element name="defaultConfiguration" type="tns:voPaymentType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="customerConfigurations" type="tns:voOrganizationPaymentConfiguration" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="defaultServiceConfiguration" type="tns:voPaymentType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="serviceConfigurations" type="tns:voServicePaymentConfiguration" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voOrganizationPaymentConfiguration">
    <xs:sequence>
      <xs:element name="enabledPaymentTypes" type="tns:voPaymentType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="organization" type="tns:voOrganization" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voOrganization">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="address" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="discount" type="tns:voDiscount" minOccurs="0"/>
          <xs:element name="distinguishedName" type="xs:string" minOccurs="0"/>
          <xs:element name="domicileCountry" type="xs:string" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="imageDefined" type="xs:boolean"/>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="nameSpace" type="xs:string" minOccurs="0"/>
          <xs:element name="organizationId" type="xs:string" minOccurs="0"/>
          <xs:element name="phone" type="xs:string" minOccurs="0"/>
          <xs:element name="supportEmail" type="xs:string" minOccurs="0"/>
          <xs:element name="url" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voDiscount">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="endTime" type="xs:long" minOccurs="0"/>
          <xs:element name="startTime" type="xs:long" minOccurs="0"/>
          <xs:element name="value" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voServicePaymentConfiguration">
    <xs:sequence>
      <xs:element name="enabledPaymentTypes" type="tns:voPaymentType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="service" type="tns:voService" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voService">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="accessType" type="tns:serviceAccessType" minOccurs="0"/>
          <xs:element name="averageRating" type="xs:decimal" minOccurs="0"/>
          <xs:element name="baseURL" type="xs:string" minOccurs="0"/>
          <xs:element name="configuratorUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="featureURL" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="numberOfReviews" type="xs:int"/>
          <xs:element name="offeringType" type="tns:offeringType" minOccurs="0"/>
          <xs:element name="parameters" type="tns:voParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="priceModel" type="tns:voPriceModel" minOccurs="0"/>
          <xs:element name="sellerId" type="xs:string" minOccurs="0"/>
          <xs:element name="sellerKey" type="xs:long"/>
          <xs:element name="sellerName" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
          <xs:element name="shortDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:serviceStatus" minOccurs="0"/>
          <xs:element name="tags" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="technicalId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurable" type="xs:boolean"/>
          <xs:element name="parameterDefinition" type="tns:voParameterDefinition" minOccurs="0"/>
          <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameterDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurable" type="xs:boolean"/>
          <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="mandatory" type="xs:boolean"/>
          <xs:element name="maxValue" type="xs:long" minOccurs="0"/>
          <xs:element name="minValue" type="xs:long" minOccurs="0"/>
          <xs:element name="modificationType" type="tns:parameterModificationType" minOccurs="0"/>
          <xs:element name="parameterId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterOptions" type="tns:voParameterOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="parameterType" type="tns:parameterType" minOccurs="0"/>
          <xs:element name="valueType" type="tns:parameterValueType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameterOption">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="optionDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="optionId" type="xs:string" minOccurs="0"/>
          <xs:element name="paramDefId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPriceModel">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="consideredEvents" type="tns:voPricedEvent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="currencyISOCode" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="freePeriod" type="xs:int"/>
          <xs:element name="license" type="xs:string" minOccurs="0"/>
          <xs:element name="oneTimeFee" type="xs:decimal" minOccurs="0"/>
          <xs:element name="period" type="tns:pricingPeriod" minOccurs="0"/>
          <xs:element name="pricePerPeriod" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUserAssignment" type="xs:decimal" minOccurs="0"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="selectedParameters" type="tns:voPricedParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="type" type="tns:priceModelType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedEvent">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="eventDefinition" type="tns:voEventDefinition" minOccurs="0"/>
          <xs:element name="eventPrice" type="xs:decimal" minOccurs="0"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voEventDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="eventDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="eventId" type="xs:string" minOccurs="0"/>
          <xs:element name="eventType" type="tns:eventType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voSteppedPrice">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="limit" type="xs:long" minOccurs="0"/>
          <xs:element name="price" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedRole">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="role" type="tns:voRoleDefinition" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voRoleDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="roleId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="parameterKey" type="xs:long"/>
          <xs:element name="pricePerSubscription" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricedOptions" type="tns:voPricedOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="voParameterDef" type="tns:voParameterDefinition" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedOption">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="optionId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterOptionKey" type="xs:long"/>
          <xs:element name="pricePerSubscription" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="savePaymentConfigurationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="operationPendingExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="reason" type="tns:OperationPendingException.ReasonEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="saveUdas">
    <xs:sequence>
      <xs:element name="udas" type="tns:voUda" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveUdasResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getSeller">
    <xs:sequence>
      <xs:element name="sellerId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="locale" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSellerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAvailablePaymentTypesFromOrganization">
    <xs:sequence>
      <xs:element name="serviceKey" type="xs:long" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAvailablePaymentTypesFromOrganizationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voPaymentType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addSuppliersForTechnicalService">
    <xs:sequence>
      <xs:element name="technicalService" type="tns:voTechnicalService" form="unqualified" minOccurs="0"/>
      <xs:element name="organizationIds" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voTechnicalService">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="accessInfo" type="xs:string" minOccurs="0"/>
          <xs:element name="accessType" type="tns:serviceAccessType" minOccurs="0"/>
          <xs:element name="baseUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="eventDefinitions" type="tns:voEventDefinition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="license" type="xs:string" minOccurs="0"/>
          <xs:element name="loginPath" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterDefinitions" type="tns:voParameterDefinition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="provisioningUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="provisioningVersion" type="xs:string" minOccurs="0"/>
          <xs:element name="roleDefinitions" type="tns:voRoleDefinition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="tags" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="technicalServiceBuildId" type="xs:string" minOccurs="0"/>
          <xs:element name="technicalServiceDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="technicalServiceId" type="xs:string" minOccurs="0"/>
          <xs:element name="technicalServiceOperations" type="tns:voTechnicalServiceOperation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voTechnicalServiceOperation">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="operationDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="operationId" type="xs:string" minOccurs="0"/>
          <xs:element name="operationName" type="xs:string" minOccurs="0"/>
          <xs:element name="operationParameters" type="tns:voServiceOperationParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voServiceOperationParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="mandatory" type="xs:boolean"/>
          <xs:element name="parameterId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterName" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterValue" type="xs:string" minOccurs="0"/>
          <xs:element name="type" type="tns:operationParameterType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="addSuppliersForTechnicalServiceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getDefaultServicePaymentConfiguration">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getDefaultServicePaymentConfigurationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voPaymentType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPaymentInfos">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getPaymentInfosResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voPaymentInfo" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voPaymentInfo">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="paymentType" type="tns:voPaymentType" minOccurs="0"/>
          <xs:element name="providerName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="deleteBillingContact">
    <xs:sequence>
      <xs:element name="billingContact" type="tns:voBillingContact" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteBillingContactResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="loadImageOfOrganization">
    <xs:sequence>
      <xs:element name="organizationKey" type="xs:long" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loadImageOfOrganizationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voImageResource" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voImageResource">
    <xs:sequence>
      <xs:element name="buffer" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="contentType" type="xs:string" minOccurs="0"/>
      <xs:element name="imageType" type="tns:imageType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAvailablePaymentTypes">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAvailablePaymentTypesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voPaymentType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveUdaDefinitions">
    <xs:sequence>
      <xs:element name="udaDefinitionsToSave" type="tns:voUdaDefinition" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="udaDefinitionsToDelete" type="tns:voUdaDefinition" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveUdaDefinitionsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="removeSuppliersFromTechnicalService">
    <xs:sequence>
      <xs:element name="technicalService" type="tns:voTechnicalService" form="unqualified" minOccurs="0"/>
      <xs:element name="organizationIds" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeSuppliersFromTechnicalServiceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getServicePaymentConfiguration">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getServicePaymentConfigurationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServicePaymentConfiguration" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deregisterOrganization">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="deregisterOrganizationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="deletionConstraintExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:domainObjectExceptionBean">
        <xs:sequence>
          <xs:element name="dependentClassEnum" type="tns:classEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="registerKnownCustomer">
    <xs:sequence>
      <xs:element name="organization" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
      <xs:element name="user" type="tns:voUserDetails" form="unqualified" minOccurs="0"/>
      <xs:element name="organizationProperties" type="tns:ldapProperties" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voUserDetails">
    <xs:complexContent>
      <xs:extension base="tns:voUser">
        <xs:sequence>
          <xs:element name="additionalName" type="xs:string" minOccurs="0"/>
          <xs:element name="address" type="xs:string" minOccurs="0"/>
          <xs:element name="EMail" type="xs:string" minOccurs="0"/>
          <xs:element name="firstName" type="xs:string" minOccurs="0"/>
          <xs:element name="lastName" type="xs:string" minOccurs="0"/>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
          <xs:element name="phone" type="xs:string" minOccurs="0"/>
          <xs:element name="realmUserId" type="xs:string" minOccurs="0"/>
          <xs:element name="remoteLdapActive" type="xs:boolean"/>
          <xs:element name="remoteLdapAttributes" type="tns:settingType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="salutation" type="tns:salutation" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voUser">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="organization_Id" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:userAccountStatus" minOccurs="0"/>
          <xs:element name="userId" type="xs:string" minOccurs="0"/>
          <xs:element name="userName" type="xs:string" minOccurs="0"/>
          <xs:element name="userRoles" type="tns:userRoleType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ldapProperties">
    <xs:sequence>
      <xs:element name="settings" type="tns:setting" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setting">
    <xs:sequence>
      <xs:element name="key" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registerKnownCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deletePaymentInfo">
    <xs:sequence>
      <xs:element name="paymentInfo" type="tns:voPaymentInfo" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deletePaymentInfoResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getSupportedCountryCodes">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getSupportedCountryCodesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSuppliersForTechnicalService">
    <xs:sequence>
      <xs:element name="technicalService" type="tns:voTechnicalService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSuppliersForTechnicalServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganization" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUdaDefinitionsForCustomer">
    <xs:sequence>
      <xs:element name="supplierId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUdaDefinitionsForCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUdaDefinition" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBillingContacts">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBillingContactsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voBillingContact" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePaymentInfo">
    <xs:sequence>
      <xs:element name="paymentInfo" type="tns:voPaymentInfo" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePaymentInfoResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voPaymentInfo" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUdaDefinitions">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getUdaDefinitionsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUdaDefinition" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMyCustomers">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMyCustomersResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganization" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUdasForCustomer">
    <xs:sequence>
      <xs:element name="targetType" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="targetObjectKey" type="xs:long" form="unqualified"/>
      <xs:element name="supplierId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUdasForCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUda" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registerCustomer">
    <xs:sequence>
      <xs:element name="organization" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
      <xs:element name="admin" type="tns:voUserDetails" form="unqualified" minOccurs="0"/>
      <xs:element name="password" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="serviceKey" type="xs:long" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="sellerId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registerCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registrationExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="reason" type="tns:reason" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="updateCustomerDiscount">
    <xs:sequence>
      <xs:element name="organization" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateCustomerDiscountResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrganizationData">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getOrganizationDataResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAvailablePaymentTypesForOrganization">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAvailablePaymentTypesForOrganizationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voPaymentType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrganizationId">
    <xs:sequence>
      <xs:element name="subscriptionKey" type="xs:long" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrganizationIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subscriptionStateExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="member" type="xs:string" minOccurs="0"/>
          <xs:element name="reason" type="tns:SubscriptionStateException.Reason" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="updateAccountInformation">
    <xs:sequence>
      <xs:element name="organization" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
      <xs:element name="user" type="tns:voUserDetails" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="imageResource" type="tns:voImageResource" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateAccountInformationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="imageExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="reason" type="tns:ImageException.Reason" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getCustomerPaymentConfiguration">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCustomerPaymentConfigurationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganizationPaymentConfiguration" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUdaTargetTypes">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getUdaTargetTypesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="reasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMAIL"/>
      <xs:enumeration value="LENGTH"/>
      <xs:enumeration value="LENGTH_TEXT"/>
      <xs:enumeration value="REQUIRED"/>
      <xs:enumeration value="SECURITY_INFO"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="ID_CHAR"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="POSITIVE_NUMBER"/>
      <xs:enumeration value="DURATION"/>
      <xs:enumeration value="EMPTY_VALUE"/>
      <xs:enumeration value="CSS_COLOR"/>
      <xs:enumeration value="CSS_VALUE"/>
      <xs:enumeration value="URL"/>
      <xs:enumeration value="RELATIVE_URL"/>
      <xs:enumeration value="LDAP_CONNECTION_REFUSED"/>
      <xs:enumeration value="LDAP_USER_NOT_FOUND"/>
      <xs:enumeration value="LDAP_USER_NOT_UNIQUE"/>
      <xs:enumeration value="LDAP_CREATED_ID_INVALID"/>
      <xs:enumeration value="LDAP_VALUE_MISMATCH"/>
      <xs:enumeration value="LDAP_BASE_DN_INVALID"/>
      <xs:enumeration value="LDAP_MANDATORY_PROPERTY_MISSING"/>
      <xs:enumeration value="LDAP_INVALID_PLATFORM_PROPERTY"/>
      <xs:enumeration value="ENUMERATION"/>
      <xs:enumeration value="VALUE_NOT_IN_RANGE"/>
      <xs:enumeration value="INVALID_REFERENCE"/>
      <xs:enumeration value="STEPPED_USER_PRICING"/>
      <xs:enumeration value="STEPPED_EVENT_PRICING"/>
      <xs:enumeration value="STEPPED_PARAMETER_PRICING"/>
      <xs:enumeration value="STEPPED_PRICING"/>
      <xs:enumeration value="STEPPED_PRICING_DUPLICATE_LIMIT"/>
      <xs:enumeration value="DUPLICATE_VALUE"/>
      <xs:enumeration value="DUPLICATE_CATALOG_POSITION"/>
      <xs:enumeration value="DUPLICATE_PSP_ACCOUNT"/>
      <xs:enumeration value="PRICED_PARAM_WRONG_BASE"/>
      <xs:enumeration value="COUNTRY_NOT_SUPPORTED"/>
      <xs:enumeration value="VAT"/>
      <xs:enumeration value="VAT_NOT_SUPPORTED"/>
      <xs:enumeration value="DECIMAL"/>
      <xs:enumeration value="DIRECT_ACCESS_USER_PRICE"/>
      <xs:enumeration value="INVALID_NUMBER_TARGET_CATALOG_ENTRIES"/>
      <xs:enumeration value="INVALID_CHAR"/>
      <xs:enumeration value="IMAGE_TYPE"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_SMALL"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_BIG"/>
      <xs:enumeration value="TAGS_MAX_COUNT"/>
      <xs:enumeration value="RATING_REQUIRED"/>
      <xs:enumeration value="INVALID_LOCALE"/>
      <xs:enumeration value="USER_OPERATION_LOG_ENTITY_TYPE"/>
      <xs:enumeration value="INVALID_CONFIGURATION_SETTING"/>
      <xs:enumeration value="EXTERNAL_SERVICE_MUST_BE_FREE_OF_CHARGE"/>
      <xs:enumeration value="FILE_IMPORT_FAILED"/>
      <xs:enumeration value="MIN_LENGTH"/>
      <xs:enumeration value="INVALID_CURRENCY"/>
      <xs:enumeration value="TRIGGER_TYPE_SUPPORTS_NO_PROCESS_SUSPENDING"/>
      <xs:enumeration value="TRIGGER_TYPE_NOT_ALLOWED"/>
      <xs:enumeration value="ONE_OF_PARTNER_REVENUE_SHARE_MANDATORY"/>
      <xs:enumeration value="ONE_TIME_PARAMETER_NOT_ALLOWED"/>
      <xs:enumeration value="SCALE_TO_LONG"/>
      <xs:enumeration value="INVALID_DATE_RANGE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="classEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORGANIZATION"/>
      <xs:enumeration value="SERVICE"/>
      <xs:enumeration value="SUBSCRIPTION"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="PAYMENT_INFO"/>
      <xs:enumeration value="TECHNICAL_SERVICE"/>
      <xs:enumeration value="ORGANIZATION_ROLE"/>
      <xs:enumeration value="PARAMETER_DEFINITION"/>
      <xs:enumeration value="PARAMETER_OPTION"/>
      <xs:enumeration value="PARAMETER"/>
      <xs:enumeration value="PRICED_PARAMETER"/>
      <xs:enumeration value="REPORT"/>
      <xs:enumeration value="EVENT"/>
      <xs:enumeration value="ROLE_DEFINITION"/>
      <xs:enumeration value="TECHNICAL_SERVICE_OPERATION"/>
      <xs:enumeration value="OPERATION_PARAMETER"/>
      <xs:enumeration value="PAYMENT_TYPE"/>
      <xs:enumeration value="SUPPORTED_CURRENCY"/>
      <xs:enumeration value="UDA_DEFINITION"/>
      <xs:enumeration value="UDA"/>
      <xs:enumeration value="ORGANIZATION_TO_COUNTRY"/>
      <xs:enumeration value="SUPPORTED_COUNTRY"/>
      <xs:enumeration value="VAT_RATES"/>
      <xs:enumeration value="ORGANIZATION_REFERENCE"/>
      <xs:enumeration value="MARKETPLACE"/>
      <xs:enumeration value="TRIGGER_DEFINITION"/>
      <xs:enumeration value="TRIGGER_PROCESS"/>
      <xs:enumeration value="TAG"/>
      <xs:enumeration value="TECHNICAL_SERVICE_TAG"/>
      <xs:enumeration value="USER_ROLE"/>
      <xs:enumeration value="PRODUCT_REVIEW"/>
      <xs:enumeration value="BILLING_CONTACT"/>
      <xs:enumeration value="MARKETPLACE_TO_ORGANIZATION"/>
      <xs:enumeration value="SUBSCRIPTION_TO_MARKETPLACE"/>
      <xs:enumeration value="PRODUCT_TO_PAYMENTTYPE"/>
      <xs:enumeration value="PSP"/>
      <xs:enumeration value="CATEGORY"/>
      <xs:enumeration value="MARKETING_PERMISSION"/>
      <xs:enumeration value="REPORT_RESULT_CACHE"/>
      <xs:enumeration value="ORGANIZATION_SETTING"/>
      <xs:enumeration value="PLATFORM_SETTING"/>
      <xs:enumeration value="LOCALIZED_RESOURCE"/>
      <xs:enumeration value="USER_GROUP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="udaConfigurationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUPPLIER"/>
      <xs:enumeration value="USER_OPTION_MANDATORY"/>
      <xs:enumeration value="USER_OPTION_OPTIONAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="paymentCollectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORGANIZATION"/>
      <xs:enumeration value="PAYMENT_SERVICE_PROVIDER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="serviceAccessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOGIN"/>
      <xs:enumeration value="DIRECT"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="EXTERNAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="offeringType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BROKER"/>
      <xs:enumeration value="RESELLER"/>
      <xs:enumeration value="DIRECT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterModificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STANDARD"/>
      <xs:enumeration value="ONE_TIME"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLATFORM_PARAMETER"/>
      <xs:enumeration value="SERVICE_PARAMETER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="DURATION"/>
      <xs:enumeration value="ENUMERATION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVICE_EVENT"/>
      <xs:enumeration value="PLATFORM_EVENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pricingPeriod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MONTH"/>
      <xs:enumeration value="WEEK"/>
      <xs:enumeration value="DAY"/>
      <xs:enumeration value="HOUR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="priceModelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FREE_OF_CHARGE"/>
      <xs:enumeration value="PRO_RATA"/>
      <xs:enumeration value="PER_UNIT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="serviceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="OBSOLETE"/>
      <xs:enumeration value="DELETED"/>
      <xs:enumeration value="INACTIVE"/>
      <xs:enumeration value="SUSPENDED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OperationPendingException.ReasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVATE_SERVICE"/>
      <xs:enumeration value="DEACTIVATE_SERVICE"/>
      <xs:enumeration value="ADD_REVOKE_USER"/>
      <xs:enumeration value="MODIFY_SUBSCRIPTION"/>
      <xs:enumeration value="REGISTER_CUSTOMER_FOR_SUPPLIER"/>
      <xs:enumeration value="SAVE_PAYMENT_CONFIGURATION"/>
      <xs:enumeration value="SUBSCRIBE_TO_SERVICE"/>
      <xs:enumeration value="UNSUBSCRIBE_FROM_SERVICE"/>
      <xs:enumeration value="UPGRADE_SUBSCRIPTION"/>
      <xs:enumeration value="REGISTER_USER_IN_OWN_ORGANIZATION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="operationParameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INPUT_STRING"/>
      <xs:enumeration value="REQUEST_SELECT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="imageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORGANIZATION_IMAGE"/>
      <xs:enumeration value="SHOP_LOGO_BACKGROUND"/>
      <xs:enumeration value="SHOP_LOGO_LEFT"/>
      <xs:enumeration value="SHOP_LOGO_RIGHT"/>
      <xs:enumeration value="SERVICE_IMAGE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="settingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LDAP_BASE_DN"/>
      <xs:enumeration value="LDAP_CONTEXT_FACTORY"/>
      <xs:enumeration value="LDAP_CREDENTIALS"/>
      <xs:enumeration value="LDAP_PRINCIPAL"/>
      <xs:enumeration value="LDAP_URL"/>
      <xs:enumeration value="LDAP_ATTR_ADDITIONAL_NAME"/>
      <xs:enumeration value="LDAP_ATTR_EMAIL"/>
      <xs:enumeration value="LDAP_ATTR_FIRST_NAME"/>
      <xs:enumeration value="LDAP_ATTR_LAST_NAME"/>
      <xs:enumeration value="LDAP_ATTR_LOCALE"/>
      <xs:enumeration value="LDAP_ATTR_UID"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="salutation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MR"/>
      <xs:enumeration value="MS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userAccountStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="PASSWORD_MUST_BE_CHANGED"/>
      <xs:enumeration value="LOCKED_NOT_CONFIRMED"/>
      <xs:enumeration value="LOCKED_FAILED_LOGIN_ATTEMPTS"/>
      <xs:enumeration value="LOCKED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVICE_MANAGER"/>
      <xs:enumeration value="TECHNOLOGY_MANAGER"/>
      <xs:enumeration value="ORGANIZATION_ADMIN"/>
      <xs:enumeration value="PLATFORM_OPERATOR"/>
      <xs:enumeration value="MARKETPLACE_OWNER"/>
      <xs:enumeration value="BROKER_MANAGER"/>
      <xs:enumeration value="RESELLER_MANAGER"/>
      <xs:enumeration value="SUBSCRIPTION_MANAGER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="reason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TARGET_ORG_INVALID"/>
      <xs:enumeration value="SELFREGISTRATION_NOT_ALLOWED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SubscriptionStateException.Reason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INVALID"/>
      <xs:enumeration value="PENDING"/>
      <xs:enumeration value="ONLY_PENDING"/>
      <xs:enumeration value="ONLY_ACTIVE"/>
      <xs:enumeration value="ONLY_UPD"/>
      <xs:enumeration value="SUBSCRIPTION_STATE_CHANGED"/>
      <xs:enumeration value="SUBSCRIPTION_INVALID_STATE"/>
      <xs:enumeration value="NOT_IN_UPDATING"/>
      <xs:enumeration value="NOT_IN_UPGRADING"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ImageException.Reason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UPLOAD"/>
      <xs:enumeration value="NO_SELLER"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

