oscm-integrationtests-apiversioning-client/javares/WSDL/AccountService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="AccountService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="AccountService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="registerCustomer">
    <part name="parameters" element="tns:registerCustomer"/>
  </message>
  <message name="registerCustomerResponse">
    <part name="parameters" element="tns:registerCustomerResponse"/>
  </message>
  <message name="NonUniqueBusinessKeyException">
    <part name="fault" element="tns:NonUniqueBusinessKeyException"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="MailOperationException">
    <part name="fault" element="tns:MailOperationException"/>
  </message>
  <message name="RegistrationException">
    <part name="fault" element="tns:RegistrationException"/>
  </message>
  <message name="registerKnownCustomer">
    <part name="parameters" element="tns:registerKnownCustomer"/>
  </message>
  <message name="registerKnownCustomerResponse">
    <part name="parameters" element="tns:registerKnownCustomerResponse"/>
  </message>
  <message name="OrganizationAuthoritiesException">
    <part name="fault" element="tns:OrganizationAuthoritiesException"/>
  </message>
  <message name="OperationPendingException">
    <part name="fault" element="tns:OperationPendingException"/>
  </message>
  <message name="getDefaultPaymentConfiguration">
    <part name="parameters" element="tns:getDefaultPaymentConfiguration"/>
  </message>
  <message name="getDefaultPaymentConfigurationResponse">
    <part name="parameters" element="tns:getDefaultPaymentConfigurationResponse"/>
  </message>
  <message name="getCustomerPaymentConfiguration">
    <part name="parameters" element="tns:getCustomerPaymentConfiguration"/>
  </message>
  <message name="getCustomerPaymentConfigurationResponse">
    <part name="parameters" element="tns:getCustomerPaymentConfigurationResponse"/>
  </message>
  <message name="getAvailablePaymentTypesForOrganization">
    <part name="parameters" element="tns:getAvailablePaymentTypesForOrganization"/>
  </message>
  <message name="getAvailablePaymentTypesForOrganizationResponse">
    <part name="parameters" element="tns:getAvailablePaymentTypesForOrganizationResponse"/>
  </message>
  <message name="getAvailablePaymentTypesFromOrganization">
    <part name="parameters" element="tns:getAvailablePaymentTypesFromOrganization"/>
  </message>
  <message name="getAvailablePaymentTypesFromOrganizationResponse">
    <part name="parameters" element="tns:getAvailablePaymentTypesFromOrganizationResponse"/>
  </message>
  <message name="getUdas">
    <part name="parameters" element="tns:getUdas"/>
  </message>
  <message name="getUdasResponse">
    <part name="parameters" element="tns:getUdasResponse"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="getSeller">
    <part name="parameters" element="tns:getSeller"/>
  </message>
  <message name="getSellerResponse">
    <part name="parameters" element="tns:getSellerResponse"/>
  </message>
  <message name="saveUdas">
    <part name="parameters" element="tns:saveUdas"/>
  </message>
  <message name="saveUdasResponse">
    <part name="parameters" element="tns:saveUdasResponse"/>
  </message>
  <message name="ConcurrentModificationException">
    <part name="fault" element="tns:ConcurrentModificationException"/>
  </message>
  <message name="MandatoryUdaMissingException">
    <part name="fault" element="tns:MandatoryUdaMissingException"/>
  </message>
  <message name="updateCustomerDiscount">
    <part name="parameters" element="tns:updateCustomerDiscount"/>
  </message>
  <message name="updateCustomerDiscountResponse">
    <part name="parameters" element="tns:updateCustomerDiscountResponse"/>
  </message>
  <message name="savePaymentConfiguration">
    <part name="parameters" element="tns:savePaymentConfiguration"/>
  </message>
  <message name="savePaymentConfigurationResponse">
    <part name="parameters" element="tns:savePaymentConfigurationResponse"/>
  </message>
  <message name="saveBillingContact">
    <part name="parameters" element="tns:saveBillingContact"/>
  </message>
  <message name="saveBillingContactResponse">
    <part name="parameters" element="tns:saveBillingContactResponse"/>
  </message>
  <message name="deleteBillingContact">
    <part name="parameters" element="tns:deleteBillingContact"/>
  </message>
  <message name="deleteBillingContactResponse">
    <part name="parameters" element="tns:deleteBillingContactResponse"/>
  </message>
  <message name="getUdaTargetTypes">
    <part name="parameters" element="tns:getUdaTargetTypes"/>
  </message>
  <message name="getUdaTargetTypesResponse">
    <part name="parameters" element="tns:getUdaTargetTypesResponse"/>
  </message>
  <message name="savePaymentInfo">
    <part name="parameters" element="tns:savePaymentInfo"/>
  </message>
  <message name="savePaymentInfoResponse">
    <part name="parameters" element="tns:savePaymentInfoResponse"/>
  </message>
  <message name="PaymentDeregistrationException">
    <part name="fault" element="tns:PaymentDeregistrationException"/>
  </message>
  <message name="PaymentDataException">
    <part name="fault" element="tns:PaymentDataException"/>
  </message>
  <message name="getUdaDefinitions">
    <part name="parameters" element="tns:getUdaDefinitions"/>
  </message>
  <message name="getUdaDefinitionsResponse">
    <part name="parameters" element="tns:getUdaDefinitionsResponse"/>
  </message>
  <message name="updateAccountInformation">
    <part name="parameters" element="tns:updateAccountInformation"/>
  </message>
  <message name="updateAccountInformationResponse">
    <part name="parameters" element="tns:updateAccountInformationResponse"/>
  </message>
  <message name="TechnicalServiceNotAliveException">
    <part name="fault" element="tns:TechnicalServiceNotAliveException"/>
  </message>
  <message name="TechnicalServiceOperationException">
    <part name="fault" element="tns:TechnicalServiceOperationException"/>
  </message>
  <message name="DistinguishedNameException">
    <part name="fault" element="tns:DistinguishedNameException"/>
  </message>
  <message name="ImageException">
    <part name="fault" element="tns:ImageException"/>
  </message>
  <message name="saveUdaDefinitions">
    <part name="parameters" element="tns:saveUdaDefinitions"/>
  </message>
  <message name="saveUdaDefinitionsResponse">
    <part name="parameters" element="tns:saveUdaDefinitionsResponse"/>
  </message>
  <message name="getSuppliersForTechnicalService">
    <part name="parameters" element="tns:getSuppliersForTechnicalService"/>
  </message>
  <message name="getSuppliersForTechnicalServiceResponse">
    <part name="parameters" element="tns:getSuppliersForTechnicalServiceResponse"/>
  </message>
  <message name="removeSuppliersFromTechnicalService">
    <part name="parameters" element="tns:removeSuppliersFromTechnicalService"/>
  </message>
  <message name="removeSuppliersFromTechnicalServiceResponse">
    <part name="parameters" element="tns:removeSuppliersFromTechnicalServiceResponse"/>
  </message>
  <message name="MarketingPermissionNotFoundException">
    <part name="fault" element="tns:MarketingPermissionNotFoundException"/>
  </message>
  <message name="addSuppliersForTechnicalService">
    <part name="parameters" element="tns:addSuppliersForTechnicalService"/>
  </message>
  <message name="addSuppliersForTechnicalServiceResponse">
    <part name="parameters" element="tns:addSuppliersForTechnicalServiceResponse"/>
  </message>
  <message name="AddMarketingPermissionException">
    <part name="fault" element="tns:AddMarketingPermissionException"/>
  </message>
  <message name="getServicePaymentConfiguration">
    <part name="parameters" element="tns:getServicePaymentConfiguration"/>
  </message>
  <message name="getServicePaymentConfigurationResponse">
    <part name="parameters" element="tns:getServicePaymentConfigurationResponse"/>
  </message>
  <message name="getDefaultServicePaymentConfiguration">
    <part name="parameters" element="tns:getDefaultServicePaymentConfiguration"/>
  </message>
  <message name="getDefaultServicePaymentConfigurationResponse">
    <part name="parameters" element="tns:getDefaultServicePaymentConfigurationResponse"/>
  </message>
  <message name="getOrganizationData">
    <part name="parameters" element="tns:getOrganizationData"/>
  </message>
  <message name="getOrganizationDataResponse">
    <part name="parameters" element="tns:getOrganizationDataResponse"/>
  </message>
  <message name="getBillingContacts">
    <part name="parameters" element="tns:getBillingContacts"/>
  </message>
  <message name="getBillingContactsResponse">
    <part name="parameters" element="tns:getBillingContactsResponse"/>
  </message>
  <message name="getOrganizationId">
    <part name="parameters" element="tns:getOrganizationId"/>
  </message>
  <message name="getOrganizationIdResponse">
    <part name="parameters" element="tns:getOrganizationIdResponse"/>
  </message>
  <message name="ServiceParameterException">
    <part name="fault" element="tns:ServiceParameterException"/>
  </message>
  <message name="SubscriptionStateException">
    <part name="fault" element="tns:SubscriptionStateException"/>
  </message>
  <message name="getMyCustomers">
    <part name="parameters" element="tns:getMyCustomers"/>
  </message>
  <message name="getMyCustomersResponse">
    <part name="parameters" element="tns:getMyCustomersResponse"/>
  </message>
  <message name="deregisterOrganization">
    <part name="parameters" element="tns:deregisterOrganization"/>
  </message>
  <message name="deregisterOrganizationResponse">
    <part name="parameters" element="tns:deregisterOrganizationResponse"/>
  </message>
  <message name="DeletionConstraintException">
    <part name="fault" element="tns:DeletionConstraintException"/>
  </message>
  <message name="getAvailablePaymentTypes">
    <part name="parameters" element="tns:getAvailablePaymentTypes"/>
  </message>
  <message name="getAvailablePaymentTypesResponse">
    <part name="parameters" element="tns:getAvailablePaymentTypesResponse"/>
  </message>
  <message name="getPaymentInfos">
    <part name="parameters" element="tns:getPaymentInfos"/>
  </message>
  <message name="getPaymentInfosResponse">
    <part name="parameters" element="tns:getPaymentInfosResponse"/>
  </message>
  <message name="getSupportedCountryCodes">
    <part name="parameters" element="tns:getSupportedCountryCodes"/>
  </message>
  <message name="getSupportedCountryCodesResponse">
    <part name="parameters" element="tns:getSupportedCountryCodesResponse"/>
  </message>
  <message name="loadImageOfOrganization">
    <part name="parameters" element="tns:loadImageOfOrganization"/>
  </message>
  <message name="loadImageOfOrganizationResponse">
    <part name="parameters" element="tns:loadImageOfOrganizationResponse"/>
  </message>
  <message name="getUdaDefinitionsForCustomer">
    <part name="parameters" element="tns:getUdaDefinitionsForCustomer"/>
  </message>
  <message name="getUdaDefinitionsForCustomerResponse">
    <part name="parameters" element="tns:getUdaDefinitionsForCustomerResponse"/>
  </message>
  <message name="getUdasForCustomer">
    <part name="parameters" element="tns:getUdasForCustomer"/>
  </message>
  <message name="getUdasForCustomerResponse">
    <part name="parameters" element="tns:getUdasForCustomerResponse"/>
  </message>
  <message name="deletePaymentInfo">
    <part name="parameters" element="tns:deletePaymentInfo"/>
  </message>
  <message name="deletePaymentInfoResponse">
    <part name="parameters" element="tns:deletePaymentInfoResponse"/>
  </message>
  <portType name="AccountService">
    <operation name="registerCustomer">
      <input wsam:Action="http://oscm.org/xsd/AccountService/registerCustomerRequest" message="tns:registerCustomer"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/registerCustomerResponse" message="tns:registerCustomerResponse"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/AccountService/registerCustomer/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/AccountService/registerCustomer/Fault/ValidationException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/registerCustomer/Fault/ObjectNotFoundException"/>
      <fault message="tns:MailOperationException" name="MailOperationException" wsam:Action="http://oscm.org/xsd/AccountService/registerCustomer/Fault/MailOperationException"/>
      <fault message="tns:RegistrationException" name="RegistrationException" wsam:Action="http://oscm.org/xsd/AccountService/registerCustomer/Fault/RegistrationException"/>
    </operation>
    <operation name="registerKnownCustomer">
      <input wsam:Action="http://oscm.org/xsd/AccountService/registerKnownCustomerRequest" message="tns:registerKnownCustomer"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/registerKnownCustomerResponse" message="tns:registerKnownCustomerResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/AccountService/registerKnownCustomer/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/AccountService/registerKnownCustomer/Fault/ValidationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/AccountService/registerKnownCustomer/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:MailOperationException" name="MailOperationException" wsam:Action="http://oscm.org/xsd/AccountService/registerKnownCustomer/Fault/MailOperationException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/registerKnownCustomer/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationPendingException" name="OperationPendingException" wsam:Action="http://oscm.org/xsd/AccountService/registerKnownCustomer/Fault/OperationPendingException"/>
    </operation>
    <operation name="getDefaultPaymentConfiguration">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getDefaultPaymentConfigurationRequest" message="tns:getDefaultPaymentConfiguration"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getDefaultPaymentConfigurationResponse" message="tns:getDefaultPaymentConfigurationResponse"/>
    </operation>
    <operation name="getCustomerPaymentConfiguration">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getCustomerPaymentConfigurationRequest" message="tns:getCustomerPaymentConfiguration"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getCustomerPaymentConfigurationResponse" message="tns:getCustomerPaymentConfigurationResponse"/>
    </operation>
    <operation name="getAvailablePaymentTypesForOrganization">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getAvailablePaymentTypesForOrganizationRequest" message="tns:getAvailablePaymentTypesForOrganization"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getAvailablePaymentTypesForOrganizationResponse" message="tns:getAvailablePaymentTypesForOrganizationResponse"/>
    </operation>
    <operation name="getAvailablePaymentTypesFromOrganization">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getAvailablePaymentTypesFromOrganizationRequest" message="tns:getAvailablePaymentTypesFromOrganization"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getAvailablePaymentTypesFromOrganizationResponse" message="tns:getAvailablePaymentTypesFromOrganizationResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/AccountService/getAvailablePaymentTypesFromOrganization/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/getAvailablePaymentTypesFromOrganization/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="getUdas">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getUdasRequest" message="tns:getUdas"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getUdasResponse" message="tns:getUdasResponse"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/AccountService/getUdas/Fault/ValidationException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/AccountService/getUdas/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/getUdas/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/getUdas/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getSeller">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getSellerRequest" message="tns:getSeller"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getSellerResponse" message="tns:getSellerResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/getSeller/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="saveUdas">
      <input wsam:Action="http://oscm.org/xsd/AccountService/saveUdasRequest" message="tns:saveUdas"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/saveUdasResponse" message="tns:saveUdasResponse"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdas/Fault/ValidationException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdas/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdas/Fault/OperationNotPermittedException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdas/Fault/ConcurrentModificationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdas/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:MandatoryUdaMissingException" name="MandatoryUdaMissingException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdas/Fault/MandatoryUdaMissingException"/>
    </operation>
    <operation name="updateCustomerDiscount">
      <input wsam:Action="http://oscm.org/xsd/AccountService/updateCustomerDiscountRequest" message="tns:updateCustomerDiscount"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/updateCustomerDiscountResponse" message="tns:updateCustomerDiscountResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/updateCustomerDiscount/Fault/ObjectNotFoundException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/AccountService/updateCustomerDiscount/Fault/ValidationException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/updateCustomerDiscount/Fault/OperationNotPermittedException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/AccountService/updateCustomerDiscount/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="savePaymentConfiguration">
      <input wsam:Action="http://oscm.org/xsd/AccountService/savePaymentConfigurationRequest" message="tns:savePaymentConfiguration"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/savePaymentConfigurationResponse" message="tns:savePaymentConfigurationResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/savePaymentConfiguration/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/savePaymentConfiguration/Fault/OperationNotPermittedException"/>
      <fault message="tns:OperationPendingException" name="OperationPendingException" wsam:Action="http://oscm.org/xsd/AccountService/savePaymentConfiguration/Fault/OperationPendingException"/>
    </operation>
    <operation name="saveBillingContact">
      <input wsam:Action="http://oscm.org/xsd/AccountService/saveBillingContactRequest" message="tns:saveBillingContact"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/saveBillingContactResponse" message="tns:saveBillingContactResponse"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/AccountService/saveBillingContact/Fault/ConcurrentModificationException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/AccountService/saveBillingContact/Fault/ValidationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/AccountService/saveBillingContact/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/saveBillingContact/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="deleteBillingContact">
      <input wsam:Action="http://oscm.org/xsd/AccountService/deleteBillingContactRequest" message="tns:deleteBillingContact"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/deleteBillingContactResponse" message="tns:deleteBillingContactResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/deleteBillingContact/Fault/ObjectNotFoundException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/AccountService/deleteBillingContact/Fault/ConcurrentModificationException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/deleteBillingContact/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getUdaTargetTypes">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getUdaTargetTypesRequest" message="tns:getUdaTargetTypes"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getUdaTargetTypesResponse" message="tns:getUdaTargetTypesResponse"/>
    </operation>
    <operation name="savePaymentInfo">
      <input wsam:Action="http://oscm.org/xsd/AccountService/savePaymentInfoRequest" message="tns:savePaymentInfo"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/savePaymentInfoResponse" message="tns:savePaymentInfoResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/savePaymentInfo/Fault/ObjectNotFoundException"/>
      <fault message="tns:PaymentDeregistrationException" name="PaymentDeregistrationException" wsam:Action="http://oscm.org/xsd/AccountService/savePaymentInfo/Fault/PaymentDeregistrationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/AccountService/savePaymentInfo/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/AccountService/savePaymentInfo/Fault/ConcurrentModificationException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/AccountService/savePaymentInfo/Fault/ValidationException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/savePaymentInfo/Fault/OperationNotPermittedException"/>
      <fault message="tns:PaymentDataException" name="PaymentDataException" wsam:Action="http://oscm.org/xsd/AccountService/savePaymentInfo/Fault/PaymentDataException"/>
    </operation>
    <operation name="getUdaDefinitions">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getUdaDefinitionsRequest" message="tns:getUdaDefinitions"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getUdaDefinitionsResponse" message="tns:getUdaDefinitionsResponse"/>
    </operation>
    <operation name="updateAccountInformation">
      <input wsam:Action="http://oscm.org/xsd/AccountService/updateAccountInformationRequest" message="tns:updateAccountInformation"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/updateAccountInformationResponse" message="tns:updateAccountInformationResponse"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/AccountService/updateAccountInformation/Fault/ValidationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/AccountService/updateAccountInformation/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/updateAccountInformation/Fault/OperationNotPermittedException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/AccountService/updateAccountInformation/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/AccountService/updateAccountInformation/Fault/TechnicalServiceOperationException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/updateAccountInformation/Fault/ObjectNotFoundException"/>
      <fault message="tns:DistinguishedNameException" name="DistinguishedNameException" wsam:Action="http://oscm.org/xsd/AccountService/updateAccountInformation/Fault/DistinguishedNameException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/AccountService/updateAccountInformation/Fault/ConcurrentModificationException"/>
      <fault message="tns:ImageException" name="ImageException" wsam:Action="http://oscm.org/xsd/AccountService/updateAccountInformation/Fault/ImageException"/>
    </operation>
    <operation name="saveUdaDefinitions">
      <input wsam:Action="http://oscm.org/xsd/AccountService/saveUdaDefinitionsRequest" message="tns:saveUdaDefinitions"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/saveUdaDefinitionsResponse" message="tns:saveUdaDefinitionsResponse"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdaDefinitions/Fault/ValidationException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdaDefinitions/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdaDefinitions/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdaDefinitions/Fault/ObjectNotFoundException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdaDefinitions/Fault/ConcurrentModificationException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/saveUdaDefinitions/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getSuppliersForTechnicalService">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getSuppliersForTechnicalServiceRequest" message="tns:getSuppliersForTechnicalService"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getSuppliersForTechnicalServiceResponse" message="tns:getSuppliersForTechnicalServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/getSuppliersForTechnicalService/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/getSuppliersForTechnicalService/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="removeSuppliersFromTechnicalService">
      <input wsam:Action="http://oscm.org/xsd/AccountService/removeSuppliersFromTechnicalServiceRequest" message="tns:removeSuppliersFromTechnicalService"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/removeSuppliersFromTechnicalServiceResponse" message="tns:removeSuppliersFromTechnicalServiceResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/AccountService/removeSuppliersFromTechnicalService/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/removeSuppliersFromTechnicalService/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/removeSuppliersFromTechnicalService/Fault/OperationNotPermittedException"/>
      <fault message="tns:MarketingPermissionNotFoundException" name="MarketingPermissionNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/removeSuppliersFromTechnicalService/Fault/MarketingPermissionNotFoundException"/>
    </operation>
    <operation name="addSuppliersForTechnicalService">
      <input wsam:Action="http://oscm.org/xsd/AccountService/addSuppliersForTechnicalServiceRequest" message="tns:addSuppliersForTechnicalService"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/addSuppliersForTechnicalServiceResponse" message="tns:addSuppliersForTechnicalServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/addSuppliersForTechnicalService/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/addSuppliersForTechnicalService/Fault/OperationNotPermittedException"/>
      <fault message="tns:AddMarketingPermissionException" name="AddMarketingPermissionException" wsam:Action="http://oscm.org/xsd/AccountService/addSuppliersForTechnicalService/Fault/AddMarketingPermissionException"/>
    </operation>
    <operation name="getServicePaymentConfiguration">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getServicePaymentConfigurationRequest" message="tns:getServicePaymentConfiguration"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getServicePaymentConfigurationResponse" message="tns:getServicePaymentConfigurationResponse"/>
    </operation>
    <operation name="getDefaultServicePaymentConfiguration">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getDefaultServicePaymentConfigurationRequest" message="tns:getDefaultServicePaymentConfiguration"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getDefaultServicePaymentConfigurationResponse" message="tns:getDefaultServicePaymentConfigurationResponse"/>
    </operation>
    <operation name="getOrganizationData">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getOrganizationDataRequest" message="tns:getOrganizationData"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getOrganizationDataResponse" message="tns:getOrganizationDataResponse"/>
    </operation>
    <operation name="getBillingContacts">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getBillingContactsRequest" message="tns:getBillingContacts"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getBillingContactsResponse" message="tns:getBillingContactsResponse"/>
    </operation>
    <operation name="getOrganizationId">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getOrganizationIdRequest" message="tns:getOrganizationId"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getOrganizationIdResponse" message="tns:getOrganizationIdResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/getOrganizationId/Fault/ObjectNotFoundException"/>
      <fault message="tns:ServiceParameterException" name="ServiceParameterException" wsam:Action="http://oscm.org/xsd/AccountService/getOrganizationId/Fault/ServiceParameterException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/getOrganizationId/Fault/OperationNotPermittedException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/AccountService/getOrganizationId/Fault/SubscriptionStateException"/>
    </operation>
    <operation name="getMyCustomers">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getMyCustomersRequest" message="tns:getMyCustomers"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getMyCustomersResponse" message="tns:getMyCustomersResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/AccountService/getMyCustomers/Fault/OrganizationAuthoritiesException"/>
    </operation>
    <operation name="deregisterOrganization">
      <input wsam:Action="http://oscm.org/xsd/AccountService/deregisterOrganizationRequest" message="tns:deregisterOrganization"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/deregisterOrganizationResponse" message="tns:deregisterOrganizationResponse"/>
      <fault message="tns:DeletionConstraintException" name="DeletionConstraintException" wsam:Action="http://oscm.org/xsd/AccountService/deregisterOrganization/Fault/DeletionConstraintException"/>
    </operation>
    <operation name="getAvailablePaymentTypes">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getAvailablePaymentTypesRequest" message="tns:getAvailablePaymentTypes"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getAvailablePaymentTypesResponse" message="tns:getAvailablePaymentTypesResponse"/>
    </operation>
    <operation name="getPaymentInfos">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getPaymentInfosRequest" message="tns:getPaymentInfos"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getPaymentInfosResponse" message="tns:getPaymentInfosResponse"/>
    </operation>
    <operation name="getSupportedCountryCodes">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getSupportedCountryCodesRequest" message="tns:getSupportedCountryCodes"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getSupportedCountryCodesResponse" message="tns:getSupportedCountryCodesResponse"/>
    </operation>
    <operation name="loadImageOfOrganization">
      <input wsam:Action="http://oscm.org/xsd/AccountService/loadImageOfOrganizationRequest" message="tns:loadImageOfOrganization"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/loadImageOfOrganizationResponse" message="tns:loadImageOfOrganizationResponse"/>
    </operation>
    <operation name="getUdaDefinitionsForCustomer">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getUdaDefinitionsForCustomerRequest" message="tns:getUdaDefinitionsForCustomer"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getUdaDefinitionsForCustomerResponse" message="tns:getUdaDefinitionsForCustomerResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/getUdaDefinitionsForCustomer/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="getUdasForCustomer">
      <input wsam:Action="http://oscm.org/xsd/AccountService/getUdasForCustomerRequest" message="tns:getUdasForCustomer"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/getUdasForCustomerResponse" message="tns:getUdasForCustomerResponse"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/AccountService/getUdasForCustomer/Fault/ValidationException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/AccountService/getUdasForCustomer/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/getUdasForCustomer/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/getUdasForCustomer/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="deletePaymentInfo">
      <input wsam:Action="http://oscm.org/xsd/AccountService/deletePaymentInfoRequest" message="tns:deletePaymentInfo"/>
      <output wsam:Action="http://oscm.org/xsd/AccountService/deletePaymentInfoResponse" message="tns:deletePaymentInfoResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/AccountService/deletePaymentInfo/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/AccountService/deletePaymentInfo/Fault/OperationNotPermittedException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/AccountService/deletePaymentInfo/Fault/ConcurrentModificationException"/>
      <fault message="tns:PaymentDeregistrationException" name="PaymentDeregistrationException" wsam:Action="http://oscm.org/xsd/AccountService/deletePaymentInfo/Fault/PaymentDeregistrationException"/>
    </operation>
  </portType>
  <binding name="AccountServicePortBinding" type="tns:AccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="registerCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="MailOperationException">
        <soap:fault name="MailOperationException" use="literal"/>
      </fault>
      <fault name="RegistrationException">
        <soap:fault name="RegistrationException" use="literal"/>
      </fault>
    </operation>
    <operation name="registerKnownCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="MailOperationException">
        <soap:fault name="MailOperationException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationPendingException">
        <soap:fault name="OperationPendingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDefaultPaymentConfiguration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCustomerPaymentConfiguration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAvailablePaymentTypesForOrganization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAvailablePaymentTypesFromOrganization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUdas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSeller">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveUdas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="MandatoryUdaMissingException">
        <soap:fault name="MandatoryUdaMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateCustomerDiscount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="savePaymentConfiguration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="OperationPendingException">
        <soap:fault name="OperationPendingException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveBillingContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteBillingContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUdaTargetTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="savePaymentInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="PaymentDeregistrationException">
        <soap:fault name="PaymentDeregistrationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="PaymentDataException">
        <soap:fault name="PaymentDataException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUdaDefinitions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateAccountInformation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="DistinguishedNameException">
        <soap:fault name="DistinguishedNameException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="ImageException">
        <soap:fault name="ImageException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveUdaDefinitions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSuppliersForTechnicalService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeSuppliersFromTechnicalService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="MarketingPermissionNotFoundException">
        <soap:fault name="MarketingPermissionNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="addSuppliersForTechnicalService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="AddMarketingPermissionException">
        <soap:fault name="AddMarketingPermissionException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServicePaymentConfiguration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDefaultServicePaymentConfiguration">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOrganizationData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBillingContacts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOrganizationId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ServiceParameterException">
        <soap:fault name="ServiceParameterException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMyCustomers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
    </operation>
    <operation name="deregisterOrganization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DeletionConstraintException">
        <soap:fault name="DeletionConstraintException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAvailablePaymentTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPaymentInfos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSupportedCountryCodes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="loadImageOfOrganization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUdaDefinitionsForCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUdasForCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="deletePaymentInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="PaymentDeregistrationException">
        <soap:fault name="PaymentDeregistrationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AccountService">
    <port name="AccountServicePort" binding="tns:AccountServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

