oscm-integrationtests-apiversioning-client/javares/WSDL/CategorizationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="CategorizationService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="CategorizationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="saveCategories">
    <part name="parameters" element="tns:saveCategories"/>
  </message>
  <message name="saveCategoriesResponse">
    <part name="parameters" element="tns:saveCategoriesResponse"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="ConcurrentModificationException">
    <part name="fault" element="tns:ConcurrentModificationException"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <message name="NonUniqueBusinessKeyException">
    <part name="fault" element="tns:NonUniqueBusinessKeyException"/>
  </message>
  <message name="getServicesForCategory">
    <part name="parameters" element="tns:getServicesForCategory"/>
  </message>
  <message name="getServicesForCategoryResponse">
    <part name="parameters" element="tns:getServicesForCategoryResponse"/>
  </message>
  <message name="getCategories">
    <part name="parameters" element="tns:getCategories"/>
  </message>
  <message name="getCategoriesResponse">
    <part name="parameters" element="tns:getCategoriesResponse"/>
  </message>
  <portType name="CategorizationService">
    <operation name="saveCategories">
      <input wsam:Action="http://oscm.org/xsd/CategorizationService/saveCategoriesRequest" message="tns:saveCategories"/>
      <output wsam:Action="http://oscm.org/xsd/CategorizationService/saveCategoriesResponse" message="tns:saveCategoriesResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/CategorizationService/saveCategories/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/CategorizationService/saveCategories/Fault/OperationNotPermittedException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/CategorizationService/saveCategories/Fault/ConcurrentModificationException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/CategorizationService/saveCategories/Fault/ValidationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/CategorizationService/saveCategories/Fault/NonUniqueBusinessKeyException"/>
    </operation>
    <operation name="getServicesForCategory">
      <input wsam:Action="http://oscm.org/xsd/CategorizationService/getServicesForCategoryRequest" message="tns:getServicesForCategory"/>
      <output wsam:Action="http://oscm.org/xsd/CategorizationService/getServicesForCategoryResponse" message="tns:getServicesForCategoryResponse"/>
    </operation>
    <operation name="getCategories">
      <input wsam:Action="http://oscm.org/xsd/CategorizationService/getCategoriesRequest" message="tns:getCategories"/>
      <output wsam:Action="http://oscm.org/xsd/CategorizationService/getCategoriesResponse" message="tns:getCategoriesResponse"/>
    </operation>
  </portType>
  <binding name="CategorizationServicePortBinding" type="tns:CategorizationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="saveCategories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServicesForCategory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCategories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CategorizationService">
    <port name="CategorizationServicePort" binding="tns:CategorizationServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

