oscm-integrationtests-apiversioning-client/javares/WSDL/MarketplaceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ApplicationExceptionBean" type="tns:applicationExceptionBean"/>

  <xs:element name="ConcurrentModificationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="DomainObjectExceptionBean" type="tns:domainObjectExceptionBean"/>

  <xs:element name="MarketplaceAccessTypeUneligibleForOperationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="NonUniqueBusinessKeyException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="ObjectNotFoundException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="OperationNotPermittedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="OrganizationAlreadyBannedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="OrganizationAlreadyExistsException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="OrganizationAuthorityException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="PublishingToMarketplaceNotPermittedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="UserRoleAssignmentException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ValidationException" nillable="true" type="tns:validationExceptionBean"/>

  <xs:element name="ValidationExceptionBean" type="tns:validationExceptionBean"/>

  <xs:element name="addOrganizationsToMarketplace" type="tns:addOrganizationsToMarketplace"/>

  <xs:element name="addOrganizationsToMarketplaceResponse" type="tns:addOrganizationsToMarketplaceResponse"/>

  <xs:element name="banOrganizationsFromMarketplace" type="tns:banOrganizationsFromMarketplace"/>

  <xs:element name="banOrganizationsFromMarketplaceResponse" type="tns:banOrganizationsFromMarketplaceResponse"/>

  <xs:element name="createMarketplace" type="tns:createMarketplace"/>

  <xs:element name="createMarketplaceResponse" type="tns:createMarketplaceResponse"/>

  <xs:element name="deleteMarketplace" type="tns:deleteMarketplace"/>

  <xs:element name="deleteMarketplaceResponse" type="tns:deleteMarketplaceResponse"/>

  <xs:element name="getBannedOrganizationsForMarketplace" type="tns:getBannedOrganizationsForMarketplace"/>

  <xs:element name="getBannedOrganizationsForMarketplaceResponse" type="tns:getBannedOrganizationsForMarketplaceResponse"/>

  <xs:element name="getBrandingUrl" type="tns:getBrandingUrl"/>

  <xs:element name="getBrandingUrlResponse" type="tns:getBrandingUrlResponse"/>

  <xs:element name="getMarketplaceById" type="tns:getMarketplaceById"/>

  <xs:element name="getMarketplaceByIdResponse" type="tns:getMarketplaceByIdResponse"/>

  <xs:element name="getMarketplaceForSubscription" type="tns:getMarketplaceForSubscription"/>

  <xs:element name="getMarketplaceForSubscriptionResponse" type="tns:getMarketplaceForSubscriptionResponse"/>

  <xs:element name="getMarketplacesForOperator" type="tns:getMarketplacesForOperator"/>

  <xs:element name="getMarketplacesForOperatorResponse" type="tns:getMarketplacesForOperatorResponse"/>

  <xs:element name="getMarketplacesForOrganization" type="tns:getMarketplacesForOrganization"/>

  <xs:element name="getMarketplacesForOrganizationResponse" type="tns:getMarketplacesForOrganizationResponse"/>

  <xs:element name="getMarketplacesForService" type="tns:getMarketplacesForService"/>

  <xs:element name="getMarketplacesForServiceResponse" type="tns:getMarketplacesForServiceResponse"/>

  <xs:element name="getMarketplacesOwned" type="tns:getMarketplacesOwned"/>

  <xs:element name="getMarketplacesOwnedResponse" type="tns:getMarketplacesOwnedResponse"/>

  <xs:element name="getOrganizationsForMarketplace" type="tns:getOrganizationsForMarketplace"/>

  <xs:element name="getOrganizationsForMarketplaceResponse" type="tns:getOrganizationsForMarketplaceResponse"/>

  <xs:element name="liftBanOrganizationsFromMarketplace" type="tns:liftBanOrganizationsFromMarketplace"/>

  <xs:element name="liftBanOrganizationsFromMarketplaceResponse" type="tns:liftBanOrganizationsFromMarketplaceResponse"/>

  <xs:element name="publishService" type="tns:publishService"/>

  <xs:element name="publishServiceResponse" type="tns:publishServiceResponse"/>

  <xs:element name="removeOrganizationsFromMarketplace" type="tns:removeOrganizationsFromMarketplace"/>

  <xs:element name="removeOrganizationsFromMarketplaceResponse" type="tns:removeOrganizationsFromMarketplaceResponse"/>

  <xs:element name="saveBrandingUrl" type="tns:saveBrandingUrl"/>

  <xs:element name="saveBrandingUrlResponse" type="tns:saveBrandingUrlResponse"/>

  <xs:element name="updateMarketplace" type="tns:updateMarketplace"/>

  <xs:element name="updateMarketplaceResponse" type="tns:updateMarketplaceResponse"/>

  <xs:complexType name="saveBrandingUrl">
    <xs:sequence>
      <xs:element name="marketplace" type="tns:voMarketplace" form="unqualified" minOccurs="0"/>
      <xs:element name="brandingUrl" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voMarketplace">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="categoriesEnabled" type="xs:boolean"/>
          <xs:element name="marketplaceId" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="open" type="xs:boolean"/>
          <xs:element name="owningOrganizationId" type="xs:string" minOccurs="0"/>
          <xs:element name="owningOrganizationName" type="xs:string" minOccurs="0"/>
          <xs:element name="reviewEnabled" type="xs:boolean"/>
          <xs:element name="socialBookmarkEnabled" type="xs:boolean"/>
          <xs:element name="taggingEnabled" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="baseVO" abstract="true">
    <xs:sequence>
      <xs:element name="key" type="xs:long"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveBrandingUrlResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="domainObjectExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="classEnum" type="tns:classEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="applicationExceptionBean">
    <xs:sequence>
      <xs:element name="causeStackTrace" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="messageKey" type="xs:string" minOccurs="0"/>
      <xs:element name="messageParams" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validationExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="member" type="xs:string" minOccurs="0"/>
          <xs:element name="reason" type="tns:reasonEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="liftBanOrganizationsFromMarketplace">
    <xs:sequence>
      <xs:element name="organizationIds" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="liftBanOrganizationsFromMarketplaceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMarketplaceForSubscription">
    <xs:sequence>
      <xs:element name="subscriptionKey" type="xs:long" form="unqualified"/>
      <xs:element name="locale" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMarketplaceForSubscriptionResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voMarketplace" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createMarketplace">
    <xs:sequence>
      <xs:element name="marketplace" type="tns:voMarketplace" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createMarketplaceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voMarketplace" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateMarketplace">
    <xs:sequence>
      <xs:element name="marketplace" type="tns:voMarketplace" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateMarketplaceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voMarketplace" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="banOrganizationsFromMarketplace">
    <xs:sequence>
      <xs:element name="organizationIds" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="banOrganizationsFromMarketplaceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBrandingUrl">
    <xs:sequence>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBrandingUrlResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMarketplacesOwned">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMarketplacesOwnedResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voMarketplace" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="publishService">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
      <xs:element name="entries" type="tns:voCatalogEntry" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voService">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="accessType" type="tns:serviceAccessType" minOccurs="0"/>
          <xs:element name="averageRating" type="xs:decimal" minOccurs="0"/>
          <xs:element name="baseURL" type="xs:string" minOccurs="0"/>
          <xs:element name="configuratorUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="featureURL" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="numberOfReviews" type="xs:int"/>
          <xs:element name="offeringType" type="tns:offeringType" minOccurs="0"/>
          <xs:element name="parameters" type="tns:voParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="priceModel" type="tns:voPriceModel" minOccurs="0"/>
          <xs:element name="sellerId" type="xs:string" minOccurs="0"/>
          <xs:element name="sellerKey" type="xs:long"/>
          <xs:element name="sellerName" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
          <xs:element name="shortDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:serviceStatus" minOccurs="0"/>
          <xs:element name="tags" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="technicalId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurable" type="xs:boolean"/>
          <xs:element name="parameterDefinition" type="tns:voParameterDefinition" minOccurs="0"/>
          <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameterDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurable" type="xs:boolean"/>
          <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="mandatory" type="xs:boolean"/>
          <xs:element name="maxValue" type="xs:long" minOccurs="0"/>
          <xs:element name="minValue" type="xs:long" minOccurs="0"/>
          <xs:element name="modificationType" type="tns:parameterModificationType" minOccurs="0"/>
          <xs:element name="parameterId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterOptions" type="tns:voParameterOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="parameterType" type="tns:parameterType" minOccurs="0"/>
          <xs:element name="valueType" type="tns:parameterValueType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameterOption">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="optionDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="optionId" type="xs:string" minOccurs="0"/>
          <xs:element name="paramDefId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPriceModel">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="consideredEvents" type="tns:voPricedEvent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="currencyISOCode" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="freePeriod" type="xs:int"/>
          <xs:element name="license" type="xs:string" minOccurs="0"/>
          <xs:element name="oneTimeFee" type="xs:decimal" minOccurs="0"/>
          <xs:element name="period" type="tns:pricingPeriod" minOccurs="0"/>
          <xs:element name="pricePerPeriod" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUserAssignment" type="xs:decimal" minOccurs="0"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="selectedParameters" type="tns:voPricedParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="type" type="tns:priceModelType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedEvent">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="eventDefinition" type="tns:voEventDefinition" minOccurs="0"/>
          <xs:element name="eventPrice" type="xs:decimal" minOccurs="0"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voEventDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="eventDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="eventId" type="xs:string" minOccurs="0"/>
          <xs:element name="eventType" type="tns:eventType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voSteppedPrice">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="limit" type="xs:long" minOccurs="0"/>
          <xs:element name="price" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedRole">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="role" type="tns:voRoleDefinition" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voRoleDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="roleId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="parameterKey" type="xs:long"/>
          <xs:element name="pricePerSubscription" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricedOptions" type="tns:voPricedOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="voParameterDef" type="tns:voParameterDefinition" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedOption">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="optionId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterOptionKey" type="xs:long"/>
          <xs:element name="pricePerSubscription" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voCatalogEntry">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="anonymousVisible" type="xs:boolean"/>
          <xs:element name="categories" type="tns:voCategory" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="marketplace" type="tns:voMarketplace" minOccurs="0"/>
          <xs:element name="service" type="tns:voService" minOccurs="0"/>
          <xs:element name="visibleInCatalog" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voCategory">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="categoryId" type="xs:string" minOccurs="0"/>
          <xs:element name="marketplaceId" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="publishServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voServiceDetails">
    <xs:complexContent>
      <xs:extension base="tns:voService">
        <xs:sequence>
          <xs:element name="imageDefined" type="xs:boolean"/>
          <xs:element name="technicalService" type="tns:voTechnicalService" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voTechnicalService">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="accessInfo" type="xs:string" minOccurs="0"/>
          <xs:element name="accessType" type="tns:serviceAccessType" minOccurs="0"/>
          <xs:element name="baseUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="eventDefinitions" type="tns:voEventDefinition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="license" type="xs:string" minOccurs="0"/>
          <xs:element name="loginPath" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterDefinitions" type="tns:voParameterDefinition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="provisioningUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="provisioningVersion" type="xs:string" minOccurs="0"/>
          <xs:element name="roleDefinitions" type="tns:voRoleDefinition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="tags" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="technicalServiceBuildId" type="xs:string" minOccurs="0"/>
          <xs:element name="technicalServiceDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="technicalServiceId" type="xs:string" minOccurs="0"/>
          <xs:element name="technicalServiceOperations" type="tns:voTechnicalServiceOperation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voTechnicalServiceOperation">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="operationDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="operationId" type="xs:string" minOccurs="0"/>
          <xs:element name="operationName" type="xs:string" minOccurs="0"/>
          <xs:element name="operationParameters" type="tns:voServiceOperationParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voServiceOperationParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="mandatory" type="xs:boolean"/>
          <xs:element name="parameterId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterName" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterValue" type="xs:string" minOccurs="0"/>
          <xs:element name="type" type="tns:operationParameterType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getMarketplacesForService">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMarketplacesForServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voCatalogEntry" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMarketplaceById">
    <xs:sequence>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMarketplaceByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voMarketplace" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addOrganizationsToMarketplace">
    <xs:sequence>
      <xs:element name="organizationIds" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addOrganizationsToMarketplaceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="removeOrganizationsFromMarketplace">
    <xs:sequence>
      <xs:element name="organizationIds" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeOrganizationsFromMarketplaceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getOrganizationsForMarketplace">
    <xs:sequence>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrganizationsForMarketplaceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganization" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voOrganization">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="address" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="discount" type="tns:voDiscount" minOccurs="0"/>
          <xs:element name="distinguishedName" type="xs:string" minOccurs="0"/>
          <xs:element name="domicileCountry" type="xs:string" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="imageDefined" type="xs:boolean"/>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="nameSpace" type="xs:string" minOccurs="0"/>
          <xs:element name="organizationId" type="xs:string" minOccurs="0"/>
          <xs:element name="phone" type="xs:string" minOccurs="0"/>
          <xs:element name="supportEmail" type="xs:string" minOccurs="0"/>
          <xs:element name="url" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voDiscount">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="endTime" type="xs:long" minOccurs="0"/>
          <xs:element name="startTime" type="xs:long" minOccurs="0"/>
          <xs:element name="value" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getMarketplacesForOperator">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMarketplacesForOperatorResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voMarketplace" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteMarketplace">
    <xs:sequence>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteMarketplaceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBannedOrganizationsForMarketplace">
    <xs:sequence>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBannedOrganizationsForMarketplaceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganization" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMarketplacesForOrganization">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMarketplacesForOrganizationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voMarketplace" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="classEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORGANIZATION"/>
      <xs:enumeration value="SERVICE"/>
      <xs:enumeration value="SUBSCRIPTION"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="PAYMENT_INFO"/>
      <xs:enumeration value="TECHNICAL_SERVICE"/>
      <xs:enumeration value="ORGANIZATION_ROLE"/>
      <xs:enumeration value="PARAMETER_DEFINITION"/>
      <xs:enumeration value="PARAMETER_OPTION"/>
      <xs:enumeration value="PARAMETER"/>
      <xs:enumeration value="PRICED_PARAMETER"/>
      <xs:enumeration value="REPORT"/>
      <xs:enumeration value="EVENT"/>
      <xs:enumeration value="ROLE_DEFINITION"/>
      <xs:enumeration value="TECHNICAL_SERVICE_OPERATION"/>
      <xs:enumeration value="OPERATION_PARAMETER"/>
      <xs:enumeration value="PAYMENT_TYPE"/>
      <xs:enumeration value="SUPPORTED_CURRENCY"/>
      <xs:enumeration value="UDA_DEFINITION"/>
      <xs:enumeration value="UDA"/>
      <xs:enumeration value="ORGANIZATION_TO_COUNTRY"/>
      <xs:enumeration value="SUPPORTED_COUNTRY"/>
      <xs:enumeration value="VAT_RATES"/>
      <xs:enumeration value="ORGANIZATION_REFERENCE"/>
      <xs:enumeration value="MARKETPLACE"/>
      <xs:enumeration value="TRIGGER_DEFINITION"/>
      <xs:enumeration value="TRIGGER_PROCESS"/>
      <xs:enumeration value="TAG"/>
      <xs:enumeration value="TECHNICAL_SERVICE_TAG"/>
      <xs:enumeration value="USER_ROLE"/>
      <xs:enumeration value="PRODUCT_REVIEW"/>
      <xs:enumeration value="BILLING_CONTACT"/>
      <xs:enumeration value="MARKETPLACE_TO_ORGANIZATION"/>
      <xs:enumeration value="SUBSCRIPTION_TO_MARKETPLACE"/>
      <xs:enumeration value="PRODUCT_TO_PAYMENTTYPE"/>
      <xs:enumeration value="PSP"/>
      <xs:enumeration value="CATEGORY"/>
      <xs:enumeration value="MARKETING_PERMISSION"/>
      <xs:enumeration value="REPORT_RESULT_CACHE"/>
      <xs:enumeration value="ORGANIZATION_SETTING"/>
      <xs:enumeration value="PLATFORM_SETTING"/>
      <xs:enumeration value="LOCALIZED_RESOURCE"/>
      <xs:enumeration value="USER_GROUP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="reasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMAIL"/>
      <xs:enumeration value="LENGTH"/>
      <xs:enumeration value="LENGTH_TEXT"/>
      <xs:enumeration value="REQUIRED"/>
      <xs:enumeration value="SECURITY_INFO"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="ID_CHAR"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="POSITIVE_NUMBER"/>
      <xs:enumeration value="DURATION"/>
      <xs:enumeration value="EMPTY_VALUE"/>
      <xs:enumeration value="CSS_COLOR"/>
      <xs:enumeration value="CSS_VALUE"/>
      <xs:enumeration value="URL"/>
      <xs:enumeration value="RELATIVE_URL"/>
      <xs:enumeration value="LDAP_CONNECTION_REFUSED"/>
      <xs:enumeration value="LDAP_USER_NOT_FOUND"/>
      <xs:enumeration value="LDAP_USER_NOT_UNIQUE"/>
      <xs:enumeration value="LDAP_CREATED_ID_INVALID"/>
      <xs:enumeration value="LDAP_VALUE_MISMATCH"/>
      <xs:enumeration value="LDAP_BASE_DN_INVALID"/>
      <xs:enumeration value="LDAP_MANDATORY_PROPERTY_MISSING"/>
      <xs:enumeration value="LDAP_INVALID_PLATFORM_PROPERTY"/>
      <xs:enumeration value="ENUMERATION"/>
      <xs:enumeration value="VALUE_NOT_IN_RANGE"/>
      <xs:enumeration value="INVALID_REFERENCE"/>
      <xs:enumeration value="STEPPED_USER_PRICING"/>
      <xs:enumeration value="STEPPED_EVENT_PRICING"/>
      <xs:enumeration value="STEPPED_PARAMETER_PRICING"/>
      <xs:enumeration value="STEPPED_PRICING"/>
      <xs:enumeration value="STEPPED_PRICING_DUPLICATE_LIMIT"/>
      <xs:enumeration value="DUPLICATE_VALUE"/>
      <xs:enumeration value="DUPLICATE_CATALOG_POSITION"/>
      <xs:enumeration value="DUPLICATE_PSP_ACCOUNT"/>
      <xs:enumeration value="PRICED_PARAM_WRONG_BASE"/>
      <xs:enumeration value="COUNTRY_NOT_SUPPORTED"/>
      <xs:enumeration value="VAT"/>
      <xs:enumeration value="VAT_NOT_SUPPORTED"/>
      <xs:enumeration value="DECIMAL"/>
      <xs:enumeration value="DIRECT_ACCESS_USER_PRICE"/>
      <xs:enumeration value="INVALID_NUMBER_TARGET_CATALOG_ENTRIES"/>
      <xs:enumeration value="INVALID_CHAR"/>
      <xs:enumeration value="IMAGE_TYPE"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_SMALL"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_BIG"/>
      <xs:enumeration value="TAGS_MAX_COUNT"/>
      <xs:enumeration value="RATING_REQUIRED"/>
      <xs:enumeration value="INVALID_LOCALE"/>
      <xs:enumeration value="USER_OPERATION_LOG_ENTITY_TYPE"/>
      <xs:enumeration value="INVALID_CONFIGURATION_SETTING"/>
      <xs:enumeration value="EXTERNAL_SERVICE_MUST_BE_FREE_OF_CHARGE"/>
      <xs:enumeration value="FILE_IMPORT_FAILED"/>
      <xs:enumeration value="MIN_LENGTH"/>
      <xs:enumeration value="INVALID_CURRENCY"/>
      <xs:enumeration value="TRIGGER_TYPE_SUPPORTS_NO_PROCESS_SUSPENDING"/>
      <xs:enumeration value="TRIGGER_TYPE_NOT_ALLOWED"/>
      <xs:enumeration value="ONE_OF_PARTNER_REVENUE_SHARE_MANDATORY"/>
      <xs:enumeration value="ONE_TIME_PARAMETER_NOT_ALLOWED"/>
      <xs:enumeration value="SCALE_TO_LONG"/>
      <xs:enumeration value="INVALID_DATE_RANGE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="serviceAccessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOGIN"/>
      <xs:enumeration value="DIRECT"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="EXTERNAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="offeringType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BROKER"/>
      <xs:enumeration value="RESELLER"/>
      <xs:enumeration value="DIRECT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterModificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STANDARD"/>
      <xs:enumeration value="ONE_TIME"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLATFORM_PARAMETER"/>
      <xs:enumeration value="SERVICE_PARAMETER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="DURATION"/>
      <xs:enumeration value="ENUMERATION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVICE_EVENT"/>
      <xs:enumeration value="PLATFORM_EVENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pricingPeriod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MONTH"/>
      <xs:enumeration value="WEEK"/>
      <xs:enumeration value="DAY"/>
      <xs:enumeration value="HOUR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="priceModelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FREE_OF_CHARGE"/>
      <xs:enumeration value="PRO_RATA"/>
      <xs:enumeration value="PER_UNIT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="serviceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="OBSOLETE"/>
      <xs:enumeration value="DELETED"/>
      <xs:enumeration value="INACTIVE"/>
      <xs:enumeration value="SUSPENDED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="operationParameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INPUT_STRING"/>
      <xs:enumeration value="REQUEST_SELECT"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

