oscm-integrationtests-apiversioning-client/javares/WSDL/SearchService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="SearchService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="SearchService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getServicesByCriteria">
    <part name="parameters" element="tns:getServicesByCriteria"/>
  </message>
  <message name="getServicesByCriteriaResponse">
    <part name="parameters" element="tns:getServicesByCriteriaResponse"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="searchServices">
    <part name="parameters" element="tns:searchServices"/>
  </message>
  <message name="searchServicesResponse">
    <part name="parameters" element="tns:searchServicesResponse"/>
  </message>
  <message name="InvalidPhraseException">
    <part name="fault" element="tns:InvalidPhraseException"/>
  </message>
  <portType name="SearchService">
    <operation name="getServicesByCriteria">
      <input wsam:Action="http://oscm.org/xsd/SearchService/getServicesByCriteriaRequest" message="tns:getServicesByCriteria"/>
      <output wsam:Action="http://oscm.org/xsd/SearchService/getServicesByCriteriaResponse" message="tns:getServicesByCriteriaResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SearchService/getServicesByCriteria/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="searchServices">
      <input wsam:Action="http://oscm.org/xsd/SearchService/searchServicesRequest" message="tns:searchServices"/>
      <output wsam:Action="http://oscm.org/xsd/SearchService/searchServicesResponse" message="tns:searchServicesResponse"/>
      <fault message="tns:InvalidPhraseException" name="InvalidPhraseException" wsam:Action="http://oscm.org/xsd/SearchService/searchServices/Fault/InvalidPhraseException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SearchService/searchServices/Fault/ObjectNotFoundException"/>
    </operation>
  </portType>
  <binding name="SearchServicePortBinding" type="tns:SearchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getServicesByCriteria">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchServices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidPhraseException">
        <soap:fault name="InvalidPhraseException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SearchService">
    <port name="SearchServicePort" binding="tns:SearchServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

