oscm-integrationtests-apiversioning-client/javares/WSDL/SubscriptionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="SubscriptionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="SubscriptionService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addRevokeUser">
    <part name="parameters" element="tns:addRevokeUser"/>
  </message>
  <message name="addRevokeUserResponse">
    <part name="parameters" element="tns:addRevokeUserResponse"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="ServiceParameterException">
    <part name="fault" element="tns:ServiceParameterException"/>
  </message>
  <message name="SubscriptionStateException">
    <part name="fault" element="tns:SubscriptionStateException"/>
  </message>
  <message name="TechnicalServiceNotAliveException">
    <part name="fault" element="tns:TechnicalServiceNotAliveException"/>
  </message>
  <message name="TechnicalServiceOperationException">
    <part name="fault" element="tns:TechnicalServiceOperationException"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="ConcurrentModificationException">
    <part name="fault" element="tns:ConcurrentModificationException"/>
  </message>
  <message name="OperationPendingException">
    <part name="fault" element="tns:OperationPendingException"/>
  </message>
  <message name="getSubscriptionsForUser">
    <part name="parameters" element="tns:getSubscriptionsForUser"/>
  </message>
  <message name="getSubscriptionsForUserResponse">
    <part name="parameters" element="tns:getSubscriptionsForUserResponse"/>
  </message>
  <message name="completeAsyncSubscription">
    <part name="parameters" element="tns:completeAsyncSubscription"/>
  </message>
  <message name="completeAsyncSubscriptionResponse">
    <part name="parameters" element="tns:completeAsyncSubscriptionResponse"/>
  </message>
  <message name="OrganizationAuthoritiesException">
    <part name="fault" element="tns:OrganizationAuthoritiesException"/>
  </message>
  <message name="abortAsyncSubscription">
    <part name="parameters" element="tns:abortAsyncSubscription"/>
  </message>
  <message name="abortAsyncSubscriptionResponse">
    <part name="parameters" element="tns:abortAsyncSubscriptionResponse"/>
  </message>
  <message name="getCustomersForSubscriptionId">
    <part name="parameters" element="tns:getCustomersForSubscriptionId"/>
  </message>
  <message name="getCustomersForSubscriptionIdResponse">
    <part name="parameters" element="tns:getCustomersForSubscriptionIdResponse"/>
  </message>
  <message name="getCustomerSubscriptions">
    <part name="parameters" element="tns:getCustomerSubscriptions"/>
  </message>
  <message name="getCustomerSubscriptionsResponse">
    <part name="parameters" element="tns:getCustomerSubscriptionsResponse"/>
  </message>
  <message name="getSubscriptionDetails">
    <part name="parameters" element="tns:getSubscriptionDetails"/>
  </message>
  <message name="getSubscriptionDetailsResponse">
    <part name="parameters" element="tns:getSubscriptionDetailsResponse"/>
  </message>
  <message name="getSubscriptionForCustomer">
    <part name="parameters" element="tns:getSubscriptionForCustomer"/>
  </message>
  <message name="getSubscriptionForCustomerResponse">
    <part name="parameters" element="tns:getSubscriptionForCustomerResponse"/>
  </message>
  <message name="getSubscriptionIdentifiers">
    <part name="parameters" element="tns:getSubscriptionIdentifiers"/>
  </message>
  <message name="getSubscriptionIdentifiersResponse">
    <part name="parameters" element="tns:getSubscriptionIdentifiersResponse"/>
  </message>
  <message name="getSubscriptionsForCurrentUser">
    <part name="parameters" element="tns:getSubscriptionsForCurrentUser"/>
  </message>
  <message name="getSubscriptionsForCurrentUserResponse">
    <part name="parameters" element="tns:getSubscriptionsForCurrentUserResponse"/>
  </message>
  <message name="getSubscriptionsForOrganization">
    <part name="parameters" element="tns:getSubscriptionsForOrganization"/>
  </message>
  <message name="getSubscriptionsForOrganizationResponse">
    <part name="parameters" element="tns:getSubscriptionsForOrganizationResponse"/>
  </message>
  <message name="getServiceRolesForSubscription">
    <part name="parameters" element="tns:getServiceRolesForSubscription"/>
  </message>
  <message name="getServiceRolesForSubscriptionResponse">
    <part name="parameters" element="tns:getServiceRolesForSubscriptionResponse"/>
  </message>
  <message name="updateAsyncSubscriptionProgress">
    <part name="parameters" element="tns:updateAsyncSubscriptionProgress"/>
  </message>
  <message name="updateAsyncSubscriptionProgressResponse">
    <part name="parameters" element="tns:updateAsyncSubscriptionProgressResponse"/>
  </message>
  <message name="getSubscriptionsForOrganizationWithFilter">
    <part name="parameters" element="tns:getSubscriptionsForOrganizationWithFilter"/>
  </message>
  <message name="getSubscriptionsForOrganizationWithFilterResponse">
    <part name="parameters" element="tns:getSubscriptionsForOrganizationWithFilterResponse"/>
  </message>
  <message name="completeAsyncModifySubscription">
    <part name="parameters" element="tns:completeAsyncModifySubscription"/>
  </message>
  <message name="completeAsyncModifySubscriptionResponse">
    <part name="parameters" element="tns:completeAsyncModifySubscriptionResponse"/>
  </message>
  <message name="completeAsyncUpgradeSubscription">
    <part name="parameters" element="tns:completeAsyncUpgradeSubscription"/>
  </message>
  <message name="completeAsyncUpgradeSubscriptionResponse">
    <part name="parameters" element="tns:completeAsyncUpgradeSubscriptionResponse"/>
  </message>
  <message name="getServiceOperationParameterValues">
    <part name="parameters" element="tns:getServiceOperationParameterValues"/>
  </message>
  <message name="getServiceOperationParameterValuesResponse">
    <part name="parameters" element="tns:getServiceOperationParameterValuesResponse"/>
  </message>
  <message name="reportIssue">
    <part name="parameters" element="tns:reportIssue"/>
  </message>
  <message name="reportIssueResponse">
    <part name="parameters" element="tns:reportIssueResponse"/>
  </message>
  <message name="MailOperationException">
    <part name="fault" element="tns:MailOperationException"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <message name="getUpgradeOptions">
    <part name="parameters" element="tns:getUpgradeOptions"/>
  </message>
  <message name="getUpgradeOptionsResponse">
    <part name="parameters" element="tns:getUpgradeOptionsResponse"/>
  </message>
  <message name="modifySubscription">
    <part name="parameters" element="tns:modifySubscription"/>
  </message>
  <message name="modifySubscriptionResponse">
    <part name="parameters" element="tns:modifySubscriptionResponse"/>
  </message>
  <message name="NonUniqueBusinessKeyException">
    <part name="fault" element="tns:NonUniqueBusinessKeyException"/>
  </message>
  <message name="SubscriptionMigrationException">
    <part name="fault" element="tns:SubscriptionMigrationException"/>
  </message>
  <message name="MandatoryUdaMissingException">
    <part name="fault" element="tns:MandatoryUdaMissingException"/>
  </message>
  <message name="unsubscribeFromService">
    <part name="parameters" element="tns:unsubscribeFromService"/>
  </message>
  <message name="unsubscribeFromServiceResponse">
    <part name="parameters" element="tns:unsubscribeFromServiceResponse"/>
  </message>
  <message name="SubscriptionStillActiveException">
    <part name="fault" element="tns:SubscriptionStillActiveException"/>
  </message>
  <message name="upgradeSubscription">
    <part name="parameters" element="tns:upgradeSubscription"/>
  </message>
  <message name="upgradeSubscriptionResponse">
    <part name="parameters" element="tns:upgradeSubscriptionResponse"/>
  </message>
  <message name="PaymentInformationException">
    <part name="fault" element="tns:PaymentInformationException"/>
  </message>
  <message name="ServiceChangedException">
    <part name="fault" element="tns:ServiceChangedException"/>
  </message>
  <message name="PriceModelException">
    <part name="fault" element="tns:PriceModelException"/>
  </message>
  <message name="subscribeToService">
    <part name="parameters" element="tns:subscribeToService"/>
  </message>
  <message name="subscribeToServiceResponse">
    <part name="parameters" element="tns:subscribeToServiceResponse"/>
  </message>
  <message name="SubscriptionAlreadyExistsException">
    <part name="fault" element="tns:SubscriptionAlreadyExistsException"/>
  </message>
  <message name="getServiceRolesForService">
    <part name="parameters" element="tns:getServiceRolesForService"/>
  </message>
  <message name="getServiceRolesForServiceResponse">
    <part name="parameters" element="tns:getServiceRolesForServiceResponse"/>
  </message>
  <message name="executeServiceOperation">
    <part name="parameters" element="tns:executeServiceOperation"/>
  </message>
  <message name="executeServiceOperationResponse">
    <part name="parameters" element="tns:executeServiceOperationResponse"/>
  </message>
  <message name="terminateSubscription">
    <part name="parameters" element="tns:terminateSubscription"/>
  </message>
  <message name="terminateSubscriptionResponse">
    <part name="parameters" element="tns:terminateSubscriptionResponse"/>
  </message>
  <message name="hasCurrentUserSubscriptions">
    <part name="parameters" element="tns:hasCurrentUserSubscriptions"/>
  </message>
  <message name="hasCurrentUserSubscriptionsResponse">
    <part name="parameters" element="tns:hasCurrentUserSubscriptionsResponse"/>
  </message>
  <message name="modifySubscriptionPaymentData">
    <part name="parameters" element="tns:modifySubscriptionPaymentData"/>
  </message>
  <message name="modifySubscriptionPaymentDataResponse">
    <part name="parameters" element="tns:modifySubscriptionPaymentDataResponse"/>
  </message>
  <message name="PaymentDataException">
    <part name="fault" element="tns:PaymentDataException"/>
  </message>
  <message name="abortAsyncModifySubscription">
    <part name="parameters" element="tns:abortAsyncModifySubscription"/>
  </message>
  <message name="abortAsyncModifySubscriptionResponse">
    <part name="parameters" element="tns:abortAsyncModifySubscriptionResponse"/>
  </message>
  <message name="abortAsyncUpgradeSubscription">
    <part name="parameters" element="tns:abortAsyncUpgradeSubscription"/>
  </message>
  <message name="abortAsyncUpgradeSubscriptionResponse">
    <part name="parameters" element="tns:abortAsyncUpgradeSubscriptionResponse"/>
  </message>
  <message name="updateAccessInformation">
    <part name="parameters" element="tns:updateAccessInformation"/>
  </message>
  <message name="updateAccessInformationResponse">
    <part name="parameters" element="tns:updateAccessInformationResponse"/>
  </message>
  <message name="updateAsyncOperationProgress">
    <part name="parameters" element="tns:updateAsyncOperationProgress"/>
  </message>
  <message name="updateAsyncOperationProgressResponse">
    <part name="parameters" element="tns:updateAsyncOperationProgressResponse"/>
  </message>
  <message name="OperationStateException">
    <part name="fault" element="tns:OperationStateException"/>
  </message>
  <portType name="SubscriptionService">
    <operation name="addRevokeUser">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/addRevokeUserRequest" message="tns:addRevokeUser"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/addRevokeUserResponse" message="tns:addRevokeUserResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/addRevokeUser/Fault/ObjectNotFoundException"/>
      <fault message="tns:ServiceParameterException" name="ServiceParameterException" wsam:Action="http://oscm.org/xsd/SubscriptionService/addRevokeUser/Fault/ServiceParameterException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/addRevokeUser/Fault/SubscriptionStateException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/addRevokeUser/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/addRevokeUser/Fault/TechnicalServiceOperationException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/addRevokeUser/Fault/OperationNotPermittedException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/addRevokeUser/Fault/ConcurrentModificationException"/>
      <fault message="tns:OperationPendingException" name="OperationPendingException" wsam:Action="http://oscm.org/xsd/SubscriptionService/addRevokeUser/Fault/OperationPendingException"/>
    </operation>
    <operation name="getSubscriptionsForUser">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionsForUserRequest" message="tns:getSubscriptionsForUser"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionsForUserResponse" message="tns:getSubscriptionsForUserResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionsForUser/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionsForUser/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="completeAsyncSubscription">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncSubscriptionRequest" message="tns:completeAsyncSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncSubscriptionResponse" message="tns:completeAsyncSubscriptionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncSubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncSubscription/Fault/SubscriptionStateException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncSubscription/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncSubscription/Fault/TechnicalServiceOperationException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncSubscription/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncSubscription/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="abortAsyncSubscription">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncSubscriptionRequest" message="tns:abortAsyncSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncSubscriptionResponse" message="tns:abortAsyncSubscriptionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncSubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncSubscription/Fault/SubscriptionStateException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncSubscription/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncSubscription/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getCustomersForSubscriptionId">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getCustomersForSubscriptionIdRequest" message="tns:getCustomersForSubscriptionId"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getCustomersForSubscriptionIdResponse" message="tns:getCustomersForSubscriptionIdResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getCustomersForSubscriptionId/Fault/OrganizationAuthoritiesException"/>
    </operation>
    <operation name="getCustomerSubscriptions">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getCustomerSubscriptionsRequest" message="tns:getCustomerSubscriptions"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getCustomerSubscriptionsResponse" message="tns:getCustomerSubscriptionsResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getCustomerSubscriptions/Fault/OrganizationAuthoritiesException"/>
    </operation>
    <operation name="getSubscriptionDetails">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionDetailsRequest" message="tns:getSubscriptionDetails"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionDetailsResponse" message="tns:getSubscriptionDetailsResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionDetails/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionDetails/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getSubscriptionForCustomer">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionForCustomerRequest" message="tns:getSubscriptionForCustomer"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionForCustomerResponse" message="tns:getSubscriptionForCustomerResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionForCustomer/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionForCustomer/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getSubscriptionIdentifiers">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionIdentifiersRequest" message="tns:getSubscriptionIdentifiers"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionIdentifiersResponse" message="tns:getSubscriptionIdentifiersResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionIdentifiers/Fault/OrganizationAuthoritiesException"/>
    </operation>
    <operation name="getSubscriptionsForCurrentUser">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionsForCurrentUserRequest" message="tns:getSubscriptionsForCurrentUser"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionsForCurrentUserResponse" message="tns:getSubscriptionsForCurrentUserResponse"/>
    </operation>
    <operation name="getSubscriptionsForOrganization">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionsForOrganizationRequest" message="tns:getSubscriptionsForOrganization"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionsForOrganizationResponse" message="tns:getSubscriptionsForOrganizationResponse"/>
    </operation>
    <operation name="getServiceRolesForSubscription">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceRolesForSubscriptionRequest" message="tns:getServiceRolesForSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceRolesForSubscriptionResponse" message="tns:getServiceRolesForSubscriptionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceRolesForSubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceRolesForSubscription/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="updateAsyncSubscriptionProgress">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAsyncSubscriptionProgressRequest" message="tns:updateAsyncSubscriptionProgress"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAsyncSubscriptionProgressResponse" message="tns:updateAsyncSubscriptionProgressResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAsyncSubscriptionProgress/Fault/ObjectNotFoundException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAsyncSubscriptionProgress/Fault/SubscriptionStateException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAsyncSubscriptionProgress/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAsyncSubscriptionProgress/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getSubscriptionsForOrganizationWithFilter">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionsForOrganizationWithFilterRequest" message="tns:getSubscriptionsForOrganizationWithFilter"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getSubscriptionsForOrganizationWithFilterResponse" message="tns:getSubscriptionsForOrganizationWithFilterResponse"/>
    </operation>
    <operation name="completeAsyncModifySubscription">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncModifySubscriptionRequest" message="tns:completeAsyncModifySubscription"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncModifySubscriptionResponse" message="tns:completeAsyncModifySubscriptionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncModifySubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncModifySubscription/Fault/SubscriptionStateException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncModifySubscription/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncModifySubscription/Fault/TechnicalServiceOperationException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncModifySubscription/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncModifySubscription/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="completeAsyncUpgradeSubscription">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncUpgradeSubscriptionRequest" message="tns:completeAsyncUpgradeSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncUpgradeSubscriptionResponse" message="tns:completeAsyncUpgradeSubscriptionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncUpgradeSubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncUpgradeSubscription/Fault/SubscriptionStateException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncUpgradeSubscription/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncUpgradeSubscription/Fault/TechnicalServiceOperationException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncUpgradeSubscription/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/completeAsyncUpgradeSubscription/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getServiceOperationParameterValues">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceOperationParameterValuesRequest" message="tns:getServiceOperationParameterValues"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceOperationParameterValuesResponse" message="tns:getServiceOperationParameterValuesResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceOperationParameterValues/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceOperationParameterValues/Fault/OperationNotPermittedException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceOperationParameterValues/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceOperationParameterValues/Fault/ConcurrentModificationException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceOperationParameterValues/Fault/TechnicalServiceOperationException"/>
    </operation>
    <operation name="reportIssue">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/reportIssueRequest" message="tns:reportIssue"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/reportIssueResponse" message="tns:reportIssueResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/reportIssue/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/reportIssue/Fault/OperationNotPermittedException"/>
      <fault message="tns:MailOperationException" name="MailOperationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/reportIssue/Fault/MailOperationException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/reportIssue/Fault/ValidationException"/>
    </operation>
    <operation name="getUpgradeOptions">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getUpgradeOptionsRequest" message="tns:getUpgradeOptions"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getUpgradeOptionsResponse" message="tns:getUpgradeOptionsResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getUpgradeOptions/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getUpgradeOptions/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="modifySubscription">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionRequest" message="tns:modifySubscription"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionResponse" message="tns:modifySubscriptionResponse"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscription/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscription/Fault/OperationNotPermittedException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscription/Fault/ValidationException"/>
      <fault message="tns:SubscriptionMigrationException" name="SubscriptionMigrationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscription/Fault/SubscriptionMigrationException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscription/Fault/ConcurrentModificationException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscription/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:OperationPendingException" name="OperationPendingException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscription/Fault/OperationPendingException"/>
      <fault message="tns:MandatoryUdaMissingException" name="MandatoryUdaMissingException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscription/Fault/MandatoryUdaMissingException"/>
    </operation>
    <operation name="unsubscribeFromService">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/unsubscribeFromServiceRequest" message="tns:unsubscribeFromService"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/unsubscribeFromServiceResponse" message="tns:unsubscribeFromServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/unsubscribeFromService/Fault/ObjectNotFoundException"/>
      <fault message="tns:SubscriptionStillActiveException" name="SubscriptionStillActiveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/unsubscribeFromService/Fault/SubscriptionStillActiveException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/unsubscribeFromService/Fault/SubscriptionStateException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/unsubscribeFromService/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/unsubscribeFromService/Fault/TechnicalServiceOperationException"/>
      <fault message="tns:OperationPendingException" name="OperationPendingException" wsam:Action="http://oscm.org/xsd/SubscriptionService/unsubscribeFromService/Fault/OperationPendingException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/unsubscribeFromService/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="upgradeSubscription">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscriptionRequest" message="tns:upgradeSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscriptionResponse" message="tns:upgradeSubscriptionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/OperationNotPermittedException"/>
      <fault message="tns:SubscriptionMigrationException" name="SubscriptionMigrationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/SubscriptionMigrationException"/>
      <fault message="tns:PaymentInformationException" name="PaymentInformationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/PaymentInformationException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/SubscriptionStateException"/>
      <fault message="tns:ServiceChangedException" name="ServiceChangedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/ServiceChangedException"/>
      <fault message="tns:PriceModelException" name="PriceModelException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/PriceModelException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/ConcurrentModificationException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:OperationPendingException" name="OperationPendingException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/OperationPendingException"/>
      <fault message="tns:MandatoryUdaMissingException" name="MandatoryUdaMissingException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/MandatoryUdaMissingException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/upgradeSubscription/Fault/ValidationException"/>
    </operation>
    <operation name="subscribeToService">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToServiceRequest" message="tns:subscribeToService"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToServiceResponse" message="tns:subscribeToServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/ObjectNotFoundException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/ValidationException"/>
      <fault message="tns:PaymentInformationException" name="PaymentInformationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/PaymentInformationException"/>
      <fault message="tns:ServiceParameterException" name="ServiceParameterException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/ServiceParameterException"/>
      <fault message="tns:ServiceChangedException" name="ServiceChangedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/ServiceChangedException"/>
      <fault message="tns:PriceModelException" name="PriceModelException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/PriceModelException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/TechnicalServiceOperationException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/OperationNotPermittedException"/>
      <fault message="tns:SubscriptionAlreadyExistsException" name="SubscriptionAlreadyExistsException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/SubscriptionAlreadyExistsException"/>
      <fault message="tns:OperationPendingException" name="OperationPendingException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/OperationPendingException"/>
      <fault message="tns:MandatoryUdaMissingException" name="MandatoryUdaMissingException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/MandatoryUdaMissingException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/ConcurrentModificationException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/subscribeToService/Fault/SubscriptionStateException"/>
    </operation>
    <operation name="getServiceRolesForService">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceRolesForServiceRequest" message="tns:getServiceRolesForService"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceRolesForServiceResponse" message="tns:getServiceRolesForServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceRolesForService/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/getServiceRolesForService/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="executeServiceOperation">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/executeServiceOperationRequest" message="tns:executeServiceOperation"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/executeServiceOperationResponse" message="tns:executeServiceOperationResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/executeServiceOperation/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/executeServiceOperation/Fault/OperationNotPermittedException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/executeServiceOperation/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/executeServiceOperation/Fault/TechnicalServiceOperationException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/executeServiceOperation/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/executeServiceOperation/Fault/ConcurrentModificationException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/executeServiceOperation/Fault/ValidationException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/executeServiceOperation/Fault/SubscriptionStateException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/SubscriptionService/executeServiceOperation/Fault/NonUniqueBusinessKeyException"/>
    </operation>
    <operation name="terminateSubscription">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/terminateSubscriptionRequest" message="tns:terminateSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/terminateSubscriptionResponse" message="tns:terminateSubscriptionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/terminateSubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/terminateSubscription/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/terminateSubscription/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/terminateSubscription/Fault/TechnicalServiceOperationException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/terminateSubscription/Fault/ConcurrentModificationException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/terminateSubscription/Fault/SubscriptionStateException"/>
    </operation>
    <operation name="hasCurrentUserSubscriptions">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/hasCurrentUserSubscriptionsRequest" message="tns:hasCurrentUserSubscriptions"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/hasCurrentUserSubscriptionsResponse" message="tns:hasCurrentUserSubscriptionsResponse"/>
    </operation>
    <operation name="modifySubscriptionPaymentData">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionPaymentDataRequest" message="tns:modifySubscriptionPaymentData"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionPaymentDataResponse" message="tns:modifySubscriptionPaymentDataResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionPaymentData/Fault/ObjectNotFoundException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionPaymentData/Fault/ConcurrentModificationException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionPaymentData/Fault/OperationNotPermittedException"/>
      <fault message="tns:PaymentInformationException" name="PaymentInformationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionPaymentData/Fault/PaymentInformationException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionPaymentData/Fault/SubscriptionStateException"/>
      <fault message="tns:PaymentDataException" name="PaymentDataException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionPaymentData/Fault/PaymentDataException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionPaymentData/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/modifySubscriptionPaymentData/Fault/TechnicalServiceOperationException"/>
    </operation>
    <operation name="abortAsyncModifySubscription">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncModifySubscriptionRequest" message="tns:abortAsyncModifySubscription"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncModifySubscriptionResponse" message="tns:abortAsyncModifySubscriptionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncModifySubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncModifySubscription/Fault/SubscriptionStateException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncModifySubscription/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncModifySubscription/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="abortAsyncUpgradeSubscription">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncUpgradeSubscriptionRequest" message="tns:abortAsyncUpgradeSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncUpgradeSubscriptionResponse" message="tns:abortAsyncUpgradeSubscriptionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncUpgradeSubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncUpgradeSubscription/Fault/SubscriptionStateException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncUpgradeSubscription/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/abortAsyncUpgradeSubscription/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="updateAccessInformation">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAccessInformationRequest" message="tns:updateAccessInformation"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAccessInformationResponse" message="tns:updateAccessInformationResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAccessInformation/Fault/ObjectNotFoundException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAccessInformation/Fault/SubscriptionStateException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAccessInformation/Fault/OperationNotPermittedException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAccessInformation/Fault/ValidationException"/>
    </operation>
    <operation name="updateAsyncOperationProgress">
      <input wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAsyncOperationProgressRequest" message="tns:updateAsyncOperationProgress"/>
      <output wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAsyncOperationProgressResponse" message="tns:updateAsyncOperationProgressResponse"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAsyncOperationProgress/Fault/OperationNotPermittedException"/>
      <fault message="tns:OperationStateException" name="OperationStateException" wsam:Action="http://oscm.org/xsd/SubscriptionService/updateAsyncOperationProgress/Fault/OperationStateException"/>
    </operation>
  </portType>
  <binding name="SubscriptionServicePortBinding" type="tns:SubscriptionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addRevokeUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ServiceParameterException">
        <soap:fault name="ServiceParameterException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="OperationPendingException">
        <soap:fault name="OperationPendingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSubscriptionsForUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="completeAsyncSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="abortAsyncSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCustomersForSubscriptionId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCustomerSubscriptions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSubscriptionDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSubscriptionForCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSubscriptionIdentifiers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSubscriptionsForCurrentUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSubscriptionsForOrganization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getServiceRolesForSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAsyncSubscriptionProgress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSubscriptionsForOrganizationWithFilter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="completeAsyncModifySubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="completeAsyncUpgradeSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceOperationParameterValues">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
    </operation>
    <operation name="reportIssue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="MailOperationException">
        <soap:fault name="MailOperationException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUpgradeOptions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="modifySubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="SubscriptionMigrationException">
        <soap:fault name="SubscriptionMigrationException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="OperationPendingException">
        <soap:fault name="OperationPendingException" use="literal"/>
      </fault>
      <fault name="MandatoryUdaMissingException">
        <soap:fault name="MandatoryUdaMissingException" use="literal"/>
      </fault>
    </operation>
    <operation name="unsubscribeFromService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="SubscriptionStillActiveException">
        <soap:fault name="SubscriptionStillActiveException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
      <fault name="OperationPendingException">
        <soap:fault name="OperationPendingException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="upgradeSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="SubscriptionMigrationException">
        <soap:fault name="SubscriptionMigrationException" use="literal"/>
      </fault>
      <fault name="PaymentInformationException">
        <soap:fault name="PaymentInformationException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="ServiceChangedException">
        <soap:fault name="ServiceChangedException" use="literal"/>
      </fault>
      <fault name="PriceModelException">
        <soap:fault name="PriceModelException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="OperationPendingException">
        <soap:fault name="OperationPendingException" use="literal"/>
      </fault>
      <fault name="MandatoryUdaMissingException">
        <soap:fault name="MandatoryUdaMissingException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="subscribeToService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="PaymentInformationException">
        <soap:fault name="PaymentInformationException" use="literal"/>
      </fault>
      <fault name="ServiceParameterException">
        <soap:fault name="ServiceParameterException" use="literal"/>
      </fault>
      <fault name="ServiceChangedException">
        <soap:fault name="ServiceChangedException" use="literal"/>
      </fault>
      <fault name="PriceModelException">
        <soap:fault name="PriceModelException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="SubscriptionAlreadyExistsException">
        <soap:fault name="SubscriptionAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="OperationPendingException">
        <soap:fault name="OperationPendingException" use="literal"/>
      </fault>
      <fault name="MandatoryUdaMissingException">
        <soap:fault name="MandatoryUdaMissingException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceRolesForService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="executeServiceOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
    </operation>
    <operation name="terminateSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
    </operation>
    <operation name="hasCurrentUserSubscriptions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifySubscriptionPaymentData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="PaymentInformationException">
        <soap:fault name="PaymentInformationException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="PaymentDataException">
        <soap:fault name="PaymentDataException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
    </operation>
    <operation name="abortAsyncModifySubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="abortAsyncUpgradeSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAccessInformation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAsyncOperationProgress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="OperationStateException">
        <soap:fault name="OperationStateException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SubscriptionService">
    <port name="SubscriptionServicePort" binding="tns:SubscriptionServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

