oscm-integrationtests-apiversioning-client/javares/WSDL/TagService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="TagService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="TagService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getTagsByLocale">
    <part name="parameters" element="tns:getTagsByLocale"/>
  </message>
  <message name="getTagsByLocaleResponse">
    <part name="parameters" element="tns:getTagsByLocaleResponse"/>
  </message>
  <message name="getTagsForMarketplace">
    <part name="parameters" element="tns:getTagsForMarketplace"/>
  </message>
  <message name="getTagsForMarketplaceResponse">
    <part name="parameters" element="tns:getTagsForMarketplaceResponse"/>
  </message>
  <message name="getTagsByPattern">
    <part name="parameters" element="tns:getTagsByPattern"/>
  </message>
  <message name="getTagsByPatternResponse">
    <part name="parameters" element="tns:getTagsByPatternResponse"/>
  </message>
  <portType name="TagService">
    <operation name="getTagsByLocale">
      <input wsam:Action="http://oscm.org/xsd/TagService/getTagsByLocaleRequest" message="tns:getTagsByLocale"/>
      <output wsam:Action="http://oscm.org/xsd/TagService/getTagsByLocaleResponse" message="tns:getTagsByLocaleResponse"/>
    </operation>
    <operation name="getTagsForMarketplace">
      <input wsam:Action="http://oscm.org/xsd/TagService/getTagsForMarketplaceRequest" message="tns:getTagsForMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/TagService/getTagsForMarketplaceResponse" message="tns:getTagsForMarketplaceResponse"/>
    </operation>
    <operation name="getTagsByPattern">
      <input wsam:Action="http://oscm.org/xsd/TagService/getTagsByPatternRequest" message="tns:getTagsByPattern"/>
      <output wsam:Action="http://oscm.org/xsd/TagService/getTagsByPatternResponse" message="tns:getTagsByPatternResponse"/>
    </operation>
  </portType>
  <binding name="TagServicePortBinding" type="tns:TagService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getTagsByLocale">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTagsForMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTagsByPattern">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TagService">
    <port name="TagServicePort" binding="tns:TagServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

