oscm-integrationtests-apiversioning-client/javares/WSDL/TriggerDefinitionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="TriggerDefinitionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="TriggerDefinitionService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="deleteTriggerDefinition">
    <part name="parameters" element="tns:deleteTriggerDefinition"/>
  </message>
  <message name="deleteTriggerDefinitionResponse">
    <part name="parameters" element="tns:deleteTriggerDefinitionResponse"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="DeletionConstraintException">
    <part name="fault" element="tns:DeletionConstraintException"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="createTriggerDefinition">
    <part name="parameters" element="tns:createTriggerDefinition"/>
  </message>
  <message name="createTriggerDefinitionResponse">
    <part name="parameters" element="tns:createTriggerDefinitionResponse"/>
  </message>
  <message name="TriggerDefinitionDataException">
    <part name="fault" element="tns:TriggerDefinitionDataException"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <message name="updateTriggerDefinition">
    <part name="parameters" element="tns:updateTriggerDefinition"/>
  </message>
  <message name="updateTriggerDefinitionResponse">
    <part name="parameters" element="tns:updateTriggerDefinitionResponse"/>
  </message>
  <message name="ConcurrentModificationException">
    <part name="fault" element="tns:ConcurrentModificationException"/>
  </message>
  <message name="getTriggerDefinitions">
    <part name="parameters" element="tns:getTriggerDefinitions"/>
  </message>
  <message name="getTriggerDefinitionsResponse">
    <part name="parameters" element="tns:getTriggerDefinitionsResponse"/>
  </message>
  <message name="getTriggerTypes">
    <part name="parameters" element="tns:getTriggerTypes"/>
  </message>
  <message name="getTriggerTypesResponse">
    <part name="parameters" element="tns:getTriggerTypesResponse"/>
  </message>
  <portType name="TriggerDefinitionService">
    <operation name="deleteTriggerDefinition">
      <input wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/deleteTriggerDefinitionRequest" message="tns:deleteTriggerDefinition"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/deleteTriggerDefinitionResponse" message="tns:deleteTriggerDefinitionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/deleteTriggerDefinition/Fault/ObjectNotFoundException"/>
      <fault message="tns:DeletionConstraintException" name="DeletionConstraintException" wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/deleteTriggerDefinition/Fault/DeletionConstraintException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/deleteTriggerDefinition/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="createTriggerDefinition">
      <input wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/createTriggerDefinitionRequest" message="tns:createTriggerDefinition"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/createTriggerDefinitionResponse" message="tns:createTriggerDefinitionResponse"/>
      <fault message="tns:TriggerDefinitionDataException" name="TriggerDefinitionDataException" wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/createTriggerDefinition/Fault/TriggerDefinitionDataException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/createTriggerDefinition/Fault/ValidationException"/>
    </operation>
    <operation name="updateTriggerDefinition">
      <input wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/updateTriggerDefinitionRequest" message="tns:updateTriggerDefinition"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/updateTriggerDefinitionResponse" message="tns:updateTriggerDefinitionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/updateTriggerDefinition/Fault/ObjectNotFoundException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/updateTriggerDefinition/Fault/ValidationException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/updateTriggerDefinition/Fault/ConcurrentModificationException"/>
      <fault message="tns:TriggerDefinitionDataException" name="TriggerDefinitionDataException" wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/updateTriggerDefinition/Fault/TriggerDefinitionDataException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/updateTriggerDefinition/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getTriggerDefinitions">
      <input wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/getTriggerDefinitionsRequest" message="tns:getTriggerDefinitions"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/getTriggerDefinitionsResponse" message="tns:getTriggerDefinitionsResponse"/>
    </operation>
    <operation name="getTriggerTypes">
      <input wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/getTriggerTypesRequest" message="tns:getTriggerTypes"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerDefinitionService/getTriggerTypesResponse" message="tns:getTriggerTypesResponse"/>
    </operation>
  </portType>
  <binding name="TriggerDefinitionServicePortBinding" type="tns:TriggerDefinitionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteTriggerDefinition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="DeletionConstraintException">
        <soap:fault name="DeletionConstraintException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="createTriggerDefinition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="TriggerDefinitionDataException">
        <soap:fault name="TriggerDefinitionDataException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateTriggerDefinition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="TriggerDefinitionDataException">
        <soap:fault name="TriggerDefinitionDataException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getTriggerDefinitions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTriggerTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TriggerDefinitionService">
    <port name="TriggerDefinitionServicePort" binding="tns:TriggerDefinitionServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

