oscm-integrationtests-apiversioning-client/javares/WSDL/TriggerService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ApplicationExceptionBean" type="tns:applicationExceptionBean"/>

  <xs:element name="DomainObjectExceptionBean" type="tns:domainObjectExceptionBean"/>

  <xs:element name="ExecutionTargetException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ObjectNotFoundException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="OperationNotPermittedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="TriggerProcessStatusException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="approveAction" type="tns:approveAction"/>

  <xs:element name="approveActionResponse" type="tns:approveActionResponse"/>

  <xs:element name="cancelActions" type="tns:cancelActions"/>

  <xs:element name="cancelActionsResponse" type="tns:cancelActionsResponse"/>

  <xs:element name="deleteActions" type="tns:deleteActions"/>

  <xs:element name="deleteActionsResponse" type="tns:deleteActionsResponse"/>

  <xs:element name="getAllActions" type="tns:getAllActions"/>

  <xs:element name="getAllActionsForOrganization" type="tns:getAllActionsForOrganization"/>

  <xs:element name="getAllActionsForOrganizationResponse" type="tns:getAllActionsForOrganizationResponse"/>

  <xs:element name="getAllActionsResponse" type="tns:getAllActionsResponse"/>

  <xs:element name="getAllDefinitions" type="tns:getAllDefinitions"/>

  <xs:element name="getAllDefinitionsResponse" type="tns:getAllDefinitionsResponse"/>

  <xs:element name="rejectAction" type="tns:rejectAction"/>

  <xs:element name="rejectActionResponse" type="tns:rejectActionResponse"/>

  <xs:complexType name="deleteActions">
    <xs:sequence>
      <xs:element name="actionKeys" type="xs:long" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteActionsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="domainObjectExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="classEnum" type="tns:classEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="applicationExceptionBean">
    <xs:sequence>
      <xs:element name="causeStackTrace" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="messageKey" type="xs:string" minOccurs="0"/>
      <xs:element name="messageParams" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="approveAction">
    <xs:sequence>
      <xs:element name="actionKey" type="xs:long" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="approveActionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllDefinitions">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllDefinitionsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voTriggerDefinition" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voTriggerDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="suspendProcess" type="xs:boolean"/>
          <xs:element name="target" type="xs:string" minOccurs="0"/>
          <xs:element name="targetType" type="tns:triggerTargetType" minOccurs="0"/>
          <xs:element name="type" type="tns:triggerType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="baseVO" abstract="true">
    <xs:sequence>
      <xs:element name="key" type="xs:long"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAllActionsForOrganization">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllActionsForOrganizationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voTriggerProcess" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voTriggerProcess">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="activationDate" type="xs:long"/>
          <xs:element name="parameter" type="xs:string" minOccurs="0"/>
          <xs:element name="reason" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:triggerProcessStatus" minOccurs="0"/>
          <xs:element name="targetNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="triggerDefinition" type="tns:voTriggerDefinition" minOccurs="0"/>
          <xs:element name="user" type="tns:voUser" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voUser">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="organization_Id" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:userAccountStatus" minOccurs="0"/>
          <xs:element name="userId" type="xs:string" minOccurs="0"/>
          <xs:element name="userName" type="xs:string" minOccurs="0"/>
          <xs:element name="userRoles" type="tns:userRoleType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cancelActions">
    <xs:sequence>
      <xs:element name="actionKeys" type="xs:long" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="reason" type="tns:voLocalizedText" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voLocalizedText">
    <xs:sequence>
      <xs:element name="locale" type="xs:string" minOccurs="0"/>
      <xs:element name="text" type="xs:string" minOccurs="0"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelActionsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllActions">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllActionsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voTriggerProcess" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rejectAction">
    <xs:sequence>
      <xs:element name="actionKey" type="xs:long" form="unqualified"/>
      <xs:element name="reason" type="tns:voLocalizedText" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rejectActionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:simpleType name="classEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORGANIZATION"/>
      <xs:enumeration value="SERVICE"/>
      <xs:enumeration value="SUBSCRIPTION"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="PAYMENT_INFO"/>
      <xs:enumeration value="TECHNICAL_SERVICE"/>
      <xs:enumeration value="ORGANIZATION_ROLE"/>
      <xs:enumeration value="PARAMETER_DEFINITION"/>
      <xs:enumeration value="PARAMETER_OPTION"/>
      <xs:enumeration value="PARAMETER"/>
      <xs:enumeration value="PRICED_PARAMETER"/>
      <xs:enumeration value="REPORT"/>
      <xs:enumeration value="EVENT"/>
      <xs:enumeration value="ROLE_DEFINITION"/>
      <xs:enumeration value="TECHNICAL_SERVICE_OPERATION"/>
      <xs:enumeration value="OPERATION_PARAMETER"/>
      <xs:enumeration value="PAYMENT_TYPE"/>
      <xs:enumeration value="SUPPORTED_CURRENCY"/>
      <xs:enumeration value="UDA_DEFINITION"/>
      <xs:enumeration value="UDA"/>
      <xs:enumeration value="ORGANIZATION_TO_COUNTRY"/>
      <xs:enumeration value="SUPPORTED_COUNTRY"/>
      <xs:enumeration value="VAT_RATES"/>
      <xs:enumeration value="ORGANIZATION_REFERENCE"/>
      <xs:enumeration value="MARKETPLACE"/>
      <xs:enumeration value="TRIGGER_DEFINITION"/>
      <xs:enumeration value="TRIGGER_PROCESS"/>
      <xs:enumeration value="TAG"/>
      <xs:enumeration value="TECHNICAL_SERVICE_TAG"/>
      <xs:enumeration value="USER_ROLE"/>
      <xs:enumeration value="PRODUCT_REVIEW"/>
      <xs:enumeration value="BILLING_CONTACT"/>
      <xs:enumeration value="MARKETPLACE_TO_ORGANIZATION"/>
      <xs:enumeration value="SUBSCRIPTION_TO_MARKETPLACE"/>
      <xs:enumeration value="PRODUCT_TO_PAYMENTTYPE"/>
      <xs:enumeration value="PSP"/>
      <xs:enumeration value="CATEGORY"/>
      <xs:enumeration value="MARKETING_PERMISSION"/>
      <xs:enumeration value="REPORT_RESULT_CACHE"/>
      <xs:enumeration value="ORGANIZATION_SETTING"/>
      <xs:enumeration value="PLATFORM_SETTING"/>
      <xs:enumeration value="LOCALIZED_RESOURCE"/>
      <xs:enumeration value="USER_GROUP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="triggerTargetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WEB_SERVICE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="triggerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVATE_SERVICE"/>
      <xs:enumeration value="ADD_REVOKE_USER"/>
      <xs:enumeration value="DEACTIVATE_SERVICE"/>
      <xs:enumeration value="MODIFY_SUBSCRIPTION"/>
      <xs:enumeration value="REGISTER_CUSTOMER_FOR_SUPPLIER"/>
      <xs:enumeration value="REGISTER_OWN_USER"/>
      <xs:enumeration value="SAVE_PAYMENT_CONFIGURATION"/>
      <xs:enumeration value="START_BILLING_RUN"/>
      <xs:enumeration value="SUBSCRIBE_TO_SERVICE"/>
      <xs:enumeration value="UNSUBSCRIBE_FROM_SERVICE"/>
      <xs:enumeration value="UPGRADE_SUBSCRIPTION"/>
      <xs:enumeration value="SUBSCRIPTION_CREATION"/>
      <xs:enumeration value="SUBSCRIPTION_MODIFICATION"/>
      <xs:enumeration value="SUBSCRIPTION_TERMINATION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="triggerProcessStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INITIAL"/>
      <xs:enumeration value="WAITING_FOR_APPROVAL"/>
      <xs:enumeration value="APPROVED"/>
      <xs:enumeration value="CANCELLED"/>
      <xs:enumeration value="ERROR"/>
      <xs:enumeration value="FAILED"/>
      <xs:enumeration value="REJECTED"/>
      <xs:enumeration value="NOTIFIED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userAccountStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="PASSWORD_MUST_BE_CHANGED"/>
      <xs:enumeration value="LOCKED_NOT_CONFIRMED"/>
      <xs:enumeration value="LOCKED_FAILED_LOGIN_ATTEMPTS"/>
      <xs:enumeration value="LOCKED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVICE_MANAGER"/>
      <xs:enumeration value="TECHNOLOGY_MANAGER"/>
      <xs:enumeration value="ORGANIZATION_ADMIN"/>
      <xs:enumeration value="PLATFORM_OPERATOR"/>
      <xs:enumeration value="MARKETPLACE_OWNER"/>
      <xs:enumeration value="BROKER_MANAGER"/>
      <xs:enumeration value="RESELLER_MANAGER"/>
      <xs:enumeration value="SUBSCRIPTION_MANAGER"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

