oscm-integrationhelper-unittests/javares/GeneratedWsdlFromBuild.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://oscm.org/xsd" name="ServiceProvisioningService" xmlns:tns="http://oscm.org/xsd"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="GeneratedWsdlFromBuild_V12_schema1.xsd" />
    </xsd:schema>
  </types>
  <message name="getServices">
    <part name="parameters" element="tns:getServices" />
  </message>
  <message name="getServicesResponse">
    <part name="parameters" element="tns:getServicesResponse" />
  </message>
  <message name="OrganizationAuthoritiesException">
    <part name="fault" element="tns:OrganizationAuthoritiesException" />
  </message>
  <message name="activateService">
    <part name="parameters" element="tns:activateService" />
  </message>
  <message name="activateServiceResponse">
    <part name="parameters" element="tns:activateServiceResponse" />
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException" />
  </message>
  <message name="ServiceStateException">
    <part name="fault" element="tns:ServiceStateException" />
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException" />
  </message>
  <message name="ServiceOperationException">
    <part name="fault" element="tns:ServiceOperationException" />
  </message>
  <message name="TechnicalServiceNotAliveException">
    <part name="fault" element="tns:TechnicalServiceNotAliveException" />
  </message>
  <message name="createService">
    <part name="parameters" element="tns:createService" />
  </message>
  <message name="createServiceResponse">
    <part name="parameters" element="tns:createServiceResponse" />
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException" />
  </message>
  <message name="NonUniqueBusinessKeyException">
    <part name="fault" element="tns:NonUniqueBusinessKeyException" />
  </message>
  <message name="ConcurrentModificationException">
    <part name="fault" element="tns:ConcurrentModificationException" />
  </message>
  <message name="deactivateService">
    <part name="parameters" element="tns:deactivateService" />
  </message>
  <message name="deactivateServiceResponse">
    <part name="parameters" element="tns:deactivateServiceResponse" />
  </message>
  <message name="deleteService">
    <part name="parameters" element="tns:deleteService" />
  </message>
  <message name="deleteServiceResponse">
    <part name="parameters" element="tns:deleteServiceResponse" />
  </message>
  <message name="deleteTechnicalService">
    <part name="parameters" element="tns:deleteTechnicalService" />
  </message>
  <message name="deleteTechnicalServiceResponse">
    <part name="parameters" element="tns:deleteTechnicalServiceResponse" />
  </message>
  <message name="DeletionConstraintException">
    <part name="fault" element="tns:DeletionConstraintException" />
  </message>
  <message name="TechnicalServiceOperationException">
    <part name="fault" element="tns:TechnicalServiceOperationException" />
  </message>
  <message name="exportTechnicalServices">
    <part name="parameters" element="tns:exportTechnicalServices" />
  </message>
  <message name="exportTechnicalServicesResponse">
    <part name="parameters" element="tns:exportTechnicalServicesResponse" />
  </message>
  <message name="getCompatibleServices">
    <part name="parameters" element="tns:getCompatibleServices" />
  </message>
  <message name="getCompatibleServicesResponse">
    <part name="parameters" element="tns:getCompatibleServicesResponse" />
  </message>
  <message name="getServicesForCustomer">
    <part name="parameters" element="tns:getServicesForCustomer" />
  </message>
  <message name="getServicesForCustomerResponse">
    <part name="parameters" element="tns:getServicesForCustomerResponse" />
  </message>
  <message name="getAllCustomerSpecificServices">
    <part name="parameters" element="tns:getAllCustomerSpecificServices" />
  </message>
  <message name="getAllCustomerSpecificServicesResponse">
    <part name="parameters" element="tns:getAllCustomerSpecificServicesResponse" />
  </message>
  <message name="getServiceDetails">
    <part name="parameters" element="tns:getServiceDetails" />
  </message>
  <message name="getServiceDetailsResponse">
    <part name="parameters" element="tns:getServiceDetailsResponse" />
  </message>
  <message name="getServiceForCustomer">
    <part name="parameters" element="tns:getServiceForCustomer" />
  </message>
  <message name="getServiceForCustomerResponse">
    <part name="parameters" element="tns:getServiceForCustomerResponse" />
  </message>
  <message name="getServiceForSubscription">
    <part name="parameters" element="tns:getServiceForSubscription" />
  </message>
  <message name="getServiceForSubscriptionResponse">
    <part name="parameters" element="tns:getServiceForSubscriptionResponse" />
  </message>
  <message name="getSupportedCurrencies">
    <part name="parameters" element="tns:getSupportedCurrencies" />
  </message>
  <message name="getSupportedCurrenciesResponse">
    <part name="parameters" element="tns:getSupportedCurrenciesResponse" />
  </message>
  <message name="getTechnicalServices">
    <part name="parameters" element="tns:getTechnicalServices" />
  </message>
  <message name="getTechnicalServicesResponse">
    <part name="parameters" element="tns:getTechnicalServicesResponse" />
  </message>
  <message name="importTechnicalServices">
    <part name="parameters" element="tns:importTechnicalServices" />
  </message>
  <message name="importTechnicalServicesResponse">
    <part name="parameters" element="tns:importTechnicalServicesResponse" />
  </message>
  <message name="ImportException">
    <part name="fault" element="tns:ImportException" />
  </message>
  <message name="TechnicalServiceActiveException">
    <part name="fault" element="tns:TechnicalServiceActiveException" />
  </message>
  <message name="UpdateConstraintException">
    <part name="fault" element="tns:UpdateConstraintException" />
  </message>
  <message name="TechnicalServiceMultiSubscriptions">
    <part name="fault" element="tns:TechnicalServiceMultiSubscriptions" />
  </message>
  <message name="UnchangeableAllowingOnBehalfActingException">
    <part name="fault" element="tns:UnchangeableAllowingOnBehalfActingException" />
  </message>
  <message name="loadImage">
    <part name="parameters" element="tns:loadImage" />
  </message>
  <message name="loadImageResponse">
    <part name="parameters" element="tns:loadImageResponse" />
  </message>
  <message name="savePriceModel">
    <part name="parameters" element="tns:savePriceModel" />
  </message>
  <message name="savePriceModelResponse">
    <part name="parameters" element="tns:savePriceModelResponse" />
  </message>
  <message name="CurrencyException">
    <part name="fault" element="tns:CurrencyException" />
  </message>
  <message name="savePriceModelForCustomer">
    <part name="parameters" element="tns:savePriceModelForCustomer" />
  </message>
  <message name="savePriceModelForCustomerResponse">
    <part name="parameters" element="tns:savePriceModelForCustomerResponse" />
  </message>
  <message name="savePriceModelForSubscription">
    <part name="parameters" element="tns:savePriceModelForSubscription" />
  </message>
  <message name="savePriceModelForSubscriptionResponse">
    <part name="parameters" element="tns:savePriceModelForSubscriptionResponse" />
  </message>
  <message name="SubscriptionStateException">
    <part name="fault" element="tns:SubscriptionStateException" />
  </message>
  <message name="createTechnicalService">
    <part name="parameters" element="tns:createTechnicalService" />
  </message>
  <message name="createTechnicalServiceResponse">
    <part name="parameters" element="tns:createTechnicalServiceResponse" />
  </message>
  <message name="saveTechnicalServiceLocalization">
    <part name="parameters" element="tns:saveTechnicalServiceLocalization" />
  </message>
  <message name="saveTechnicalServiceLocalizationResponse">
    <part name="parameters" element="tns:saveTechnicalServiceLocalizationResponse" />
  </message>
  <message name="setCompatibleServices">
    <part name="parameters" element="tns:setCompatibleServices" />
  </message>
  <message name="setCompatibleServicesResponse">
    <part name="parameters" element="tns:setCompatibleServicesResponse" />
  </message>
  <message name="ServiceCompatibilityException">
    <part name="fault" element="tns:ServiceCompatibilityException" />
  </message>
  <message name="updateService">
    <part name="parameters" element="tns:updateService" />
  </message>
  <message name="updateServiceResponse">
    <part name="parameters" element="tns:updateServiceResponse" />
  </message>
  <message name="validateTechnicalServiceCommunication">
    <part name="parameters" element="tns:validateTechnicalServiceCommunication" />
  </message>
  <message name="validateTechnicalServiceCommunicationResponse">
    <part name="parameters" element="tns:validateTechnicalServiceCommunicationResponse" />
  </message>
  <message name="getPriceModelLocalization">
    <part name="parameters" element="tns:getPriceModelLocalization" />
  </message>
  <message name="getPriceModelLocalizationResponse">
    <part name="parameters" element="tns:getPriceModelLocalizationResponse" />
  </message>
  <message name="getServiceLocalization">
    <part name="parameters" element="tns:getServiceLocalization" />
  </message>
  <message name="getServiceLocalizationResponse">
    <part name="parameters" element="tns:getServiceLocalizationResponse" />
  </message>
  <message name="savePriceModelLocalization">
    <part name="parameters" element="tns:savePriceModelLocalization" />
  </message>
  <message name="savePriceModelLocalizationResponse">
    <part name="parameters" element="tns:savePriceModelLocalizationResponse" />
  </message>
  <message name="saveServiceLocalization">
    <part name="parameters" element="tns:saveServiceLocalization" />
  </message>
  <message name="saveServiceLocalizationResponse">
    <part name="parameters" element="tns:saveServiceLocalizationResponse" />
  </message>
  <message name="copyService">
    <part name="parameters" element="tns:copyService" />
  </message>
  <message name="copyServiceResponse">
    <part name="parameters" element="tns:copyServiceResponse" />
  </message>
  <message name="loadImageForSupplier">
    <part name="parameters" element="tns:loadImageForSupplier" />
  </message>
  <message name="loadImageForSupplierResponse">
    <part name="parameters" element="tns:loadImageForSupplierResponse" />
  </message>
  <message name="getPriceModelLicenseTemplateLocalization">
    <part name="parameters" element="tns:getPriceModelLicenseTemplateLocalization" />
  </message>
  <message name="getPriceModelLicenseTemplateLocalizationResponse">
    <part name="parameters" element="tns:getPriceModelLicenseTemplateLocalizationResponse" />
  </message>
  <message name="getSuppliedServices">
    <part name="parameters" element="tns:getSuppliedServices" />
  </message>
  <message name="getSuppliedServicesResponse">
    <part name="parameters" element="tns:getSuppliedServicesResponse" />
  </message>
  <message name="getServicesForMarketplace">
    <part name="parameters" element="tns:getServicesForMarketplace" />
  </message>
  <message name="getServicesForMarketplaceResponse">
    <part name="parameters" element="tns:getServicesForMarketplaceResponse" />
  </message>
  <message name="getServicesOfSupplier">
    <part name="parameters" element="tns:getServicesOfSupplier" />
  </message>
  <message name="getServicesOfSupplierResponse">
    <part name="parameters" element="tns:getServicesOfSupplierResponse" />
  </message>
  <message name="getCatalogDetails">
    <part name="parameters" element="tns:getCatalogDetails" />
  </message>
  <message name="getCatalogDetailsResponse">
    <part name="parameters" element="tns:getCatalogDetailsResponse" />
  </message>
  <message name="setCatalogDetails">
    <part name="parameters" element="tns:setCatalogDetails" />
  </message>
  <message name="setCatalogDetailsResponse">
    <part name="parameters" element="tns:setCatalogDetailsResponse" />
  </message>
  <message name="getServicesByCriteria">
    <part name="parameters" element="tns:getServicesByCriteria" />
  </message>
  <message name="getServicesByCriteriaResponse">
    <part name="parameters" element="tns:getServicesByCriteriaResponse" />
  </message>
  <message name="getRelatedServicesForMarketplace">
    <part name="parameters" element="tns:getRelatedServicesForMarketplace" />
  </message>
  <message name="getRelatedServicesForMarketplaceResponse">
    <part name="parameters" element="tns:getRelatedServicesForMarketplaceResponse" />
  </message>
  <message name="setActivationStates">
    <part name="parameters" element="tns:setActivationStates" />
  </message>
  <message name="setActivationStatesResponse">
    <part name="parameters" element="tns:setActivationStatesResponse" />
  </message>
  <message name="getServiceForMarketplace">
    <part name="parameters" element="tns:getServiceForMarketplace" />
  </message>
  <message name="getServiceForMarketplaceResponse">
    <part name="parameters" element="tns:getServiceForMarketplaceResponse" />
  </message>
  <portType name="ServiceProvisioningService">
    <operation name="getServices">
      <input message="tns:getServices" />
      <output message="tns:getServicesResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
    </operation>
    <operation name="activateService">
      <input message="tns:activateService" />
      <output message="tns:activateServiceResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:ServiceStateException" name="ServiceStateException" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:ServiceOperationException" name="ServiceOperationException" />
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" />
    </operation>
    <operation name="createService">
      <input message="tns:createService" />
      <output message="tns:createServiceResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:ValidationException" name="ValidationException" />
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
    </operation>
    <operation name="deactivateService">
      <input message="tns:deactivateService" />
      <output message="tns:deactivateServiceResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:ServiceStateException" name="ServiceStateException" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:ServiceOperationException" name="ServiceOperationException" />
    </operation>
    <operation name="deleteService">
      <input message="tns:deleteService" />
      <output message="tns:deleteServiceResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:ServiceOperationException" name="ServiceOperationException" />
      <fault message="tns:ServiceStateException" name="ServiceStateException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
    </operation>
    <operation name="deleteTechnicalService">
      <input message="tns:deleteTechnicalService" />
      <output message="tns:deleteTechnicalServiceResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:DeletionConstraintException" name="DeletionConstraintException" />
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" />
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
    </operation>
    <operation name="exportTechnicalServices">
      <input message="tns:exportTechnicalServices" />
      <output message="tns:exportTechnicalServicesResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
    </operation>
    <operation name="getCompatibleServices">
      <input message="tns:getCompatibleServices" />
      <output message="tns:getCompatibleServicesResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
    </operation>
    <operation name="getServicesForCustomer">
      <input message="tns:getServicesForCustomer" />
      <output message="tns:getServicesForCustomerResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
    </operation>
    <operation name="getAllCustomerSpecificServices">
      <input message="tns:getAllCustomerSpecificServices" />
      <output message="tns:getAllCustomerSpecificServicesResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
    </operation>
    <operation name="getServiceDetails">
      <input message="tns:getServiceDetails" />
      <output message="tns:getServiceDetailsResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
    </operation>
    <operation name="getServiceForCustomer">
      <input message="tns:getServiceForCustomer" />
      <output message="tns:getServiceForCustomerResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="getServiceForSubscription">
      <input message="tns:getServiceForSubscription" />
      <output message="tns:getServiceForSubscriptionResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="getSupportedCurrencies">
      <input message="tns:getSupportedCurrencies" />
      <output message="tns:getSupportedCurrenciesResponse" />
    </operation>
    <operation name="getTechnicalServices">
      <input message="tns:getTechnicalServices" />
      <output message="tns:getTechnicalServicesResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
    </operation>
    <operation name="importTechnicalServices">
      <input message="tns:importTechnicalServices" />
      <output message="tns:importTechnicalServicesResponse" />
      <fault message="tns:ImportException" name="ImportException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:TechnicalServiceActiveException" name="TechnicalServiceActiveException" />
      <fault message="tns:UpdateConstraintException" name="UpdateConstraintException" />
      <fault message="tns:TechnicalServiceMultiSubscriptions" name="TechnicalServiceMultiSubscriptions" />
      <fault message="tns:UnchangeableAllowingOnBehalfActingException" name="UnchangeableAllowingOnBehalfActingException" />
    </operation>
    <operation name="loadImage">
      <input message="tns:loadImage" />
      <output message="tns:loadImageResponse" />
    </operation>
    <operation name="savePriceModel">
      <input message="tns:savePriceModel" />
      <output message="tns:savePriceModelResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:CurrencyException" name="CurrencyException" />
      <fault message="tns:ValidationException" name="ValidationException" />
      <fault message="tns:ServiceStateException" name="ServiceStateException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
    </operation>
    <operation name="savePriceModelForCustomer">
      <input message="tns:savePriceModelForCustomer" />
      <output message="tns:savePriceModelForCustomerResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:CurrencyException" name="CurrencyException" />
      <fault message="tns:ValidationException" name="ValidationException" />
      <fault message="tns:ServiceStateException" name="ServiceStateException" />
      <fault message="tns:ServiceOperationException" name="ServiceOperationException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
    </operation>
    <operation name="savePriceModelForSubscription">
      <input message="tns:savePriceModelForSubscription" />
      <output message="tns:savePriceModelForSubscriptionResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:CurrencyException" name="CurrencyException" />
      <fault message="tns:ValidationException" name="ValidationException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" />
    </operation>
    <operation name="createTechnicalService">
      <input message="tns:createTechnicalService" />
      <output message="tns:createTechnicalServiceResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ValidationException" name="ValidationException" />
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" />
    </operation>
    <operation name="saveTechnicalServiceLocalization">
      <input message="tns:saveTechnicalServiceLocalization" />
      <output message="tns:saveTechnicalServiceLocalizationResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:UpdateConstraintException" name="UpdateConstraintException" />
      <fault message="tns:ValidationException" name="ValidationException" />
    </operation>
    <operation name="setCompatibleServices">
      <input message="tns:setCompatibleServices" />
      <output message="tns:setCompatibleServicesResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:ServiceCompatibilityException" name="ServiceCompatibilityException" />
      <fault message="tns:ServiceStateException" name="ServiceStateException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
    </operation>
    <operation name="updateService">
      <input message="tns:updateService" />
      <output message="tns:updateServiceResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:ValidationException" name="ValidationException" />
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" />
      <fault message="tns:ServiceStateException" name="ServiceStateException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
    </operation>
    <operation name="validateTechnicalServiceCommunication">
      <input message="tns:validateTechnicalServiceCommunication" />
      <output message="tns:validateTechnicalServiceCommunicationResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" />
    </operation>
    <operation name="getPriceModelLocalization">
      <input message="tns:getPriceModelLocalization" />
      <output message="tns:getPriceModelLocalizationResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
    </operation>
    <operation name="getServiceLocalization">
      <input message="tns:getServiceLocalization" />
      <output message="tns:getServiceLocalizationResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
    </operation>
    <operation name="savePriceModelLocalization">
      <input message="tns:savePriceModelLocalization" />
      <output message="tns:savePriceModelLocalizationResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
    </operation>
    <operation name="saveServiceLocalization">
      <input message="tns:saveServiceLocalization" />
      <output message="tns:saveServiceLocalizationResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:ValidationException" name="ValidationException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
    </operation>
    <operation name="copyService">
      <input message="tns:copyService" />
      <output message="tns:copyServiceResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:ServiceStateException" name="ServiceStateException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" />
      <fault message="tns:ValidationException" name="ValidationException" />
    </operation>
    <operation name="loadImageForSupplier">
      <input message="tns:loadImageForSupplier" />
      <output message="tns:loadImageForSupplierResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="getPriceModelLicenseTemplateLocalization">
      <input message="tns:getPriceModelLicenseTemplateLocalization" />
      <output message="tns:getPriceModelLicenseTemplateLocalizationResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
    </operation>
    <operation name="getSuppliedServices">
      <input message="tns:getSuppliedServices" />
      <output message="tns:getSuppliedServicesResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
    </operation>
    <operation name="getServicesForMarketplace">
      <input message="tns:getServicesForMarketplace" />
      <output message="tns:getServicesForMarketplaceResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
    </operation>
    <operation name="getServicesOfSupplier">
      <input message="tns:getServicesOfSupplier" />
      <output message="tns:getServicesOfSupplierResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="getCatalogDetails">
      <input message="tns:getCatalogDetails" />
      <output message="tns:getCatalogDetailsResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
    </operation>
    <operation name="setCatalogDetails">
      <input message="tns:setCatalogDetails" />
      <output message="tns:setCatalogDetailsResponse" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:ValidationException" name="ValidationException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" />
    </operation>
    <operation name="getServicesByCriteria">
      <input message="tns:getServicesByCriteria" />
      <output message="tns:getServicesByCriteriaResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
    </operation>
    <operation name="getRelatedServicesForMarketplace">
      <input message="tns:getRelatedServicesForMarketplace" />
      <output message="tns:getRelatedServicesForMarketplaceResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
    </operation>
    <operation name="setActivationStates">
      <input message="tns:setActivationStates" />
      <output message="tns:setActivationStatesResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:ServiceStateException" name="ServiceStateException" />
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
      <fault message="tns:ServiceOperationException" name="ServiceOperationException" />
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" />
    </operation>
    <operation name="getServiceForMarketplace">
      <input message="tns:getServiceForMarketplace" />
      <output message="tns:getServiceForMarketplaceResponse" />
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" />
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" />
    </operation>
  </portType>
  <binding name="ServiceProvisioningServicePortBinding" type="tns:ServiceProvisioningService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="getServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
    </operation>
    <operation name="activateService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal" />
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="ServiceOperationException">
        <soap:fault name="ServiceOperationException" use="literal" />
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal" />
      </fault>
    </operation>
    <operation name="createService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal" />
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
    </operation>
    <operation name="deactivateService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal" />
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="ServiceOperationException">
        <soap:fault name="ServiceOperationException" use="literal" />
      </fault>
    </operation>
    <operation name="deleteService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="ServiceOperationException">
        <soap:fault name="ServiceOperationException" use="literal" />
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
    </operation>
    <operation name="deleteTechnicalService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="DeletionConstraintException">
        <soap:fault name="DeletionConstraintException" use="literal" />
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal" />
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
    </operation>
    <operation name="exportTechnicalServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
    </operation>
    <operation name="getCompatibleServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
    </operation>
    <operation name="getServicesForCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
    </operation>
    <operation name="getAllCustomerSpecificServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
    </operation>
    <operation name="getServiceDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
    </operation>
    <operation name="getServiceForCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="getServiceForSubscription">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="getSupportedCurrencies">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTechnicalServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
    </operation>
    <operation name="importTechnicalServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ImportException">
        <soap:fault name="ImportException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="TechnicalServiceActiveException">
        <soap:fault name="TechnicalServiceActiveException" use="literal" />
      </fault>
      <fault name="UpdateConstraintException">
        <soap:fault name="UpdateConstraintException" use="literal" />
      </fault>
      <fault name="TechnicalServiceMultiSubscriptions">
        <soap:fault name="TechnicalServiceMultiSubscriptions" use="literal" />
      </fault>
      <fault name="UnchangeableAllowingOnBehalfActingException">
        <soap:fault name="UnchangeableAllowingOnBehalfActingException" use="literal" />
      </fault>
    </operation>
    <operation name="loadImage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="savePriceModel">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="CurrencyException">
        <soap:fault name="CurrencyException" use="literal" />
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal" />
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
    </operation>
    <operation name="savePriceModelForCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="CurrencyException">
        <soap:fault name="CurrencyException" use="literal" />
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal" />
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal" />
      </fault>
      <fault name="ServiceOperationException">
        <soap:fault name="ServiceOperationException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
    </operation>
    <operation name="savePriceModelForSubscription">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="CurrencyException">
        <soap:fault name="CurrencyException" use="literal" />
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal" />
      </fault>
    </operation>
    <operation name="createTechnicalService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal" />
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal" />
      </fault>
    </operation>
    <operation name="saveTechnicalServiceLocalization">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="UpdateConstraintException">
        <soap:fault name="UpdateConstraintException" use="literal" />
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal" />
      </fault>
    </operation>
    <operation name="setCompatibleServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="ServiceCompatibilityException">
        <soap:fault name="ServiceCompatibilityException" use="literal" />
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
    </operation>
    <operation name="updateService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal" />
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal" />
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
    </operation>
    <operation name="validateTechnicalServiceCommunication">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal" />
      </fault>
    </operation>
    <operation name="getPriceModelLocalization">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
    </operation>
    <operation name="getServiceLocalization">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
    </operation>
    <operation name="savePriceModelLocalization">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
    </operation>
    <operation name="saveServiceLocalization">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
    </operation>
    <operation name="copyService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal" />
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal" />
      </fault>
    </operation>
    <operation name="loadImageForSupplier">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="getPriceModelLicenseTemplateLocalization">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
    </operation>
    <operation name="getSuppliedServices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
    </operation>
    <operation name="getServicesForMarketplace">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
    </operation>
    <operation name="getServicesOfSupplier">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="getCatalogDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
    </operation>
    <operation name="setCatalogDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal" />
      </fault>
    </operation>
    <operation name="getServicesByCriteria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
    </operation>
    <operation name="getRelatedServicesForMarketplace">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
    </operation>
    <operation name="setActivationStates">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal" />
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
      <fault name="ServiceOperationException">
        <soap:fault name="ServiceOperationException" use="literal" />
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal" />
      </fault>
    </operation>
    <operation name="getServiceForMarketplace">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal" />
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="ServiceProvisioningService">
    <port name="ServiceProvisioningServicePort" binding="tns:ServiceProvisioningServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL" />
    </port>
  </service>
</definitions>

