oscm-integrationhelper-unittests/javares/ServiceProvisioningService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://oscm.org/xsd/" xmlns:tns="http://oscm.org/xsd/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ApplicationExceptionBean" type="tns:applicationExceptionBean"/>

  <xs:element name="ConcurrentModificationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="CurrencyException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="DeletionConstraintException" nillable="true" type="tns:deletionConstraintExceptionBean"/>

  <xs:element name="DeletionConstraintExceptionBean" type="tns:deletionConstraintExceptionBean"/>

  <xs:element name="DomainObjectExceptionBean" type="tns:domainObjectExceptionBean"/>

  <xs:element name="ImportException" nillable="true" type="tns:importExceptionBean"/>

  <xs:element name="ImportExceptionBean" type="tns:importExceptionBean"/>

  <xs:element name="NonUniqueBusinessKeyException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="ObjectNotFoundException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="OperationNotPermittedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="OperationPendingException" nillable="true" type="tns:operationPendingExceptionBean"/>

  <xs:element name="OperationPendingExceptionBean" type="tns:operationPendingExceptionBean"/>

  <xs:element name="OrganizationAuthoritiesException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="PaymentInformationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="PriceModelException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ServiceCompatibilityException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ServiceNotPublishedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ServiceOperationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ServiceStateException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="SubscriptionStateException" nillable="true" type="tns:subscriptionStateExceptionBean"/>

  <xs:element name="SubscriptionStateExceptionBean" type="tns:subscriptionStateExceptionBean"/>

  <xs:element name="TechnicalServiceActiveException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="TechnicalServiceMultiSubscriptions" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="TechnicalServiceNotAliveException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="TechnicalServiceOperationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="UnchangeableAllowingOnBehalfActingException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="UpdateConstraintException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="ValidationException" nillable="true" type="tns:validationExceptionBean"/>

  <xs:element name="ValidationExceptionBean" type="tns:validationExceptionBean"/>

  <xs:element name="activateService" type="tns:activateService"/>

  <xs:element name="activateServiceResponse" type="tns:activateServiceResponse"/>

  <xs:element name="copyService" type="tns:copyService"/>

  <xs:element name="copyServiceResponse" type="tns:copyServiceResponse"/>

  <xs:element name="createService" type="tns:createService"/>

  <xs:element name="createServiceResponse" type="tns:createServiceResponse"/>

  <xs:element name="createTechnicalService" type="tns:createTechnicalService"/>

  <xs:element name="createTechnicalServiceResponse" type="tns:createTechnicalServiceResponse"/>

  <xs:element name="deactivateService" type="tns:deactivateService"/>

  <xs:element name="deactivateServiceResponse" type="tns:deactivateServiceResponse"/>

  <xs:element name="deleteService" type="tns:deleteService"/>

  <xs:element name="deleteServiceResponse" type="tns:deleteServiceResponse"/>

  <xs:element name="deleteTechnicalService" type="tns:deleteTechnicalService"/>

  <xs:element name="deleteTechnicalServiceResponse" type="tns:deleteTechnicalServiceResponse"/>

  <xs:element name="exportTechnicalServices" type="tns:exportTechnicalServices"/>

  <xs:element name="exportTechnicalServicesResponse" type="tns:exportTechnicalServicesResponse"/>

  <xs:element name="getAllCustomerSpecificServices" type="tns:getAllCustomerSpecificServices"/>

  <xs:element name="getAllCustomerSpecificServicesResponse" type="tns:getAllCustomerSpecificServicesResponse"/>

  <xs:element name="getCompatibleServices" type="tns:getCompatibleServices"/>

  <xs:element name="getCompatibleServicesResponse" type="tns:getCompatibleServicesResponse"/>

  <xs:element name="getInstanceIdsForSellers" type="tns:getInstanceIdsForSellers"/>

  <xs:element name="getInstanceIdsForSellersResponse" type="tns:getInstanceIdsForSellersResponse"/>

  <xs:element name="getPotentialCompatibleServices" type="tns:getPotentialCompatibleServices"/>

  <xs:element name="getPotentialCompatibleServicesResponse" type="tns:getPotentialCompatibleServicesResponse"/>

  <xs:element name="getPriceModelLicenseTemplateLocalization" type="tns:getPriceModelLicenseTemplateLocalization"/>

  <xs:element name="getPriceModelLicenseTemplateLocalizationResponse" type="tns:getPriceModelLicenseTemplateLocalizationResponse"/>

  <xs:element name="getPriceModelLocalization" type="tns:getPriceModelLocalization"/>

  <xs:element name="getPriceModelLocalizationResponse" type="tns:getPriceModelLocalizationResponse"/>

  <xs:element name="getRelatedServicesForMarketplace" type="tns:getRelatedServicesForMarketplace"/>

  <xs:element name="getRelatedServicesForMarketplaceResponse" type="tns:getRelatedServicesForMarketplaceResponse"/>

  <xs:element name="getServiceDetails" type="tns:getServiceDetails"/>

  <xs:element name="getServiceDetailsResponse" type="tns:getServiceDetailsResponse"/>

  <xs:element name="getServiceForCustomer" type="tns:getServiceForCustomer"/>

  <xs:element name="getServiceForCustomerResponse" type="tns:getServiceForCustomerResponse"/>

  <xs:element name="getServiceForMarketplace" type="tns:getServiceForMarketplace"/>

  <xs:element name="getServiceForMarketplaceResponse" type="tns:getServiceForMarketplaceResponse"/>

  <xs:element name="getServiceForSubscription" type="tns:getServiceForSubscription"/>

  <xs:element name="getServiceForSubscriptionResponse" type="tns:getServiceForSubscriptionResponse"/>

  <xs:element name="getServiceLocalization" type="tns:getServiceLocalization"/>

  <xs:element name="getServiceLocalizationResponse" type="tns:getServiceLocalizationResponse"/>

  <xs:element name="getServiceSeller" type="tns:getServiceSeller"/>

  <xs:element name="getServiceSellerResponse" type="tns:getServiceSellerResponse"/>

  <xs:element name="getServicesForCustomer" type="tns:getServicesForCustomer"/>

  <xs:element name="getServicesForCustomerResponse" type="tns:getServicesForCustomerResponse"/>

  <xs:element name="getServicesForMarketplace" type="tns:getServicesForMarketplace"/>

  <xs:element name="getServicesForMarketplaceResponse" type="tns:getServicesForMarketplaceResponse"/>

  <xs:element name="getSuppliedServices" type="tns:getSuppliedServices"/>

  <xs:element name="getSuppliedServicesResponse" type="tns:getSuppliedServicesResponse"/>

  <xs:element name="getSupportedCurrencies" type="tns:getSupportedCurrencies"/>

  <xs:element name="getSupportedCurrenciesResponse" type="tns:getSupportedCurrenciesResponse"/>

  <xs:element name="getTechnicalServices" type="tns:getTechnicalServices"/>

  <xs:element name="getTechnicalServicesResponse" type="tns:getTechnicalServicesResponse"/>

  <xs:element name="importTechnicalServices" type="tns:importTechnicalServices"/>

  <xs:element name="importTechnicalServicesResponse" type="tns:importTechnicalServicesResponse"/>

  <xs:element name="isPartOfUpgradePath" type="tns:isPartOfUpgradePath"/>

  <xs:element name="isPartOfUpgradePathResponse" type="tns:isPartOfUpgradePathResponse"/>

  <xs:element name="loadImage" type="tns:loadImage"/>

  <xs:element name="loadImageForSupplier" type="tns:loadImageForSupplier"/>

  <xs:element name="loadImageForSupplierResponse" type="tns:loadImageForSupplierResponse"/>

  <xs:element name="loadImageResponse" type="tns:loadImageResponse"/>

  <xs:element name="resumeService" type="tns:resumeService"/>

  <xs:element name="resumeServiceResponse" type="tns:resumeServiceResponse"/>

  <xs:element name="savePriceModel" type="tns:savePriceModel"/>

  <xs:element name="savePriceModelForCustomer" type="tns:savePriceModelForCustomer"/>

  <xs:element name="savePriceModelForCustomerResponse" type="tns:savePriceModelForCustomerResponse"/>

  <xs:element name="savePriceModelForSubscription" type="tns:savePriceModelForSubscription"/>

  <xs:element name="savePriceModelForSubscriptionResponse" type="tns:savePriceModelForSubscriptionResponse"/>

  <xs:element name="savePriceModelLocalization" type="tns:savePriceModelLocalization"/>

  <xs:element name="savePriceModelLocalizationResponse" type="tns:savePriceModelLocalizationResponse"/>

  <xs:element name="savePriceModelResponse" type="tns:savePriceModelResponse"/>

  <xs:element name="saveServiceLocalization" type="tns:saveServiceLocalization"/>

  <xs:element name="saveServiceLocalizationResponse" type="tns:saveServiceLocalizationResponse"/>

  <xs:element name="saveTechnicalServiceLocalization" type="tns:saveTechnicalServiceLocalization"/>

  <xs:element name="saveTechnicalServiceLocalizationResponse" type="tns:saveTechnicalServiceLocalizationResponse"/>

  <xs:element name="setActivationStates" type="tns:setActivationStates"/>

  <xs:element name="setActivationStatesResponse" type="tns:setActivationStatesResponse"/>

  <xs:element name="setCompatibleServices" type="tns:setCompatibleServices"/>

  <xs:element name="setCompatibleServicesResponse" type="tns:setCompatibleServicesResponse"/>

  <xs:element name="statusAllowsDeletion" type="tns:statusAllowsDeletion"/>

  <xs:element name="statusAllowsDeletionResponse" type="tns:statusAllowsDeletionResponse"/>

  <xs:element name="suspendService" type="tns:suspendService"/>

  <xs:element name="suspendServiceResponse" type="tns:suspendServiceResponse"/>

  <xs:element name="updateService" type="tns:updateService"/>

  <xs:element name="updateServiceResponse" type="tns:updateServiceResponse"/>

  <xs:element name="validateTechnicalServiceCommunication" type="tns:validateTechnicalServiceCommunication"/>

  <xs:element name="validateTechnicalServiceCommunicationResponse" type="tns:validateTechnicalServiceCommunicationResponse"/>

  <xs:complexType name="getCompatibleServices">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voService">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="accessType" type="tns:serviceAccessType" minOccurs="0"/>
          <xs:element name="averageRating" type="xs:decimal" minOccurs="0"/>
          <xs:element name="baseURL" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="featureURL" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="numberOfReviews" type="xs:int"/>
          <xs:element name="offeringType" type="tns:offeringType" minOccurs="0"/>
          <xs:element name="parameters" type="tns:voParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="priceModel" type="tns:voPriceModel" minOccurs="0"/>
          <xs:element name="sellerId" type="xs:string" minOccurs="0"/>
          <xs:element name="sellerKey" type="xs:long"/>
          <xs:element name="sellerName" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
          <xs:element name="shortDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:serviceStatus" minOccurs="0"/>
          <xs:element name="tags" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="technicalId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="baseVO" abstract="true">
    <xs:sequence>
      <xs:element name="key" type="xs:long"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurable" type="xs:boolean"/>
          <xs:element name="parameterDefinition" type="tns:voParameterDefinition" minOccurs="0"/>
          <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameterDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurable" type="xs:boolean"/>
          <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="mandatory" type="xs:boolean"/>
          <xs:element name="maxValue" type="xs:long" minOccurs="0"/>
          <xs:element name="minValue" type="xs:long" minOccurs="0"/>
          <xs:element name="modificationType" type="tns:parameterModificationType" minOccurs="0"/>
          <xs:element name="parameterId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterOptions" type="tns:voParameterOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="parameterType" type="tns:parameterType" minOccurs="0"/>
          <xs:element name="valueType" type="tns:parameterValueType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameterOption">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="optionDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="optionId" type="xs:string" minOccurs="0"/>
          <xs:element name="paramDefId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPriceModel">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="chargeable" type="xs:boolean"/>
          <xs:element name="consideredEvents" type="tns:voPricedEvent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="currencyISOCode" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="freePeriod" type="xs:int"/>
          <xs:element name="license" type="xs:string" minOccurs="0"/>
          <xs:element name="oneTimeFee" type="xs:decimal" minOccurs="0"/>
          <xs:element name="period" type="tns:pricingPeriod" minOccurs="0"/>
          <xs:element name="pricePerPeriod" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUserAssignment" type="xs:decimal" minOccurs="0"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="selectedParameters" type="tns:voPricedParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedEvent">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="eventDefinition" type="tns:voEventDefinition" minOccurs="0"/>
          <xs:element name="eventPrice" type="xs:decimal" minOccurs="0"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voEventDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="eventDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="eventId" type="xs:string" minOccurs="0"/>
          <xs:element name="eventType" type="tns:eventType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voSteppedPrice">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="limit" type="xs:long" minOccurs="0"/>
          <xs:element name="price" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedRole">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="role" type="tns:voRoleDefinition" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voRoleDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="roleId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="parameterKey" type="xs:long"/>
          <xs:element name="pricePerSubscription" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricedOptions" type="tns:voPricedOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="voParameterDef" type="tns:voParameterDefinition" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedOption">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="optionId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterOptionKey" type="xs:long"/>
          <xs:element name="pricePerSubscription" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getCompatibleServicesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="applicationExceptionBean">
    <xs:sequence>
      <xs:element name="causeStackTrace" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="messageKey" type="xs:string" minOccurs="0"/>
      <xs:element name="messageParams" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="domainObjectExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="classEnum" type="tns:classEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getServiceForCustomer">
    <xs:sequence>
      <xs:element name="customer" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voOrganization">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="address" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="discount" type="tns:voDiscount" minOccurs="0"/>
          <xs:element name="distinguishedName" type="xs:string" minOccurs="0"/>
          <xs:element name="domicileCountry" type="xs:string" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="imageDefined" type="xs:boolean"/>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="nameSpace" type="xs:string" minOccurs="0"/>
          <xs:element name="organizationId" type="xs:string" minOccurs="0"/>
          <xs:element name="phone" type="xs:string" minOccurs="0"/>
          <xs:element name="supportEmail" type="xs:string" minOccurs="0"/>
          <xs:element name="url" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voDiscount">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="endTime" type="xs:long" minOccurs="0"/>
          <xs:element name="startTime" type="xs:long" minOccurs="0"/>
          <xs:element name="value" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getServiceForCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voServiceDetails">
    <xs:complexContent>
      <xs:extension base="tns:voService">
        <xs:sequence>
          <xs:element name="imageDefined" type="xs:boolean"/>
          <xs:element name="technicalService" type="tns:voTechnicalService" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voTechnicalService">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="accessInfo" type="xs:string" minOccurs="0"/>
          <xs:element name="accessType" type="tns:serviceAccessType" minOccurs="0"/>
          <xs:element name="baseUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="eventDefinitions" type="tns:voEventDefinition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="license" type="xs:string" minOccurs="0"/>
          <xs:element name="loginPath" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterDefinitions" type="tns:voParameterDefinition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="provisioningUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="provisioningVersion" type="xs:string" minOccurs="0"/>
          <xs:element name="roleDefinitions" type="tns:voRoleDefinition" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="tags" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="technicalServiceBuildId" type="xs:string" minOccurs="0"/>
          <xs:element name="technicalServiceDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="technicalServiceId" type="xs:string" minOccurs="0"/>
          <xs:element name="technicalServiceOperations" type="tns:voTechnicalServiceOperation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voTechnicalServiceOperation">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="operationDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="operationId" type="xs:string" minOccurs="0"/>
          <xs:element name="operationName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getPriceModelLicenseTemplateLocalization">
    <xs:sequence>
      <xs:element name="service" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPriceModelLicenseTemplateLocalizationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voLocalizedText" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voLocalizedText">
    <xs:sequence>
      <xs:element name="locale" type="xs:string" minOccurs="0"/>
      <xs:element name="text" type="xs:string" minOccurs="0"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loadImageForSupplier">
    <xs:sequence>
      <xs:element name="serviceId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="supplierId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loadImageForSupplierResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voImageResource" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voImageResource">
    <xs:sequence>
      <xs:element name="buffer" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="contentType" type="xs:string" minOccurs="0"/>
      <xs:element name="imageType" type="tns:imageType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePriceModel">
    <xs:sequence>
      <xs:element name="service" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
      <xs:element name="priceModel" type="tns:voPriceModel" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePriceModelResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validationExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="member" type="xs:string" minOccurs="0"/>
          <xs:element name="reason" type="tns:reasonEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="saveServiceLocalization">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
      <xs:element name="localization" type="tns:voServiceLocalization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voServiceLocalization">
    <xs:sequence>
      <xs:element name="descriptions" type="tns:voLocalizedText" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="names" type="tns:voLocalizedText" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="shortDescriptions" type="tns:voLocalizedText" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveServiceLocalizationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="importTechnicalServices">
    <xs:sequence>
      <xs:element name="xml" type="xs:base64Binary" form="unqualified" nillable="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="importTechnicalServicesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="importExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="details" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getAllCustomerSpecificServices">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllCustomerSpecificServicesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voCustomerService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voCustomerService">
    <xs:complexContent>
      <xs:extension base="tns:voService">
        <xs:sequence>
          <xs:element name="organizationId" type="xs:string" minOccurs="0"/>
          <xs:element name="organizationKey" type="xs:long" minOccurs="0"/>
          <xs:element name="organizationName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getInstanceIdsForSellers">
    <xs:sequence>
      <xs:element name="organizationIds" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInstanceIdsForSellersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServicesForCustomer">
    <xs:sequence>
      <xs:element name="customer" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServicesForCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceForMarketplace">
    <xs:sequence>
      <xs:element name="serviceKey" type="xs:long" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="locale" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceForMarketplaceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceEntry" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voServiceEntry">
    <xs:complexContent>
      <xs:extension base="tns:voService">
        <xs:sequence>
          <xs:element name="subscriptionLimitReached" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="suspendService">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
      <xs:element name="reason" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="suspendServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceLocalization">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceLocalizationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceLocalization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resumeService">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="resumeServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deactivateService">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deactivateServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="operationPendingExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="reason" type="tns:OperationPendingException.ReasonEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getServicesForMarketplace">
    <xs:sequence>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServicesForMarketplaceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSupportedCurrencies">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getSupportedCurrenciesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePriceModelForSubscription">
    <xs:sequence>
      <xs:element name="service" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
      <xs:element name="priceModel" type="tns:voPriceModel" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePriceModelForSubscriptionResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subscriptionStateExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="member" type="xs:string" minOccurs="0"/>
          <xs:element name="reason" type="tns:SubscriptionStateException.Reason" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getSuppliedServices">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getSuppliedServicesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceForSubscription">
    <xs:sequence>
      <xs:element name="customer" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceForSubscriptionResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveTechnicalServiceLocalization">
    <xs:sequence>
      <xs:element name="technicalService" type="tns:voTechnicalService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveTechnicalServiceLocalizationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="exportTechnicalServices">
    <xs:sequence>
      <xs:element name="technicalServices" type="tns:voTechnicalService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exportTechnicalServicesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:base64Binary" form="unqualified" nillable="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setActivationStates">
    <xs:sequence>
      <xs:element name="activations" type="tns:voServiceActivation" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voServiceActivation">
    <xs:sequence>
      <xs:element name="active" type="xs:boolean"/>
      <xs:element name="catalogEntries" type="tns:voCatalogEntry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="service" type="tns:voService" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voCatalogEntry">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="anonymousVisible" type="xs:boolean"/>
          <xs:element name="categories" type="tns:voCategory" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="marketplace" type="tns:voMarketplace" minOccurs="0"/>
          <xs:element name="service" type="tns:voService" minOccurs="0"/>
          <xs:element name="visibleInCatalog" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voCategory">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="categoryId" type="xs:string" minOccurs="0"/>
          <xs:element name="marketplaceId" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voMarketplace">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="categoriesEnabled" type="xs:boolean"/>
          <xs:element name="marketplaceId" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="open" type="xs:boolean"/>
          <xs:element name="owningOrganizationId" type="xs:string" minOccurs="0"/>
          <xs:element name="owningOrganizationName" type="xs:string" minOccurs="0"/>
          <xs:element name="reviewEnabled" type="xs:boolean"/>
          <xs:element name="taggingEnabled" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="setActivationStatesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePriceModelLocalization">
    <xs:sequence>
      <xs:element name="priceModel" type="tns:voPriceModel" form="unqualified" minOccurs="0"/>
      <xs:element name="localization" type="tns:voPriceModelLocalization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voPriceModelLocalization">
    <xs:sequence>
      <xs:element name="descriptions" type="tns:voLocalizedText" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="licenses" type="tns:voLocalizedText" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePriceModelLocalizationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="deleteService">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteServiceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getPotentialCompatibleServices">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPotentialCompatibleServicesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voCompatibleService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voCompatibleService">
    <xs:complexContent>
      <xs:extension base="tns:voService">
        <xs:sequence>
          <xs:element name="compatible" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="validateTechnicalServiceCommunication">
    <xs:sequence>
      <xs:element name="technicalService" type="tns:voTechnicalService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateTechnicalServiceCommunicationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateService">
    <xs:sequence>
      <xs:element name="service" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
      <xs:element name="imageResource" type="tns:voImageResource" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createService">
    <xs:sequence>
      <xs:element name="technicalService" type="tns:voTechnicalService" form="unqualified" minOccurs="0"/>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
      <xs:element name="imageResource" type="tns:voImageResource" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTechnicalServices">
    <xs:sequence>
      <xs:element name="role" type="tns:organizationRoleType" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTechnicalServicesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voTechnicalService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePriceModelForCustomer">
    <xs:sequence>
      <xs:element name="service" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
      <xs:element name="priceModel" type="tns:voPriceModel" form="unqualified" minOccurs="0"/>
      <xs:element name="customer" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="savePriceModelForCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="statusAllowsDeletion">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="statusAllowsDeletionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceSeller">
    <xs:sequence>
      <xs:element name="serviceKey" type="xs:long" form="unqualified"/>
      <xs:element name="locale" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceSellerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRelatedServicesForMarketplace">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="locale" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRelatedServicesForMarketplaceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPriceModelLocalization">
    <xs:sequence>
      <xs:element name="priceModel" type="tns:voPriceModel" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPriceModelLocalizationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voPriceModelLocalization" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="activateService">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="activateServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteTechnicalService">
    <xs:sequence>
      <xs:element name="technicalService" type="tns:voTechnicalService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteTechnicalServiceResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="deletionConstraintExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:domainObjectExceptionBean">
        <xs:sequence>
          <xs:element name="dependentClassEnum" type="tns:classEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="createTechnicalService">
    <xs:sequence>
      <xs:element name="technicalService" type="tns:voTechnicalService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createTechnicalServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voTechnicalService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loadImage">
    <xs:sequence>
      <xs:element name="serviceKey" type="xs:long" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loadImageResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voImageResource" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="isPartOfUpgradePath">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="isPartOfUpgradePathResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceDetails">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="copyService">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
      <xs:element name="serviceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="copyServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setCompatibleServices">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
      <xs:element name="compatibleServices" type="tns:voService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setCompatibleServicesResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:simpleType name="serviceAccessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOGIN"/>
      <xs:enumeration value="DIRECT"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="EXTERNAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="offeringType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BROKER"/>
      <xs:enumeration value="RESELLER"/>
      <xs:enumeration value="DIRECT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterModificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STANDARD"/>
      <xs:enumeration value="ONE_TIME"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLATFORM_PARAMETER"/>
      <xs:enumeration value="SERVICE_PARAMETER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="DURATION"/>
      <xs:enumeration value="ENUMERATION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVICE_EVENT"/>
      <xs:enumeration value="PLATFORM_EVENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pricingPeriod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MONTH"/>
      <xs:enumeration value="WEEK"/>
      <xs:enumeration value="DAY"/>
      <xs:enumeration value="HOUR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="serviceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="OBSOLETE"/>
      <xs:enumeration value="DELETED"/>
      <xs:enumeration value="INACTIVE"/>
      <xs:enumeration value="SUSPENDED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="classEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORGANIZATION"/>
      <xs:enumeration value="SERVICE"/>
      <xs:enumeration value="SUBSCRIPTION"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="PAYMENT_INFO"/>
      <xs:enumeration value="TECHNICAL_SERVICE"/>
      <xs:enumeration value="ORGANIZATION_ROLE"/>
      <xs:enumeration value="PARAMETER_DEFINITION"/>
      <xs:enumeration value="PARAMETER"/>
      <xs:enumeration value="PRICED_PARAMETER"/>
      <xs:enumeration value="REPORT"/>
      <xs:enumeration value="EVENT"/>
      <xs:enumeration value="PAYMENT_TYPE"/>
      <xs:enumeration value="SUPPORTED_CURRENCY"/>
      <xs:enumeration value="UDA_DEFINITION"/>
      <xs:enumeration value="UDA"/>
      <xs:enumeration value="ORGANIZATION_TO_COUNTRY"/>
      <xs:enumeration value="SUPPORTED_COUNTRY"/>
      <xs:enumeration value="VAT_RATES"/>
      <xs:enumeration value="ORGANIZATION_REFERENCE"/>
      <xs:enumeration value="MARKETPLACE"/>
      <xs:enumeration value="TRIGGER_DEFINITION"/>
      <xs:enumeration value="TRIGGER_PROCESS"/>
      <xs:enumeration value="TAG"/>
      <xs:enumeration value="TECHNICAL_SERVICE_TAG"/>
      <xs:enumeration value="USER_ROLE"/>
      <xs:enumeration value="PRODUCT_REVIEW"/>
      <xs:enumeration value="BILLING_CONTACT"/>
      <xs:enumeration value="MARKETPLACE_TO_ORGANIZATION"/>
      <xs:enumeration value="SUBSCRIPTION_TO_MARKETPLACE"/>
      <xs:enumeration value="PRODUCT_TO_PAYMENTTYPE"/>
      <xs:enumeration value="PSP"/>
      <xs:enumeration value="CATEGORY"/>
      <xs:enumeration value="MARKETING_PERMISSION"/>
      <xs:enumeration value="REPORT_RESULT_CACHE"/>
      <xs:enumeration value="ORGANIZATION_SETTING"/>
      <xs:enumeration value="PLATFORM_SETTING"/>
      <xs:enumeration value="LOCALIZED_RESOURCE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="imageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORGANIZATION_IMAGE"/>
      <xs:enumeration value="SHOP_LOGO_BACKGROUND"/>
      <xs:enumeration value="SHOP_LOGO_LEFT"/>
      <xs:enumeration value="SHOP_LOGO_RIGHT"/>
      <xs:enumeration value="SERVICE_IMAGE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="reasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMAIL"/>
      <xs:enumeration value="LENGTH"/>
      <xs:enumeration value="LENGTH_TEXT"/>
      <xs:enumeration value="REQUIRED"/>
      <xs:enumeration value="SECURITY_INFO"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="ID_CHAR"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="POSITIVE_NUMBER"/>
      <xs:enumeration value="DURATION"/>
      <xs:enumeration value="EMPTY_VALUE"/>
      <xs:enumeration value="CSS_COLOR"/>
      <xs:enumeration value="CSS_VALUE"/>
      <xs:enumeration value="URL"/>
      <xs:enumeration value="RELATIVE_URL"/>
      <xs:enumeration value="LDAP_CONNECTION_REFUSED"/>
      <xs:enumeration value="LDAP_USER_NOT_FOUND"/>
      <xs:enumeration value="LDAP_USER_NOT_UNIQUE"/>
      <xs:enumeration value="LDAP_CREATED_ID_INVALID"/>
      <xs:enumeration value="LDAP_VALUE_MISMATCH"/>
      <xs:enumeration value="LDAP_BASE_DN_INVALID"/>
      <xs:enumeration value="LDAP_MANDATORY_PROPERTY_MISSING"/>
      <xs:enumeration value="LDAP_INVALID_PLATFORM_PROPERTY"/>
      <xs:enumeration value="ENUMERATION"/>
      <xs:enumeration value="VALUE_NOT_IN_RANGE"/>
      <xs:enumeration value="INVALID_REFERENCE"/>
      <xs:enumeration value="STEPPED_PRICING"/>
      <xs:enumeration value="STEPPED_PRICING_DUPLICATE_LIMIT"/>
      <xs:enumeration value="DUPLICATE_VALUE"/>
      <xs:enumeration value="DUPLICATE_CATALOG_POSITION"/>
      <xs:enumeration value="DUPLICATE_PSP_ACCOUNT"/>
      <xs:enumeration value="PRICED_PARAM_WRONG_BASE"/>
      <xs:enumeration value="COUNTRY_NOT_SUPPORTED"/>
      <xs:enumeration value="VAT"/>
      <xs:enumeration value="VAT_NOT_SUPPORTED"/>
      <xs:enumeration value="DECIMAL"/>
      <xs:enumeration value="DIRECT_ACCESS_USER_PRICE"/>
      <xs:enumeration value="INVALID_NUMBER_TARGET_CATALOG_ENTRIES"/>
      <xs:enumeration value="INVALID_CHAR"/>
      <xs:enumeration value="IMAGE_TYPE"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_SMALL"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_BIG"/>
      <xs:enumeration value="TAGS_MAX_COUNT"/>
      <xs:enumeration value="RATING_REQUIRED"/>
      <xs:enumeration value="INVALID_LOCALE"/>
      <xs:enumeration value="USER_OPERATION_LOG_ENTITY_TYPE"/>
      <xs:enumeration value="INVALID_CONFIGURATION_SETTING"/>
      <xs:enumeration value="EXTERNAL_SERVICE_MUST_BE_FREE_OF_CHARGE"/>
      <xs:enumeration value="FILE_IMPORT_FAILED"/>
      <xs:enumeration value="MIN_LENGTH"/>
      <xs:enumeration value="INVALID_CURRENCY"/>
      <xs:enumeration value="TRIGGER_TYPE_SUPPORTS_NO_PROCESS_SUSPENDING"/>
      <xs:enumeration value="TRIGGER_TYPE_NOT_ALLOWED"/>
      <xs:enumeration value="ONE_OF_PARTNER_REVENUE_SHARE_MANDATORY"/>
      <xs:enumeration value="ONE_TIME_PARAMETER_NOT_ALLOWED"/>
      <xs:enumeration value="SCALE_TO_LONG"/>
      <xs:enumeration value="INVALID_DATE_RANGE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OperationPendingException.ReasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVATE_SERVICE"/>
      <xs:enumeration value="DEACTIVATE_SERVICE"/>
      <xs:enumeration value="ADD_REVOKE_USER"/>
      <xs:enumeration value="MODIFY_SUBSCRIPTION"/>
      <xs:enumeration value="REGISTER_CUSTOMER_FOR_SUPPLIER"/>
      <xs:enumeration value="SAVE_PAYMENT_CONFIGURATION"/>
      <xs:enumeration value="SUBSCRIBE_TO_SERVICE"/>
      <xs:enumeration value="UNSUBSCRIBE_FROM_SERVICE"/>
      <xs:enumeration value="UPGRADE_SUBSCRIPTION"/>
      <xs:enumeration value="REGISTER_USER_IN_OWN_ORGANIZATION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SubscriptionStateException.Reason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INVALID"/>
      <xs:enumeration value="PENDING"/>
      <xs:enumeration value="ONLY_PENDING"/>
      <xs:enumeration value="ONLY_ACTIVE"/>
      <xs:enumeration value="SUBSCRIPTION_STATE_CHANGED"/>
      <xs:enumeration value="SUBSCRIPTION_INVALID_STATE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="organizationRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MARKETPLACE_OWNER"/>
      <xs:enumeration value="PLATFORM_OPERATOR"/>
      <xs:enumeration value="TECHNOLOGY_PROVIDER"/>
      <xs:enumeration value="SUPPLIER"/>
      <xs:enumeration value="CUSTOMER"/>
      <xs:enumeration value="BROKER"/>
      <xs:enumeration value="RESELLER"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

