oscm-integrationtests-apiversioning-test-client/javares/WSDL/BillingService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="BillingService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="BillingService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getCustomerBillingData">
    <part name="parameters" element="tns:getCustomerBillingData"/>
  </message>
  <message name="getCustomerBillingDataResponse">
    <part name="parameters" element="tns:getCustomerBillingDataResponse"/>
  </message>
  <message name="OrganizationAuthoritiesException">
    <part name="fault" element="tns:OrganizationAuthoritiesException"/>
  </message>
  <message name="getRevenueShareData">
    <part name="parameters" element="tns:getRevenueShareData"/>
  </message>
  <message name="getRevenueShareDataResponse">
    <part name="parameters" element="tns:getRevenueShareDataResponse"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <portType name="BillingService">
    <operation name="getCustomerBillingData">
      <input wsam:Action="http://oscm.org/xsd/BillingService/getCustomerBillingDataRequest" message="tns:getCustomerBillingData"/>
      <output wsam:Action="http://oscm.org/xsd/BillingService/getCustomerBillingDataResponse" message="tns:getCustomerBillingDataResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/BillingService/getCustomerBillingData/Fault/OrganizationAuthoritiesException"/>
    </operation>
    <operation name="getRevenueShareData">
      <input wsam:Action="http://oscm.org/xsd/BillingService/getRevenueShareDataRequest" message="tns:getRevenueShareData"/>
      <output wsam:Action="http://oscm.org/xsd/BillingService/getRevenueShareDataResponse" message="tns:getRevenueShareDataResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/BillingService/getRevenueShareData/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/BillingService/getRevenueShareData/Fault/OperationNotPermittedException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/BillingService/getRevenueShareData/Fault/ValidationException"/>
    </operation>
  </portType>
  <binding name="BillingServicePortBinding" type="tns:BillingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getCustomerBillingData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRevenueShareData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BillingService">
    <port name="BillingServicePort" binding="tns:BillingServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

