oscm-integrationtests-apiversioning-test-client/javares/WSDL/DiscountService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="DiscountService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="DiscountService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getDiscountForService">
    <part name="parameters" element="tns:getDiscountForService"/>
  </message>
  <message name="getDiscountForServiceResponse">
    <part name="parameters" element="tns:getDiscountForServiceResponse"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="getDiscountForCustomer">
    <part name="parameters" element="tns:getDiscountForCustomer"/>
  </message>
  <message name="getDiscountForCustomerResponse">
    <part name="parameters" element="tns:getDiscountForCustomerResponse"/>
  </message>
  <portType name="DiscountService">
    <operation name="getDiscountForService">
      <input wsam:Action="http://oscm.org/xsd/DiscountService/getDiscountForServiceRequest" message="tns:getDiscountForService"/>
      <output wsam:Action="http://oscm.org/xsd/DiscountService/getDiscountForServiceResponse" message="tns:getDiscountForServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/DiscountService/getDiscountForService/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="getDiscountForCustomer">
      <input wsam:Action="http://oscm.org/xsd/DiscountService/getDiscountForCustomerRequest" message="tns:getDiscountForCustomer"/>
      <output wsam:Action="http://oscm.org/xsd/DiscountService/getDiscountForCustomerResponse" message="tns:getDiscountForCustomerResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/DiscountService/getDiscountForCustomer/Fault/ObjectNotFoundException"/>
    </operation>
  </portType>
  <binding name="DiscountServicePortBinding" type="tns:DiscountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getDiscountForService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDiscountForCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="DiscountService">
    <port name="DiscountServicePort" binding="tns:DiscountServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

