oscm-integrationtests-apiversioning-test-client/javares/WSDL/EventService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="EventService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="EventService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="recordEventForSubscription">
    <part name="parameters" element="tns:recordEventForSubscription"/>
  </message>
  <message name="recordEventForSubscriptionResponse">
    <part name="parameters" element="tns:recordEventForSubscriptionResponse"/>
  </message>
  <message name="DuplicateEventException">
    <part name="fault" element="tns:DuplicateEventException"/>
  </message>
  <message name="OrganizationAuthoritiesException">
    <part name="fault" element="tns:OrganizationAuthoritiesException"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <message name="recordEventForInstance">
    <part name="parameters" element="tns:recordEventForInstance"/>
  </message>
  <message name="recordEventForInstanceResponse">
    <part name="parameters" element="tns:recordEventForInstanceResponse"/>
  </message>
  <portType name="EventService">
    <operation name="recordEventForSubscription">
      <input wsam:Action="http://oscm.org/xsd/EventService/recordEventForSubscriptionRequest" message="tns:recordEventForSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/EventService/recordEventForSubscriptionResponse" message="tns:recordEventForSubscriptionResponse"/>
      <fault message="tns:DuplicateEventException" name="DuplicateEventException" wsam:Action="http://oscm.org/xsd/EventService/recordEventForSubscription/Fault/DuplicateEventException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/EventService/recordEventForSubscription/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/EventService/recordEventForSubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/EventService/recordEventForSubscription/Fault/ValidationException"/>
    </operation>
    <operation name="recordEventForInstance">
      <input wsam:Action="http://oscm.org/xsd/EventService/recordEventForInstanceRequest" message="tns:recordEventForInstance"/>
      <output wsam:Action="http://oscm.org/xsd/EventService/recordEventForInstanceResponse" message="tns:recordEventForInstanceResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/EventService/recordEventForInstance/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:DuplicateEventException" name="DuplicateEventException" wsam:Action="http://oscm.org/xsd/EventService/recordEventForInstance/Fault/DuplicateEventException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/EventService/recordEventForInstance/Fault/ObjectNotFoundException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/EventService/recordEventForInstance/Fault/ValidationException"/>
    </operation>
  </portType>
  <binding name="EventServicePortBinding" type="tns:EventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="recordEventForSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DuplicateEventException">
        <soap:fault name="DuplicateEventException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="recordEventForInstance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="DuplicateEventException">
        <soap:fault name="DuplicateEventException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EventService">
    <port name="EventServicePort" binding="tns:EventServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

