oscm-integrationtests-apiversioning-test-client/javares/WSDL/IdentityService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ApplicationExceptionBean" type="tns:applicationExceptionBean"/>

  <xs:element name="BulkUserImportException" nillable="true" type="tns:bulkUserImportExceptionBean"/>

  <xs:element name="BulkUserImportExceptionBean" type="tns:bulkUserImportExceptionBean"/>

  <xs:element name="ConcurrentModificationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="DomainObjectExceptionBean" type="tns:domainObjectExceptionBean"/>

  <xs:element name="MailOperationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="NonUniqueBusinessKeyException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="ObjectNotFoundException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="OperationNotPermittedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="OperationPendingException" nillable="true" type="tns:operationPendingExceptionBean"/>

  <xs:element name="OperationPendingExceptionBean" type="tns:operationPendingExceptionBean"/>

  <xs:element name="OrganizationRemovedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="SecurityCheckException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="TechnicalServiceNotAliveException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="TechnicalServiceOperationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="UserActiveException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="UserDeletionConstraintException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="UserModificationConstraintException" nillable="true" type="tns:userModificationConstraintExceptionBean"/>

  <xs:element name="UserModificationConstraintExceptionBean" type="tns:userModificationConstraintExceptionBean"/>

  <xs:element name="UserRoleAssignmentException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ValidationException" nillable="true" type="tns:validationExceptionBean"/>

  <xs:element name="ValidationExceptionBean" type="tns:validationExceptionBean"/>

  <xs:element name="addRevokeUserGroupAssignment" type="tns:addRevokeUserGroupAssignment"/>

  <xs:element name="addRevokeUserGroupAssignmentResponse" type="tns:addRevokeUserGroupAssignmentResponse"/>

  <xs:element name="changePassword" type="tns:changePassword"/>

  <xs:element name="changePasswordResponse" type="tns:changePasswordResponse"/>

  <xs:element name="cleanUpCurrentUser" type="tns:cleanUpCurrentUser"/>

  <xs:element name="cleanUpCurrentUserResponse" type="tns:cleanUpCurrentUserResponse"/>

  <xs:element name="confirmAccount" type="tns:confirmAccount"/>

  <xs:element name="confirmAccountResponse" type="tns:confirmAccountResponse"/>

  <xs:element name="createOnBehalfUser" type="tns:createOnBehalfUser"/>

  <xs:element name="createOnBehalfUserResponse" type="tns:createOnBehalfUserResponse"/>

  <xs:element name="createUser" type="tns:createUser"/>

  <xs:element name="createUserResponse" type="tns:createUserResponse"/>

  <xs:element name="deleteUser" type="tns:deleteUser"/>

  <xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>

  <xs:element name="getAvailableUserRoles" type="tns:getAvailableUserRoles"/>

  <xs:element name="getAvailableUserRolesResponse" type="tns:getAvailableUserRolesResponse"/>

  <xs:element name="getCurrentUserDetails" type="tns:getCurrentUserDetails"/>

  <xs:element name="getCurrentUserDetailsIfPresent" type="tns:getCurrentUserDetailsIfPresent"/>

  <xs:element name="getCurrentUserDetailsIfPresentResponse" type="tns:getCurrentUserDetailsIfPresentResponse"/>

  <xs:element name="getCurrentUserDetailsResponse" type="tns:getCurrentUserDetailsResponse"/>

  <xs:element name="getUser" type="tns:getUser"/>

  <xs:element name="getUserDetails" type="tns:getUserDetails"/>

  <xs:element name="getUserDetailsResponse" type="tns:getUserDetailsResponse"/>

  <xs:element name="getUserResponse" type="tns:getUserResponse"/>

  <xs:element name="getUsersForOrganization" type="tns:getUsersForOrganization"/>

  <xs:element name="getUsersForOrganizationResponse" type="tns:getUsersForOrganizationResponse"/>

  <xs:element name="grantUserRoles" type="tns:grantUserRoles"/>

  <xs:element name="grantUserRolesResponse" type="tns:grantUserRolesResponse"/>

  <xs:element name="importLdapUsers" type="tns:importLdapUsers"/>

  <xs:element name="importLdapUsersResponse" type="tns:importLdapUsersResponse"/>

  <xs:element name="importUsers" type="tns:importUsers"/>

  <xs:element name="importUsersInOwnOrganization" type="tns:importUsersInOwnOrganization"/>

  <xs:element name="importUsersInOwnOrganizationResponse" type="tns:importUsersInOwnOrganizationResponse"/>

  <xs:element name="importUsersResponse" type="tns:importUsersResponse"/>

  <xs:element name="lockUserAccount" type="tns:lockUserAccount"/>

  <xs:element name="lockUserAccountResponse" type="tns:lockUserAccountResponse"/>

  <xs:element name="notifyOnLoginAttempt" type="tns:notifyOnLoginAttempt"/>

  <xs:element name="notifyOnLoginAttemptResponse" type="tns:notifyOnLoginAttemptResponse"/>

  <xs:element name="refreshLdapUser" type="tns:refreshLdapUser"/>

  <xs:element name="refreshLdapUserResponse" type="tns:refreshLdapUserResponse"/>

  <xs:element name="requestResetOfUserPassword" type="tns:requestResetOfUserPassword"/>

  <xs:element name="requestResetOfUserPasswordResponse" type="tns:requestResetOfUserPasswordResponse"/>

  <xs:element name="revokeUserRoles" type="tns:revokeUserRoles"/>

  <xs:element name="revokeUserRolesResponse" type="tns:revokeUserRolesResponse"/>

  <xs:element name="searchLdapUsers" type="tns:searchLdapUsers"/>

  <xs:element name="searchLdapUsersResponse" type="tns:searchLdapUsersResponse"/>

  <xs:element name="sendAccounts" type="tns:sendAccounts"/>

  <xs:element name="sendAccountsResponse" type="tns:sendAccountsResponse"/>

  <xs:element name="setUserRoles" type="tns:setUserRoles"/>

  <xs:element name="setUserRolesResponse" type="tns:setUserRolesResponse"/>

  <xs:element name="unlockUserAccount" type="tns:unlockUserAccount"/>

  <xs:element name="unlockUserAccountResponse" type="tns:unlockUserAccountResponse"/>

  <xs:element name="updateUser" type="tns:updateUser"/>

  <xs:element name="updateUserResponse" type="tns:updateUserResponse"/>

  <xs:complexType name="getUsersForOrganization">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getUsersForOrganizationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUserDetails" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voUserDetails">
    <xs:complexContent>
      <xs:extension base="tns:voUser">
        <xs:sequence>
          <xs:element name="additionalName" type="xs:string" minOccurs="0"/>
          <xs:element name="address" type="xs:string" minOccurs="0"/>
          <xs:element name="EMail" type="xs:string" minOccurs="0"/>
          <xs:element name="firstName" type="xs:string" minOccurs="0"/>
          <xs:element name="lastName" type="xs:string" minOccurs="0"/>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
          <xs:element name="phone" type="xs:string" minOccurs="0"/>
          <xs:element name="realmUserId" type="xs:string" minOccurs="0"/>
          <xs:element name="remoteLdapActive" type="xs:boolean"/>
          <xs:element name="remoteLdapAttributes" type="tns:settingType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="salutation" type="tns:salutation" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voUser">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="organization_Id" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:userAccountStatus" minOccurs="0"/>
          <xs:element name="userId" type="xs:string" minOccurs="0"/>
          <xs:element name="userName" type="xs:string" minOccurs="0"/>
          <xs:element name="userRoles" type="tns:userRoleType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="baseVO" abstract="true">
    <xs:sequence>
      <xs:element name="key" type="xs:long"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grantUserRoles">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
      <xs:element name="roles" type="tns:userRoleType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grantUserRolesResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="domainObjectExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="classEnum" type="tns:classEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="applicationExceptionBean">
    <xs:sequence>
      <xs:element name="causeStackTrace" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="messageKey" type="xs:string" minOccurs="0"/>
      <xs:element name="messageParams" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentUserDetails">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCurrentUserDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUserDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserDetails">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUserDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cleanUpCurrentUser">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="cleanUpCurrentUserResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="sendAccounts">
    <xs:sequence>
      <xs:element name="email" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sendAccountsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="validationExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="member" type="xs:string" minOccurs="0"/>
          <xs:element name="reason" type="tns:reasonEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="importUsersInOwnOrganization">
    <xs:sequence>
      <xs:element name="csvData" type="xs:base64Binary" form="unqualified" nillable="true" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="addNewParameter" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="importUsersInOwnOrganizationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="bulkUserImportExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="reason" type="tns:BulkUserImportException.Reason" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getAvailableUserRoles">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAvailableUserRolesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:userRoleType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="unlockUserAccount">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="unlockUserAccountResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="confirmAccount">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="confirmAccountResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="refreshLdapUser">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="refreshLdapUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lockUserAccount">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
      <xs:element name="newStatus" type="tns:userAccountStatus" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lockUserAccountResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="requestResetOfUserPassword">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestResetOfUserPasswordResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="searchLdapUsers">
    <xs:sequence>
      <xs:element name="userIdPattern" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchLdapUsersResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUserDetails" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addRevokeUserGroupAssignment">
    <xs:sequence>
      <xs:element name="usersToBeAdded" type="tns:voUser" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="usersToBeRevoked" type="tns:voUser" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addRevokeUserGroupAssignmentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCurrentUserDetailsIfPresent">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCurrentUserDetailsIfPresentResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUserDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createOnBehalfUser">
    <xs:sequence>
      <xs:element name="organizationId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="password" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createOnBehalfUserResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUserDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="importLdapUsers">
    <xs:sequence>
      <xs:element name="users" type="tns:voUserDetails" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="importLdapUsersResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="setUserRoles">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
      <xs:element name="roles" type="tns:userRoleType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setUserRolesResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="userModificationConstraintExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="reason" type="tns:reason" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getUser">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUser" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="changePassword">
    <xs:sequence>
      <xs:element name="oldPassword" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="newPassword" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="changePasswordResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element name="user" type="tns:voUserDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateUserResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUserDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notifyOnLoginAttempt">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
      <xs:element name="attemptSuccessful" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notifyOnLoginAttemptResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="deleteUser">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteUserResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="revokeUserRoles">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
      <xs:element name="roles" type="tns:userRoleType" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="revokeUserRolesResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="importUsers">
    <xs:sequence>
      <xs:element name="csvData" type="xs:base64Binary" form="unqualified" nillable="true" minOccurs="0"/>
      <xs:element name="organization_Id" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="importUsersResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="createUser">
    <xs:sequence>
      <xs:element name="user" type="tns:voUserDetails" form="unqualified" minOccurs="0"/>
      <xs:element name="roles" type="tns:userRoleType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createUserResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUserDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="operationPendingExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="reason" type="tns:OperationPendingException.ReasonEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="settingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LDAP_BASE_DN"/>
      <xs:enumeration value="LDAP_CONTEXT_FACTORY"/>
      <xs:enumeration value="LDAP_CREDENTIALS"/>
      <xs:enumeration value="LDAP_PRINCIPAL"/>
      <xs:enumeration value="LDAP_URL"/>
      <xs:enumeration value="LDAP_ATTR_ADDITIONAL_NAME"/>
      <xs:enumeration value="LDAP_ATTR_EMAIL"/>
      <xs:enumeration value="LDAP_ATTR_FIRST_NAME"/>
      <xs:enumeration value="LDAP_ATTR_LAST_NAME"/>
      <xs:enumeration value="LDAP_ATTR_LOCALE"/>
      <xs:enumeration value="LDAP_ATTR_UID"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="salutation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MR"/>
      <xs:enumeration value="MS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userAccountStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="PASSWORD_MUST_BE_CHANGED"/>
      <xs:enumeration value="LOCKED_NOT_CONFIRMED"/>
      <xs:enumeration value="LOCKED_FAILED_LOGIN_ATTEMPTS"/>
      <xs:enumeration value="LOCKED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVICE_MANAGER"/>
      <xs:enumeration value="TECHNOLOGY_MANAGER"/>
      <xs:enumeration value="ORGANIZATION_ADMIN"/>
      <xs:enumeration value="PLATFORM_OPERATOR"/>
      <xs:enumeration value="MARKETPLACE_OWNER"/>
      <xs:enumeration value="BROKER_MANAGER"/>
      <xs:enumeration value="RESELLER_MANAGER"/>
      <xs:enumeration value="SUBSCRIPTION_MANAGER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="classEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORGANIZATION"/>
      <xs:enumeration value="SERVICE"/>
      <xs:enumeration value="SUBSCRIPTION"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="PAYMENT_INFO"/>
      <xs:enumeration value="TECHNICAL_SERVICE"/>
      <xs:enumeration value="ORGANIZATION_ROLE"/>
      <xs:enumeration value="PARAMETER_DEFINITION"/>
      <xs:enumeration value="PARAMETER_OPTION"/>
      <xs:enumeration value="PARAMETER"/>
      <xs:enumeration value="PRICED_PARAMETER"/>
      <xs:enumeration value="REPORT"/>
      <xs:enumeration value="EVENT"/>
      <xs:enumeration value="ROLE_DEFINITION"/>
      <xs:enumeration value="TECHNICAL_SERVICE_OPERATION"/>
      <xs:enumeration value="OPERATION_PARAMETER"/>
      <xs:enumeration value="PAYMENT_TYPE"/>
      <xs:enumeration value="SUPPORTED_CURRENCY"/>
      <xs:enumeration value="UDA_DEFINITION"/>
      <xs:enumeration value="UDA"/>
      <xs:enumeration value="ORGANIZATION_TO_COUNTRY"/>
      <xs:enumeration value="SUPPORTED_COUNTRY"/>
      <xs:enumeration value="VAT_RATES"/>
      <xs:enumeration value="ORGANIZATION_REFERENCE"/>
      <xs:enumeration value="MARKETPLACE"/>
      <xs:enumeration value="TRIGGER_DEFINITION"/>
      <xs:enumeration value="TRIGGER_PROCESS"/>
      <xs:enumeration value="TAG"/>
      <xs:enumeration value="TECHNICAL_SERVICE_TAG"/>
      <xs:enumeration value="USER_ROLE"/>
      <xs:enumeration value="PRODUCT_REVIEW"/>
      <xs:enumeration value="BILLING_CONTACT"/>
      <xs:enumeration value="MARKETPLACE_TO_ORGANIZATION"/>
      <xs:enumeration value="SUBSCRIPTION_TO_MARKETPLACE"/>
      <xs:enumeration value="PRODUCT_TO_PAYMENTTYPE"/>
      <xs:enumeration value="PSP"/>
      <xs:enumeration value="CATEGORY"/>
      <xs:enumeration value="MARKETING_PERMISSION"/>
      <xs:enumeration value="REPORT_RESULT_CACHE"/>
      <xs:enumeration value="ORGANIZATION_SETTING"/>
      <xs:enumeration value="PLATFORM_SETTING"/>
      <xs:enumeration value="LOCALIZED_RESOURCE"/>
      <xs:enumeration value="USER_GROUP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="reasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMAIL"/>
      <xs:enumeration value="LENGTH"/>
      <xs:enumeration value="LENGTH_TEXT"/>
      <xs:enumeration value="REQUIRED"/>
      <xs:enumeration value="SECURITY_INFO"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="ID_CHAR"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="POSITIVE_NUMBER"/>
      <xs:enumeration value="DURATION"/>
      <xs:enumeration value="EMPTY_VALUE"/>
      <xs:enumeration value="CSS_COLOR"/>
      <xs:enumeration value="CSS_VALUE"/>
      <xs:enumeration value="URL"/>
      <xs:enumeration value="RELATIVE_URL"/>
      <xs:enumeration value="LDAP_CONNECTION_REFUSED"/>
      <xs:enumeration value="LDAP_USER_NOT_FOUND"/>
      <xs:enumeration value="LDAP_USER_NOT_UNIQUE"/>
      <xs:enumeration value="LDAP_CREATED_ID_INVALID"/>
      <xs:enumeration value="LDAP_VALUE_MISMATCH"/>
      <xs:enumeration value="LDAP_BASE_DN_INVALID"/>
      <xs:enumeration value="LDAP_MANDATORY_PROPERTY_MISSING"/>
      <xs:enumeration value="LDAP_INVALID_PLATFORM_PROPERTY"/>
      <xs:enumeration value="ENUMERATION"/>
      <xs:enumeration value="VALUE_NOT_IN_RANGE"/>
      <xs:enumeration value="INVALID_REFERENCE"/>
      <xs:enumeration value="STEPPED_USER_PRICING"/>
      <xs:enumeration value="STEPPED_EVENT_PRICING"/>
      <xs:enumeration value="STEPPED_PARAMETER_PRICING"/>
      <xs:enumeration value="STEPPED_PRICING"/>
      <xs:enumeration value="STEPPED_PRICING_DUPLICATE_LIMIT"/>
      <xs:enumeration value="DUPLICATE_VALUE"/>
      <xs:enumeration value="DUPLICATE_CATALOG_POSITION"/>
      <xs:enumeration value="DUPLICATE_PSP_ACCOUNT"/>
      <xs:enumeration value="PRICED_PARAM_WRONG_BASE"/>
      <xs:enumeration value="COUNTRY_NOT_SUPPORTED"/>
      <xs:enumeration value="VAT"/>
      <xs:enumeration value="VAT_NOT_SUPPORTED"/>
      <xs:enumeration value="DECIMAL"/>
      <xs:enumeration value="DIRECT_ACCESS_USER_PRICE"/>
      <xs:enumeration value="INVALID_NUMBER_TARGET_CATALOG_ENTRIES"/>
      <xs:enumeration value="INVALID_CHAR"/>
      <xs:enumeration value="IMAGE_TYPE"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_SMALL"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_BIG"/>
      <xs:enumeration value="TAGS_MAX_COUNT"/>
      <xs:enumeration value="RATING_REQUIRED"/>
      <xs:enumeration value="INVALID_LOCALE"/>
      <xs:enumeration value="USER_OPERATION_LOG_ENTITY_TYPE"/>
      <xs:enumeration value="INVALID_CONFIGURATION_SETTING"/>
      <xs:enumeration value="EXTERNAL_SERVICE_MUST_BE_FREE_OF_CHARGE"/>
      <xs:enumeration value="FILE_IMPORT_FAILED"/>
      <xs:enumeration value="MIN_LENGTH"/>
      <xs:enumeration value="INVALID_CURRENCY"/>
      <xs:enumeration value="TRIGGER_TYPE_SUPPORTS_NO_PROCESS_SUSPENDING"/>
      <xs:enumeration value="TRIGGER_TYPE_NOT_ALLOWED"/>
      <xs:enumeration value="ONE_OF_PARTNER_REVENUE_SHARE_MANDATORY"/>
      <xs:enumeration value="ONE_TIME_PARAMETER_NOT_ALLOWED"/>
      <xs:enumeration value="SCALE_TO_LONG"/>
      <xs:enumeration value="INVALID_DATE_RANGE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BulkUserImportException.Reason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PARSING_FAILED"/>
      <xs:enumeration value="WRONG_NUMBER_OF_FIELDS"/>
      <xs:enumeration value="WRONG_SALUTATION"/>
      <xs:enumeration value="WRONG_ROLE"/>
      <xs:enumeration value="MISSING_USERID"/>
      <xs:enumeration value="MISSING_LOCALE"/>
      <xs:enumeration value="USER_CREATION_FAILED"/>
      <xs:enumeration value="EMAIL_REQUIRED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="reason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LAST_ADMIN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OperationPendingException.ReasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVATE_SERVICE"/>
      <xs:enumeration value="DEACTIVATE_SERVICE"/>
      <xs:enumeration value="ADD_REVOKE_USER"/>
      <xs:enumeration value="MODIFY_SUBSCRIPTION"/>
      <xs:enumeration value="REGISTER_CUSTOMER_FOR_SUPPLIER"/>
      <xs:enumeration value="SAVE_PAYMENT_CONFIGURATION"/>
      <xs:enumeration value="SUBSCRIBE_TO_SERVICE"/>
      <xs:enumeration value="UNSUBSCRIBE_FROM_SERVICE"/>
      <xs:enumeration value="UPGRADE_SUBSCRIPTION"/>
      <xs:enumeration value="REGISTER_USER_IN_OWN_ORGANIZATION"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

