oscm-integrationtests-apiversioning-test-client/javares/WSDL/IdentityService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="IdentityService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="IdentityService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser"/>
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <message name="NonUniqueBusinessKeyException">
    <part name="fault" element="tns:NonUniqueBusinessKeyException"/>
  </message>
  <message name="TechnicalServiceNotAliveException">
    <part name="fault" element="tns:TechnicalServiceNotAliveException"/>
  </message>
  <message name="TechnicalServiceOperationException">
    <part name="fault" element="tns:TechnicalServiceOperationException"/>
  </message>
  <message name="ConcurrentModificationException">
    <part name="fault" element="tns:ConcurrentModificationException"/>
  </message>
  <message name="importUsers">
    <part name="parameters" element="tns:importUsers"/>
  </message>
  <message name="importUsersResponse">
    <part name="parameters" element="tns:importUsersResponse"/>
  </message>
  <message name="BulkUserImportException">
    <part name="fault" element="tns:BulkUserImportException"/>
  </message>
  <message name="sendAccounts">
    <part name="parameters" element="tns:sendAccounts"/>
  </message>
  <message name="sendAccountsResponse">
    <part name="parameters" element="tns:sendAccountsResponse"/>
  </message>
  <message name="MailOperationException">
    <part name="fault" element="tns:MailOperationException"/>
  </message>
  <message name="deleteUser">
    <part name="parameters" element="tns:deleteUser"/>
  </message>
  <message name="deleteUserResponse">
    <part name="parameters" element="tns:deleteUserResponse"/>
  </message>
  <message name="UserDeletionConstraintException">
    <part name="fault" element="tns:UserDeletionConstraintException"/>
  </message>
  <message name="createUser">
    <part name="parameters" element="tns:createUser"/>
  </message>
  <message name="createUserResponse">
    <part name="parameters" element="tns:createUserResponse"/>
  </message>
  <message name="UserRoleAssignmentException">
    <part name="fault" element="tns:UserRoleAssignmentException"/>
  </message>
  <message name="OperationPendingException">
    <part name="fault" element="tns:OperationPendingException"/>
  </message>
  <message name="addRevokeUserGroupAssignment">
    <part name="parameters" element="tns:addRevokeUserGroupAssignment"/>
  </message>
  <message name="addRevokeUserGroupAssignmentResponse">
    <part name="parameters" element="tns:addRevokeUserGroupAssignmentResponse"/>
  </message>
  <message name="refreshLdapUser">
    <part name="parameters" element="tns:refreshLdapUser"/>
  </message>
  <message name="refreshLdapUserResponse">
    <part name="parameters" element="tns:refreshLdapUserResponse"/>
  </message>
  <message name="getUser">
    <part name="parameters" element="tns:getUser"/>
  </message>
  <message name="getUserResponse">
    <part name="parameters" element="tns:getUserResponse"/>
  </message>
  <message name="OrganizationRemovedException">
    <part name="fault" element="tns:OrganizationRemovedException"/>
  </message>
  <message name="unlockUserAccount">
    <part name="parameters" element="tns:unlockUserAccount"/>
  </message>
  <message name="unlockUserAccountResponse">
    <part name="parameters" element="tns:unlockUserAccountResponse"/>
  </message>
  <message name="searchLdapUsers">
    <part name="parameters" element="tns:searchLdapUsers"/>
  </message>
  <message name="searchLdapUsersResponse">
    <part name="parameters" element="tns:searchLdapUsersResponse"/>
  </message>
  <message name="getCurrentUserDetails">
    <part name="parameters" element="tns:getCurrentUserDetails"/>
  </message>
  <message name="getCurrentUserDetailsResponse">
    <part name="parameters" element="tns:getCurrentUserDetailsResponse"/>
  </message>
  <message name="getUserDetails">
    <part name="parameters" element="tns:getUserDetails"/>
  </message>
  <message name="getUserDetailsResponse">
    <part name="parameters" element="tns:getUserDetailsResponse"/>
  </message>
  <message name="lockUserAccount">
    <part name="parameters" element="tns:lockUserAccount"/>
  </message>
  <message name="lockUserAccountResponse">
    <part name="parameters" element="tns:lockUserAccountResponse"/>
  </message>
  <message name="requestResetOfUserPassword">
    <part name="parameters" element="tns:requestResetOfUserPassword"/>
  </message>
  <message name="requestResetOfUserPasswordResponse">
    <part name="parameters" element="tns:requestResetOfUserPasswordResponse"/>
  </message>
  <message name="UserActiveException">
    <part name="fault" element="tns:UserActiveException"/>
  </message>
  <message name="importLdapUsers">
    <part name="parameters" element="tns:importLdapUsers"/>
  </message>
  <message name="importLdapUsersResponse">
    <part name="parameters" element="tns:importLdapUsersResponse"/>
  </message>
  <message name="getUsersForOrganization">
    <part name="parameters" element="tns:getUsersForOrganization"/>
  </message>
  <message name="getUsersForOrganizationResponse">
    <part name="parameters" element="tns:getUsersForOrganizationResponse"/>
  </message>
  <message name="getAvailableUserRoles">
    <part name="parameters" element="tns:getAvailableUserRoles"/>
  </message>
  <message name="getAvailableUserRolesResponse">
    <part name="parameters" element="tns:getAvailableUserRolesResponse"/>
  </message>
  <message name="createOnBehalfUser">
    <part name="parameters" element="tns:createOnBehalfUser"/>
  </message>
  <message name="createOnBehalfUserResponse">
    <part name="parameters" element="tns:createOnBehalfUserResponse"/>
  </message>
  <message name="cleanUpCurrentUser">
    <part name="parameters" element="tns:cleanUpCurrentUser"/>
  </message>
  <message name="cleanUpCurrentUserResponse">
    <part name="parameters" element="tns:cleanUpCurrentUserResponse"/>
  </message>
  <message name="notifyOnLoginAttempt">
    <part name="parameters" element="tns:notifyOnLoginAttempt"/>
  </message>
  <message name="notifyOnLoginAttemptResponse">
    <part name="parameters" element="tns:notifyOnLoginAttemptResponse"/>
  </message>
  <message name="SecurityCheckException">
    <part name="fault" element="tns:SecurityCheckException"/>
  </message>
  <message name="revokeUserRoles">
    <part name="parameters" element="tns:revokeUserRoles"/>
  </message>
  <message name="revokeUserRolesResponse">
    <part name="parameters" element="tns:revokeUserRolesResponse"/>
  </message>
  <message name="UserModificationConstraintException">
    <part name="fault" element="tns:UserModificationConstraintException"/>
  </message>
  <message name="importUsersInOwnOrganization">
    <part name="parameters" element="tns:importUsersInOwnOrganization"/>
  </message>
  <message name="importUsersInOwnOrganizationResponse">
    <part name="parameters" element="tns:importUsersInOwnOrganizationResponse"/>
  </message>
  <message name="setUserRoles">
    <part name="parameters" element="tns:setUserRoles"/>
  </message>
  <message name="setUserRolesResponse">
    <part name="parameters" element="tns:setUserRolesResponse"/>
  </message>
  <message name="getCurrentUserDetailsIfPresent">
    <part name="parameters" element="tns:getCurrentUserDetailsIfPresent"/>
  </message>
  <message name="getCurrentUserDetailsIfPresentResponse">
    <part name="parameters" element="tns:getCurrentUserDetailsIfPresentResponse"/>
  </message>
  <message name="confirmAccount">
    <part name="parameters" element="tns:confirmAccount"/>
  </message>
  <message name="confirmAccountResponse">
    <part name="parameters" element="tns:confirmAccountResponse"/>
  </message>
  <message name="grantUserRoles">
    <part name="parameters" element="tns:grantUserRoles"/>
  </message>
  <message name="grantUserRolesResponse">
    <part name="parameters" element="tns:grantUserRolesResponse"/>
  </message>
  <message name="changePassword">
    <part name="parameters" element="tns:changePassword"/>
  </message>
  <message name="changePasswordResponse">
    <part name="parameters" element="tns:changePasswordResponse"/>
  </message>
  <portType name="IdentityService">
    <operation name="updateUser">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/updateUserRequest" message="tns:updateUser"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/updateUserResponse" message="tns:updateUserResponse"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/updateUser/Fault/OperationNotPermittedException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/updateUser/Fault/ObjectNotFoundException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/IdentityService/updateUser/Fault/ValidationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/IdentityService/updateUser/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/IdentityService/updateUser/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:TechnicalServiceOperationException" name="TechnicalServiceOperationException" wsam:Action="http://oscm.org/xsd/IdentityService/updateUser/Fault/TechnicalServiceOperationException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/IdentityService/updateUser/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="importUsers">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/importUsersRequest" message="tns:importUsers"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/importUsersResponse" message="tns:importUsersResponse"/>
      <fault message="tns:BulkUserImportException" name="BulkUserImportException" wsam:Action="http://oscm.org/xsd/IdentityService/importUsers/Fault/BulkUserImportException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/importUsers/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="sendAccounts">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/sendAccountsRequest" message="tns:sendAccounts"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/sendAccountsResponse" message="tns:sendAccountsResponse"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/IdentityService/sendAccounts/Fault/ValidationException"/>
      <fault message="tns:MailOperationException" name="MailOperationException" wsam:Action="http://oscm.org/xsd/IdentityService/sendAccounts/Fault/MailOperationException"/>
    </operation>
    <operation name="deleteUser">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/deleteUserRequest" message="tns:deleteUser"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/deleteUserResponse" message="tns:deleteUserResponse"/>
      <fault message="tns:UserDeletionConstraintException" name="UserDeletionConstraintException" wsam:Action="http://oscm.org/xsd/IdentityService/deleteUser/Fault/UserDeletionConstraintException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/deleteUser/Fault/ObjectNotFoundException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/IdentityService/deleteUser/Fault/ConcurrentModificationException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/deleteUser/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="createUser">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/createUserRequest" message="tns:createUser"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/createUserResponse" message="tns:createUserResponse"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/IdentityService/createUser/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:MailOperationException" name="MailOperationException" wsam:Action="http://oscm.org/xsd/IdentityService/createUser/Fault/MailOperationException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/IdentityService/createUser/Fault/ValidationException"/>
      <fault message="tns:UserRoleAssignmentException" name="UserRoleAssignmentException" wsam:Action="http://oscm.org/xsd/IdentityService/createUser/Fault/UserRoleAssignmentException"/>
      <fault message="tns:OperationPendingException" name="OperationPendingException" wsam:Action="http://oscm.org/xsd/IdentityService/createUser/Fault/OperationPendingException"/>
    </operation>
    <operation name="addRevokeUserGroupAssignment">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/addRevokeUserGroupAssignmentRequest" message="tns:addRevokeUserGroupAssignment"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/addRevokeUserGroupAssignmentResponse" message="tns:addRevokeUserGroupAssignmentResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/addRevokeUserGroupAssignment/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/addRevokeUserGroupAssignment/Fault/OperationNotPermittedException"/>
      <fault message="tns:MailOperationException" name="MailOperationException" wsam:Action="http://oscm.org/xsd/IdentityService/addRevokeUserGroupAssignment/Fault/MailOperationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/IdentityService/addRevokeUserGroupAssignment/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/IdentityService/addRevokeUserGroupAssignment/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="refreshLdapUser">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/refreshLdapUserRequest" message="tns:refreshLdapUser"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/refreshLdapUserResponse" message="tns:refreshLdapUserResponse"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/IdentityService/refreshLdapUser/Fault/ValidationException"/>
    </operation>
    <operation name="getUser">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/getUserRequest" message="tns:getUser"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/getUserResponse" message="tns:getUserResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/getUser/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/getUser/Fault/OperationNotPermittedException"/>
      <fault message="tns:OrganizationRemovedException" name="OrganizationRemovedException" wsam:Action="http://oscm.org/xsd/IdentityService/getUser/Fault/OrganizationRemovedException"/>
    </operation>
    <operation name="unlockUserAccount">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/unlockUserAccountRequest" message="tns:unlockUserAccount"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/unlockUserAccountResponse" message="tns:unlockUserAccountResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/unlockUserAccount/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/unlockUserAccount/Fault/OperationNotPermittedException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/IdentityService/unlockUserAccount/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="searchLdapUsers">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/searchLdapUsersRequest" message="tns:searchLdapUsers"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/searchLdapUsersResponse" message="tns:searchLdapUsersResponse"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/IdentityService/searchLdapUsers/Fault/ValidationException"/>
    </operation>
    <operation name="getCurrentUserDetails">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/getCurrentUserDetailsRequest" message="tns:getCurrentUserDetails"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/getCurrentUserDetailsResponse" message="tns:getCurrentUserDetailsResponse"/>
    </operation>
    <operation name="getUserDetails">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/getUserDetailsRequest" message="tns:getUserDetails"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/getUserDetailsResponse" message="tns:getUserDetailsResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/getUserDetails/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/getUserDetails/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="lockUserAccount">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/lockUserAccountRequest" message="tns:lockUserAccount"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/lockUserAccountResponse" message="tns:lockUserAccountResponse"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/lockUserAccount/Fault/OperationNotPermittedException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/lockUserAccount/Fault/ObjectNotFoundException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/IdentityService/lockUserAccount/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="requestResetOfUserPassword">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/requestResetOfUserPasswordRequest" message="tns:requestResetOfUserPassword"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/requestResetOfUserPasswordResponse" message="tns:requestResetOfUserPasswordResponse"/>
      <fault message="tns:MailOperationException" name="MailOperationException" wsam:Action="http://oscm.org/xsd/IdentityService/requestResetOfUserPassword/Fault/MailOperationException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/requestResetOfUserPassword/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/requestResetOfUserPassword/Fault/OperationNotPermittedException"/>
      <fault message="tns:UserActiveException" name="UserActiveException" wsam:Action="http://oscm.org/xsd/IdentityService/requestResetOfUserPassword/Fault/UserActiveException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/IdentityService/requestResetOfUserPassword/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="importLdapUsers">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/importLdapUsersRequest" message="tns:importLdapUsers"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/importLdapUsersResponse" message="tns:importLdapUsersResponse"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/IdentityService/importLdapUsers/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/IdentityService/importLdapUsers/Fault/ValidationException"/>
      <fault message="tns:MailOperationException" name="MailOperationException" wsam:Action="http://oscm.org/xsd/IdentityService/importLdapUsers/Fault/MailOperationException"/>
    </operation>
    <operation name="getUsersForOrganization">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/getUsersForOrganizationRequest" message="tns:getUsersForOrganization"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/getUsersForOrganizationResponse" message="tns:getUsersForOrganizationResponse"/>
    </operation>
    <operation name="getAvailableUserRoles">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/getAvailableUserRolesRequest" message="tns:getAvailableUserRoles"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/getAvailableUserRolesResponse" message="tns:getAvailableUserRolesResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/getAvailableUserRoles/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/getAvailableUserRoles/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="createOnBehalfUser">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/createOnBehalfUserRequest" message="tns:createOnBehalfUser"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/createOnBehalfUserResponse" message="tns:createOnBehalfUserResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/createOnBehalfUser/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/createOnBehalfUser/Fault/OperationNotPermittedException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/IdentityService/createOnBehalfUser/Fault/NonUniqueBusinessKeyException"/>
    </operation>
    <operation name="cleanUpCurrentUser">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/cleanUpCurrentUserRequest" message="tns:cleanUpCurrentUser"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/cleanUpCurrentUserResponse" message="tns:cleanUpCurrentUserResponse"/>
    </operation>
    <operation name="notifyOnLoginAttempt">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/notifyOnLoginAttemptRequest" message="tns:notifyOnLoginAttempt"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/notifyOnLoginAttemptResponse" message="tns:notifyOnLoginAttemptResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/notifyOnLoginAttempt/Fault/ObjectNotFoundException"/>
      <fault message="tns:SecurityCheckException" name="SecurityCheckException" wsam:Action="http://oscm.org/xsd/IdentityService/notifyOnLoginAttempt/Fault/SecurityCheckException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/IdentityService/notifyOnLoginAttempt/Fault/ValidationException"/>
    </operation>
    <operation name="revokeUserRoles">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/revokeUserRolesRequest" message="tns:revokeUserRoles"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/revokeUserRolesResponse" message="tns:revokeUserRolesResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/revokeUserRoles/Fault/ObjectNotFoundException"/>
      <fault message="tns:UserModificationConstraintException" name="UserModificationConstraintException" wsam:Action="http://oscm.org/xsd/IdentityService/revokeUserRoles/Fault/UserModificationConstraintException"/>
      <fault message="tns:UserActiveException" name="UserActiveException" wsam:Action="http://oscm.org/xsd/IdentityService/revokeUserRoles/Fault/UserActiveException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/revokeUserRoles/Fault/OperationNotPermittedException"/>
      <fault message="tns:UserRoleAssignmentException" name="UserRoleAssignmentException" wsam:Action="http://oscm.org/xsd/IdentityService/revokeUserRoles/Fault/UserRoleAssignmentException"/>
    </operation>
    <operation name="importUsersInOwnOrganization">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/importUsersInOwnOrganizationRequest" message="tns:importUsersInOwnOrganization"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/importUsersInOwnOrganizationResponse" message="tns:importUsersInOwnOrganizationResponse"/>
      <fault message="tns:BulkUserImportException" name="BulkUserImportException" wsam:Action="http://oscm.org/xsd/IdentityService/importUsersInOwnOrganization/Fault/BulkUserImportException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/importUsersInOwnOrganization/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="setUserRoles">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/setUserRolesRequest" message="tns:setUserRoles"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/setUserRolesResponse" message="tns:setUserRolesResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/setUserRoles/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/setUserRoles/Fault/OperationNotPermittedException"/>
      <fault message="tns:UserModificationConstraintException" name="UserModificationConstraintException" wsam:Action="http://oscm.org/xsd/IdentityService/setUserRoles/Fault/UserModificationConstraintException"/>
      <fault message="tns:UserRoleAssignmentException" name="UserRoleAssignmentException" wsam:Action="http://oscm.org/xsd/IdentityService/setUserRoles/Fault/UserRoleAssignmentException"/>
      <fault message="tns:UserActiveException" name="UserActiveException" wsam:Action="http://oscm.org/xsd/IdentityService/setUserRoles/Fault/UserActiveException"/>
    </operation>
    <operation name="getCurrentUserDetailsIfPresent">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/getCurrentUserDetailsIfPresentRequest" message="tns:getCurrentUserDetailsIfPresent"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/getCurrentUserDetailsIfPresentResponse" message="tns:getCurrentUserDetailsIfPresentResponse"/>
    </operation>
    <operation name="confirmAccount">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/confirmAccountRequest" message="tns:confirmAccount"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/confirmAccountResponse" message="tns:confirmAccountResponse"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/confirmAccount/Fault/OperationNotPermittedException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/confirmAccount/Fault/ObjectNotFoundException"/>
      <fault message="tns:MailOperationException" name="MailOperationException" wsam:Action="http://oscm.org/xsd/IdentityService/confirmAccount/Fault/MailOperationException"/>
    </operation>
    <operation name="grantUserRoles">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/grantUserRolesRequest" message="tns:grantUserRoles"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/grantUserRolesResponse" message="tns:grantUserRolesResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/IdentityService/grantUserRoles/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/IdentityService/grantUserRoles/Fault/OperationNotPermittedException"/>
      <fault message="tns:UserRoleAssignmentException" name="UserRoleAssignmentException" wsam:Action="http://oscm.org/xsd/IdentityService/grantUserRoles/Fault/UserRoleAssignmentException"/>
    </operation>
    <operation name="changePassword">
      <input wsam:Action="http://oscm.org/xsd/IdentityService/changePasswordRequest" message="tns:changePassword"/>
      <output wsam:Action="http://oscm.org/xsd/IdentityService/changePasswordResponse" message="tns:changePasswordResponse"/>
      <fault message="tns:SecurityCheckException" name="SecurityCheckException" wsam:Action="http://oscm.org/xsd/IdentityService/changePassword/Fault/SecurityCheckException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/IdentityService/changePassword/Fault/ValidationException"/>
    </operation>
  </portType>
  <binding name="IdentityServicePortBinding" type="tns:IdentityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="updateUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceOperationException">
        <soap:fault name="TechnicalServiceOperationException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="importUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BulkUserImportException">
        <soap:fault name="BulkUserImportException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="sendAccounts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="MailOperationException">
        <soap:fault name="MailOperationException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserDeletionConstraintException">
        <soap:fault name="UserDeletionConstraintException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="createUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="MailOperationException">
        <soap:fault name="MailOperationException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="UserRoleAssignmentException">
        <soap:fault name="UserRoleAssignmentException" use="literal"/>
      </fault>
      <fault name="OperationPendingException">
        <soap:fault name="OperationPendingException" use="literal"/>
      </fault>
    </operation>
    <operation name="addRevokeUserGroupAssignment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="MailOperationException">
        <soap:fault name="MailOperationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="refreshLdapUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="OrganizationRemovedException">
        <soap:fault name="OrganizationRemovedException" use="literal"/>
      </fault>
    </operation>
    <operation name="unlockUserAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="searchLdapUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCurrentUserDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUserDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="lockUserAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="requestResetOfUserPassword">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MailOperationException">
        <soap:fault name="MailOperationException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="UserActiveException">
        <soap:fault name="UserActiveException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="importLdapUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="MailOperationException">
        <soap:fault name="MailOperationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUsersForOrganization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAvailableUserRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="createOnBehalfUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
    </operation>
    <operation name="cleanUpCurrentUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="notifyOnLoginAttempt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="SecurityCheckException">
        <soap:fault name="SecurityCheckException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="revokeUserRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="UserModificationConstraintException">
        <soap:fault name="UserModificationConstraintException" use="literal"/>
      </fault>
      <fault name="UserActiveException">
        <soap:fault name="UserActiveException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="UserRoleAssignmentException">
        <soap:fault name="UserRoleAssignmentException" use="literal"/>
      </fault>
    </operation>
    <operation name="importUsersInOwnOrganization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BulkUserImportException">
        <soap:fault name="BulkUserImportException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="setUserRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="UserModificationConstraintException">
        <soap:fault name="UserModificationConstraintException" use="literal"/>
      </fault>
      <fault name="UserRoleAssignmentException">
        <soap:fault name="UserRoleAssignmentException" use="literal"/>
      </fault>
      <fault name="UserActiveException">
        <soap:fault name="UserActiveException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCurrentUserDetailsIfPresent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="confirmAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="MailOperationException">
        <soap:fault name="MailOperationException" use="literal"/>
      </fault>
    </operation>
    <operation name="grantUserRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="UserRoleAssignmentException">
        <soap:fault name="UserRoleAssignmentException" use="literal"/>
      </fault>
    </operation>
    <operation name="changePassword">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SecurityCheckException">
        <soap:fault name="SecurityCheckException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="IdentityService">
    <port name="IdentityServicePort" binding="tns:IdentityServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

