oscm-integrationtests-apiversioning-test-client/javares/WSDL/MarketplaceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="MarketplaceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="MarketplaceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getMarketplacesForOrganization">
    <part name="parameters" element="tns:getMarketplacesForOrganization"/>
  </message>
  <message name="getMarketplacesForOrganizationResponse">
    <part name="parameters" element="tns:getMarketplacesForOrganizationResponse"/>
  </message>
  <message name="removeOrganizationsFromMarketplace">
    <part name="parameters" element="tns:removeOrganizationsFromMarketplace"/>
  </message>
  <message name="removeOrganizationsFromMarketplaceResponse">
    <part name="parameters" element="tns:removeOrganizationsFromMarketplaceResponse"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="MarketplaceAccessTypeUneligibleForOperationException">
    <part name="fault" element="tns:MarketplaceAccessTypeUneligibleForOperationException"/>
  </message>
  <message name="OrganizationAuthorityException">
    <part name="fault" element="tns:OrganizationAuthorityException"/>
  </message>
  <message name="getOrganizationsForMarketplace">
    <part name="parameters" element="tns:getOrganizationsForMarketplace"/>
  </message>
  <message name="getOrganizationsForMarketplaceResponse">
    <part name="parameters" element="tns:getOrganizationsForMarketplaceResponse"/>
  </message>
  <message name="banOrganizationsFromMarketplace">
    <part name="parameters" element="tns:banOrganizationsFromMarketplace"/>
  </message>
  <message name="banOrganizationsFromMarketplaceResponse">
    <part name="parameters" element="tns:banOrganizationsFromMarketplaceResponse"/>
  </message>
  <message name="OrganizationAlreadyBannedException">
    <part name="fault" element="tns:OrganizationAlreadyBannedException"/>
  </message>
  <message name="liftBanOrganizationsFromMarketplace">
    <part name="parameters" element="tns:liftBanOrganizationsFromMarketplace"/>
  </message>
  <message name="liftBanOrganizationsFromMarketplaceResponse">
    <part name="parameters" element="tns:liftBanOrganizationsFromMarketplaceResponse"/>
  </message>
  <message name="getBannedOrganizationsForMarketplace">
    <part name="parameters" element="tns:getBannedOrganizationsForMarketplace"/>
  </message>
  <message name="getBannedOrganizationsForMarketplaceResponse">
    <part name="parameters" element="tns:getBannedOrganizationsForMarketplaceResponse"/>
  </message>
  <message name="publishService">
    <part name="parameters" element="tns:publishService"/>
  </message>
  <message name="publishServiceResponse">
    <part name="parameters" element="tns:publishServiceResponse"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <message name="NonUniqueBusinessKeyException">
    <part name="fault" element="tns:NonUniqueBusinessKeyException"/>
  </message>
  <message name="PublishingToMarketplaceNotPermittedException">
    <part name="fault" element="tns:PublishingToMarketplaceNotPermittedException"/>
  </message>
  <message name="getMarketplacesForService">
    <part name="parameters" element="tns:getMarketplacesForService"/>
  </message>
  <message name="getMarketplacesForServiceResponse">
    <part name="parameters" element="tns:getMarketplacesForServiceResponse"/>
  </message>
  <message name="getMarketplaceForSubscription">
    <part name="parameters" element="tns:getMarketplaceForSubscription"/>
  </message>
  <message name="getMarketplaceForSubscriptionResponse">
    <part name="parameters" element="tns:getMarketplaceForSubscriptionResponse"/>
  </message>
  <message name="getMarketplacesOwned">
    <part name="parameters" element="tns:getMarketplacesOwned"/>
  </message>
  <message name="getMarketplacesOwnedResponse">
    <part name="parameters" element="tns:getMarketplacesOwnedResponse"/>
  </message>
  <message name="getMarketplacesForOperator">
    <part name="parameters" element="tns:getMarketplacesForOperator"/>
  </message>
  <message name="getMarketplacesForOperatorResponse">
    <part name="parameters" element="tns:getMarketplacesForOperatorResponse"/>
  </message>
  <message name="updateMarketplace">
    <part name="parameters" element="tns:updateMarketplace"/>
  </message>
  <message name="updateMarketplaceResponse">
    <part name="parameters" element="tns:updateMarketplaceResponse"/>
  </message>
  <message name="ConcurrentModificationException">
    <part name="fault" element="tns:ConcurrentModificationException"/>
  </message>
  <message name="UserRoleAssignmentException">
    <part name="fault" element="tns:UserRoleAssignmentException"/>
  </message>
  <message name="createMarketplace">
    <part name="parameters" element="tns:createMarketplace"/>
  </message>
  <message name="createMarketplaceResponse">
    <part name="parameters" element="tns:createMarketplaceResponse"/>
  </message>
  <message name="deleteMarketplace">
    <part name="parameters" element="tns:deleteMarketplace"/>
  </message>
  <message name="deleteMarketplaceResponse">
    <part name="parameters" element="tns:deleteMarketplaceResponse"/>
  </message>
  <message name="addOrganizationsToMarketplace">
    <part name="parameters" element="tns:addOrganizationsToMarketplace"/>
  </message>
  <message name="addOrganizationsToMarketplaceResponse">
    <part name="parameters" element="tns:addOrganizationsToMarketplaceResponse"/>
  </message>
  <message name="OrganizationAlreadyExistsException">
    <part name="fault" element="tns:OrganizationAlreadyExistsException"/>
  </message>
  <message name="getMarketplaceById">
    <part name="parameters" element="tns:getMarketplaceById"/>
  </message>
  <message name="getMarketplaceByIdResponse">
    <part name="parameters" element="tns:getMarketplaceByIdResponse"/>
  </message>
  <message name="getBrandingUrl">
    <part name="parameters" element="tns:getBrandingUrl"/>
  </message>
  <message name="getBrandingUrlResponse">
    <part name="parameters" element="tns:getBrandingUrlResponse"/>
  </message>
  <message name="saveBrandingUrl">
    <part name="parameters" element="tns:saveBrandingUrl"/>
  </message>
  <message name="saveBrandingUrlResponse">
    <part name="parameters" element="tns:saveBrandingUrlResponse"/>
  </message>
  <portType name="MarketplaceService">
    <operation name="getMarketplacesForOrganization">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplacesForOrganizationRequest" message="tns:getMarketplacesForOrganization"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplacesForOrganizationResponse" message="tns:getMarketplacesForOrganizationResponse"/>
    </operation>
    <operation name="removeOrganizationsFromMarketplace">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/removeOrganizationsFromMarketplaceRequest" message="tns:removeOrganizationsFromMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/removeOrganizationsFromMarketplaceResponse" message="tns:removeOrganizationsFromMarketplaceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/removeOrganizationsFromMarketplace/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/removeOrganizationsFromMarketplace/Fault/OperationNotPermittedException"/>
      <fault message="tns:MarketplaceAccessTypeUneligibleForOperationException" name="MarketplaceAccessTypeUneligibleForOperationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/removeOrganizationsFromMarketplace/Fault/MarketplaceAccessTypeUneligibleForOperationException"/>
      <fault message="tns:OrganizationAuthorityException" name="OrganizationAuthorityException" wsam:Action="http://oscm.org/xsd/MarketplaceService/removeOrganizationsFromMarketplace/Fault/OrganizationAuthorityException"/>
    </operation>
    <operation name="getOrganizationsForMarketplace">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/getOrganizationsForMarketplaceRequest" message="tns:getOrganizationsForMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/getOrganizationsForMarketplaceResponse" message="tns:getOrganizationsForMarketplaceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/getOrganizationsForMarketplace/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/getOrganizationsForMarketplace/Fault/OperationNotPermittedException"/>
      <fault message="tns:MarketplaceAccessTypeUneligibleForOperationException" name="MarketplaceAccessTypeUneligibleForOperationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/getOrganizationsForMarketplace/Fault/MarketplaceAccessTypeUneligibleForOperationException"/>
    </operation>
    <operation name="banOrganizationsFromMarketplace">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/banOrganizationsFromMarketplaceRequest" message="tns:banOrganizationsFromMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/banOrganizationsFromMarketplaceResponse" message="tns:banOrganizationsFromMarketplaceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/banOrganizationsFromMarketplace/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/banOrganizationsFromMarketplace/Fault/OperationNotPermittedException"/>
      <fault message="tns:OrganizationAuthorityException" name="OrganizationAuthorityException" wsam:Action="http://oscm.org/xsd/MarketplaceService/banOrganizationsFromMarketplace/Fault/OrganizationAuthorityException"/>
      <fault message="tns:OrganizationAlreadyBannedException" name="OrganizationAlreadyBannedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/banOrganizationsFromMarketplace/Fault/OrganizationAlreadyBannedException"/>
      <fault message="tns:MarketplaceAccessTypeUneligibleForOperationException" name="MarketplaceAccessTypeUneligibleForOperationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/banOrganizationsFromMarketplace/Fault/MarketplaceAccessTypeUneligibleForOperationException"/>
    </operation>
    <operation name="liftBanOrganizationsFromMarketplace">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/liftBanOrganizationsFromMarketplaceRequest" message="tns:liftBanOrganizationsFromMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/liftBanOrganizationsFromMarketplaceResponse" message="tns:liftBanOrganizationsFromMarketplaceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/liftBanOrganizationsFromMarketplace/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/liftBanOrganizationsFromMarketplace/Fault/OperationNotPermittedException"/>
      <fault message="tns:MarketplaceAccessTypeUneligibleForOperationException" name="MarketplaceAccessTypeUneligibleForOperationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/liftBanOrganizationsFromMarketplace/Fault/MarketplaceAccessTypeUneligibleForOperationException"/>
      <fault message="tns:OrganizationAuthorityException" name="OrganizationAuthorityException" wsam:Action="http://oscm.org/xsd/MarketplaceService/liftBanOrganizationsFromMarketplace/Fault/OrganizationAuthorityException"/>
    </operation>
    <operation name="getBannedOrganizationsForMarketplace">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/getBannedOrganizationsForMarketplaceRequest" message="tns:getBannedOrganizationsForMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/getBannedOrganizationsForMarketplaceResponse" message="tns:getBannedOrganizationsForMarketplaceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/getBannedOrganizationsForMarketplace/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/getBannedOrganizationsForMarketplace/Fault/OperationNotPermittedException"/>
      <fault message="tns:MarketplaceAccessTypeUneligibleForOperationException" name="MarketplaceAccessTypeUneligibleForOperationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/getBannedOrganizationsForMarketplace/Fault/MarketplaceAccessTypeUneligibleForOperationException"/>
    </operation>
    <operation name="publishService">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/publishServiceRequest" message="tns:publishService"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/publishServiceResponse" message="tns:publishServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/publishService/Fault/ObjectNotFoundException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/publishService/Fault/ValidationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/MarketplaceService/publishService/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/publishService/Fault/OperationNotPermittedException"/>
      <fault message="tns:PublishingToMarketplaceNotPermittedException" name="PublishingToMarketplaceNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/publishService/Fault/PublishingToMarketplaceNotPermittedException"/>
    </operation>
    <operation name="getMarketplacesForService">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplacesForServiceRequest" message="tns:getMarketplacesForService"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplacesForServiceResponse" message="tns:getMarketplacesForServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplacesForService/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplacesForService/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getMarketplaceForSubscription">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplaceForSubscriptionRequest" message="tns:getMarketplaceForSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplaceForSubscriptionResponse" message="tns:getMarketplaceForSubscriptionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplaceForSubscription/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="getMarketplacesOwned">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplacesOwnedRequest" message="tns:getMarketplacesOwned"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplacesOwnedResponse" message="tns:getMarketplacesOwnedResponse"/>
    </operation>
    <operation name="getMarketplacesForOperator">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplacesForOperatorRequest" message="tns:getMarketplacesForOperator"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplacesForOperatorResponse" message="tns:getMarketplacesForOperatorResponse"/>
    </operation>
    <operation name="updateMarketplace">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/updateMarketplaceRequest" message="tns:updateMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/updateMarketplaceResponse" message="tns:updateMarketplaceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/updateMarketplace/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/updateMarketplace/Fault/OperationNotPermittedException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/updateMarketplace/Fault/ConcurrentModificationException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/updateMarketplace/Fault/ValidationException"/>
      <fault message="tns:UserRoleAssignmentException" name="UserRoleAssignmentException" wsam:Action="http://oscm.org/xsd/MarketplaceService/updateMarketplace/Fault/UserRoleAssignmentException"/>
    </operation>
    <operation name="createMarketplace">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/createMarketplaceRequest" message="tns:createMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/createMarketplaceResponse" message="tns:createMarketplaceResponse"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/createMarketplace/Fault/OperationNotPermittedException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/createMarketplace/Fault/ObjectNotFoundException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/createMarketplace/Fault/ValidationException"/>
      <fault message="tns:UserRoleAssignmentException" name="UserRoleAssignmentException" wsam:Action="http://oscm.org/xsd/MarketplaceService/createMarketplace/Fault/UserRoleAssignmentException"/>
    </operation>
    <operation name="deleteMarketplace">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/deleteMarketplaceRequest" message="tns:deleteMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/deleteMarketplaceResponse" message="tns:deleteMarketplaceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/deleteMarketplace/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="addOrganizationsToMarketplace">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/addOrganizationsToMarketplaceRequest" message="tns:addOrganizationsToMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/addOrganizationsToMarketplaceResponse" message="tns:addOrganizationsToMarketplaceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/addOrganizationsToMarketplace/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/addOrganizationsToMarketplace/Fault/OperationNotPermittedException"/>
      <fault message="tns:OrganizationAuthorityException" name="OrganizationAuthorityException" wsam:Action="http://oscm.org/xsd/MarketplaceService/addOrganizationsToMarketplace/Fault/OrganizationAuthorityException"/>
      <fault message="tns:OrganizationAlreadyExistsException" name="OrganizationAlreadyExistsException" wsam:Action="http://oscm.org/xsd/MarketplaceService/addOrganizationsToMarketplace/Fault/OrganizationAlreadyExistsException"/>
      <fault message="tns:MarketplaceAccessTypeUneligibleForOperationException" name="MarketplaceAccessTypeUneligibleForOperationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/addOrganizationsToMarketplace/Fault/MarketplaceAccessTypeUneligibleForOperationException"/>
    </operation>
    <operation name="getMarketplaceById">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplaceByIdRequest" message="tns:getMarketplaceById"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplaceByIdResponse" message="tns:getMarketplaceByIdResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/getMarketplaceById/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="getBrandingUrl">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/getBrandingUrlRequest" message="tns:getBrandingUrl"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/getBrandingUrlResponse" message="tns:getBrandingUrlResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/getBrandingUrl/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="saveBrandingUrl">
      <input wsam:Action="http://oscm.org/xsd/MarketplaceService/saveBrandingUrlRequest" message="tns:saveBrandingUrl"/>
      <output wsam:Action="http://oscm.org/xsd/MarketplaceService/saveBrandingUrlResponse" message="tns:saveBrandingUrlResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/MarketplaceService/saveBrandingUrl/Fault/ObjectNotFoundException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/saveBrandingUrl/Fault/ValidationException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/MarketplaceService/saveBrandingUrl/Fault/OperationNotPermittedException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/MarketplaceService/saveBrandingUrl/Fault/ConcurrentModificationException"/>
    </operation>
  </portType>
  <binding name="MarketplaceServicePortBinding" type="tns:MarketplaceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getMarketplacesForOrganization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeOrganizationsFromMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="MarketplaceAccessTypeUneligibleForOperationException">
        <soap:fault name="MarketplaceAccessTypeUneligibleForOperationException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthorityException">
        <soap:fault name="OrganizationAuthorityException" use="literal"/>
      </fault>
    </operation>
    <operation name="getOrganizationsForMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="MarketplaceAccessTypeUneligibleForOperationException">
        <soap:fault name="MarketplaceAccessTypeUneligibleForOperationException" use="literal"/>
      </fault>
    </operation>
    <operation name="banOrganizationsFromMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthorityException">
        <soap:fault name="OrganizationAuthorityException" use="literal"/>
      </fault>
      <fault name="OrganizationAlreadyBannedException">
        <soap:fault name="OrganizationAlreadyBannedException" use="literal"/>
      </fault>
      <fault name="MarketplaceAccessTypeUneligibleForOperationException">
        <soap:fault name="MarketplaceAccessTypeUneligibleForOperationException" use="literal"/>
      </fault>
    </operation>
    <operation name="liftBanOrganizationsFromMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="MarketplaceAccessTypeUneligibleForOperationException">
        <soap:fault name="MarketplaceAccessTypeUneligibleForOperationException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthorityException">
        <soap:fault name="OrganizationAuthorityException" use="literal"/>
      </fault>
    </operation>
    <operation name="getBannedOrganizationsForMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="MarketplaceAccessTypeUneligibleForOperationException">
        <soap:fault name="MarketplaceAccessTypeUneligibleForOperationException" use="literal"/>
      </fault>
    </operation>
    <operation name="publishService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="PublishingToMarketplaceNotPermittedException">
        <soap:fault name="PublishingToMarketplaceNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMarketplacesForService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMarketplaceForSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMarketplacesOwned">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMarketplacesForOperator">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="UserRoleAssignmentException">
        <soap:fault name="UserRoleAssignmentException" use="literal"/>
      </fault>
    </operation>
    <operation name="createMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="UserRoleAssignmentException">
        <soap:fault name="UserRoleAssignmentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="addOrganizationsToMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthorityException">
        <soap:fault name="OrganizationAuthorityException" use="literal"/>
      </fault>
      <fault name="OrganizationAlreadyExistsException">
        <soap:fault name="OrganizationAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="MarketplaceAccessTypeUneligibleForOperationException">
        <soap:fault name="MarketplaceAccessTypeUneligibleForOperationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMarketplaceById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getBrandingUrl">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveBrandingUrl">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="MarketplaceService">
    <port name="MarketplaceServicePort" binding="tns:MarketplaceServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

