oscm-integrationtests-apiversioning-test-client/javares/WSDL/ReviewService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="ReviewService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="ReviewService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="deleteReviewByMarketplaceOwner">
    <part name="parameters" element="tns:deleteReviewByMarketplaceOwner"/>
  </message>
  <message name="deleteReviewByMarketplaceOwnerResponse">
    <part name="parameters" element="tns:deleteReviewByMarketplaceOwnerResponse"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="writeReview">
    <part name="parameters" element="tns:writeReview"/>
  </message>
  <message name="writeReviewResponse">
    <part name="parameters" element="tns:writeReviewResponse"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <message name="NonUniqueBusinessKeyException">
    <part name="fault" element="tns:NonUniqueBusinessKeyException"/>
  </message>
  <message name="ConcurrentModificationException">
    <part name="fault" element="tns:ConcurrentModificationException"/>
  </message>
  <message name="deleteReview">
    <part name="parameters" element="tns:deleteReview"/>
  </message>
  <message name="deleteReviewResponse">
    <part name="parameters" element="tns:deleteReviewResponse"/>
  </message>
  <message name="getServiceFeedback">
    <part name="parameters" element="tns:getServiceFeedback"/>
  </message>
  <message name="getServiceFeedbackResponse">
    <part name="parameters" element="tns:getServiceFeedbackResponse"/>
  </message>
  <portType name="ReviewService">
    <operation name="deleteReviewByMarketplaceOwner">
      <input wsam:Action="http://oscm.org/xsd/ReviewService/deleteReviewByMarketplaceOwnerRequest" message="tns:deleteReviewByMarketplaceOwner"/>
      <output wsam:Action="http://oscm.org/xsd/ReviewService/deleteReviewByMarketplaceOwnerResponse" message="tns:deleteReviewByMarketplaceOwnerResponse"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ReviewService/deleteReviewByMarketplaceOwner/Fault/OperationNotPermittedException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ReviewService/deleteReviewByMarketplaceOwner/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="writeReview">
      <input wsam:Action="http://oscm.org/xsd/ReviewService/writeReviewRequest" message="tns:writeReview"/>
      <output wsam:Action="http://oscm.org/xsd/ReviewService/writeReviewResponse" message="tns:writeReviewResponse"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/ReviewService/writeReview/Fault/ValidationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/ReviewService/writeReview/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ReviewService/writeReview/Fault/ConcurrentModificationException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ReviewService/writeReview/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ReviewService/writeReview/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="deleteReview">
      <input wsam:Action="http://oscm.org/xsd/ReviewService/deleteReviewRequest" message="tns:deleteReview"/>
      <output wsam:Action="http://oscm.org/xsd/ReviewService/deleteReviewResponse" message="tns:deleteReviewResponse"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ReviewService/deleteReview/Fault/OperationNotPermittedException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ReviewService/deleteReview/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="getServiceFeedback">
      <input wsam:Action="http://oscm.org/xsd/ReviewService/getServiceFeedbackRequest" message="tns:getServiceFeedback"/>
      <output wsam:Action="http://oscm.org/xsd/ReviewService/getServiceFeedbackResponse" message="tns:getServiceFeedbackResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ReviewService/getServiceFeedback/Fault/ObjectNotFoundException"/>
    </operation>
  </portType>
  <binding name="ReviewServicePortBinding" type="tns:ReviewService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteReviewByMarketplaceOwner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="writeReview">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteReview">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceFeedback">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ReviewService">
    <port name="ReviewServicePort" binding="tns:ReviewServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

