oscm-integrationtests-apiversioning-test-client/javares/WSDL/SearchService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ApplicationExceptionBean" type="tns:applicationExceptionBean"/>

  <xs:element name="DomainObjectExceptionBean" type="tns:domainObjectExceptionBean"/>

  <xs:element name="InvalidPhraseException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ObjectNotFoundException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="getServicesByCriteria" type="tns:getServicesByCriteria"/>

  <xs:element name="getServicesByCriteriaResponse" type="tns:getServicesByCriteriaResponse"/>

  <xs:element name="searchServices" type="tns:searchServices"/>

  <xs:element name="searchServicesResponse" type="tns:searchServicesResponse"/>

  <xs:complexType name="getServicesByCriteria">
    <xs:sequence>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="locale" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="listCriteria" type="tns:listCriteria" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listCriteria">
    <xs:sequence>
      <xs:element name="categoryId" type="xs:string" minOccurs="0"/>
      <xs:element name="filter" type="xs:string" minOccurs="0"/>
      <xs:element name="limit" type="xs:int"/>
      <xs:element name="offset" type="xs:int"/>
      <xs:element name="sorting" type="tns:sorting" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServicesByCriteriaResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceListResult" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voServiceListResult">
    <xs:sequence>
      <xs:element name="resultSize" type="xs:int"/>
      <xs:element name="services" type="tns:voService" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voService">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="accessType" type="tns:serviceAccessType" minOccurs="0"/>
          <xs:element name="averageRating" type="xs:decimal" minOccurs="0"/>
          <xs:element name="baseURL" type="xs:string" minOccurs="0"/>
          <xs:element name="configuratorUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="featureURL" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="numberOfReviews" type="xs:int"/>
          <xs:element name="offeringType" type="tns:offeringType" minOccurs="0"/>
          <xs:element name="parameters" type="tns:voParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="priceModel" type="tns:voPriceModel" minOccurs="0"/>
          <xs:element name="sellerId" type="xs:string" minOccurs="0"/>
          <xs:element name="sellerKey" type="xs:long"/>
          <xs:element name="sellerName" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
          <xs:element name="shortDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:serviceStatus" minOccurs="0"/>
          <xs:element name="tags" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="technicalId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="baseVO" abstract="true">
    <xs:sequence>
      <xs:element name="key" type="xs:long"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurable" type="xs:boolean"/>
          <xs:element name="parameterDefinition" type="tns:voParameterDefinition" minOccurs="0"/>
          <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameterDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurable" type="xs:boolean"/>
          <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="mandatory" type="xs:boolean"/>
          <xs:element name="maxValue" type="xs:long" minOccurs="0"/>
          <xs:element name="minValue" type="xs:long" minOccurs="0"/>
          <xs:element name="modificationType" type="tns:parameterModificationType" minOccurs="0"/>
          <xs:element name="parameterId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterOptions" type="tns:voParameterOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="parameterType" type="tns:parameterType" minOccurs="0"/>
          <xs:element name="valueType" type="tns:parameterValueType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameterOption">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="optionDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="optionId" type="xs:string" minOccurs="0"/>
          <xs:element name="paramDefId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPriceModel">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="consideredEvents" type="tns:voPricedEvent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="currencyISOCode" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="freePeriod" type="xs:int"/>
          <xs:element name="license" type="xs:string" minOccurs="0"/>
          <xs:element name="oneTimeFee" type="xs:decimal" minOccurs="0"/>
          <xs:element name="period" type="tns:pricingPeriod" minOccurs="0"/>
          <xs:element name="pricePerPeriod" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUserAssignment" type="xs:decimal" minOccurs="0"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="selectedParameters" type="tns:voPricedParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="type" type="tns:priceModelType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedEvent">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="eventDefinition" type="tns:voEventDefinition" minOccurs="0"/>
          <xs:element name="eventPrice" type="xs:decimal" minOccurs="0"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voEventDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="eventDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="eventId" type="xs:string" minOccurs="0"/>
          <xs:element name="eventType" type="tns:eventType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voSteppedPrice">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="limit" type="xs:long" minOccurs="0"/>
          <xs:element name="price" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedRole">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="role" type="tns:voRoleDefinition" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voRoleDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="roleId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="parameterKey" type="xs:long"/>
          <xs:element name="pricePerSubscription" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricedOptions" type="tns:voPricedOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="voParameterDef" type="tns:voParameterDefinition" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedOption">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="optionId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterOptionKey" type="xs:long"/>
          <xs:element name="pricePerSubscription" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="domainObjectExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="classEnum" type="tns:classEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="applicationExceptionBean">
    <xs:sequence>
      <xs:element name="causeStackTrace" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="messageKey" type="xs:string" minOccurs="0"/>
      <xs:element name="messageParams" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchServices">
    <xs:sequence>
      <xs:element name="marketplaceId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="locale" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="searchPhrase" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="searchServicesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceListResult" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="sorting">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NAME_ASCENDING"/>
      <xs:enumeration value="NAME_DESCENDING"/>
      <xs:enumeration value="ACTIVATION_ASCENDING"/>
      <xs:enumeration value="ACTIVATION_DESCENDING"/>
      <xs:enumeration value="RATING_ASCENDING"/>
      <xs:enumeration value="RATING_DESCENDING"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="serviceAccessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOGIN"/>
      <xs:enumeration value="DIRECT"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="EXTERNAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="offeringType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BROKER"/>
      <xs:enumeration value="RESELLER"/>
      <xs:enumeration value="DIRECT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterModificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STANDARD"/>
      <xs:enumeration value="ONE_TIME"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLATFORM_PARAMETER"/>
      <xs:enumeration value="SERVICE_PARAMETER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="DURATION"/>
      <xs:enumeration value="ENUMERATION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVICE_EVENT"/>
      <xs:enumeration value="PLATFORM_EVENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pricingPeriod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MONTH"/>
      <xs:enumeration value="WEEK"/>
      <xs:enumeration value="DAY"/>
      <xs:enumeration value="HOUR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="priceModelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FREE_OF_CHARGE"/>
      <xs:enumeration value="PRO_RATA"/>
      <xs:enumeration value="PER_UNIT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="serviceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="OBSOLETE"/>
      <xs:enumeration value="DELETED"/>
      <xs:enumeration value="INACTIVE"/>
      <xs:enumeration value="SUSPENDED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="classEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORGANIZATION"/>
      <xs:enumeration value="SERVICE"/>
      <xs:enumeration value="SUBSCRIPTION"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="PAYMENT_INFO"/>
      <xs:enumeration value="TECHNICAL_SERVICE"/>
      <xs:enumeration value="ORGANIZATION_ROLE"/>
      <xs:enumeration value="PARAMETER_DEFINITION"/>
      <xs:enumeration value="PARAMETER_OPTION"/>
      <xs:enumeration value="PARAMETER"/>
      <xs:enumeration value="PRICED_PARAMETER"/>
      <xs:enumeration value="REPORT"/>
      <xs:enumeration value="EVENT"/>
      <xs:enumeration value="ROLE_DEFINITION"/>
      <xs:enumeration value="TECHNICAL_SERVICE_OPERATION"/>
      <xs:enumeration value="OPERATION_PARAMETER"/>
      <xs:enumeration value="PAYMENT_TYPE"/>
      <xs:enumeration value="SUPPORTED_CURRENCY"/>
      <xs:enumeration value="UDA_DEFINITION"/>
      <xs:enumeration value="UDA"/>
      <xs:enumeration value="ORGANIZATION_TO_COUNTRY"/>
      <xs:enumeration value="SUPPORTED_COUNTRY"/>
      <xs:enumeration value="VAT_RATES"/>
      <xs:enumeration value="ORGANIZATION_REFERENCE"/>
      <xs:enumeration value="MARKETPLACE"/>
      <xs:enumeration value="TRIGGER_DEFINITION"/>
      <xs:enumeration value="TRIGGER_PROCESS"/>
      <xs:enumeration value="TAG"/>
      <xs:enumeration value="TECHNICAL_SERVICE_TAG"/>
      <xs:enumeration value="USER_ROLE"/>
      <xs:enumeration value="PRODUCT_REVIEW"/>
      <xs:enumeration value="BILLING_CONTACT"/>
      <xs:enumeration value="MARKETPLACE_TO_ORGANIZATION"/>
      <xs:enumeration value="SUBSCRIPTION_TO_MARKETPLACE"/>
      <xs:enumeration value="PRODUCT_TO_PAYMENTTYPE"/>
      <xs:enumeration value="PSP"/>
      <xs:enumeration value="CATEGORY"/>
      <xs:enumeration value="MARKETING_PERMISSION"/>
      <xs:enumeration value="REPORT_RESULT_CACHE"/>
      <xs:enumeration value="ORGANIZATION_SETTING"/>
      <xs:enumeration value="PLATFORM_SETTING"/>
      <xs:enumeration value="LOCALIZED_RESOURCE"/>
      <xs:enumeration value="USER_GROUP"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

