oscm-integrationtests-apiversioning-test-client/javares/WSDL/ServiceProvisioningService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="ServiceProvisioningService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="ServiceProvisioningService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="activateService">
    <part name="parameters" element="tns:activateService"/>
  </message>
  <message name="activateServiceResponse">
    <part name="parameters" element="tns:activateServiceResponse"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="ServiceStateException">
    <part name="fault" element="tns:ServiceStateException"/>
  </message>
  <message name="OrganizationAuthoritiesException">
    <part name="fault" element="tns:OrganizationAuthoritiesException"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="ServiceOperationException">
    <part name="fault" element="tns:ServiceOperationException"/>
  </message>
  <message name="TechnicalServiceNotAliveException">
    <part name="fault" element="tns:TechnicalServiceNotAliveException"/>
  </message>
  <message name="ServiceNotPublishedException">
    <part name="fault" element="tns:ServiceNotPublishedException"/>
  </message>
  <message name="OperationPendingException">
    <part name="fault" element="tns:OperationPendingException"/>
  </message>
  <message name="deactivateService">
    <part name="parameters" element="tns:deactivateService"/>
  </message>
  <message name="deactivateServiceResponse">
    <part name="parameters" element="tns:deactivateServiceResponse"/>
  </message>
  <message name="deleteTechnicalService">
    <part name="parameters" element="tns:deleteTechnicalService"/>
  </message>
  <message name="deleteTechnicalServiceResponse">
    <part name="parameters" element="tns:deleteTechnicalServiceResponse"/>
  </message>
  <message name="DeletionConstraintException">
    <part name="fault" element="tns:DeletionConstraintException"/>
  </message>
  <message name="ConcurrentModificationException">
    <part name="fault" element="tns:ConcurrentModificationException"/>
  </message>
  <message name="exportTechnicalServices">
    <part name="parameters" element="tns:exportTechnicalServices"/>
  </message>
  <message name="exportTechnicalServicesResponse">
    <part name="parameters" element="tns:exportTechnicalServicesResponse"/>
  </message>
  <message name="getCompatibleServices">
    <part name="parameters" element="tns:getCompatibleServices"/>
  </message>
  <message name="getCompatibleServicesResponse">
    <part name="parameters" element="tns:getCompatibleServicesResponse"/>
  </message>
  <message name="getRelatedServicesForMarketplace">
    <part name="parameters" element="tns:getRelatedServicesForMarketplace"/>
  </message>
  <message name="getRelatedServicesForMarketplaceResponse">
    <part name="parameters" element="tns:getRelatedServicesForMarketplaceResponse"/>
  </message>
  <message name="getPriceModelLicenseTemplateLocalization">
    <part name="parameters" element="tns:getPriceModelLicenseTemplateLocalization"/>
  </message>
  <message name="getPriceModelLicenseTemplateLocalizationResponse">
    <part name="parameters" element="tns:getPriceModelLicenseTemplateLocalizationResponse"/>
  </message>
  <message name="saveTechnicalServiceLocalization">
    <part name="parameters" element="tns:saveTechnicalServiceLocalization"/>
  </message>
  <message name="saveTechnicalServiceLocalizationResponse">
    <part name="parameters" element="tns:saveTechnicalServiceLocalizationResponse"/>
  </message>
  <message name="UpdateConstraintException">
    <part name="fault" element="tns:UpdateConstraintException"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <message name="validateTechnicalServiceCommunication">
    <part name="parameters" element="tns:validateTechnicalServiceCommunication"/>
  </message>
  <message name="validateTechnicalServiceCommunicationResponse">
    <part name="parameters" element="tns:validateTechnicalServiceCommunicationResponse"/>
  </message>
  <message name="getAllCustomerSpecificServices">
    <part name="parameters" element="tns:getAllCustomerSpecificServices"/>
  </message>
  <message name="getAllCustomerSpecificServicesResponse">
    <part name="parameters" element="tns:getAllCustomerSpecificServicesResponse"/>
  </message>
  <message name="copyService">
    <part name="parameters" element="tns:copyService"/>
  </message>
  <message name="copyServiceResponse">
    <part name="parameters" element="tns:copyServiceResponse"/>
  </message>
  <message name="NonUniqueBusinessKeyException">
    <part name="fault" element="tns:NonUniqueBusinessKeyException"/>
  </message>
  <message name="resumeService">
    <part name="parameters" element="tns:resumeService"/>
  </message>
  <message name="resumeServiceResponse">
    <part name="parameters" element="tns:resumeServiceResponse"/>
  </message>
  <message name="updateService">
    <part name="parameters" element="tns:updateService"/>
  </message>
  <message name="updateServiceResponse">
    <part name="parameters" element="tns:updateServiceResponse"/>
  </message>
  <message name="loadImage">
    <part name="parameters" element="tns:loadImage"/>
  </message>
  <message name="loadImageResponse">
    <part name="parameters" element="tns:loadImageResponse"/>
  </message>
  <message name="createService">
    <part name="parameters" element="tns:createService"/>
  </message>
  <message name="createServiceResponse">
    <part name="parameters" element="tns:createServiceResponse"/>
  </message>
  <message name="deleteService">
    <part name="parameters" element="tns:deleteService"/>
  </message>
  <message name="deleteServiceResponse">
    <part name="parameters" element="tns:deleteServiceResponse"/>
  </message>
  <message name="getServicesForCustomer">
    <part name="parameters" element="tns:getServicesForCustomer"/>
  </message>
  <message name="getServicesForCustomerResponse">
    <part name="parameters" element="tns:getServicesForCustomerResponse"/>
  </message>
  <message name="getServiceDetails">
    <part name="parameters" element="tns:getServiceDetails"/>
  </message>
  <message name="getServiceDetailsResponse">
    <part name="parameters" element="tns:getServiceDetailsResponse"/>
  </message>
  <message name="getServiceForCustomer">
    <part name="parameters" element="tns:getServiceForCustomer"/>
  </message>
  <message name="getServiceForCustomerResponse">
    <part name="parameters" element="tns:getServiceForCustomerResponse"/>
  </message>
  <message name="getServiceForSubscription">
    <part name="parameters" element="tns:getServiceForSubscription"/>
  </message>
  <message name="getServiceForSubscriptionResponse">
    <part name="parameters" element="tns:getServiceForSubscriptionResponse"/>
  </message>
  <message name="getSupportedCurrencies">
    <part name="parameters" element="tns:getSupportedCurrencies"/>
  </message>
  <message name="getSupportedCurrenciesResponse">
    <part name="parameters" element="tns:getSupportedCurrenciesResponse"/>
  </message>
  <message name="getTechnicalServices">
    <part name="parameters" element="tns:getTechnicalServices"/>
  </message>
  <message name="getTechnicalServicesResponse">
    <part name="parameters" element="tns:getTechnicalServicesResponse"/>
  </message>
  <message name="importTechnicalServices">
    <part name="parameters" element="tns:importTechnicalServices"/>
  </message>
  <message name="importTechnicalServicesResponse">
    <part name="parameters" element="tns:importTechnicalServicesResponse"/>
  </message>
  <message name="ImportException">
    <part name="fault" element="tns:ImportException"/>
  </message>
  <message name="TechnicalServiceActiveException">
    <part name="fault" element="tns:TechnicalServiceActiveException"/>
  </message>
  <message name="TechnicalServiceMultiSubscriptions">
    <part name="fault" element="tns:TechnicalServiceMultiSubscriptions"/>
  </message>
  <message name="UnchangeableAllowingOnBehalfActingException">
    <part name="fault" element="tns:UnchangeableAllowingOnBehalfActingException"/>
  </message>
  <message name="savePriceModel">
    <part name="parameters" element="tns:savePriceModel"/>
  </message>
  <message name="savePriceModelResponse">
    <part name="parameters" element="tns:savePriceModelResponse"/>
  </message>
  <message name="CurrencyException">
    <part name="fault" element="tns:CurrencyException"/>
  </message>
  <message name="PriceModelException">
    <part name="fault" element="tns:PriceModelException"/>
  </message>
  <message name="savePriceModelForCustomer">
    <part name="parameters" element="tns:savePriceModelForCustomer"/>
  </message>
  <message name="savePriceModelForCustomerResponse">
    <part name="parameters" element="tns:savePriceModelForCustomerResponse"/>
  </message>
  <message name="savePriceModelForSubscription">
    <part name="parameters" element="tns:savePriceModelForSubscription"/>
  </message>
  <message name="savePriceModelForSubscriptionResponse">
    <part name="parameters" element="tns:savePriceModelForSubscriptionResponse"/>
  </message>
  <message name="SubscriptionStateException">
    <part name="fault" element="tns:SubscriptionStateException"/>
  </message>
  <message name="PaymentInformationException">
    <part name="fault" element="tns:PaymentInformationException"/>
  </message>
  <message name="createTechnicalService">
    <part name="parameters" element="tns:createTechnicalService"/>
  </message>
  <message name="createTechnicalServiceResponse">
    <part name="parameters" element="tns:createTechnicalServiceResponse"/>
  </message>
  <message name="setCompatibleServices">
    <part name="parameters" element="tns:setCompatibleServices"/>
  </message>
  <message name="setCompatibleServicesResponse">
    <part name="parameters" element="tns:setCompatibleServicesResponse"/>
  </message>
  <message name="ServiceCompatibilityException">
    <part name="fault" element="tns:ServiceCompatibilityException"/>
  </message>
  <message name="getPriceModelLocalization">
    <part name="parameters" element="tns:getPriceModelLocalization"/>
  </message>
  <message name="getPriceModelLocalizationResponse">
    <part name="parameters" element="tns:getPriceModelLocalizationResponse"/>
  </message>
  <message name="getServiceLocalization">
    <part name="parameters" element="tns:getServiceLocalization"/>
  </message>
  <message name="getServiceLocalizationResponse">
    <part name="parameters" element="tns:getServiceLocalizationResponse"/>
  </message>
  <message name="savePriceModelLocalization">
    <part name="parameters" element="tns:savePriceModelLocalization"/>
  </message>
  <message name="savePriceModelLocalizationResponse">
    <part name="parameters" element="tns:savePriceModelLocalizationResponse"/>
  </message>
  <message name="saveServiceLocalization">
    <part name="parameters" element="tns:saveServiceLocalization"/>
  </message>
  <message name="saveServiceLocalizationResponse">
    <part name="parameters" element="tns:saveServiceLocalizationResponse"/>
  </message>
  <message name="loadImageForSupplier">
    <part name="parameters" element="tns:loadImageForSupplier"/>
  </message>
  <message name="loadImageForSupplierResponse">
    <part name="parameters" element="tns:loadImageForSupplierResponse"/>
  </message>
  <message name="getSuppliedServices">
    <part name="parameters" element="tns:getSuppliedServices"/>
  </message>
  <message name="getSuppliedServicesResponse">
    <part name="parameters" element="tns:getSuppliedServicesResponse"/>
  </message>
  <message name="getServicesForMarketplace">
    <part name="parameters" element="tns:getServicesForMarketplace"/>
  </message>
  <message name="getServicesForMarketplaceResponse">
    <part name="parameters" element="tns:getServicesForMarketplaceResponse"/>
  </message>
  <message name="setActivationStates">
    <part name="parameters" element="tns:setActivationStates"/>
  </message>
  <message name="setActivationStatesResponse">
    <part name="parameters" element="tns:setActivationStatesResponse"/>
  </message>
  <message name="getServiceForMarketplace">
    <part name="parameters" element="tns:getServiceForMarketplace"/>
  </message>
  <message name="getServiceForMarketplaceResponse">
    <part name="parameters" element="tns:getServiceForMarketplaceResponse"/>
  </message>
  <message name="getServiceSeller">
    <part name="parameters" element="tns:getServiceSeller"/>
  </message>
  <message name="getServiceSellerResponse">
    <part name="parameters" element="tns:getServiceSellerResponse"/>
  </message>
  <message name="getInstanceIdsForSellers">
    <part name="parameters" element="tns:getInstanceIdsForSellers"/>
  </message>
  <message name="getInstanceIdsForSellersResponse">
    <part name="parameters" element="tns:getInstanceIdsForSellersResponse"/>
  </message>
  <message name="suspendService">
    <part name="parameters" element="tns:suspendService"/>
  </message>
  <message name="suspendServiceResponse">
    <part name="parameters" element="tns:suspendServiceResponse"/>
  </message>
  <message name="statusAllowsDeletion">
    <part name="parameters" element="tns:statusAllowsDeletion"/>
  </message>
  <message name="statusAllowsDeletionResponse">
    <part name="parameters" element="tns:statusAllowsDeletionResponse"/>
  </message>
  <message name="isPartOfUpgradePath">
    <part name="parameters" element="tns:isPartOfUpgradePath"/>
  </message>
  <message name="isPartOfUpgradePathResponse">
    <part name="parameters" element="tns:isPartOfUpgradePathResponse"/>
  </message>
  <message name="getPotentialCompatibleServices">
    <part name="parameters" element="tns:getPotentialCompatibleServices"/>
  </message>
  <message name="getPotentialCompatibleServicesResponse">
    <part name="parameters" element="tns:getPotentialCompatibleServicesResponse"/>
  </message>
  <portType name="ServiceProvisioningService">
    <operation name="activateService">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/activateServiceRequest" message="tns:activateService"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/activateServiceResponse" message="tns:activateServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/activateService/Fault/ObjectNotFoundException"/>
      <fault message="tns:ServiceStateException" name="ServiceStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/activateService/Fault/ServiceStateException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/activateService/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/activateService/Fault/OperationNotPermittedException"/>
      <fault message="tns:ServiceOperationException" name="ServiceOperationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/activateService/Fault/ServiceOperationException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/activateService/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:ServiceNotPublishedException" name="ServiceNotPublishedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/activateService/Fault/ServiceNotPublishedException"/>
      <fault message="tns:OperationPendingException" name="OperationPendingException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/activateService/Fault/OperationPendingException"/>
    </operation>
    <operation name="deactivateService">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deactivateServiceRequest" message="tns:deactivateService"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deactivateServiceResponse" message="tns:deactivateServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deactivateService/Fault/ObjectNotFoundException"/>
      <fault message="tns:ServiceStateException" name="ServiceStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deactivateService/Fault/ServiceStateException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deactivateService/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deactivateService/Fault/OperationNotPermittedException"/>
      <fault message="tns:ServiceOperationException" name="ServiceOperationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deactivateService/Fault/ServiceOperationException"/>
      <fault message="tns:OperationPendingException" name="OperationPendingException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deactivateService/Fault/OperationPendingException"/>
    </operation>
    <operation name="deleteTechnicalService">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteTechnicalServiceRequest" message="tns:deleteTechnicalService"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteTechnicalServiceResponse" message="tns:deleteTechnicalServiceResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteTechnicalService/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteTechnicalService/Fault/ObjectNotFoundException"/>
      <fault message="tns:DeletionConstraintException" name="DeletionConstraintException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteTechnicalService/Fault/DeletionConstraintException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteTechnicalService/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="exportTechnicalServices">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/exportTechnicalServicesRequest" message="tns:exportTechnicalServices"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/exportTechnicalServicesResponse" message="tns:exportTechnicalServicesResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/exportTechnicalServices/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/exportTechnicalServices/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/exportTechnicalServices/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getCompatibleServices">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getCompatibleServicesRequest" message="tns:getCompatibleServices"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getCompatibleServicesResponse" message="tns:getCompatibleServicesResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getCompatibleServices/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getCompatibleServices/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getCompatibleServices/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getRelatedServicesForMarketplace">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getRelatedServicesForMarketplaceRequest" message="tns:getRelatedServicesForMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getRelatedServicesForMarketplaceResponse" message="tns:getRelatedServicesForMarketplaceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getRelatedServicesForMarketplace/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="getPriceModelLicenseTemplateLocalization">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPriceModelLicenseTemplateLocalizationRequest" message="tns:getPriceModelLicenseTemplateLocalization"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPriceModelLicenseTemplateLocalizationResponse" message="tns:getPriceModelLicenseTemplateLocalizationResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPriceModelLicenseTemplateLocalization/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPriceModelLicenseTemplateLocalization/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="saveTechnicalServiceLocalization">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveTechnicalServiceLocalizationRequest" message="tns:saveTechnicalServiceLocalization"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveTechnicalServiceLocalizationResponse" message="tns:saveTechnicalServiceLocalizationResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveTechnicalServiceLocalization/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveTechnicalServiceLocalization/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveTechnicalServiceLocalization/Fault/OperationNotPermittedException"/>
      <fault message="tns:UpdateConstraintException" name="UpdateConstraintException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveTechnicalServiceLocalization/Fault/UpdateConstraintException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveTechnicalServiceLocalization/Fault/ValidationException"/>
    </operation>
    <operation name="validateTechnicalServiceCommunication">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/validateTechnicalServiceCommunicationRequest" message="tns:validateTechnicalServiceCommunication"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/validateTechnicalServiceCommunicationResponse" message="tns:validateTechnicalServiceCommunicationResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/validateTechnicalServiceCommunication/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/validateTechnicalServiceCommunication/Fault/OperationNotPermittedException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/validateTechnicalServiceCommunication/Fault/TechnicalServiceNotAliveException"/>
    </operation>
    <operation name="getAllCustomerSpecificServices">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getAllCustomerSpecificServicesRequest" message="tns:getAllCustomerSpecificServices"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getAllCustomerSpecificServicesResponse" message="tns:getAllCustomerSpecificServicesResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getAllCustomerSpecificServices/Fault/OrganizationAuthoritiesException"/>
    </operation>
    <operation name="copyService">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/copyServiceRequest" message="tns:copyService"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/copyServiceResponse" message="tns:copyServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/copyService/Fault/ObjectNotFoundException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/copyService/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/copyService/Fault/OperationNotPermittedException"/>
      <fault message="tns:ServiceStateException" name="ServiceStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/copyService/Fault/ServiceStateException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/copyService/Fault/ConcurrentModificationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/copyService/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/copyService/Fault/ValidationException"/>
    </operation>
    <operation name="resumeService">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/resumeServiceRequest" message="tns:resumeService"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/resumeServiceResponse" message="tns:resumeServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/resumeService/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/resumeService/Fault/OperationNotPermittedException"/>
      <fault message="tns:ServiceStateException" name="ServiceStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/resumeService/Fault/ServiceStateException"/>
    </operation>
    <operation name="updateService">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/updateServiceRequest" message="tns:updateService"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/updateServiceResponse" message="tns:updateServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/updateService/Fault/ObjectNotFoundException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/updateService/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/updateService/Fault/OperationNotPermittedException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/updateService/Fault/ValidationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/updateService/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ServiceStateException" name="ServiceStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/updateService/Fault/ServiceStateException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/updateService/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="loadImage">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/loadImageRequest" message="tns:loadImage"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/loadImageResponse" message="tns:loadImageResponse"/>
    </operation>
    <operation name="createService">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createServiceRequest" message="tns:createService"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createServiceResponse" message="tns:createServiceResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createService/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createService/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createService/Fault/OperationNotPermittedException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createService/Fault/ValidationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createService/Fault/NonUniqueBusinessKeyException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createService/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="deleteService">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteServiceRequest" message="tns:deleteService"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteServiceResponse" message="tns:deleteServiceResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteService/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteService/Fault/OperationNotPermittedException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteService/Fault/ObjectNotFoundException"/>
      <fault message="tns:ServiceOperationException" name="ServiceOperationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteService/Fault/ServiceOperationException"/>
      <fault message="tns:ServiceStateException" name="ServiceStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteService/Fault/ServiceStateException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/deleteService/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="getServicesForCustomer">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServicesForCustomerRequest" message="tns:getServicesForCustomer"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServicesForCustomerResponse" message="tns:getServicesForCustomerResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServicesForCustomer/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServicesForCustomer/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getServiceDetails">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceDetailsRequest" message="tns:getServiceDetails"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceDetailsResponse" message="tns:getServiceDetailsResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceDetails/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceDetails/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getServiceForCustomer">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForCustomerRequest" message="tns:getServiceForCustomer"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForCustomerResponse" message="tns:getServiceForCustomerResponse"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForCustomer/Fault/OperationNotPermittedException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForCustomer/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="getServiceForSubscription">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForSubscriptionRequest" message="tns:getServiceForSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForSubscriptionResponse" message="tns:getServiceForSubscriptionResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForSubscription/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForSubscription/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="getSupportedCurrencies">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getSupportedCurrenciesRequest" message="tns:getSupportedCurrencies"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getSupportedCurrenciesResponse" message="tns:getSupportedCurrenciesResponse"/>
    </operation>
    <operation name="getTechnicalServices">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getTechnicalServicesRequest" message="tns:getTechnicalServices"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getTechnicalServicesResponse" message="tns:getTechnicalServicesResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getTechnicalServices/Fault/OrganizationAuthoritiesException"/>
    </operation>
    <operation name="importTechnicalServices">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/importTechnicalServicesRequest" message="tns:importTechnicalServices"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/importTechnicalServicesResponse" message="tns:importTechnicalServicesResponse"/>
      <fault message="tns:ImportException" name="ImportException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/importTechnicalServices/Fault/ImportException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/importTechnicalServices/Fault/OperationNotPermittedException"/>
      <fault message="tns:TechnicalServiceActiveException" name="TechnicalServiceActiveException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/importTechnicalServices/Fault/TechnicalServiceActiveException"/>
      <fault message="tns:UpdateConstraintException" name="UpdateConstraintException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/importTechnicalServices/Fault/UpdateConstraintException"/>
      <fault message="tns:TechnicalServiceMultiSubscriptions" name="TechnicalServiceMultiSubscriptions" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/importTechnicalServices/Fault/TechnicalServiceMultiSubscriptions"/>
      <fault message="tns:UnchangeableAllowingOnBehalfActingException" name="UnchangeableAllowingOnBehalfActingException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/importTechnicalServices/Fault/UnchangeableAllowingOnBehalfActingException"/>
    </operation>
    <operation name="savePriceModel">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelRequest" message="tns:savePriceModel"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelResponse" message="tns:savePriceModelResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModel/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModel/Fault/OperationNotPermittedException"/>
      <fault message="tns:CurrencyException" name="CurrencyException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModel/Fault/CurrencyException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModel/Fault/ValidationException"/>
      <fault message="tns:ServiceStateException" name="ServiceStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModel/Fault/ServiceStateException"/>
      <fault message="tns:PriceModelException" name="PriceModelException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModel/Fault/PriceModelException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModel/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="savePriceModelForCustomer">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForCustomerRequest" message="tns:savePriceModelForCustomer"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForCustomerResponse" message="tns:savePriceModelForCustomerResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForCustomer/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForCustomer/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForCustomer/Fault/OperationNotPermittedException"/>
      <fault message="tns:CurrencyException" name="CurrencyException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForCustomer/Fault/CurrencyException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForCustomer/Fault/ValidationException"/>
      <fault message="tns:ServiceStateException" name="ServiceStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForCustomer/Fault/ServiceStateException"/>
      <fault message="tns:PriceModelException" name="PriceModelException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForCustomer/Fault/PriceModelException"/>
      <fault message="tns:ServiceOperationException" name="ServiceOperationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForCustomer/Fault/ServiceOperationException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForCustomer/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="savePriceModelForSubscription">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForSubscriptionRequest" message="tns:savePriceModelForSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForSubscriptionResponse" message="tns:savePriceModelForSubscriptionResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForSubscription/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForSubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForSubscription/Fault/OperationNotPermittedException"/>
      <fault message="tns:CurrencyException" name="CurrencyException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForSubscription/Fault/CurrencyException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForSubscription/Fault/ValidationException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForSubscription/Fault/ConcurrentModificationException"/>
      <fault message="tns:SubscriptionStateException" name="SubscriptionStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForSubscription/Fault/SubscriptionStateException"/>
      <fault message="tns:PaymentInformationException" name="PaymentInformationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForSubscription/Fault/PaymentInformationException"/>
      <fault message="tns:PriceModelException" name="PriceModelException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelForSubscription/Fault/PriceModelException"/>
    </operation>
    <operation name="createTechnicalService">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createTechnicalServiceRequest" message="tns:createTechnicalService"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createTechnicalServiceResponse" message="tns:createTechnicalServiceResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createTechnicalService/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createTechnicalService/Fault/ValidationException"/>
      <fault message="tns:NonUniqueBusinessKeyException" name="NonUniqueBusinessKeyException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/createTechnicalService/Fault/NonUniqueBusinessKeyException"/>
    </operation>
    <operation name="setCompatibleServices">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setCompatibleServicesRequest" message="tns:setCompatibleServices"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setCompatibleServicesResponse" message="tns:setCompatibleServicesResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setCompatibleServices/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setCompatibleServices/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setCompatibleServices/Fault/OperationNotPermittedException"/>
      <fault message="tns:ServiceCompatibilityException" name="ServiceCompatibilityException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setCompatibleServices/Fault/ServiceCompatibilityException"/>
      <fault message="tns:ServiceStateException" name="ServiceStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setCompatibleServices/Fault/ServiceStateException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setCompatibleServices/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="getPriceModelLocalization">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPriceModelLocalizationRequest" message="tns:getPriceModelLocalization"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPriceModelLocalizationResponse" message="tns:getPriceModelLocalizationResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPriceModelLocalization/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPriceModelLocalization/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getServiceLocalization">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceLocalizationRequest" message="tns:getServiceLocalization"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceLocalizationResponse" message="tns:getServiceLocalizationResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceLocalization/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceLocalization/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="savePriceModelLocalization">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelLocalizationRequest" message="tns:savePriceModelLocalization"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelLocalizationResponse" message="tns:savePriceModelLocalizationResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelLocalization/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelLocalization/Fault/OperationNotPermittedException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/savePriceModelLocalization/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="saveServiceLocalization">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveServiceLocalizationRequest" message="tns:saveServiceLocalization"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveServiceLocalizationResponse" message="tns:saveServiceLocalizationResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveServiceLocalization/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveServiceLocalization/Fault/OperationNotPermittedException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveServiceLocalization/Fault/ValidationException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/saveServiceLocalization/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="loadImageForSupplier">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/loadImageForSupplierRequest" message="tns:loadImageForSupplier"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/loadImageForSupplierResponse" message="tns:loadImageForSupplierResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/loadImageForSupplier/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="getSuppliedServices">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getSuppliedServicesRequest" message="tns:getSuppliedServices"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getSuppliedServicesResponse" message="tns:getSuppliedServicesResponse"/>
    </operation>
    <operation name="getServicesForMarketplace">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServicesForMarketplaceRequest" message="tns:getServicesForMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServicesForMarketplaceResponse" message="tns:getServicesForMarketplaceResponse"/>
    </operation>
    <operation name="setActivationStates">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setActivationStatesRequest" message="tns:setActivationStates"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setActivationStatesResponse" message="tns:setActivationStatesResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setActivationStates/Fault/ObjectNotFoundException"/>
      <fault message="tns:ServiceStateException" name="ServiceStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setActivationStates/Fault/ServiceStateException"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setActivationStates/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setActivationStates/Fault/OperationNotPermittedException"/>
      <fault message="tns:ServiceOperationException" name="ServiceOperationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setActivationStates/Fault/ServiceOperationException"/>
      <fault message="tns:TechnicalServiceNotAliveException" name="TechnicalServiceNotAliveException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setActivationStates/Fault/TechnicalServiceNotAliveException"/>
      <fault message="tns:ServiceNotPublishedException" name="ServiceNotPublishedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setActivationStates/Fault/ServiceNotPublishedException"/>
      <fault message="tns:OperationPendingException" name="OperationPendingException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/setActivationStates/Fault/OperationPendingException"/>
    </operation>
    <operation name="getServiceForMarketplace">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForMarketplaceRequest" message="tns:getServiceForMarketplace"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForMarketplaceResponse" message="tns:getServiceForMarketplaceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForMarketplace/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceForMarketplace/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getServiceSeller">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceSellerRequest" message="tns:getServiceSeller"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceSellerResponse" message="tns:getServiceSellerResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getServiceSeller/Fault/ObjectNotFoundException"/>
    </operation>
    <operation name="getInstanceIdsForSellers">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getInstanceIdsForSellersRequest" message="tns:getInstanceIdsForSellers"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getInstanceIdsForSellersResponse" message="tns:getInstanceIdsForSellersResponse"/>
    </operation>
    <operation name="suspendService">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/suspendServiceRequest" message="tns:suspendService"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/suspendServiceResponse" message="tns:suspendServiceResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/suspendService/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/suspendService/Fault/OperationNotPermittedException"/>
      <fault message="tns:ServiceStateException" name="ServiceStateException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/suspendService/Fault/ServiceStateException"/>
    </operation>
    <operation name="statusAllowsDeletion">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/statusAllowsDeletionRequest" message="tns:statusAllowsDeletion"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/statusAllowsDeletionResponse" message="tns:statusAllowsDeletionResponse"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/statusAllowsDeletion/Fault/OperationNotPermittedException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/statusAllowsDeletion/Fault/ObjectNotFoundException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/statusAllowsDeletion/Fault/ConcurrentModificationException"/>
    </operation>
    <operation name="isPartOfUpgradePath">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/isPartOfUpgradePathRequest" message="tns:isPartOfUpgradePath"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/isPartOfUpgradePathResponse" message="tns:isPartOfUpgradePathResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/isPartOfUpgradePath/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/isPartOfUpgradePath/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getPotentialCompatibleServices">
      <input wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPotentialCompatibleServicesRequest" message="tns:getPotentialCompatibleServices"/>
      <output wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPotentialCompatibleServicesResponse" message="tns:getPotentialCompatibleServicesResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPotentialCompatibleServices/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/ServiceProvisioningService/getPotentialCompatibleServices/Fault/OperationNotPermittedException"/>
    </operation>
  </portType>
  <binding name="ServiceProvisioningServicePortBinding" type="tns:ServiceProvisioningService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="activateService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ServiceOperationException">
        <soap:fault name="ServiceOperationException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="ServiceNotPublishedException">
        <soap:fault name="ServiceNotPublishedException" use="literal"/>
      </fault>
      <fault name="OperationPendingException">
        <soap:fault name="OperationPendingException" use="literal"/>
      </fault>
    </operation>
    <operation name="deactivateService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ServiceOperationException">
        <soap:fault name="ServiceOperationException" use="literal"/>
      </fault>
      <fault name="OperationPendingException">
        <soap:fault name="OperationPendingException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteTechnicalService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="DeletionConstraintException">
        <soap:fault name="DeletionConstraintException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="exportTechnicalServices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCompatibleServices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getRelatedServicesForMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPriceModelLicenseTemplateLocalization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveTechnicalServiceLocalization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="UpdateConstraintException">
        <soap:fault name="UpdateConstraintException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="validateTechnicalServiceCommunication">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllCustomerSpecificServices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
    </operation>
    <operation name="copyService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="resumeService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="loadImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ServiceOperationException">
        <soap:fault name="ServiceOperationException" use="literal"/>
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServicesForCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceForCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceForSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSupportedCurrencies">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTechnicalServices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
    </operation>
    <operation name="importTechnicalServices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImportException">
        <soap:fault name="ImportException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceActiveException">
        <soap:fault name="TechnicalServiceActiveException" use="literal"/>
      </fault>
      <fault name="UpdateConstraintException">
        <soap:fault name="UpdateConstraintException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceMultiSubscriptions">
        <soap:fault name="TechnicalServiceMultiSubscriptions" use="literal"/>
      </fault>
      <fault name="UnchangeableAllowingOnBehalfActingException">
        <soap:fault name="UnchangeableAllowingOnBehalfActingException" use="literal"/>
      </fault>
    </operation>
    <operation name="savePriceModel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="CurrencyException">
        <soap:fault name="CurrencyException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal"/>
      </fault>
      <fault name="PriceModelException">
        <soap:fault name="PriceModelException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="savePriceModelForCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="CurrencyException">
        <soap:fault name="CurrencyException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal"/>
      </fault>
      <fault name="PriceModelException">
        <soap:fault name="PriceModelException" use="literal"/>
      </fault>
      <fault name="ServiceOperationException">
        <soap:fault name="ServiceOperationException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="savePriceModelForSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="CurrencyException">
        <soap:fault name="CurrencyException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="SubscriptionStateException">
        <soap:fault name="SubscriptionStateException" use="literal"/>
      </fault>
      <fault name="PaymentInformationException">
        <soap:fault name="PaymentInformationException" use="literal"/>
      </fault>
      <fault name="PriceModelException">
        <soap:fault name="PriceModelException" use="literal"/>
      </fault>
    </operation>
    <operation name="createTechnicalService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="NonUniqueBusinessKeyException">
        <soap:fault name="NonUniqueBusinessKeyException" use="literal"/>
      </fault>
    </operation>
    <operation name="setCompatibleServices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ServiceCompatibilityException">
        <soap:fault name="ServiceCompatibilityException" use="literal"/>
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPriceModelLocalization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceLocalization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="savePriceModelLocalization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveServiceLocalization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="loadImageForSupplier">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSuppliedServices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getServicesForMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setActivationStates">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal"/>
      </fault>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ServiceOperationException">
        <soap:fault name="ServiceOperationException" use="literal"/>
      </fault>
      <fault name="TechnicalServiceNotAliveException">
        <soap:fault name="TechnicalServiceNotAliveException" use="literal"/>
      </fault>
      <fault name="ServiceNotPublishedException">
        <soap:fault name="ServiceNotPublishedException" use="literal"/>
      </fault>
      <fault name="OperationPendingException">
        <soap:fault name="OperationPendingException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceForMarketplace">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceSeller">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getInstanceIdsForSellers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="suspendService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ServiceStateException">
        <soap:fault name="ServiceStateException" use="literal"/>
      </fault>
    </operation>
    <operation name="statusAllowsDeletion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
    </operation>
    <operation name="isPartOfUpgradePath">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPotentialCompatibleServices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ServiceProvisioningService">
    <port name="ServiceProvisioningServicePort" binding="tns:ServiceProvisioningServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

