oscm-integrationtests-apiversioning-test-client/javares/WSDL/SessionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="SessionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="SessionService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createPlatformSession">
    <part name="parameters" element="tns:createPlatformSession"/>
  </message>
  <message name="createPlatformSessionResponse">
    <part name="parameters" element="tns:createPlatformSessionResponse"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <message name="createServiceSession">
    <part name="parameters" element="tns:createServiceSession"/>
  </message>
  <message name="createServiceSessionResponse">
    <part name="parameters" element="tns:createServiceSessionResponse"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="ServiceParameterException">
    <part name="fault" element="tns:ServiceParameterException"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="deletePlatformSession">
    <part name="parameters" element="tns:deletePlatformSession"/>
  </message>
  <message name="deletePlatformSessionResponse">
    <part name="parameters" element="tns:deletePlatformSessionResponse"/>
  </message>
  <message name="deleteServiceSession">
    <part name="parameters" element="tns:deleteServiceSession"/>
  </message>
  <message name="deleteServiceSessionResponse">
    <part name="parameters" element="tns:deleteServiceSessionResponse"/>
  </message>
  <message name="deleteSessionsForSessionId">
    <part name="parameters" element="tns:deleteSessionsForSessionId"/>
  </message>
  <message name="deleteSessionsForSessionIdResponse">
    <part name="parameters" element="tns:deleteSessionsForSessionIdResponse"/>
  </message>
  <message name="resolveUserToken">
    <part name="parameters" element="tns:resolveUserToken"/>
  </message>
  <message name="resolveUserTokenResponse">
    <part name="parameters" element="tns:resolveUserTokenResponse"/>
  </message>
  <message name="getNumberOfServiceSessions">
    <part name="parameters" element="tns:getNumberOfServiceSessions"/>
  </message>
  <message name="getNumberOfServiceSessionsResponse">
    <part name="parameters" element="tns:getNumberOfServiceSessionsResponse"/>
  </message>
  <message name="deleteServiceSessionsForSubscription">
    <part name="parameters" element="tns:deleteServiceSessionsForSubscription"/>
  </message>
  <message name="deleteServiceSessionsForSubscriptionResponse">
    <part name="parameters" element="tns:deleteServiceSessionsForSubscriptionResponse"/>
  </message>
  <message name="getSubscriptionKeysForSessionId">
    <part name="parameters" element="tns:getSubscriptionKeysForSessionId"/>
  </message>
  <message name="getSubscriptionKeysForSessionIdResponse">
    <part name="parameters" element="tns:getSubscriptionKeysForSessionIdResponse"/>
  </message>
  <portType name="SessionService">
    <operation name="createPlatformSession">
      <input wsam:Action="http://oscm.org/xsd/SessionService/createPlatformSessionRequest" message="tns:createPlatformSession"/>
      <output wsam:Action="http://oscm.org/xsd/SessionService/createPlatformSessionResponse" message="tns:createPlatformSessionResponse"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/SessionService/createPlatformSession/Fault/ValidationException"/>
    </operation>
    <operation name="createServiceSession">
      <input wsam:Action="http://oscm.org/xsd/SessionService/createServiceSessionRequest" message="tns:createServiceSession"/>
      <output wsam:Action="http://oscm.org/xsd/SessionService/createServiceSessionResponse" message="tns:createServiceSessionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SessionService/createServiceSession/Fault/ObjectNotFoundException"/>
      <fault message="tns:ServiceParameterException" name="ServiceParameterException" wsam:Action="http://oscm.org/xsd/SessionService/createServiceSession/Fault/ServiceParameterException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SessionService/createServiceSession/Fault/OperationNotPermittedException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/SessionService/createServiceSession/Fault/ValidationException"/>
    </operation>
    <operation name="deletePlatformSession">
      <input wsam:Action="http://oscm.org/xsd/SessionService/deletePlatformSessionRequest" message="tns:deletePlatformSession"/>
      <output wsam:Action="http://oscm.org/xsd/SessionService/deletePlatformSessionResponse" message="tns:deletePlatformSessionResponse"/>
    </operation>
    <operation name="deleteServiceSession">
      <input wsam:Action="http://oscm.org/xsd/SessionService/deleteServiceSessionRequest" message="tns:deleteServiceSession"/>
      <output wsam:Action="http://oscm.org/xsd/SessionService/deleteServiceSessionResponse" message="tns:deleteServiceSessionResponse"/>
    </operation>
    <operation name="deleteSessionsForSessionId">
      <input wsam:Action="http://oscm.org/xsd/SessionService/deleteSessionsForSessionIdRequest" message="tns:deleteSessionsForSessionId"/>
      <output wsam:Action="http://oscm.org/xsd/SessionService/deleteSessionsForSessionIdResponse" message="tns:deleteSessionsForSessionIdResponse"/>
    </operation>
    <operation name="resolveUserToken">
      <input wsam:Action="http://oscm.org/xsd/SessionService/resolveUserTokenRequest" message="tns:resolveUserToken"/>
      <output wsam:Action="http://oscm.org/xsd/SessionService/resolveUserTokenResponse" message="tns:resolveUserTokenResponse"/>
    </operation>
    <operation name="getNumberOfServiceSessions">
      <input wsam:Action="http://oscm.org/xsd/SessionService/getNumberOfServiceSessionsRequest" message="tns:getNumberOfServiceSessions"/>
      <output wsam:Action="http://oscm.org/xsd/SessionService/getNumberOfServiceSessionsResponse" message="tns:getNumberOfServiceSessionsResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SessionService/getNumberOfServiceSessions/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SessionService/getNumberOfServiceSessions/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="deleteServiceSessionsForSubscription">
      <input wsam:Action="http://oscm.org/xsd/SessionService/deleteServiceSessionsForSubscriptionRequest" message="tns:deleteServiceSessionsForSubscription"/>
      <output wsam:Action="http://oscm.org/xsd/SessionService/deleteServiceSessionsForSubscriptionResponse" message="tns:deleteServiceSessionsForSubscriptionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/SessionService/deleteServiceSessionsForSubscription/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/SessionService/deleteServiceSessionsForSubscription/Fault/OperationNotPermittedException"/>
    </operation>
    <operation name="getSubscriptionKeysForSessionId">
      <input wsam:Action="http://oscm.org/xsd/SessionService/getSubscriptionKeysForSessionIdRequest" message="tns:getSubscriptionKeysForSessionId"/>
      <output wsam:Action="http://oscm.org/xsd/SessionService/getSubscriptionKeysForSessionIdResponse" message="tns:getSubscriptionKeysForSessionIdResponse"/>
    </operation>
  </portType>
  <binding name="SessionServicePortBinding" type="tns:SessionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createPlatformSession">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="createServiceSession">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="ServiceParameterException">
        <soap:fault name="ServiceParameterException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="deletePlatformSession">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteServiceSession">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteSessionsForSessionId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="resolveUserToken">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getNumberOfServiceSessions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteServiceSessionsForSubscription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getSubscriptionKeysForSessionId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SessionService">
    <port name="SessionServicePort" binding="tns:SessionServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

