oscm-integrationtests-apiversioning-test-client/javares/WSDL/SubscriptionService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ApplicationExceptionBean" type="tns:applicationExceptionBean"/>

  <xs:element name="ConcurrentModificationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="DomainObjectExceptionBean" type="tns:domainObjectExceptionBean"/>

  <xs:element name="MailOperationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="MandatoryUdaMissingException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="NonUniqueBusinessKeyException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="ObjectNotFoundException" nillable="true" type="tns:domainObjectExceptionBean"/>

  <xs:element name="OperationNotPermittedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="OperationPendingException" nillable="true" type="tns:operationPendingExceptionBean"/>

  <xs:element name="OperationPendingExceptionBean" type="tns:operationPendingExceptionBean"/>

  <xs:element name="OperationStateException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="OrganizationAuthoritiesException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="PaymentDataException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="PaymentInformationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="PriceModelException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ServiceChangedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ServiceParameterException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="SubscriptionAlreadyExistsException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="SubscriptionMigrationException" nillable="true" type="tns:subscriptionMigrationExceptionBean"/>

  <xs:element name="SubscriptionMigrationExceptionBean" type="tns:subscriptionMigrationExceptionBean"/>

  <xs:element name="SubscriptionStateException" nillable="true" type="tns:subscriptionStateExceptionBean"/>

  <xs:element name="SubscriptionStateExceptionBean" type="tns:subscriptionStateExceptionBean"/>

  <xs:element name="SubscriptionStillActiveException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="TechnicalServiceNotAliveException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="TechnicalServiceOperationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ValidationException" nillable="true" type="tns:validationExceptionBean"/>

  <xs:element name="ValidationExceptionBean" type="tns:validationExceptionBean"/>

  <xs:element name="abortAsyncModifySubscription" type="tns:abortAsyncModifySubscription"/>

  <xs:element name="abortAsyncModifySubscriptionResponse" type="tns:abortAsyncModifySubscriptionResponse"/>

  <xs:element name="abortAsyncSubscription" type="tns:abortAsyncSubscription"/>

  <xs:element name="abortAsyncSubscriptionResponse" type="tns:abortAsyncSubscriptionResponse"/>

  <xs:element name="abortAsyncUpgradeSubscription" type="tns:abortAsyncUpgradeSubscription"/>

  <xs:element name="abortAsyncUpgradeSubscriptionResponse" type="tns:abortAsyncUpgradeSubscriptionResponse"/>

  <xs:element name="addRevokeUser" type="tns:addRevokeUser"/>

  <xs:element name="addRevokeUserResponse" type="tns:addRevokeUserResponse"/>

  <xs:element name="completeAsyncModifySubscription" type="tns:completeAsyncModifySubscription"/>

  <xs:element name="completeAsyncModifySubscriptionResponse" type="tns:completeAsyncModifySubscriptionResponse"/>

  <xs:element name="completeAsyncSubscription" type="tns:completeAsyncSubscription"/>

  <xs:element name="completeAsyncSubscriptionResponse" type="tns:completeAsyncSubscriptionResponse"/>

  <xs:element name="completeAsyncUpgradeSubscription" type="tns:completeAsyncUpgradeSubscription"/>

  <xs:element name="completeAsyncUpgradeSubscriptionResponse" type="tns:completeAsyncUpgradeSubscriptionResponse"/>

  <xs:element name="executeServiceOperation" type="tns:executeServiceOperation"/>

  <xs:element name="executeServiceOperationResponse" type="tns:executeServiceOperationResponse"/>

  <xs:element name="getCustomerSubscriptions" type="tns:getCustomerSubscriptions"/>

  <xs:element name="getCustomerSubscriptionsResponse" type="tns:getCustomerSubscriptionsResponse"/>

  <xs:element name="getCustomersForSubscriptionId" type="tns:getCustomersForSubscriptionId"/>

  <xs:element name="getCustomersForSubscriptionIdResponse" type="tns:getCustomersForSubscriptionIdResponse"/>

  <xs:element name="getServiceOperationParameterValues" type="tns:getServiceOperationParameterValues"/>

  <xs:element name="getServiceOperationParameterValuesResponse" type="tns:getServiceOperationParameterValuesResponse"/>

  <xs:element name="getServiceRolesForService" type="tns:getServiceRolesForService"/>

  <xs:element name="getServiceRolesForServiceResponse" type="tns:getServiceRolesForServiceResponse"/>

  <xs:element name="getServiceRolesForSubscription" type="tns:getServiceRolesForSubscription"/>

  <xs:element name="getServiceRolesForSubscriptionResponse" type="tns:getServiceRolesForSubscriptionResponse"/>

  <xs:element name="getSubscriptionDetails" type="tns:getSubscriptionDetails"/>

  <xs:element name="getSubscriptionDetailsResponse" type="tns:getSubscriptionDetailsResponse"/>

  <xs:element name="getSubscriptionForCustomer" type="tns:getSubscriptionForCustomer"/>

  <xs:element name="getSubscriptionForCustomerResponse" type="tns:getSubscriptionForCustomerResponse"/>

  <xs:element name="getSubscriptionIdentifiers" type="tns:getSubscriptionIdentifiers"/>

  <xs:element name="getSubscriptionIdentifiersResponse" type="tns:getSubscriptionIdentifiersResponse"/>

  <xs:element name="getSubscriptionsForCurrentUser" type="tns:getSubscriptionsForCurrentUser"/>

  <xs:element name="getSubscriptionsForCurrentUserResponse" type="tns:getSubscriptionsForCurrentUserResponse"/>

  <xs:element name="getSubscriptionsForOrganization" type="tns:getSubscriptionsForOrganization"/>

  <xs:element name="getSubscriptionsForOrganizationResponse" type="tns:getSubscriptionsForOrganizationResponse"/>

  <xs:element name="getSubscriptionsForOrganizationWithFilter" type="tns:getSubscriptionsForOrganizationWithFilter"/>

  <xs:element name="getSubscriptionsForOrganizationWithFilterResponse" type="tns:getSubscriptionsForOrganizationWithFilterResponse"/>

  <xs:element name="getSubscriptionsForUser" type="tns:getSubscriptionsForUser"/>

  <xs:element name="getSubscriptionsForUserResponse" type="tns:getSubscriptionsForUserResponse"/>

  <xs:element name="getUpgradeOptions" type="tns:getUpgradeOptions"/>

  <xs:element name="getUpgradeOptionsResponse" type="tns:getUpgradeOptionsResponse"/>

  <xs:element name="hasCurrentUserSubscriptions" type="tns:hasCurrentUserSubscriptions"/>

  <xs:element name="hasCurrentUserSubscriptionsResponse" type="tns:hasCurrentUserSubscriptionsResponse"/>

  <xs:element name="modifySubscription" type="tns:modifySubscription"/>

  <xs:element name="modifySubscriptionPaymentData" type="tns:modifySubscriptionPaymentData"/>

  <xs:element name="modifySubscriptionPaymentDataResponse" type="tns:modifySubscriptionPaymentDataResponse"/>

  <xs:element name="modifySubscriptionResponse" type="tns:modifySubscriptionResponse"/>

  <xs:element name="reportIssue" type="tns:reportIssue"/>

  <xs:element name="reportIssueResponse" type="tns:reportIssueResponse"/>

  <xs:element name="subscribeToService" type="tns:subscribeToService"/>

  <xs:element name="subscribeToServiceResponse" type="tns:subscribeToServiceResponse"/>

  <xs:element name="terminateSubscription" type="tns:terminateSubscription"/>

  <xs:element name="terminateSubscriptionResponse" type="tns:terminateSubscriptionResponse"/>

  <xs:element name="unsubscribeFromService" type="tns:unsubscribeFromService"/>

  <xs:element name="unsubscribeFromServiceResponse" type="tns:unsubscribeFromServiceResponse"/>

  <xs:element name="updateAccessInformation" type="tns:updateAccessInformation"/>

  <xs:element name="updateAccessInformationResponse" type="tns:updateAccessInformationResponse"/>

  <xs:element name="updateAsyncOperationProgress" type="tns:updateAsyncOperationProgress"/>

  <xs:element name="updateAsyncOperationProgressResponse" type="tns:updateAsyncOperationProgressResponse"/>

  <xs:element name="updateAsyncSubscriptionProgress" type="tns:updateAsyncSubscriptionProgress"/>

  <xs:element name="updateAsyncSubscriptionProgressResponse" type="tns:updateAsyncSubscriptionProgressResponse"/>

  <xs:element name="upgradeSubscription" type="tns:upgradeSubscription"/>

  <xs:element name="upgradeSubscriptionResponse" type="tns:upgradeSubscriptionResponse"/>

  <xs:complexType name="completeAsyncSubscription">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="organizationId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="instance" type="tns:voInstanceInfo" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voInstanceInfo">
    <xs:sequence>
      <xs:element name="accessInfo" type="xs:string" minOccurs="0"/>
      <xs:element name="baseUrl" type="xs:string" minOccurs="0"/>
      <xs:element name="instanceId" type="xs:string" minOccurs="0"/>
      <xs:element name="loginPath" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="completeAsyncSubscriptionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="domainObjectExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="classEnum" type="tns:classEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="applicationExceptionBean">
    <xs:sequence>
      <xs:element name="causeStackTrace" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="messageKey" type="xs:string" minOccurs="0"/>
      <xs:element name="messageParams" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subscriptionStateExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="member" type="xs:string" minOccurs="0"/>
          <xs:element name="reason" type="tns:SubscriptionStateException.Reason" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="completeAsyncModifySubscription">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="organizationId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="instance" type="tns:voInstanceInfo" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="completeAsyncModifySubscriptionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="abortAsyncUpgradeSubscription">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="organizationId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="reason" type="tns:voLocalizedText" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voLocalizedText">
    <xs:sequence>
      <xs:element name="locale" type="xs:string" minOccurs="0"/>
      <xs:element name="text" type="xs:string" minOccurs="0"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="abortAsyncUpgradeSubscriptionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="modifySubscription">
    <xs:sequence>
      <xs:element name="subscription" type="tns:voSubscription" form="unqualified" minOccurs="0"/>
      <xs:element name="parameters" type="tns:voParameter" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="udas" type="tns:voUda" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voSubscription">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="activationDate" type="xs:long" minOccurs="0"/>
          <xs:element name="creationDate" type="xs:long" minOccurs="0"/>
          <xs:element name="deactivationDate" type="xs:long" minOccurs="0"/>
          <xs:element name="numberOfAssignedUsers" type="xs:int"/>
          <xs:element name="ownerId" type="xs:string" minOccurs="0"/>
          <xs:element name="provisioningProgress" type="xs:string" minOccurs="0"/>
          <xs:element name="purchaseOrderNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="sellerName" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceAccessInfo" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceAccessType" type="tns:serviceAccessType" minOccurs="0"/>
          <xs:element name="serviceBaseURL" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceInstanceId" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceKey" type="xs:long"/>
          <xs:element name="serviceLoginPath" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:subscriptionStatus" minOccurs="0"/>
          <xs:element name="subscriptionId" type="xs:string" minOccurs="0"/>
          <xs:element name="technicalServiceOperations" type="tns:voTechnicalServiceOperation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="timeoutMailSent" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="baseVO" abstract="true">
    <xs:sequence>
      <xs:element name="key" type="xs:long"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voTechnicalServiceOperation">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="operationDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="operationId" type="xs:string" minOccurs="0"/>
          <xs:element name="operationName" type="xs:string" minOccurs="0"/>
          <xs:element name="operationParameters" type="tns:voServiceOperationParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voServiceOperationParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="mandatory" type="xs:boolean"/>
          <xs:element name="parameterId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterName" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterValue" type="xs:string" minOccurs="0"/>
          <xs:element name="type" type="tns:operationParameterType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurable" type="xs:boolean"/>
          <xs:element name="parameterDefinition" type="tns:voParameterDefinition" minOccurs="0"/>
          <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameterDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurable" type="xs:boolean"/>
          <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="mandatory" type="xs:boolean"/>
          <xs:element name="maxValue" type="xs:long" minOccurs="0"/>
          <xs:element name="minValue" type="xs:long" minOccurs="0"/>
          <xs:element name="modificationType" type="tns:parameterModificationType" minOccurs="0"/>
          <xs:element name="parameterId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterOptions" type="tns:voParameterOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="parameterType" type="tns:parameterType" minOccurs="0"/>
          <xs:element name="valueType" type="tns:parameterValueType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voParameterOption">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="optionDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="optionId" type="xs:string" minOccurs="0"/>
          <xs:element name="paramDefId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voUda">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="targetObjectKey" type="xs:long"/>
          <xs:element name="udaDefinition" type="tns:voUdaDefinition" minOccurs="0"/>
          <xs:element name="udaValue" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voUdaDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="configurationType" type="tns:udaConfigurationType" minOccurs="0"/>
          <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
          <xs:element name="targetType" type="xs:string" minOccurs="0"/>
          <xs:element name="udaId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="modifySubscriptionResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voSubscriptionDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voSubscriptionDetails">
    <xs:complexContent>
      <xs:extension base="tns:voSubscription">
        <xs:sequence>
          <xs:element name="billingContact" type="tns:voBillingContact" minOccurs="0"/>
          <xs:element name="paymentInfo" type="tns:voPaymentInfo" minOccurs="0"/>
          <xs:element name="priceModel" type="tns:voPriceModel" minOccurs="0"/>
          <xs:element name="subscribedService" type="tns:voService" minOccurs="0"/>
          <xs:element name="usageLicenses" type="tns:voUsageLicense" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voBillingContact">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="address" type="xs:string" minOccurs="0"/>
          <xs:element name="companyName" type="xs:string" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="orgAddressUsed" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPaymentInfo">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="paymentType" type="tns:voPaymentType" minOccurs="0"/>
          <xs:element name="providerName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPaymentType">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="collectionType" type="tns:paymentCollectionType" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="paymentTypeId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPriceModel">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="consideredEvents" type="tns:voPricedEvent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="currencyISOCode" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="freePeriod" type="xs:int"/>
          <xs:element name="license" type="xs:string" minOccurs="0"/>
          <xs:element name="oneTimeFee" type="xs:decimal" minOccurs="0"/>
          <xs:element name="period" type="tns:pricingPeriod" minOccurs="0"/>
          <xs:element name="pricePerPeriod" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUserAssignment" type="xs:decimal" minOccurs="0"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="selectedParameters" type="tns:voPricedParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="type" type="tns:priceModelType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedEvent">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="eventDefinition" type="tns:voEventDefinition" minOccurs="0"/>
          <xs:element name="eventPrice" type="xs:decimal" minOccurs="0"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voEventDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="eventDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="eventId" type="xs:string" minOccurs="0"/>
          <xs:element name="eventType" type="tns:eventType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voSteppedPrice">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="limit" type="xs:long" minOccurs="0"/>
          <xs:element name="price" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedRole">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="role" type="tns:voRoleDefinition" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voRoleDefinition">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="roleId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedParameter">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="parameterKey" type="xs:long"/>
          <xs:element name="pricePerSubscription" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricedOptions" type="tns:voPricedOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="steppedPrices" type="tns:voSteppedPrice" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="voParameterDef" type="tns:voParameterDefinition" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voPricedOption">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="optionId" type="xs:string" minOccurs="0"/>
          <xs:element name="parameterOptionKey" type="xs:long"/>
          <xs:element name="pricePerSubscription" type="xs:decimal" minOccurs="0"/>
          <xs:element name="pricePerUser" type="xs:decimal" minOccurs="0"/>
          <xs:element name="roleSpecificUserPrices" type="tns:voPricedRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voService">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="accessType" type="tns:serviceAccessType" minOccurs="0"/>
          <xs:element name="averageRating" type="xs:decimal" minOccurs="0"/>
          <xs:element name="baseURL" type="xs:string" minOccurs="0"/>
          <xs:element name="configuratorUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="featureURL" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="numberOfReviews" type="xs:int"/>
          <xs:element name="offeringType" type="tns:offeringType" minOccurs="0"/>
          <xs:element name="parameters" type="tns:voParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="priceModel" type="tns:voPriceModel" minOccurs="0"/>
          <xs:element name="sellerId" type="xs:string" minOccurs="0"/>
          <xs:element name="sellerKey" type="xs:long"/>
          <xs:element name="sellerName" type="xs:string" minOccurs="0"/>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
          <xs:element name="shortDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:serviceStatus" minOccurs="0"/>
          <xs:element name="tags" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="technicalId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voUsageLicense">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="applicationUserId" type="xs:string" minOccurs="0"/>
          <xs:element name="roleDefinition" type="tns:voRoleDefinition" minOccurs="0"/>
          <xs:element name="user" type="tns:voUser" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voUser">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="organization_Id" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:userAccountStatus" minOccurs="0"/>
          <xs:element name="userId" type="xs:string" minOccurs="0"/>
          <xs:element name="userName" type="xs:string" minOccurs="0"/>
          <xs:element name="userRoles" type="tns:userRoleType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="validationExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="member" type="xs:string" minOccurs="0"/>
          <xs:element name="reason" type="tns:reasonEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="subscriptionMigrationExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="reason" type="tns:SubscriptionMigrationException.Reason" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="operationPendingExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="reason" type="tns:OperationPendingException.ReasonEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="updateAsyncOperationProgress">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="status" type="tns:operationStatus" form="unqualified" minOccurs="0"/>
      <xs:element name="progress" type="tns:voLocalizedText" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateAsyncOperationProgressResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="unsubscribeFromService">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="unsubscribeFromServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriptionForCustomer">
    <xs:sequence>
      <xs:element name="organizationId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriptionForCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voSubscriptionDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reportIssue">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="subject" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="issueText" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reportIssueResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getSubscriptionDetails">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriptionDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voSubscriptionDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="terminateSubscription">
    <xs:sequence>
      <xs:element name="subscription" type="tns:voSubscription" form="unqualified" minOccurs="0"/>
      <xs:element name="reason" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="terminateSubscriptionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="abortAsyncSubscription">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="organizationId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="reason" type="tns:voLocalizedText" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="abortAsyncSubscriptionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateAccessInformation">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="organizationId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="instance" type="tns:voInstanceInfo" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateAccessInformationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCustomerSubscriptions">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCustomerSubscriptionsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voSubscriptionIdAndOrganizations" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voSubscriptionIdAndOrganizations">
    <xs:sequence>
      <xs:element name="organizations" type="tns:voOrganization" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="subscriptionId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voOrganization">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="address" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="discount" type="tns:voDiscount" minOccurs="0"/>
          <xs:element name="distinguishedName" type="xs:string" minOccurs="0"/>
          <xs:element name="domicileCountry" type="xs:string" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="imageDefined" type="xs:boolean"/>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="nameSpace" type="xs:string" minOccurs="0"/>
          <xs:element name="organizationId" type="xs:string" minOccurs="0"/>
          <xs:element name="phone" type="xs:string" minOccurs="0"/>
          <xs:element name="supportEmail" type="xs:string" minOccurs="0"/>
          <xs:element name="url" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voDiscount">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="endTime" type="xs:long" minOccurs="0"/>
          <xs:element name="startTime" type="xs:long" minOccurs="0"/>
          <xs:element name="value" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="modifySubscriptionPaymentData">
    <xs:sequence>
      <xs:element name="subscription" type="tns:voSubscription" form="unqualified" minOccurs="0"/>
      <xs:element name="billingContact" type="tns:voBillingContact" form="unqualified" minOccurs="0"/>
      <xs:element name="paymentInfo" type="tns:voPaymentInfo" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifySubscriptionPaymentDataResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voSubscriptionDetails" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUpgradeOptions">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUpgradeOptionsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voService" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriptionsForCurrentUser">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getSubscriptionsForCurrentUserResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUserSubscription" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voUserSubscription">
    <xs:complexContent>
      <xs:extension base="tns:voSubscription">
        <xs:sequence>
          <xs:element name="license" type="tns:voUsageLicense" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="subscribeToService">
    <xs:sequence>
      <xs:element name="subscription" type="tns:voSubscription" form="unqualified" minOccurs="0"/>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
      <xs:element name="users" type="tns:voUsageLicense" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="paymentInfo" type="tns:voPaymentInfo" form="unqualified" minOccurs="0"/>
      <xs:element name="billingContact" type="tns:voBillingContact" form="unqualified" minOccurs="0"/>
      <xs:element name="udas" type="tns:voUda" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subscribeToServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voSubscription" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomersForSubscriptionId">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomersForSubscriptionIdResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganization" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addRevokeUser">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="usersToBeAdded" type="tns:voUsageLicense" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="usersToBeRevoked" type="tns:voUser" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addRevokeUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceRolesForSubscription">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceRolesForSubscriptionResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voRoleDefinition" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriptionsForOrganization">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getSubscriptionsForOrganizationResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voSubscription" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriptionIdentifiers">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getSubscriptionIdentifiersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="upgradeSubscription">
    <xs:sequence>
      <xs:element name="subscription" type="tns:voSubscription" form="unqualified" minOccurs="0"/>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
      <xs:element name="paymentInfo" type="tns:voPaymentInfo" form="unqualified" minOccurs="0"/>
      <xs:element name="billingContact" type="tns:voBillingContact" form="unqualified" minOccurs="0"/>
      <xs:element name="udas" type="tns:voUda" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="upgradeSubscriptionResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voSubscription" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriptionsForOrganizationWithFilter">
    <xs:sequence>
      <xs:element name="requiredStatus" type="tns:subscriptionStatus" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriptionsForOrganizationWithFilterResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voSubscription" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriptionsForUser">
    <xs:sequence>
      <xs:element name="user" type="tns:voUser" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriptionsForUserResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voUserSubscription" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateAsyncSubscriptionProgress">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="organizationId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="progress" type="tns:voLocalizedText" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateAsyncSubscriptionProgressResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getServiceRolesForService">
    <xs:sequence>
      <xs:element name="service" type="tns:voService" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceRolesForServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voRoleDefinition" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceOperationParameterValues">
    <xs:sequence>
      <xs:element name="subscription" type="tns:voSubscription" form="unqualified" minOccurs="0"/>
      <xs:element name="operation" type="tns:voTechnicalServiceOperation" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceOperationParameterValuesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voServiceOperationParameterValues" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voServiceOperationParameterValues">
    <xs:complexContent>
      <xs:extension base="tns:voServiceOperationParameter">
        <xs:sequence>
          <xs:element name="values" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abortAsyncModifySubscription">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="organizationId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="reason" type="tns:voLocalizedText" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="abortAsyncModifySubscriptionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="hasCurrentUserSubscriptions">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="hasCurrentUserSubscriptionsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="executeServiceOperation">
    <xs:sequence>
      <xs:element name="subscription" type="tns:voSubscription" form="unqualified" minOccurs="0"/>
      <xs:element name="operation" type="tns:voTechnicalServiceOperation" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="executeServiceOperationResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="completeAsyncUpgradeSubscription">
    <xs:sequence>
      <xs:element name="subscriptionId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="organizationId" type="xs:string" form="unqualified" minOccurs="0"/>
      <xs:element name="instance" type="tns:voInstanceInfo" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="completeAsyncUpgradeSubscriptionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:simpleType name="classEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORGANIZATION"/>
      <xs:enumeration value="SERVICE"/>
      <xs:enumeration value="SUBSCRIPTION"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="PAYMENT_INFO"/>
      <xs:enumeration value="TECHNICAL_SERVICE"/>
      <xs:enumeration value="ORGANIZATION_ROLE"/>
      <xs:enumeration value="PARAMETER_DEFINITION"/>
      <xs:enumeration value="PARAMETER_OPTION"/>
      <xs:enumeration value="PARAMETER"/>
      <xs:enumeration value="PRICED_PARAMETER"/>
      <xs:enumeration value="REPORT"/>
      <xs:enumeration value="EVENT"/>
      <xs:enumeration value="ROLE_DEFINITION"/>
      <xs:enumeration value="TECHNICAL_SERVICE_OPERATION"/>
      <xs:enumeration value="OPERATION_PARAMETER"/>
      <xs:enumeration value="PAYMENT_TYPE"/>
      <xs:enumeration value="SUPPORTED_CURRENCY"/>
      <xs:enumeration value="UDA_DEFINITION"/>
      <xs:enumeration value="UDA"/>
      <xs:enumeration value="ORGANIZATION_TO_COUNTRY"/>
      <xs:enumeration value="SUPPORTED_COUNTRY"/>
      <xs:enumeration value="VAT_RATES"/>
      <xs:enumeration value="ORGANIZATION_REFERENCE"/>
      <xs:enumeration value="MARKETPLACE"/>
      <xs:enumeration value="TRIGGER_DEFINITION"/>
      <xs:enumeration value="TRIGGER_PROCESS"/>
      <xs:enumeration value="TAG"/>
      <xs:enumeration value="TECHNICAL_SERVICE_TAG"/>
      <xs:enumeration value="USER_ROLE"/>
      <xs:enumeration value="PRODUCT_REVIEW"/>
      <xs:enumeration value="BILLING_CONTACT"/>
      <xs:enumeration value="MARKETPLACE_TO_ORGANIZATION"/>
      <xs:enumeration value="SUBSCRIPTION_TO_MARKETPLACE"/>
      <xs:enumeration value="PRODUCT_TO_PAYMENTTYPE"/>
      <xs:enumeration value="PSP"/>
      <xs:enumeration value="CATEGORY"/>
      <xs:enumeration value="MARKETING_PERMISSION"/>
      <xs:enumeration value="REPORT_RESULT_CACHE"/>
      <xs:enumeration value="ORGANIZATION_SETTING"/>
      <xs:enumeration value="PLATFORM_SETTING"/>
      <xs:enumeration value="LOCALIZED_RESOURCE"/>
      <xs:enumeration value="USER_GROUP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SubscriptionStateException.Reason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INVALID"/>
      <xs:enumeration value="PENDING"/>
      <xs:enumeration value="ONLY_PENDING"/>
      <xs:enumeration value="ONLY_ACTIVE"/>
      <xs:enumeration value="ONLY_UPD"/>
      <xs:enumeration value="SUBSCRIPTION_STATE_CHANGED"/>
      <xs:enumeration value="SUBSCRIPTION_INVALID_STATE"/>
      <xs:enumeration value="NOT_IN_UPDATING"/>
      <xs:enumeration value="NOT_IN_UPGRADING"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="serviceAccessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOGIN"/>
      <xs:enumeration value="DIRECT"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="EXTERNAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="subscriptionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="PENDING"/>
      <xs:enumeration value="DEACTIVATED"/>
      <xs:enumeration value="EXPIRED"/>
      <xs:enumeration value="INVALID"/>
      <xs:enumeration value="SUSPENDED"/>
      <xs:enumeration value="PENDING_UPD"/>
      <xs:enumeration value="SUSPENDED_UPD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="operationParameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INPUT_STRING"/>
      <xs:enumeration value="REQUEST_SELECT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterModificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STANDARD"/>
      <xs:enumeration value="ONE_TIME"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLATFORM_PARAMETER"/>
      <xs:enumeration value="SERVICE_PARAMETER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parameterValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="DURATION"/>
      <xs:enumeration value="ENUMERATION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="udaConfigurationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUPPLIER"/>
      <xs:enumeration value="USER_OPTION_MANDATORY"/>
      <xs:enumeration value="USER_OPTION_OPTIONAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="paymentCollectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORGANIZATION"/>
      <xs:enumeration value="PAYMENT_SERVICE_PROVIDER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVICE_EVENT"/>
      <xs:enumeration value="PLATFORM_EVENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pricingPeriod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MONTH"/>
      <xs:enumeration value="WEEK"/>
      <xs:enumeration value="DAY"/>
      <xs:enumeration value="HOUR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="priceModelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FREE_OF_CHARGE"/>
      <xs:enumeration value="PRO_RATA"/>
      <xs:enumeration value="PER_UNIT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="offeringType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BROKER"/>
      <xs:enumeration value="RESELLER"/>
      <xs:enumeration value="DIRECT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="serviceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="OBSOLETE"/>
      <xs:enumeration value="DELETED"/>
      <xs:enumeration value="INACTIVE"/>
      <xs:enumeration value="SUSPENDED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userAccountStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="PASSWORD_MUST_BE_CHANGED"/>
      <xs:enumeration value="LOCKED_NOT_CONFIRMED"/>
      <xs:enumeration value="LOCKED_FAILED_LOGIN_ATTEMPTS"/>
      <xs:enumeration value="LOCKED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SERVICE_MANAGER"/>
      <xs:enumeration value="TECHNOLOGY_MANAGER"/>
      <xs:enumeration value="ORGANIZATION_ADMIN"/>
      <xs:enumeration value="PLATFORM_OPERATOR"/>
      <xs:enumeration value="MARKETPLACE_OWNER"/>
      <xs:enumeration value="BROKER_MANAGER"/>
      <xs:enumeration value="RESELLER_MANAGER"/>
      <xs:enumeration value="SUBSCRIPTION_MANAGER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="reasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMAIL"/>
      <xs:enumeration value="LENGTH"/>
      <xs:enumeration value="LENGTH_TEXT"/>
      <xs:enumeration value="REQUIRED"/>
      <xs:enumeration value="SECURITY_INFO"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="ID_CHAR"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="POSITIVE_NUMBER"/>
      <xs:enumeration value="DURATION"/>
      <xs:enumeration value="EMPTY_VALUE"/>
      <xs:enumeration value="CSS_COLOR"/>
      <xs:enumeration value="CSS_VALUE"/>
      <xs:enumeration value="URL"/>
      <xs:enumeration value="RELATIVE_URL"/>
      <xs:enumeration value="LDAP_CONNECTION_REFUSED"/>
      <xs:enumeration value="LDAP_USER_NOT_FOUND"/>
      <xs:enumeration value="LDAP_USER_NOT_UNIQUE"/>
      <xs:enumeration value="LDAP_CREATED_ID_INVALID"/>
      <xs:enumeration value="LDAP_VALUE_MISMATCH"/>
      <xs:enumeration value="LDAP_BASE_DN_INVALID"/>
      <xs:enumeration value="LDAP_MANDATORY_PROPERTY_MISSING"/>
      <xs:enumeration value="LDAP_INVALID_PLATFORM_PROPERTY"/>
      <xs:enumeration value="ENUMERATION"/>
      <xs:enumeration value="VALUE_NOT_IN_RANGE"/>
      <xs:enumeration value="INVALID_REFERENCE"/>
      <xs:enumeration value="STEPPED_USER_PRICING"/>
      <xs:enumeration value="STEPPED_EVENT_PRICING"/>
      <xs:enumeration value="STEPPED_PARAMETER_PRICING"/>
      <xs:enumeration value="STEPPED_PRICING"/>
      <xs:enumeration value="STEPPED_PRICING_DUPLICATE_LIMIT"/>
      <xs:enumeration value="DUPLICATE_VALUE"/>
      <xs:enumeration value="DUPLICATE_CATALOG_POSITION"/>
      <xs:enumeration value="DUPLICATE_PSP_ACCOUNT"/>
      <xs:enumeration value="PRICED_PARAM_WRONG_BASE"/>
      <xs:enumeration value="COUNTRY_NOT_SUPPORTED"/>
      <xs:enumeration value="VAT"/>
      <xs:enumeration value="VAT_NOT_SUPPORTED"/>
      <xs:enumeration value="DECIMAL"/>
      <xs:enumeration value="DIRECT_ACCESS_USER_PRICE"/>
      <xs:enumeration value="INVALID_NUMBER_TARGET_CATALOG_ENTRIES"/>
      <xs:enumeration value="INVALID_CHAR"/>
      <xs:enumeration value="IMAGE_TYPE"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_SMALL"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_BIG"/>
      <xs:enumeration value="TAGS_MAX_COUNT"/>
      <xs:enumeration value="RATING_REQUIRED"/>
      <xs:enumeration value="INVALID_LOCALE"/>
      <xs:enumeration value="USER_OPERATION_LOG_ENTITY_TYPE"/>
      <xs:enumeration value="INVALID_CONFIGURATION_SETTING"/>
      <xs:enumeration value="EXTERNAL_SERVICE_MUST_BE_FREE_OF_CHARGE"/>
      <xs:enumeration value="FILE_IMPORT_FAILED"/>
      <xs:enumeration value="MIN_LENGTH"/>
      <xs:enumeration value="INVALID_CURRENCY"/>
      <xs:enumeration value="TRIGGER_TYPE_SUPPORTS_NO_PROCESS_SUSPENDING"/>
      <xs:enumeration value="TRIGGER_TYPE_NOT_ALLOWED"/>
      <xs:enumeration value="ONE_OF_PARTNER_REVENUE_SHARE_MANDATORY"/>
      <xs:enumeration value="ONE_TIME_PARAMETER_NOT_ALLOWED"/>
      <xs:enumeration value="SCALE_TO_LONG"/>
      <xs:enumeration value="INVALID_DATE_RANGE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SubscriptionMigrationException.Reason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INCOMPATIBLE_SERVICES"/>
      <xs:enumeration value="PARAMETER"/>
      <xs:enumeration value="PARAMETER_PERIOD"/>
      <xs:enumeration value="PARAMETER_USERS"/>
      <xs:enumeration value="INCOMPATIBLE_PARAMETER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OperationPendingException.ReasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVATE_SERVICE"/>
      <xs:enumeration value="DEACTIVATE_SERVICE"/>
      <xs:enumeration value="ADD_REVOKE_USER"/>
      <xs:enumeration value="MODIFY_SUBSCRIPTION"/>
      <xs:enumeration value="REGISTER_CUSTOMER_FOR_SUPPLIER"/>
      <xs:enumeration value="SAVE_PAYMENT_CONFIGURATION"/>
      <xs:enumeration value="SUBSCRIBE_TO_SERVICE"/>
      <xs:enumeration value="UNSUBSCRIBE_FROM_SERVICE"/>
      <xs:enumeration value="UPGRADE_SUBSCRIPTION"/>
      <xs:enumeration value="REGISTER_USER_IN_OWN_ORGANIZATION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="operationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RUNNING"/>
      <xs:enumeration value="COMPLETED"/>
      <xs:enumeration value="ERROR"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

