oscm-integrationtests-apiversioning-test-client/javares/WSDL/TriggerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="TriggerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="TriggerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllActionsForOrganization">
    <part name="parameters" element="tns:getAllActionsForOrganization"/>
  </message>
  <message name="getAllActionsForOrganizationResponse">
    <part name="parameters" element="tns:getAllActionsForOrganizationResponse"/>
  </message>
  <message name="getAllDefinitions">
    <part name="parameters" element="tns:getAllDefinitions"/>
  </message>
  <message name="getAllDefinitionsResponse">
    <part name="parameters" element="tns:getAllDefinitionsResponse"/>
  </message>
  <message name="approveAction">
    <part name="parameters" element="tns:approveAction"/>
  </message>
  <message name="approveActionResponse">
    <part name="parameters" element="tns:approveActionResponse"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="ObjectNotFoundException">
    <part name="fault" element="tns:ObjectNotFoundException"/>
  </message>
  <message name="TriggerProcessStatusException">
    <part name="fault" element="tns:TriggerProcessStatusException"/>
  </message>
  <message name="ExecutionTargetException">
    <part name="fault" element="tns:ExecutionTargetException"/>
  </message>
  <message name="cancelActions">
    <part name="parameters" element="tns:cancelActions"/>
  </message>
  <message name="cancelActionsResponse">
    <part name="parameters" element="tns:cancelActionsResponse"/>
  </message>
  <message name="rejectAction">
    <part name="parameters" element="tns:rejectAction"/>
  </message>
  <message name="rejectActionResponse">
    <part name="parameters" element="tns:rejectActionResponse"/>
  </message>
  <message name="deleteActions">
    <part name="parameters" element="tns:deleteActions"/>
  </message>
  <message name="deleteActionsResponse">
    <part name="parameters" element="tns:deleteActionsResponse"/>
  </message>
  <message name="getAllActions">
    <part name="parameters" element="tns:getAllActions"/>
  </message>
  <message name="getAllActionsResponse">
    <part name="parameters" element="tns:getAllActionsResponse"/>
  </message>
  <portType name="TriggerService">
    <operation name="getAllActionsForOrganization">
      <input wsam:Action="http://oscm.org/xsd/TriggerService/getAllActionsForOrganizationRequest" message="tns:getAllActionsForOrganization"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerService/getAllActionsForOrganizationResponse" message="tns:getAllActionsForOrganizationResponse"/>
    </operation>
    <operation name="getAllDefinitions">
      <input wsam:Action="http://oscm.org/xsd/TriggerService/getAllDefinitionsRequest" message="tns:getAllDefinitions"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerService/getAllDefinitionsResponse" message="tns:getAllDefinitionsResponse"/>
    </operation>
    <operation name="approveAction">
      <input wsam:Action="http://oscm.org/xsd/TriggerService/approveActionRequest" message="tns:approveAction"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerService/approveActionResponse" message="tns:approveActionResponse"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/TriggerService/approveAction/Fault/OperationNotPermittedException"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/TriggerService/approveAction/Fault/ObjectNotFoundException"/>
      <fault message="tns:TriggerProcessStatusException" name="TriggerProcessStatusException" wsam:Action="http://oscm.org/xsd/TriggerService/approveAction/Fault/TriggerProcessStatusException"/>
      <fault message="tns:ExecutionTargetException" name="ExecutionTargetException" wsam:Action="http://oscm.org/xsd/TriggerService/approveAction/Fault/ExecutionTargetException"/>
    </operation>
    <operation name="cancelActions">
      <input wsam:Action="http://oscm.org/xsd/TriggerService/cancelActionsRequest" message="tns:cancelActions"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerService/cancelActionsResponse" message="tns:cancelActionsResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/TriggerService/cancelActions/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/TriggerService/cancelActions/Fault/OperationNotPermittedException"/>
      <fault message="tns:TriggerProcessStatusException" name="TriggerProcessStatusException" wsam:Action="http://oscm.org/xsd/TriggerService/cancelActions/Fault/TriggerProcessStatusException"/>
    </operation>
    <operation name="rejectAction">
      <input wsam:Action="http://oscm.org/xsd/TriggerService/rejectActionRequest" message="tns:rejectAction"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerService/rejectActionResponse" message="tns:rejectActionResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/TriggerService/rejectAction/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/TriggerService/rejectAction/Fault/OperationNotPermittedException"/>
      <fault message="tns:TriggerProcessStatusException" name="TriggerProcessStatusException" wsam:Action="http://oscm.org/xsd/TriggerService/rejectAction/Fault/TriggerProcessStatusException"/>
    </operation>
    <operation name="deleteActions">
      <input wsam:Action="http://oscm.org/xsd/TriggerService/deleteActionsRequest" message="tns:deleteActions"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerService/deleteActionsResponse" message="tns:deleteActionsResponse"/>
      <fault message="tns:ObjectNotFoundException" name="ObjectNotFoundException" wsam:Action="http://oscm.org/xsd/TriggerService/deleteActions/Fault/ObjectNotFoundException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/TriggerService/deleteActions/Fault/OperationNotPermittedException"/>
      <fault message="tns:TriggerProcessStatusException" name="TriggerProcessStatusException" wsam:Action="http://oscm.org/xsd/TriggerService/deleteActions/Fault/TriggerProcessStatusException"/>
    </operation>
    <operation name="getAllActions">
      <input wsam:Action="http://oscm.org/xsd/TriggerService/getAllActionsRequest" message="tns:getAllActions"/>
      <output wsam:Action="http://oscm.org/xsd/TriggerService/getAllActionsResponse" message="tns:getAllActionsResponse"/>
    </operation>
  </portType>
  <binding name="TriggerServicePortBinding" type="tns:TriggerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllActionsForOrganization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllDefinitions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="approveAction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="TriggerProcessStatusException">
        <soap:fault name="TriggerProcessStatusException" use="literal"/>
      </fault>
      <fault name="ExecutionTargetException">
        <soap:fault name="ExecutionTargetException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelActions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="TriggerProcessStatusException">
        <soap:fault name="TriggerProcessStatusException" use="literal"/>
      </fault>
    </operation>
    <operation name="rejectAction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="TriggerProcessStatusException">
        <soap:fault name="TriggerProcessStatusException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteActions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ObjectNotFoundException">
        <soap:fault name="ObjectNotFoundException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="TriggerProcessStatusException">
        <soap:fault name="TriggerProcessStatusException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllActions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TriggerService">
    <port name="TriggerServicePort" binding="tns:TriggerServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

