oscm-integrationtests-apiversioning-test-client/javares/WSDL/VatService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ApplicationExceptionBean" type="tns:applicationExceptionBean"/>

  <xs:element name="ConcurrentModificationException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="OperationNotPermittedException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="OrganizationAuthoritiesException" nillable="true" type="tns:applicationExceptionBean"/>

  <xs:element name="ValidationException" nillable="true" type="tns:validationExceptionBean"/>

  <xs:element name="ValidationExceptionBean" type="tns:validationExceptionBean"/>

  <xs:element name="getCountryVats" type="tns:getCountryVats"/>

  <xs:element name="getCountryVatsResponse" type="tns:getCountryVatsResponse"/>

  <xs:element name="getDefaultVat" type="tns:getDefaultVat"/>

  <xs:element name="getDefaultVatResponse" type="tns:getDefaultVatResponse"/>

  <xs:element name="getOrganizationVats" type="tns:getOrganizationVats"/>

  <xs:element name="getOrganizationVatsResponse" type="tns:getOrganizationVatsResponse"/>

  <xs:element name="getVatSupport" type="tns:getVatSupport"/>

  <xs:element name="getVatSupportResponse" type="tns:getVatSupportResponse"/>

  <xs:element name="saveAllVats" type="tns:saveAllVats"/>

  <xs:element name="saveAllVatsResponse" type="tns:saveAllVatsResponse"/>

  <xs:element name="saveCountryVats" type="tns:saveCountryVats"/>

  <xs:element name="saveCountryVatsResponse" type="tns:saveCountryVatsResponse"/>

  <xs:element name="saveDefaultVat" type="tns:saveDefaultVat"/>

  <xs:element name="saveDefaultVatResponse" type="tns:saveDefaultVatResponse"/>

  <xs:element name="saveOrganizationVats" type="tns:saveOrganizationVats"/>

  <xs:element name="saveOrganizationVatsResponse" type="tns:saveOrganizationVatsResponse"/>

  <xs:complexType name="saveCountryVats">
    <xs:sequence>
      <xs:element name="countryVats" type="tns:voCountryVatRate" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voCountryVatRate">
    <xs:complexContent>
      <xs:extension base="tns:voVatRate">
        <xs:sequence>
          <xs:element name="country" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voVatRate">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="rate" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="baseVO" abstract="true">
    <xs:sequence>
      <xs:element name="key" type="xs:long"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCountryVatsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="applicationExceptionBean">
    <xs:sequence>
      <xs:element name="causeStackTrace" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="messageKey" type="xs:string" minOccurs="0"/>
      <xs:element name="messageParams" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validationExceptionBean">
    <xs:complexContent>
      <xs:extension base="tns:applicationExceptionBean">
        <xs:sequence>
          <xs:element name="member" type="xs:string" minOccurs="0"/>
          <xs:element name="reason" type="tns:reasonEnum" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getDefaultVat">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getDefaultVatResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voVatRate" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getVatSupport">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getVatSupportResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" form="unqualified"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveAllVats">
    <xs:sequence>
      <xs:element name="defaultVat" type="tns:voVatRate" form="unqualified" minOccurs="0"/>
      <xs:element name="countryVats" type="tns:voCountryVatRate" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="organizationVats" type="tns:voOrganizationVatRate" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="voOrganizationVatRate">
    <xs:complexContent>
      <xs:extension base="tns:voVatRate">
        <xs:sequence>
          <xs:element name="organization" type="tns:voOrganization" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voOrganization">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="address" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="discount" type="tns:voDiscount" minOccurs="0"/>
          <xs:element name="distinguishedName" type="xs:string" minOccurs="0"/>
          <xs:element name="domicileCountry" type="xs:string" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="imageDefined" type="xs:boolean"/>
          <xs:element name="locale" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="nameSpace" type="xs:string" minOccurs="0"/>
          <xs:element name="organizationId" type="xs:string" minOccurs="0"/>
          <xs:element name="phone" type="xs:string" minOccurs="0"/>
          <xs:element name="supportEmail" type="xs:string" minOccurs="0"/>
          <xs:element name="url" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="voDiscount">
    <xs:complexContent>
      <xs:extension base="tns:baseVO">
        <xs:sequence>
          <xs:element name="endTime" type="xs:long" minOccurs="0"/>
          <xs:element name="startTime" type="xs:long" minOccurs="0"/>
          <xs:element name="value" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="saveAllVatsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCountryVats">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCountryVatsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voCountryVatRate" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveDefaultVat">
    <xs:sequence>
      <xs:element name="defaultVat" type="tns:voVatRate" form="unqualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveDefaultVatResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getOrganizationVats">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getOrganizationVatsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:voOrganizationVatRate" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveOrganizationVats">
    <xs:sequence>
      <xs:element name="organizationVats" type="tns:voOrganizationVatRate" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveOrganizationVatsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:simpleType name="reasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMAIL"/>
      <xs:enumeration value="LENGTH"/>
      <xs:enumeration value="LENGTH_TEXT"/>
      <xs:enumeration value="REQUIRED"/>
      <xs:enumeration value="SECURITY_INFO"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="ID_CHAR"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="BOOLEAN"/>
      <xs:enumeration value="POSITIVE_NUMBER"/>
      <xs:enumeration value="DURATION"/>
      <xs:enumeration value="EMPTY_VALUE"/>
      <xs:enumeration value="CSS_COLOR"/>
      <xs:enumeration value="CSS_VALUE"/>
      <xs:enumeration value="URL"/>
      <xs:enumeration value="RELATIVE_URL"/>
      <xs:enumeration value="LDAP_CONNECTION_REFUSED"/>
      <xs:enumeration value="LDAP_USER_NOT_FOUND"/>
      <xs:enumeration value="LDAP_USER_NOT_UNIQUE"/>
      <xs:enumeration value="LDAP_CREATED_ID_INVALID"/>
      <xs:enumeration value="LDAP_VALUE_MISMATCH"/>
      <xs:enumeration value="LDAP_BASE_DN_INVALID"/>
      <xs:enumeration value="LDAP_MANDATORY_PROPERTY_MISSING"/>
      <xs:enumeration value="LDAP_INVALID_PLATFORM_PROPERTY"/>
      <xs:enumeration value="ENUMERATION"/>
      <xs:enumeration value="VALUE_NOT_IN_RANGE"/>
      <xs:enumeration value="INVALID_REFERENCE"/>
      <xs:enumeration value="STEPPED_USER_PRICING"/>
      <xs:enumeration value="STEPPED_EVENT_PRICING"/>
      <xs:enumeration value="STEPPED_PARAMETER_PRICING"/>
      <xs:enumeration value="STEPPED_PRICING"/>
      <xs:enumeration value="STEPPED_PRICING_DUPLICATE_LIMIT"/>
      <xs:enumeration value="DUPLICATE_VALUE"/>
      <xs:enumeration value="DUPLICATE_CATALOG_POSITION"/>
      <xs:enumeration value="DUPLICATE_PSP_ACCOUNT"/>
      <xs:enumeration value="PRICED_PARAM_WRONG_BASE"/>
      <xs:enumeration value="COUNTRY_NOT_SUPPORTED"/>
      <xs:enumeration value="VAT"/>
      <xs:enumeration value="VAT_NOT_SUPPORTED"/>
      <xs:enumeration value="DECIMAL"/>
      <xs:enumeration value="DIRECT_ACCESS_USER_PRICE"/>
      <xs:enumeration value="INVALID_NUMBER_TARGET_CATALOG_ENTRIES"/>
      <xs:enumeration value="INVALID_CHAR"/>
      <xs:enumeration value="IMAGE_TYPE"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_SMALL"/>
      <xs:enumeration value="IMAGE_SIZE_TOO_BIG"/>
      <xs:enumeration value="TAGS_MAX_COUNT"/>
      <xs:enumeration value="RATING_REQUIRED"/>
      <xs:enumeration value="INVALID_LOCALE"/>
      <xs:enumeration value="USER_OPERATION_LOG_ENTITY_TYPE"/>
      <xs:enumeration value="INVALID_CONFIGURATION_SETTING"/>
      <xs:enumeration value="EXTERNAL_SERVICE_MUST_BE_FREE_OF_CHARGE"/>
      <xs:enumeration value="FILE_IMPORT_FAILED"/>
      <xs:enumeration value="MIN_LENGTH"/>
      <xs:enumeration value="INVALID_CURRENCY"/>
      <xs:enumeration value="TRIGGER_TYPE_SUPPORTS_NO_PROCESS_SUSPENDING"/>
      <xs:enumeration value="TRIGGER_TYPE_NOT_ALLOWED"/>
      <xs:enumeration value="ONE_OF_PARTNER_REVENUE_SHARE_MANDATORY"/>
      <xs:enumeration value="ONE_TIME_PARAMETER_NOT_ALLOWED"/>
      <xs:enumeration value="SCALE_TO_LONG"/>
      <xs:enumeration value="INVALID_DATE_RANGE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

