oscm-integrationtests-apiversioning-test-client/javares/WSDL/VatService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://oscm.org/xsd" name="VatService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://oscm.org/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oscm.org/xsd" schemaLocation="VatService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getDefaultVat">
    <part name="parameters" element="tns:getDefaultVat"/>
  </message>
  <message name="getDefaultVatResponse">
    <part name="parameters" element="tns:getDefaultVatResponse"/>
  </message>
  <message name="getVatSupport">
    <part name="parameters" element="tns:getVatSupport"/>
  </message>
  <message name="getVatSupportResponse">
    <part name="parameters" element="tns:getVatSupportResponse"/>
  </message>
  <message name="saveAllVats">
    <part name="parameters" element="tns:saveAllVats"/>
  </message>
  <message name="saveAllVatsResponse">
    <part name="parameters" element="tns:saveAllVatsResponse"/>
  </message>
  <message name="OrganizationAuthoritiesException">
    <part name="fault" element="tns:OrganizationAuthoritiesException"/>
  </message>
  <message name="ConcurrentModificationException">
    <part name="fault" element="tns:ConcurrentModificationException"/>
  </message>
  <message name="OperationNotPermittedException">
    <part name="fault" element="tns:OperationNotPermittedException"/>
  </message>
  <message name="ValidationException">
    <part name="fault" element="tns:ValidationException"/>
  </message>
  <message name="getCountryVats">
    <part name="parameters" element="tns:getCountryVats"/>
  </message>
  <message name="getCountryVatsResponse">
    <part name="parameters" element="tns:getCountryVatsResponse"/>
  </message>
  <message name="getOrganizationVats">
    <part name="parameters" element="tns:getOrganizationVats"/>
  </message>
  <message name="getOrganizationVatsResponse">
    <part name="parameters" element="tns:getOrganizationVatsResponse"/>
  </message>
  <message name="saveDefaultVat">
    <part name="parameters" element="tns:saveDefaultVat"/>
  </message>
  <message name="saveDefaultVatResponse">
    <part name="parameters" element="tns:saveDefaultVatResponse"/>
  </message>
  <message name="saveOrganizationVats">
    <part name="parameters" element="tns:saveOrganizationVats"/>
  </message>
  <message name="saveOrganizationVatsResponse">
    <part name="parameters" element="tns:saveOrganizationVatsResponse"/>
  </message>
  <message name="saveCountryVats">
    <part name="parameters" element="tns:saveCountryVats"/>
  </message>
  <message name="saveCountryVatsResponse">
    <part name="parameters" element="tns:saveCountryVatsResponse"/>
  </message>
  <portType name="VatService">
    <operation name="getDefaultVat">
      <input wsam:Action="http://oscm.org/xsd/VatService/getDefaultVatRequest" message="tns:getDefaultVat"/>
      <output wsam:Action="http://oscm.org/xsd/VatService/getDefaultVatResponse" message="tns:getDefaultVatResponse"/>
    </operation>
    <operation name="getVatSupport">
      <input wsam:Action="http://oscm.org/xsd/VatService/getVatSupportRequest" message="tns:getVatSupport"/>
      <output wsam:Action="http://oscm.org/xsd/VatService/getVatSupportResponse" message="tns:getVatSupportResponse"/>
    </operation>
    <operation name="saveAllVats">
      <input wsam:Action="http://oscm.org/xsd/VatService/saveAllVatsRequest" message="tns:saveAllVats"/>
      <output wsam:Action="http://oscm.org/xsd/VatService/saveAllVatsResponse" message="tns:saveAllVatsResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/VatService/saveAllVats/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/VatService/saveAllVats/Fault/ConcurrentModificationException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/VatService/saveAllVats/Fault/OperationNotPermittedException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/VatService/saveAllVats/Fault/ValidationException"/>
    </operation>
    <operation name="getCountryVats">
      <input wsam:Action="http://oscm.org/xsd/VatService/getCountryVatsRequest" message="tns:getCountryVats"/>
      <output wsam:Action="http://oscm.org/xsd/VatService/getCountryVatsResponse" message="tns:getCountryVatsResponse"/>
    </operation>
    <operation name="getOrganizationVats">
      <input wsam:Action="http://oscm.org/xsd/VatService/getOrganizationVatsRequest" message="tns:getOrganizationVats"/>
      <output wsam:Action="http://oscm.org/xsd/VatService/getOrganizationVatsResponse" message="tns:getOrganizationVatsResponse"/>
    </operation>
    <operation name="saveDefaultVat">
      <input wsam:Action="http://oscm.org/xsd/VatService/saveDefaultVatRequest" message="tns:saveDefaultVat"/>
      <output wsam:Action="http://oscm.org/xsd/VatService/saveDefaultVatResponse" message="tns:saveDefaultVatResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/VatService/saveDefaultVat/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/VatService/saveDefaultVat/Fault/ConcurrentModificationException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/VatService/saveDefaultVat/Fault/ValidationException"/>
    </operation>
    <operation name="saveOrganizationVats">
      <input wsam:Action="http://oscm.org/xsd/VatService/saveOrganizationVatsRequest" message="tns:saveOrganizationVats"/>
      <output wsam:Action="http://oscm.org/xsd/VatService/saveOrganizationVatsResponse" message="tns:saveOrganizationVatsResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/VatService/saveOrganizationVats/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/VatService/saveOrganizationVats/Fault/ConcurrentModificationException"/>
      <fault message="tns:OperationNotPermittedException" name="OperationNotPermittedException" wsam:Action="http://oscm.org/xsd/VatService/saveOrganizationVats/Fault/OperationNotPermittedException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/VatService/saveOrganizationVats/Fault/ValidationException"/>
    </operation>
    <operation name="saveCountryVats">
      <input wsam:Action="http://oscm.org/xsd/VatService/saveCountryVatsRequest" message="tns:saveCountryVats"/>
      <output wsam:Action="http://oscm.org/xsd/VatService/saveCountryVatsResponse" message="tns:saveCountryVatsResponse"/>
      <fault message="tns:OrganizationAuthoritiesException" name="OrganizationAuthoritiesException" wsam:Action="http://oscm.org/xsd/VatService/saveCountryVats/Fault/OrganizationAuthoritiesException"/>
      <fault message="tns:ConcurrentModificationException" name="ConcurrentModificationException" wsam:Action="http://oscm.org/xsd/VatService/saveCountryVats/Fault/ConcurrentModificationException"/>
      <fault message="tns:ValidationException" name="ValidationException" wsam:Action="http://oscm.org/xsd/VatService/saveCountryVats/Fault/ValidationException"/>
    </operation>
  </portType>
  <binding name="VatServicePortBinding" type="tns:VatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getDefaultVat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getVatSupport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveAllVats">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCountryVats">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOrganizationVats">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveDefaultVat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveOrganizationVats">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="OperationNotPermittedException">
        <soap:fault name="OperationNotPermittedException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveCountryVats">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OrganizationAuthoritiesException">
        <soap:fault name="OrganizationAuthoritiesException" use="literal"/>
      </fault>
      <fault name="ConcurrentModificationException">
        <soap:fault name="ConcurrentModificationException" use="literal"/>
      </fault>
      <fault name="ValidationException">
        <soap:fault name="ValidationException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="VatService">
    <port name="VatServicePort" binding="tns:VatServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

