oscm-webservices/javares/wsitconfig/wsit-org.oscm.webservices.AccountServiceWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
 
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AccountService"
  targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"
  xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
  xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
  xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <message name="deregisterOrganization" />
  <message name="deregisterOrganizationResponse" />
  <message name="getAvailablePaymentTypesForOrganization" />
  <message name="getAvailablePaymentTypesForOrganizationResponse" />
  <message name="getAvailablePaymentTypesFromOrganization" />
  <message name="getAvailablePaymentTypesFromOrganizationResponse" />
  <message name="getBillingContacts" />
  <message name="getBillingContactsResponse" />
  <message name="getCustomerPaymentConfiguration" />
  <message name="getCustomerPaymentConfigurationResponse" />
  <message name="getMyCustomers" />
  <message name="getMyCustomersResponse" />
  <message name="getDefaultPaymentConfiguration" />
  <message name="getDefaultPaymentConfigurationResponse" />
  <message name="getOrganizationData" />
  <message name="getOrganizationDataResponse" />
  <message name="getOrganizationId" />
  <message name="getOrganizationIdResponse" />
  <message name="registerKnownCustomer" />
  <message name="registerKnownCustomerResponse" />
  <message name="registerCustomer" />
  <message name="registerCustomerResponse" />
  <message name="saveBillingContact" />
  <message name="saveBillingContactResponse" />
  <message name="deleteBillingContact" />
  <message name="deleteBillingContactResponse" />
  <message name="savePaymentConfiguration" />
  <message name="savePaymentConfigurationResponse" />
  <message name="savePaymentInfo" />
  <message name="savePaymentInfoResponse" />
  <message name="updateAccountInformation" />
  <message name="updateAccountInformationResponse" />
  <message name="updateCustomerDiscount" />
  <message name="updateCustomerDiscountResponse" />
  <message name="getUdaTargetTypes" />
  <message name="getUdaTargetTypesResponse" />
  <message name="getUdaDefinitions" />
  <message name="getUdaDefinitionsResponse" />
  <message name="getUdas" />
  <message name="getUdasResponse" />
  <message name="saveUdaDefinitions" />
  <message name="saveUdaDefinitionsResponse" />
  <message name="saveUdas" />
  <message name="saveUdasResponse" />
  <message name="getSupportedCountryCodes" />
  <message name="getSupportedCountryCodesResponse" />
  <message name="loadImageOfOrganization" />
  <message name="loadImageOfOrganizationResponse" />
  <message name="getSeller" />
  <message name="getSellerResponse" />
  <message name="deletePaymentInfo" />
  <message name="deletePaymentInfoResponse" />
  <message name="getPaymentInfos" />
  <message name="getPaymentInfosResponse" />
  <message name="getAvailablePaymentTypes" />
  <message name="getAvailablePaymentTypesResponse" />
  <message name="getDefaultServicePaymentConfiguration" />
  <message name="getDefaultServicePaymentConfigurationResponse" />
  <message name="getServicePaymentConfiguration" />
  <message name="getServicePaymentConfigurationResponse" />
  <message name="addSuppliersForTechnicalService" />
  <message name="addSuppliersForTechnicalServiceResponse" />
  <message name="removeSuppliersFromTechnicalService" />
  <message name="removeSuppliersFromTechnicalServiceResponse" />
  <message name="getSuppliersForTechnicalService" />
  <message name="getSuppliersForTechnicalServiceResponse" />
  <message name="getUdaDefinitionsForCustomer" />
  <message name="getUdaDefinitionsForCustomerResponse" />
  <message name="getUdasForCustomer" />
  <message name="getUdasForCustomerResponse" />
  <portType name="AccountService">
    <operation name="deregisterOrganization">
      <input message="tns:deregisterOrganization" />
      <output message="tns:deregisterOrganizationResponse" />
    </operation>
    <operation name="getAvailablePaymentTypesForOrganization">
      <input message="tns:getAvailablePaymentTypesForOrganization" />
      <output message="tns:getAvailablePaymentTypesForOrganizationResponse" />
    </operation>
    <operation name="getAvailablePaymentTypesFromOrganization">
      <input message="tns:getAvailablePaymentTypesFromOrganization" />
      <output message="tns:getAvailablePaymentTypesFromOrganizationResponse" />
    </operation>
    <operation name="getBillingContacts">
      <input message="tns:getBillingContacts" />
      <output message="tns:getBillingContactsResponse" />
    </operation>
    <operation name="getCustomerPaymentConfiguration">
      <input message="tns:getCustomerPaymentConfiguration" />
      <output message="tns:getCustomerPaymentConfigurationResponse" />
    </operation>
    <operation name="getMyCustomers">
      <input message="tns:getMyCustomers" />
      <output message="tns:getMyCustomersResponse" />
    </operation>
    <operation name="getDefaultPaymentConfiguration">
      <input message="tns:getDefaultPaymentConfiguration" />
      <output message="tns:getDefaultPaymentConfigurationResponse" />
    </operation>
    <operation name="getOrganizationData">
      <input message="tns:getOrganizationData" />
      <output message="tns:getOrganizationDataResponse" />
    </operation>
    <operation name="getOrganizationId">
      <input message="tns:getOrganizationId" />
      <output message="tns:getOrganizationIdResponse" />
    </operation>
    <operation name="registerKnownCustomer">
      <input message="tns:registerKnownCustomer" />
      <output message="tns:registerKnownCustomerResponse" />
    </operation>
    <operation name="registerCustomer">
      <input message="tns:registerCustomer" />
      <output message="tns:registerCustomerResponse" />
    </operation>
    <operation name="saveBillingContact">
      <input message="tns:saveBillingContact" />
      <output message="tns:saveBillingContactResponse" />
    </operation>
    <operation name="deleteBillingContact">
      <input message="tns:deleteBillingContact" />
      <output message="tns:deleteBillingContactResponse" />
    </operation>
    <operation name="savePaymentConfiguration">
      <input message="tns:savePaymentConfiguration" />
      <output message="tns:savePaymentConfigurationResponse" />
    </operation>
    <operation name="savePaymentInfo">
      <input message="tns:savePaymentInfo" />
      <output message="tns:savePaymentInfoResponse" />
    </operation>
    <operation name="updateAccountInformation">
      <input message="tns:updateAccountInformation" />
      <output message="tns:updateAccountInformationResponse" />
    </operation>
    <operation name="updateCustomerDiscount">
      <input message="tns:updateCustomerDiscount" />
      <output message="tns:updateCustomerDiscountResponse" />
    </operation>
    <operation name="getUdaTargetTypes">
      <input message="tns:getUdaTargetTypes" />
      <output message="tns:getUdaTargetTypesResponse" />
    </operation>
    <operation name="getUdaDefinitions">
      <input message="tns:getUdaDefinitions" />
      <output message="tns:getUdaDefinitionsResponse" />
    </operation>
    <operation name="getUdas">
      <input message="tns:getUdas" />
      <output message="tns:getUdasResponse" />
    </operation>
    <operation name="saveUdaDefinitions">
      <input message="tns:saveUdaDefinitions" />
      <output message="tns:saveUdaDefinitionsResponse" />
    </operation>
    <operation name="saveUdas">
      <input message="tns:saveUdas" />
      <output message="tns:saveUdasResponse" />
    </operation>
    <operation name="getSupportedCountryCodes">
      <input message="tns:getSupportedCountryCodes" />
      <output message="tns:getSupportedCountryCodesResponse" />
    </operation>
        <operation name="loadImageOfOrganization">
      <input message="tns:loadImageOfOrganization" />
      <output message="tns:loadImageOfOrganizationResponse" />
    </operation>
    <operation name="getSeller">
      <input message="tns:getSeller" />
      <output message="tns:getSellerResponse" />
    </operation>
    <operation name="deletePaymentInfo">
      <input message="tns:deletePaymentInfo" />
      <output message="tns:deletePaymentInfoResponse" />
    </operation>
    <operation name="getPaymentInfos">
      <input message="tns:getPaymentInfos" />
      <output message="tns:getPaymentInfosResponse" />
    </operation>
    <operation name="getAvailablePaymentTypes">
      <input message="tns:getAvailablePaymentTypes" />
      <output message="tns:getAvailablePaymentTypesResponse" />
    </operation>
    <operation name="getDefaultServicePaymentConfiguration">
      <input message="tns:getDefaultServicePaymentConfiguration" />
      <output message="tns:getDefaultServicePaymentConfigurationResponse" />
    </operation>
    <operation name="getServicePaymentConfiguration">
      <input message="tns:getServicePaymentConfiguration" />
      <output message="tns:getServicePaymentConfigurationResponse" />
    </operation>
    <operation name="addSuppliersForTechnicalService">
      <input message="tns:addSuppliersForTechnicalService" />
      <output message="tns:addSuppliersForTechnicalServiceResponse" />
    </operation>
    <operation name="removeSuppliersFromTechnicalService">
      <input message="tns:removeSuppliersFromTechnicalService" />
      <output message="tns:removeSuppliersFromTechnicalServiceResponse" />
    </operation>
    <operation name="getSuppliersForTechnicalService">
      <input message="tns:getSuppliersForTechnicalService" />
      <output message="tns:getSuppliersForTechnicalServiceResponse" />
    </operation>
    <operation name="getUdaDefinitionsForCustomer">
      <input message="tns:getUdaDefinitionsForCustomer" />
      <output message="tns:getUdaDefinitionsForCustomerResponse" />
    </operation>
    <operation name="getUdasForCustomer">
      <input message="tns:getUdasForCustomer" />
      <output message="tns:getUdasForCustomerResponse" />
    </operation>
  </portType>
  <binding name="AccountServicePortSTSBinding" type="tns:AccountService">
    <wsp:PolicyReference URI="#AccountServicePortSTSBindingPolicy" />
    <operation name="deregisterOrganization">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getAvailablePaymentTypesForOrganization">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getAvailablePaymentTypesFromOrganization">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getBillingContacts">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getCustomerPaymentConfiguration">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getMyCustomers">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getDefaultPaymentConfiguration">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getOrganizationData">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getOrganizationId">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="registerKnownCustomer">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="registerCustomer">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="saveBillingContact">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deleteBillingContact">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="savePaymentConfiguration">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="savePaymentInfo">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="updateAccountInformation">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="updateCustomerDiscount">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getUdaTargetTypes">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getUdaDefinitions">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getUdas">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="saveUdaDefinitions">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="saveUdas">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSupportedCountryCodes">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
        <operation name="loadImageOfOrganization">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSeller">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deletePaymentInfo">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getPaymentInfos">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getAvailablePaymentTypes">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getDefaultServicePaymentConfiguration">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getServicePaymentConfiguration">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="addSuppliersForTechnicalService">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="removeSuppliersFromTechnicalService">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSuppliersForTechnicalService">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getUdaDefinitionsForCustomer">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getUdasForCustomer">
      <input>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#AccountServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
  </binding>
  <service name="AccountService">
    <port name="AccountServicePortSTS" binding="tns:AccountServicePortSTSBinding" />
  </service>
  <wsp:Policy wsu:Id="AccountServicePortSTSBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing wsp:Optional="false" />
        <sp:SymmetricBinding>
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:IssuedToken
                  sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <sp:RequestSecurityTokenTemplate>
                    <t:TokenType>urn:oasis:names:tc:SAML:2.0:assertion</t:TokenType>
                    <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                    <t:KeySize>@SSO_STS_ENCKEY_LEN@</t:KeySize>
                  </sp:RequestSecurityTokenTemplate>
                  <wsp:Policy>
                    <sp:RequireInternalReference />
                  </wsp:Policy>
                  <sp:Issuer>
                    <wsaw:Address>@SSO_STS_URL@</wsaw:Address>
                    <wsaw:Metadata>
                      <wsx:Metadata>
                        <wsx:MetadataSection>
                          <wsx:MetadataReference>
                            <wsaw:Address>@SSO_STS_METADATA_URL@</wsaw:Address>
                          </wsx:MetadataReference>
                        </wsx:MetadataSection>
                      </wsx:Metadata>
                    </wsaw:Metadata>
                  </sp:Issuer>
                </sp:IssuedToken>
              </wsp:Policy>
            </sp:ProtectionToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:OnlySignEntireHeadersAndBody />
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:SymmetricBinding>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefIssuerSerial />
            <sp:MustSupportRefThumbprint />
            <sp:MustSupportRefEncryptedKey />
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="AccountServicePortSTSBinding_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="AccountServicePortSTSBinding_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</definitions>
