oscm-webservices/javares/wsitconfig/wsit-org.oscm.webservices.IdentityServiceWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
 
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="IdentityService"
  targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"
  xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
  xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
  xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <message name="getUser" />
  <message name="getUserResponse" />
  <message name="updateUser" />
  <message name="updateUserResponse" />
  <message name="changePassword" />
  <message name="changePasswordResponse" />
  <message name="getCurrentUserDetailsIfPresent" />
  <message name="getCurrentUserDetailsIfPresentResponse" />
  <message name="deleteUser" />
  <message name="deleteUserResponse" />
  <message name="setUserRoles" />
  <message name="setUserRolesResponse" />
  <message name="createUser" />
  <message name="createUserResponse" />
  <message name="sendAccounts" />
  <message name="sendAccountsResponse" />
  <message name="confirmAccount" />
  <message name="confirmAccountResponse" />
  <message name="grantUserRoles" />
  <message name="grantUserRolesResponse" />
  <message name="requestResetOfUserPassword" />
  <message name="requestResetOfUserPasswordResponse" />
  <message name="revokeUserRoles" />
  <message name="revokeUserRolesResponse" />
  <message name="getUserDetails" />
  <message name="getUserDetailsResponse" />
  <message name="getUsersForOrganization" />
  <message name="getUsersForOrganizationResponse" />
  <message name="lockUserAccount" />
  <message name="lockUserAccountResponse" />
  <message name="notifyOnLoginAttempt" />
  <message name="notifyOnLoginAttemptResponse" />
  <message name="unlockUserAccount" />
  <message name="unlockUserAccountResponse" />
  <message name="getCurrentUserDetails" />
  <message name="getCurrentUserDetailsResponse" />
  <message name="searchLdapUsers" />
  <message name="searchLdapUsersResponse" />
  <message name="importLdapUsers" />
  <message name="importLdapUsersResponse" />
  <message name="createOnBehalfUser" />
  <message name="createOnBehalfUserResponse" />
  <message name="cleanUpCurrentUser" />
  <message name="cleanUpCurrentUserResponse" />
  <message name="getAvailableUserRoles" />
  <message name="getAvailableUserRolesResponse" />
  <message name="refreshLdapUser" />
  <message name="refreshLdapUserResponse" />
  <message name="importUsers" />
  <message name="importUsersResponse" />
  <message name="importUsersInOwnOrganization" />
  <message name="importUsersInOwnOrganizationResponse" />
  <message name="addRevokeUserGroupAssignment" />
  <message name="addRevokeUserGroupAssignmentResponse" />
  <message name="addRevokeUserUnitAssignment" />
  <message name="addRevokeUserUnitAssignmentResponse" />


  <portType name="IdentityService">
    <operation name="getUser">
      <input message="tns:getUser" />
      <output message="tns:getUserResponse" />
    </operation>
    <operation name="updateUser">
      <input message="tns:updateUser" />
      <output message="tns:updateUserResponse" />
    </operation>
    <operation name="changePassword">
      <input message="tns:changePassword" />
      <output message="tns:changePasswordResponse" />
    </operation>
    <operation name="getCurrentUserDetailsIfPresent">
      <input message="tns:getCurrentUserDetailsIfPresent" />
      <output message="tns:getCurrentUserDetailsIfPresentResponse" />
    </operation>
    <operation name="deleteUser">
      <input message="tns:deleteUser" />
      <output message="tns:deleteUserResponse" />
    </operation>
    <operation name="setUserRoles">
      <input message="tns:setUserRoles" />
      <output message="tns:setUserRolesResponse" />
    </operation>
    <operation name="createUser">
      <input message="tns:createUser" />
      <output message="tns:createUserResponse" />
    </operation>
    <operation name="sendAccounts">
      <input message="tns:sendAccounts" />
      <output message="tns:sendAccountsResponse" />
    </operation>
    <operation name="confirmAccount">
      <input message="tns:confirmAccount" />
      <output message="tns:confirmAccountResponse" />
    </operation>
    <operation name="grantUserRoles">
      <input message="tns:grantUserRoles" />
      <output message="tns:grantUserRolesResponse" />
    </operation>
    <operation name="requestResetOfUserPassword">
      <input message="tns:requestResetOfUserPassword" />
      <output message="tns:requestResetOfUserPasswordResponse" />
    </operation>
    <operation name="revokeUserRoles">
      <input message="tns:revokeUserRoles" />
      <output message="tns:revokeUserRolesResponse" />
    </operation>
    <operation name="getUserDetails">
      <input message="tns:getUserDetails" />
      <output message="tns:getUserDetailsResponse" />
    </operation>
    <operation name="getUsersForOrganization">
      <input message="tns:getUsersForOrganization" />
      <output message="tns:getUsersForOrganizationResponse" />
    </operation>
    <operation name="lockUserAccount">
      <input message="tns:lockUserAccount" />
      <output message="tns:lockUserAccountResponse" />
    </operation>
    <operation name="notifyOnLoginAttempt">
      <input message="tns:notifyOnLoginAttempt" />
      <output message="tns:notifyOnLoginAttemptResponse" />
    </operation>
    <operation name="unlockUserAccount">
      <input message="tns:unlockUserAccount" />
      <output message="tns:unlockUserAccountResponse" />
    </operation>
    <operation name="getCurrentUserDetails">
      <input message="tns:getCurrentUserDetails" />
      <output message="tns:getCurrentUserDetailsResponse" />
    </operation>
    <operation name="searchLdapUsers">
      <input message="tns:searchLdapUsers" />
      <output message="tns:searchLdapUsersResponse" />
    </operation>
    <operation name="importLdapUsers">
      <input message="tns:importLdapUsers" />
      <output message="tns:importLdapUsersResponse" />
    </operation>
    <operation name="createOnBehalfUser">
      <input message="tns:createOnBehalfUser" />
      <output message="tns:createOnBehalfUserResponse" />
    </operation>
    <operation name="cleanUpCurrentUser">
      <input message="tns:cleanUpCurrentUser" />
      <output message="tns:cleanUpCurrentUserResponse" />
    </operation>
    <operation name="getAvailableUserRoles">
      <input message="tns:getAvailableUserRoles" />
      <output message="tns:getAvailableUserRolesResponse" />
    </operation>
    <operation name="refreshLdapUser">
      <input message="tns:refreshLdapUser" />
      <output message="tns:refreshLdapUserResponse" />
    </operation>
    <operation name="importUsers">
      <input message="tns:importUsers" />
      <output message="tns:importUsersResponse" />
    </operation>
    <operation name="importUsersInOwnOrganization">
      <input message="tns:importUsersInOwnOrganization" />
      <output message="tns:importUsersInOwnOrganizationResponse" />
    </operation>
    <operation name="addRevokeUserGroupAssignment">
      <input message="tns:addRevokeUserGroupAssignment" />
      <output message="tns:addRevokeUserGroupAssignmentResponse" />
    </operation>
    <operation name="addRevokeUserUnitAssignment">
      <input message="tns:addRevokeUserUnitAssignment" />
      <output message="tns:addRevokeUserUnitAssignmentResponse" />
    </operation>
  </portType>
  <binding name="IdentityServicePortSTSBinding" type="tns:IdentityService">
    <wsp:PolicyReference URI="#IdentityServicePortSTSBindingPolicy" />
    <operation name="getUser">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="updateUser">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="changePassword">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getCurrentUserDetailsIfPresent">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deleteUser">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="setUserRoles">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="createUser">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="sendAccounts">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="confirmAccount">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="grantUserRoles">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="requestResetOfUserPassword">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="revokeUserRoles">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getUserDetails">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getUsersForOrganization">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="lockUserAccount">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="notifyOnLoginAttempt">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="unlockUserAccount">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getCurrentUserDetails">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="searchLdapUsers">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="importLdapUsers">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="createOnBehalfUser">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="cleanUpCurrentUser">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getAvailableUserRoles">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="refreshLdapUser">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="importUsers">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="importUsersInOwnOrganization">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="addRevokeUserGroupAssignment">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="addRevokeUserUnitAssignment">
      <input>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#IdentityServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
  </binding>
  <service name="IdentityService">
    <port name="IdentityServicePortSTS" binding="tns:IdentityServicePortSTSBinding" />
  </service>
  <wsp:Policy wsu:Id="IdentityServicePortSTSBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing wsp:Optional="false" />
        <sp:SymmetricBinding>
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:IssuedToken
                  sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <sp:RequestSecurityTokenTemplate>
                    <t:TokenType>urn:oasis:names:tc:SAML:2.0:assertion</t:TokenType>
                    <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                    <t:KeySize>@SSO_STS_ENCKEY_LEN@</t:KeySize>
                  </sp:RequestSecurityTokenTemplate>
                  <wsp:Policy>
                    <sp:RequireInternalReference />
                  </wsp:Policy>
                  <sp:Issuer>
                    <wsaw:Address>@SSO_STS_URL@</wsaw:Address>
                    <wsaw:Metadata>
                      <wsx:Metadata>
                        <wsx:MetadataSection>
                          <wsx:MetadataReference>
                            <wsaw:Address>@SSO_STS_METADATA_URL@</wsaw:Address>
                          </wsx:MetadataReference>
                        </wsx:MetadataSection>
                      </wsx:Metadata>
                    </wsaw:Metadata>
                  </sp:Issuer>
                </sp:IssuedToken>
              </wsp:Policy>
            </sp:ProtectionToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:OnlySignEntireHeadersAndBody />
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:SymmetricBinding>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefIssuerSerial />
            <sp:MustSupportRefThumbprint />
            <sp:MustSupportRefEncryptedKey />
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IdentityServicePortSTSBinding_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IdentityServicePortSTSBinding_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</definitions>
