oscm-webservices/javares/wsitconfig/wsit-org.oscm.webservices.MarketplaceServiceWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2016-->
 
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MarketplaceService"
  targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"
  xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
  xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
  xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <message name="publishService" />
  <message name="publishServiceResponse" />
  <message name="getAccessibleMarketplaces" />
  <message name="getAccessibleMarketplacesResponse" />
  <message name="getMarketplacesForService" />
  <message name="getMarketplacesForServiceResponse" />
  <message name="getMarketplacesOwned" />
  <message name="getMarketplacesOwnedResponse" />
  <message name="getMarketplacesForOperator" />
  <message name="getMarketplacesForOperatorResponse" />
  <message name="updateMarketplace" />
  <message name="updateMarketplaceResponse" />
  <message name="createMarketplace" />
  <message name="createMarketplaceResponse" />
  <message name="deleteMarketplace" />
  <message name="deleteMarketplaceResponse" />
  <message name="getMarketplaceById" />
  <message name="getMarketplaceByIdResponse" />
  <message name="saveBrandingUrl" />
  <message name="saveBrandingUrlResponse" />
  <message name="getBrandingUrl" />
  <message name="getBrandingUrlResponse" />
  <message name="getMarketplacesForOrganization" />
  <message name="getMarketplacesForOrganizationResponse" />
  <message name="getMarketplaceForSubscription" />
  <message name="getMarketplaceForSubscriptionResponse" />
  <message name="addOrganizationsToMarketplace" />
  <message name="addOrganizationsToMarketplaceResponse" />
  <message name="removeOrganizationsFromMarketplace" />
  <message name="removeOrganizationsFromMarketplaceResponse" />
  <message name="getOrganizationsForMarketplace" />
  <message name="getOrganizationsForMarketplaceResponse" />
  <message name="banOrganizationsFromMarketplace" />
  <message name="banOrganizationsFromMarketplaceResponse" />
  <message name="liftBanOrganizationsFromMarketplace" />
  <message name="liftBanOrganizationsFromMarketplaceResponse" />
  <message name="getBannedOrganizationsForMarketplace" />
  <message name="getBannedOrganizationsForMarketplaceResponse" />
  <portType name="MarketplaceService">
    <operation name="publishService">
      <input message="tns:publishService" />
      <output message="tns:publishServiceResponse" />
    </operation>
    <operation name="getAccessibleMarketplaces">
      <input message="tns:getAccessibleMarketplaces" />
      <output message="tns:getAccessibleMarketplacesResponse" />
    </operation>
    <operation name="getMarketplacesForService">
      <input message="tns:getMarketplacesForService" />
      <output message="tns:getMarketplacesForServiceResponse" />
    </operation>
    <operation name="getMarketplacesOwned">
      <input message="tns:getMarketplacesOwned" />
      <output message="tns:getMarketplacesOwnedResponse" />
    </operation>
    <operation name="getMarketplacesForOperator">
      <input message="tns:getMarketplacesForOperator" />
      <output message="tns:getMarketplacesForOperatorResponse" />
    </operation>
    <operation name="updateMarketplace">
      <input message="tns:updateMarketplace" />
      <output message="tns:updateMarketplaceResponse" />
    </operation>
    <operation name="createMarketplace">
      <input message="tns:createMarketplace" />
      <output message="tns:createMarketplaceResponse" />
    </operation>
    <operation name="deleteMarketplace">
      <input message="tns:deleteMarketplace" />
      <output message="tns:deleteMarketplaceResponse" />
    </operation>
    <operation name="getMarketplaceById">
      <input message="tns:getMarketplaceById" />
      <output message="tns:getMarketplaceByIdResponse" />
    </operation>
    <operation name="saveBrandingUrl">
      <input message="tns:saveBrandingUrl" />
      <output message="tns:saveBrandingUrlResponse" />
    </operation>
    <operation name="getBrandingUrl">
      <input message="tns:getBrandingUrl" />
      <output message="tns:getBrandingUrlResponse" />
    </operation>
    <operation name="getMarketplacesForOrganization">
      <input message="tns:getMarketplacesForOrganization" />
      <output message="tns:getMarketplacesForOrganizationResponse" />
    </operation>
    <operation name="getMarketplaceForSubscription">
      <input message="tns:getMarketplaceForSubscription" />
      <output message="tns:getMarketplaceForSubscriptionResponse" />
    </operation>
    <operation name="addOrganizationsToMarketplace">
      <input message="tns:addOrganizationsToMarketplace" />
      <output message="tns:addOrganizationsToMarketplaceResponse" />
    </operation>
    <operation name="removeOrganizationsFromMarketplace">
      <input message="tns:removeOrganizationsFromMarketplace" />
      <output message="tns:removeOrganizationsFromMarketplaceResponse" />
    </operation>
    <operation name="getOrganizationsForMarketplace">
      <input message="tns:getOrganizationsForMarketplace" />
      <output message="tns:getOrganizationsForMarketplaceResponse" />
    </operation>
    <operation name="banOrganizationsFromMarketplace">
      <input message="tns:banOrganizationsFromMarketplace" />
      <output message="tns:banOrganizationsFromMarketplaceResponse" />
    </operation>
    <operation name="liftBanOrganizationsFromMarketplace">
      <input message="tns:liftBanOrganizationsFromMarketplace" />
      <output message="tns:liftBanOrganizationsFromMarketplaceResponse" />
    </operation>
    <operation name="getBannedOrganizationsForMarketplace">
      <input message="tns:getBannedOrganizationsForMarketplace" />
      <output message="tns:getBannedOrganizationsForMarketplaceResponse" />
    </operation>
  </portType>
  <binding name="MarketplaceServicePortSTSBinding" type="tns:MarketplaceService">
    <wsp:PolicyReference URI="#MarketplaceServicePortSTSBindingPolicy" />
    <operation name="publishService">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getMarketplacesForService">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getMarketplacesOwned">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getMarketplacesForOperator">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="updateMarketplace">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="createMarketplace">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deleteMarketplace">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getMarketplaceById">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="saveBrandingUrl">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getBrandingUrl">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getMarketplacesForOrganization">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getMarketplaceForSubscription">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="addOrganizationsToMarketplace">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="removeOrganizationsFromMarketplace">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getOrganizationsForMarketplace">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="banOrganizationsFromMarketplace">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="liftBanOrganizationsFromMarketplace">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getBannedOrganizationsForMarketplace">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getAccessibleMarketplaces">
      <input>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#MarketplaceServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>    
  </binding>
  <service name="MarketplaceService">
    <port name="MarketplaceServicePortSTS" binding="tns:MarketplaceServicePortSTSBinding" />
  </service>
  <wsp:Policy wsu:Id="MarketplaceServicePortSTSBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing wsp:Optional="false" />
        <sp:SymmetricBinding>
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:IssuedToken
                  sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <sp:RequestSecurityTokenTemplate>
                    <t:TokenType>urn:oasis:names:tc:SAML:2.0:assertion</t:TokenType>
                    <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                    <t:KeySize>@SSO_STS_ENCKEY_LEN@</t:KeySize>
                  </sp:RequestSecurityTokenTemplate>
                  <wsp:Policy>
                    <sp:RequireInternalReference />
                  </wsp:Policy>
                  <sp:Issuer>
                    <wsaw:Address>@SSO_STS_URL@</wsaw:Address>
                    <wsaw:Metadata>
                      <wsx:Metadata>
                        <wsx:MetadataSection>
                          <wsx:MetadataReference>
                            <wsaw:Address>@SSO_STS_METADATA_URL@</wsaw:Address>
                          </wsx:MetadataReference>
                        </wsx:MetadataSection>
                      </wsx:Metadata>
                    </wsaw:Metadata>
                  </sp:Issuer>
                </sp:IssuedToken>
              </wsp:Policy>
            </sp:ProtectionToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:OnlySignEntireHeadersAndBody />
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:SymmetricBinding>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefIssuerSerial />
            <sp:MustSupportRefThumbprint />
            <sp:MustSupportRefEncryptedKey />
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="MarketplaceServicePortSTSBinding_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="MarketplaceServicePortSTSBinding_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</definitions>
