oscm-webservices/javares/wsitconfig/wsit-org.oscm.webservices.VatServiceWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
 
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="VatService"
  targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"
  xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
  xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
  xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <message name="getCountryVats" />
  <message name="getCountryVatsResponse" />
  <message name="getDefaultVat" />
  <message name="getDefaultVatResponse" />
  <message name="getOrganizationVats" />
  <message name="getOrganizationVatsResponse" />
  <message name="getVatSupport" />
  <message name="getVatSupportResponse" />
  <message name="saveDefaultVat" />
  <message name="saveDefaultVatResponse" />
  <message name="saveCountryVats" />
  <message name="saveCountryVatsResponse" />
  <message name="saveOrganizationVats" />
  <message name="saveOrganizationVatsResponse" />
  <message name="saveAllVats" />
  <message name="saveAllVatsResponse" />
  <portType name="VatService">
    <operation name="getCountryVats">
      <input message="tns:getCountryVats" />
      <output message="tns:getCountryVatsResponse" />
    </operation>
    <operation name="getDefaultVat">
      <input message="tns:getDefaultVat" />
      <output message="tns:getDefaultVatResponse" />
    </operation>
    <operation name="getOrganizationVats">
      <input message="tns:getOrganizationVats" />
      <output message="tns:getOrganizationVatsResponse" />
    </operation>
    <operation name="getVatSupport">
      <input message="tns:getVatSupport" />
      <output message="tns:getVatSupportResponse" />
    </operation>
    <operation name="saveDefaultVat">
      <input message="tns:saveDefaultVat" />
      <output message="tns:saveDefaultVatResponse" />
    </operation>
    <operation name="saveCountryVats">
      <input message="tns:saveCountryVats" />
      <output message="tns:saveCountryVatsResponse" />
    </operation>
    <operation name="saveOrganizationVats">
      <input message="tns:saveOrganizationVats" />
      <output message="tns:saveOrganizationVatsResponse" />
    </operation>
    <operation name="saveAllVats">
      <input message="tns:saveAllVats" />
      <output message="tns:saveAllVatsResponse" />
    </operation>
  </portType>
  <binding name="VatServicePortSTSBinding" type="tns:VatService">
    <wsp:PolicyReference URI="#VatServicePortSTSBindingPolicy" />
    <operation name="getCountryVats">
      <input>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getDefaultVat">
      <input>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getOrganizationVats">
      <input>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getVatSupport">
      <input>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="saveDefaultVat">
      <input>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="saveCountryVats">
      <input>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="saveOrganizationVats">
      <input>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="saveAllVats">
      <input>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#VatServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
  </binding>
  <service name="VatService">
    <port name="VatServicePortSTS" binding="tns:VatServicePortSTSBinding" />
  </service>
  <wsp:Policy wsu:Id="VatServicePortSTSBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing wsp:Optional="false" />
        <sp:SymmetricBinding>
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:IssuedToken
                  sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <sp:RequestSecurityTokenTemplate>
                    <t:TokenType>urn:oasis:names:tc:SAML:2.0:assertion</t:TokenType>
                    <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                    <t:KeySize>@SSO_STS_ENCKEY_LEN@</t:KeySize>
                  </sp:RequestSecurityTokenTemplate>
                  <wsp:Policy>
                    <sp:RequireInternalReference />
                  </wsp:Policy>
                  <sp:Issuer>
                    <wsaw:Address>@SSO_STS_URL@</wsaw:Address>
                    <wsaw:Metadata>
                      <wsx:Metadata>
                        <wsx:MetadataSection>
                          <wsx:MetadataReference>
                            <wsaw:Address>@SSO_STS_METADATA_URL@</wsaw:Address>
                          </wsx:MetadataReference>
                        </wsx:MetadataSection>
                      </wsx:Metadata>
                    </wsaw:Metadata>
                  </sp:Issuer>
                </sp:IssuedToken>
              </wsp:Policy>
            </sp:ProtectionToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:OnlySignEntireHeadersAndBody />
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:SymmetricBinding>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefIssuerSerial />
            <sp:MustSupportRefThumbprint />
            <sp:MustSupportRefEncryptedKey />
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="VatServicePortSTSBinding_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="VatServicePortSTSBinding_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</definitions>
