oscm-webservices/javares/wsitconfig/wsit-org.oscm.webservices.SubscriptionServiceWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
 
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SubscriptionService"
  targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"
  xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
  xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
  xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <message name="abortAsyncSubscription" />
  <message name="abortAsyncSubscriptionResponse" />
  <message name="abortAsyncModifySubscription" />
  <message name="abortAsyncModifySubscriptionResponse" />
  <message name="completeAsyncModifySubscription" />
  <message name="completeAsyncModifySubscriptionResponse" />
  <message name="abortAsyncUpgradeSubscription" />
  <message name="abortAsyncUpgradeSubscriptionResponse" />
  <message name="completeAsyncUpgradeSubscription" />
  <message name="completeAsyncUpgradeSubscriptionResponse" />
  <message name="addRevokeUser" />
  <message name="addRevokeUserResponse" />
  <message name="completeAsyncSubscription" />
  <message name="completeAsyncSubscriptionResponse" />
  <message name="getSubscriptionsForCurrentUser" />
  <message name="getSubscriptionsForCurrentUserResponse" />
  <message name="getSubscriptionsForUser" />
  <message name="getSubscriptionsForUserResponse" />
  <message name="getCustomersForSubscriptionId" />
  <message name="getCustomersForSubscriptionIdResponse" />
  <message name="getCustomerSubscriptions" />
  <message name="getCustomerSubscriptionsResponse" />
  <message name="getServiceRolesForSubscription" />
  <message name="getServiceRolesForSubscriptionResponse" />
  <message name="getSubscriptionDetails" />
  <message name="getSubscriptionDetailsResponse" />
  <message name="getSubscriptionForCustomer" />
  <message name="getSubscriptionForCustomerResponse" />
  <message name="getSubscriptionIdentifiers" />
  <message name="getSubscriptionIdentifiersResponse" />
  <message name="getSubscriptionsForOrganization" />
  <message name="getSubscriptionsForOrganizationResponse" />
  <message name="getUpgradeOptions" />
  <message name="getUpgradeOptionsResponse" />
  <message name="modifySubscription" />
  <message name="modifySubscriptionResponse" />
  <message name="subscribeToService" />
  <message name="subscribeToServiceResponse" />
  <message name="unsubscribeFromService" />
  <message name="unsubscribeFromServiceResponse" />
  <message name="upgradeSubscription" />
  <message name="upgradeSubscriptionResponse" />
  <message name="getServiceRolesForService" />
  <message name="getServiceRolesForServiceResponse" />
  <message name="updateAsyncSubscriptionProgress" />
  <message name="updateAsyncSubscriptionProgressResponse" />
  <message name="executeServiceOperation" />
  <message name="executeServiceOperationResponse" />
  <message name="terminateSubscription" />
  <message name="terminateSubscriptionResponse" />
  <message name="hasCurrentUserSubscriptions" />
  <message name="hasCurrentUserSubscriptionsResponse" />
  <message name="modifySubscriptionPaymentData" />
  <message name="modifySubscriptionPaymentDataResponse" />
  <message name="reportIssue" />
  <message name="reportIssueResponse" />
  <message name="getSubscriptionsForOrganizationWithFilter" />
  <message name="getSubscriptionsForOrganizationWithFilterResponse" />  
  <message name="getServiceOperationParameterValues" />
  <message name="getServiceOperationParameterValuesResponse" />  
  <message name="updateAccessInformation" />
  <message name="updateAccessInformationResponse" />  
  <message name="updateAsyncOperationProgress" />
  <message name="updateAsyncOperationProgressResponse" />
  <message name="updateAsyncSubscriptionStatus" />
  <message name="updateAsyncSubscriptionStatusResponse" />
  <portType name="SubscriptionService">
    <operation name="abortAsyncSubscription">
      <input message="tns:abortAsyncSubscription" />
      <output message="tns:abortAsyncSubscriptionResponse" />
    </operation>
    <operation name="abortAsyncModifySubscription">
      <input message="tns:abortAsyncModifySubscription" />
      <output message="tns:abortAsyncModifySubscriptionResponse" />
    </operation>
    <operation name="completeAsyncModifySubscription">
      <input message="tns:completeAsyncModifySubscription" />
      <output message="tns:completeAsyncModifySubscriptionResponse" />
    </operation>
    <operation name="abortAsyncUpgradeSubscription">
      <input message="tns:abortAsyncUpgradeSubscription" />
      <output message="tns:abortAsyncUpgradeSubscriptionResponse" />
    </operation>
    <operation name="completeAsyncUpgradeSubscription">
      <input message="tns:completeAsyncUpgradeSubscription" />
      <output message="tns:completeAsyncUpgradeSubscriptionResponse" />
    </operation>
    <operation name="addRevokeUser">
      <input message="tns:addRevokeUser" />
      <output message="tns:addRevokeUserResponse" />
    </operation>
    <operation name="completeAsyncSubscription">
      <input message="tns:completeAsyncSubscription" />
      <output message="tns:completeAsyncSubscriptionResponse" />
    </operation>
    <operation name="getSubscriptionsForCurrentUser">
      <input message="tns:getSubscriptionsForCurrentUser" />
      <output message="tns:getSubscriptionsForCurrentUserResponse" />
    </operation>
    <operation name="getSubscriptionsForUser">
      <input message="tns:getSubscriptionsForUser" />
      <output message="tns:getSubscriptionsForUserResponse" />
    </operation>
    <operation name="getCustomersForSubscriptionId">
      <input message="tns:getCustomersForSubscriptionId" />
      <output message="tns:getCustomersForSubscriptionIdResponse" />
    </operation>
    <operation name="getCustomerSubscriptions">
      <input message="tns:getCustomerSubscriptions" />
      <output message="tns:getCustomerSubscriptionsResponse" />
    </operation>
    <operation name="getServiceRolesForSubscription">
      <input message="tns:getServiceRolesForSubscription" />
      <output message="tns:getServiceRolesForSubscriptionResponse" />
    </operation>
    <operation name="getSubscriptionDetails">
      <input message="tns:getSubscriptionDetails" />
      <output message="tns:getSubscriptionDetailsResponse" />
    </operation>
    <operation name="getSubscriptionForCustomer">
      <input message="tns:getSubscriptionForCustomer" />
      <output message="tns:getSubscriptionForCustomerResponse" />
    </operation>
    <operation name="getSubscriptionIdentifiers">
      <input message="tns:getSubscriptionIdentifiers" />
      <output message="tns:getSubscriptionIdentifiersResponse" />
    </operation>
    <operation name="getSubscriptionsForOrganization">
      <input message="tns:getSubscriptionsForOrganization" />
      <output message="tns:getSubscriptionsForOrganizationResponse" />
    </operation>
    <operation name="getUpgradeOptions">
      <input message="tns:getUpgradeOptions" />
      <output message="tns:getUpgradeOptionsResponse" />
    </operation>
    <operation name="modifySubscription">
      <input message="tns:modifySubscription" />
      <output message="tns:modifySubscriptionResponse" />
    </operation>
    <operation name="subscribeToService">
      <input message="tns:subscribeToService" />
      <output message="tns:subscribeToServiceResponse" />
    </operation>
    <operation name="unsubscribeFromService">
      <input message="tns:unsubscribeFromService" />
      <output message="tns:unsubscribeFromServiceResponse" />
    </operation>
    <operation name="upgradeSubscription">
      <input message="tns:upgradeSubscription" />
      <output message="tns:upgradeSubscriptionResponse" />
    </operation>
    <operation name="getServiceRolesForService">
      <input message="tns:getServiceRolesForService" />
      <output message="tns:getServiceRolesForServiceResponse" />
    </operation>
    <operation name="updateAsyncSubscriptionProgress">
      <input message="tns:updateAsyncSubscriptionProgress" />
      <output message="tns:updateAsyncSubscriptionProgressResponse" />
    </operation>
    <operation name="executeServiceOperation">
      <input message="tns:executeServiceOperation" />
      <output message="tns:executeServiceOperationResponse" />
    </operation>
    <operation name="terminateSubscription">
      <input message="tns:terminateSubscription" />
      <output message="tns:terminateSubscriptionResponse" />
    </operation>
    <operation name="hasCurrentUserSubscriptions">
      <input message="tns:hasCurrentUserSubscriptions" />
      <output message="tns:hasCurrentUserSubscriptionsResponse" />
    </operation>
    <operation name="modifySubscriptionPaymentData">
      <input message="tns:modifySubscriptionPaymentData" />
      <output message="tns:modifySubscriptionPaymentDataResponse" />
    </operation>
        <operation name="reportIssue">
      <input message="tns:reportIssue" />
      <output message="tns:reportIssueResponse" />
    </operation>
    <operation name="getSubscriptionsForOrganizationWithFilter">
      <input message="tns:getSubscriptionsForOrganizationWithFilter" />
      <output message="tns:getSubscriptionsForOrganizationWithFilterResponse" />
    </operation>    
    
    <operation name="getServiceOperationParameterValues">
      <input message="tns:getServiceOperationParameterValues" />
      <output message="tns:getServiceOperationParameterValuesResponse" />
    </operation>   
    <operation name="updateAccessInformation">
      <input message="tns:updateAccessInformation" />
      <output message="tns:updateAccessInformationResponse" />
    </operation>   
    <operation name="updateAsyncOperationProgress">
      <input message="tns:updateAsyncOperationProgress" />
      <output message="tns:updateAsyncOperationProgressResponse" />
    </operation>
    <operation name="updateAsyncSubscriptionStatus">
      <input message="tns:updateAsyncSubscriptionStatus" />
      <output message="tns:updateAsyncSubscriptionStatusResponse" />
    </operation>
  </portType>
  <binding name="SubscriptionServicePortSTSBinding" type="tns:SubscriptionService">
    <wsp:PolicyReference URI="#SubscriptionServicePortSTSBindingPolicy" />
    <operation name="abortAsyncSubscription">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="abortAsyncModifySubscription">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="completeAsyncModifySubscription">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="abortAsyncUpgradeSubscription">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="completeAsyncUpgradeSubscription">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="addRevokeUser">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="completeAsyncSubscription">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSubscriptionsForCurrentUser">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSubscriptionsForUser">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getCustomersForSubscriptionId">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getCustomerSubscriptions">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getServiceRolesForSubscription">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSubscriptionDetails">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSubscriptionForCustomer">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSubscriptionIdentifiers">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSubscriptionsForOrganization">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getUpgradeOptions">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="modifySubscription">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="subscribeToService">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="unsubscribeFromService">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="upgradeSubscription">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getServiceRolesForService">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="updateAsyncSubscriptionProgress">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="executeServiceOperation">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="terminateSubscription">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="hasCurrentUserSubscriptions">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="modifySubscriptionPaymentData">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
        <operation name="reportIssue">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSubscriptionsForOrganizationWithFilter">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>  
    <operation name="getServiceOperationParameterValues">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="updateAccessInformation">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="updateAsyncOperationProgress">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="updateAsyncSubscriptionStatus">
      <input>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SubscriptionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
  </binding>
  <service name="SubscriptionService">
    <port name="SubscriptionServicePortSTS" binding="tns:SubscriptionServicePortSTSBinding" />
  </service>
  <wsp:Policy wsu:Id="SubscriptionServicePortSTSBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing wsp:Optional="false" />
        <sp:SymmetricBinding>
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:IssuedToken
                  sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <sp:RequestSecurityTokenTemplate>
                    <t:TokenType>urn:oasis:names:tc:SAML:2.0:assertion</t:TokenType>
                    <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                    <t:KeySize>@SSO_STS_ENCKEY_LEN@</t:KeySize>
                  </sp:RequestSecurityTokenTemplate>
                  <wsp:Policy>
                    <sp:RequireInternalReference />
                  </wsp:Policy>
                  <sp:Issuer>
                    <wsaw:Address>@SSO_STS_URL@</wsaw:Address>
                    <wsaw:Metadata>
                      <wsx:Metadata>
                        <wsx:MetadataSection>
                          <wsx:MetadataReference>
                            <wsaw:Address>@SSO_STS_METADATA_URL@</wsaw:Address>
                          </wsx:MetadataReference>
                        </wsx:MetadataSection>
                      </wsx:Metadata>
                    </wsaw:Metadata>
                  </sp:Issuer>
                </sp:IssuedToken>
              </wsp:Policy>
            </sp:ProtectionToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:OnlySignEntireHeadersAndBody />
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:SymmetricBinding>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefIssuerSerial />
            <sp:MustSupportRefThumbprint />
            <sp:MustSupportRefEncryptedKey />
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="SubscriptionServicePortSTSBinding_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="SubscriptionServicePortSTSBinding_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</definitions>
