oscm-webservices/javares/wsitconfig/wsit-org.oscm.webservices.ServiceProvisioningServiceWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
 
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServiceProvisioningService"
  targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"
  xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
  xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
  xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <message name="activateService" />
  <message name="activateServiceResponse" />
  <message name="createService" />
  <message name="createServiceResponse" />
  <message name="createTechnicalService" />
  <message name="createTechnicalServiceResponse" />
  <message name="deactivateService" />
  <message name="deactivateServiceResponse" />
  <message name="deleteService" />
  <message name="deleteServiceResponse" />
  <message name="deleteTechnicalService" />
  <message name="deleteTechnicalServiceResponse" />
  <message name="exportTechnicalServices" />
  <message name="exportTechnicalServicesResponse" />
  <message name="getAllCustomerSpecificServices" />
  <message name="getAllCustomerSpecificServicesResponse" />
  <message name="getCompatibleServices" />
  <message name="getCompatibleServicesResponse" />
  <message name="getServicesForCustomer" />
  <message name="getServicesForCustomerResponse" />
  <message name="getPriceModelLocalization" />
  <message name="getPriceModelLocalizationResponse" />
  <message name="getServiceDetails" />
  <message name="getServiceDetailsResponse" />
  <message name="getServiceForCustomer" />
  <message name="getServiceForCustomerResponse" />
  <message name="getServiceLocalization" />
  <message name="getServiceLocalizationResponse" />
  <message name="getServiceForSubscription" />
  <message name="getServiceForSubscriptionResponse" />
  <message name="getSupportedCurrencies" />
  <message name="getSupportedCurrenciesResponse" />
  <message name="importTechnicalServices" />
  <message name="importTechnicalServicesResponse" />
  <message name="loadImage" />
  <message name="loadImageResponse" />
  <message name="savePriceModel" />
  <message name="savePriceModelResponse" />
  <message name="savePriceModelForCustomer" />
  <message name="savePriceModelForCustomerResponse" />
  <message name="savePriceModelForSubscription" />
  <message name="savePriceModelForSubscriptionResponse" />
  <message name="savePriceModelLocalization" />
  <message name="savePriceModelLocalizationResponse" />
  <message name="saveServiceLocalization" />
  <message name="saveServiceLocalizationResponse" />
  <message name="saveTechnicalServiceLocalization" />
  <message name="saveTechnicalServiceLocalizationResponse" />
  <message name="setCompatibleServices" />
  <message name="setCompatibleServicesResponse" />
  <message name="updateService" />
  <message name="updateServiceResponse" />
  <message name="validateTechnicalServiceCommunication" />
  <message name="validateTechnicalServiceCommunicationResponse" />
  <message name="copyService" />
  <message name="copyServiceResponse" />
  <message name="getSuppliedServices" />
  <message name="getSuppliedServicesResponse" />
  <message name="getServicesForMarketplace" />
  <message name="getServicesForMarketplaceResponse" />
  <message name="loadImageForSupplier" />
  <message name="loadImageForSupplierResponse" />
  <message name="getPriceModelLicenseTemplateLocalization" />
  <message name="getPriceModelLicenseTemplateLocalizationResponse" />
  <message name="setActivationStates" />
  <message name="setActivationStatesResponse" />
  <message name="getRelatedServicesForMarketplace" />
  <message name="getRelatedServicesForMarketplaceResponse" />
  <message name="getServiceForMarketplace" />
  <message name="getServiceForMarketplaceResponse" />
  <message name="getServiceSeller" />
  <message name="getServiceSellerResponse" />
  <message name="getInstanceIdsForSellers" />
  <message name="getInstanceIdsForSellersResponse" />
  <message name="suspendService" />
  <message name="suspendServiceResponse" />
  <message name="resumeService" />
  <message name="resumeServiceResponse" />
  <message name="statusAllowsDeletion" />
  <message name="statusAllowsDeletionResponse" />
  <message name="getPotentialCompatibleServices" />
  <message name="getPotentialCompatibleServicesResponse" />
  <message name="isPartOfUpgradePath" />
  <message name="isPartOfUpgradePathResponse" />
  <message name="getTechnicalServices" />
  <message name="getTechnicalServicesResponse" />
  <message name="preserveExistingValues" />
  <message name="preserveExistingValuesResponse" />
  <portType name="ServiceProvisioningService">
    <operation name="activateService">
      <input message="tns:activateService" />
      <output message="tns:activateServiceResponse" />
    </operation>
    <operation name="createService">
      <input message="tns:createService" />
      <output message="tns:createServiceResponse" />
    </operation>
    <operation name="createTechnicalService">
      <input message="tns:createTechnicalService" />
      <output message="tns:createTechnicalServiceResponse" />
    </operation>
    <operation name="deactivateService">
      <input message="tns:deactivateService" />
      <output message="tns:deactivateServiceResponse" />
    </operation>
    <operation name="deleteService">
      <input message="tns:deleteService" />
      <output message="tns:deleteServiceResponse" />
    </operation>
    <operation name="deleteTechnicalService">
      <input message="tns:deleteTechnicalService" />
      <output message="tns:deleteTechnicalServiceResponse" />
    </operation>
    <operation name="exportTechnicalServices">
      <input message="tns:exportTechnicalServices" />
      <output message="tns:exportTechnicalServicesResponse" />
    </operation>
    <operation name="getAllCustomerSpecificServices">
      <input message="tns:getAllCustomerSpecificServices" />
      <output message="tns:getAllCustomerSpecificServicesResponse" />
    </operation>

    <operation name="getCompatibleServices">
      <input message="tns:getCompatibleServices" />
      <output message="tns:getCompatibleServicesResponse" />
    </operation>
    <operation name="getServicesForCustomer">
      <input message="tns:getServicesForCustomer" />
      <output message="tns:getServicesForCustomerResponse" />
    </operation>
    <operation name="getPriceModelLocalization">
      <input message="tns:getPriceModelLocalization" />
      <output message="tns:getPriceModelLocalizationResponse" />
    </operation>
    <operation name="getServiceDetails">
      <input message="tns:getServiceDetails" />
      <output message="tns:getServiceDetailsResponse" />
    </operation>
    <operation name="getServiceForCustomer">
      <input message="tns:getServiceForCustomer" />
      <output message="tns:getServiceForCustomerResponse" />
    </operation>
    <operation name="getServiceLocalization">
      <input message="tns:getServiceLocalization" />
      <output message="tns:getServiceLocalizationResponse" />
    </operation>
    <operation name="getServiceForSubscription">
      <input message="tns:getServiceForSubscription" />
      <output message="tns:getServiceForSubscriptionResponse" />
    </operation>
    <operation name="getSupportedCurrencies">
      <input message="tns:getSupportedCurrencies" />
      <output message="tns:getSupportedCurrenciesResponse" />
    </operation>
    <operation name="importTechnicalServices">
      <input message="tns:importTechnicalServices" />
      <output message="tns:importTechnicalServicesResponse" />
    </operation>
    <operation name="loadImage">
      <input message="tns:loadImage" />
      <output message="tns:loadImageResponse" />
    </operation>
    <operation name="savePriceModel">
      <input message="tns:savePriceModel" />
      <output message="tns:savePriceModelResponse" />
    </operation>
    <operation name="savePriceModelForCustomer">
      <input message="tns:savePriceModelForCustomer" />
      <output message="tns:savePriceModelForCustomerResponse" />
    </operation>
    <operation name="savePriceModelForSubscription">
      <input message="tns:savePriceModelForSubscription" />
      <output message="tns:savePriceModelForSubscriptionResponse" />
    </operation>
    <operation name="savePriceModelLocalization">
      <input message="tns:savePriceModelLocalization" />
      <output message="tns:savePriceModelLocalizationResponse" />
    </operation>
        <operation name="saveServiceLocalization">
      <input message="tns:saveServiceLocalization" />
      <output message="tns:saveServiceLocalizationResponse" />
    </operation>
    <operation name="saveTechnicalServiceLocalization">
      <input message="tns:saveTechnicalServiceLocalization" />
      <output message="tns:saveTechnicalServiceLocalizationResponse" />
    </operation>
    <operation name="setCompatibleServices">
      <input message="tns:setCompatibleServices" />
      <output message="tns:setCompatibleServicesResponse" />
    </operation>
    <operation name="updateService">
      <input message="tns:updateService" />
      <output message="tns:updateServiceResponse" />
    </operation>
    <operation name="validateTechnicalServiceCommunication">
      <input message="tns:validateTechnicalServiceCommunication" />
      <output message="tns:validateTechnicalServiceCommunicationResponse" />
    </operation>
    <operation name="copyService">
      <input message="tns:copyService" />
      <output message="tns:copyServiceResponse" />
    </operation>
    <operation name="getSuppliedServices">
      <input message="tns:getSuppliedServices" />
      <output message="tns:getSuppliedServicesResponse" />
    </operation>
    <operation name="getServicesForMarketplace">
      <input message="tns:getServicesForMarketplace" />
      <output message="tns:getServicesForMarketplaceResponse" />
    </operation>
    <operation name="loadImageForSupplier">
      <input message="tns:loadImageForSupplier" />
      <output message="tns:loadImageForSupplierResponse" />
    </operation>
    <operation name="getPriceModelLicenseTemplateLocalization">
      <input message="tns:getPriceModelLicenseTemplateLocalization" />
      <output message="tns:getPriceModelLicenseTemplateLocalizationResponse" />
    </operation>
    <operation name="setActivationStates">
      <input message="tns:setActivationStates" />
      <output message="tns:setActivationStatesResponse" />
    </operation>
    <operation name="getRelatedServicesForMarketplace">
      <input message="tns:getRelatedServicesForMarketplace" />
      <output message="tns:getRelatedServicesForMarketplace" />
    </operation>
    <operation name="getServiceForMarketplace">
      <input message="tns:getServiceForMarketplace" />
      <output message="tns:getServiceForMarketplaceResponse" />
    </operation>
    <operation name="getServiceSeller">
      <input message="tns:getServiceSeller" />
      <output message="tns:getServiceSellerResponse" />
    </operation>
    <operation name="getInstanceIdsForSellers">
      <input message="tns:getInstanceIdsForSellers" />
      <output message="tns:getInstanceIdsForSellersResponse" />
    </operation>
    <operation name="suspendService">
      <input message="tns:suspendService" />
      <output message="tns:suspendServiceResponse" />
    </operation>
    <operation name="resumeService">
      <input message="tns:resumeService" />
      <output message="tns:resumeServiceResponse" />
    </operation>
    <operation name="statusAllowsDeletion">
      <input message="tns:statusAllowsDeletion" />
      <output message="tns:statusAllowsDeletionResponse" />
    </operation>
    <operation name="getPotentialCompatibleServices">
      <input message="tns:getPotentialCompatibleServices" />
      <output message="tns:getPotentialCompatibleServicesResponse" />
    </operation>
    <operation name="isPartOfUpgradePath">
      <input message="tns:isPartOfUpgradePath" />
      <output message="tns:isPartOfUpgradePathResponse" />
    </operation>
    <operation name="getTechnicalServices">
      <input message="tns:getTechnicalServices" />
      <output message="tns:getTechnicalServicesResponse" />
    </operation>
    <operation name="preserveExistingValues">
      <input message="tns:preserveExistingValues" />
      <output message="tns:preserveExistingValuesResponse" />
    </operation>
  </portType>
  <binding name="ServiceProvisioningServicePortSTSBinding" type="tns:ServiceProvisioningService">
    <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBindingPolicy" />
    <operation name="activateService">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="createService">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="createTechnicalService">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deactivateService">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deleteService">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deleteTechnicalService">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="exportTechnicalServices">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getAllCustomerSpecificServices">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>

    <operation name="getCompatibleServices">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getServicesForCustomer">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getPriceModelLocalization">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getServiceDetails">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getServiceForCustomer">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getServiceLocalization">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getServiceForSubscription">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSupportedCurrencies">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="importTechnicalServices">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="loadImage">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="savePriceModel">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="savePriceModelForCustomer">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="savePriceModelForSubscription">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="savePriceModelLocalization">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
        <operation name="saveServiceLocalization">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="saveTechnicalServiceLocalization">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="setCompatibleServices">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="updateService">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="validateTechnicalServiceCommunication">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="copyService">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSuppliedServices">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getServicesForMarketplace">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="loadImageForSupplier">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getPriceModelLicenseTemplateLocalization">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="setActivationStates">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getRelatedServicesForMarketplace">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getServiceForMarketplace">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getServiceSeller">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getInstanceIdsForSellers">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="suspendService">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="resumeService">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="statusAllowsDeletion">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getPotentialCompatibleServices">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="isPartOfUpgradePath">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getTechnicalServices">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="preserveExistingValues">
      <input>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#ServiceProvisioningServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
  </binding>
  <service name="ServiceProvisioningService">
    <port name="ServiceProvisioningServicePortSTS" binding="tns:ServiceProvisioningServicePortSTSBinding" />
  </service>
  <wsp:Policy wsu:Id="ServiceProvisioningServicePortSTSBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing wsp:Optional="false" />
        <sp:SymmetricBinding>
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:IssuedToken
                  sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <sp:RequestSecurityTokenTemplate>
                    <t:TokenType>urn:oasis:names:tc:SAML:2.0:assertion</t:TokenType>
                    <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                    <t:KeySize>@SSO_STS_ENCKEY_LEN@</t:KeySize>
                  </sp:RequestSecurityTokenTemplate>
                  <wsp:Policy>
                    <sp:RequireInternalReference />
                  </wsp:Policy>
                  <sp:Issuer>
                    <wsaw:Address>@SSO_STS_URL@</wsaw:Address>
                    <wsaw:Metadata>
                      <wsx:Metadata>
                        <wsx:MetadataSection>
                          <wsx:MetadataReference>
                            <wsaw:Address>@SSO_STS_METADATA_URL@</wsaw:Address>
                          </wsx:MetadataReference>
                        </wsx:MetadataSection>
                      </wsx:Metadata>
                    </wsaw:Metadata>
                  </sp:Issuer>
                </sp:IssuedToken>
              </wsp:Policy>
            </sp:ProtectionToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:OnlySignEntireHeadersAndBody />
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:SymmetricBinding>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefIssuerSerial />
            <sp:MustSupportRefThumbprint />
            <sp:MustSupportRefEncryptedKey />
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="ServiceProvisioningServicePortSTSBinding_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="ServiceProvisioningServicePortSTSBinding_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</definitions>
