oscm-webservices/javares/wsitconfig/wsit-org.oscm.webservices.TriggerServiceWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="TriggerService"
             targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
             xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
             xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <message name="approveAction" />
  <message name="approveActionResponse" />
  <message name="cancelActions" />
  <message name="cancelActionsResponse" />
  <message name="deleteActions" />
  <message name="deleteActionsResponse" />
  <message name="getAllDefinitions" />
  <message name="getAllDefinitionsResponse" />
  <message name="getAllActions" />
  <message name="getAllActionsResponse" />
  <message name="getAllActionsForOrganization" />
  <message name="getAllActionsForOrganizationResponse" />
  <message name="rejectAction" />
  <message name="rejectActionResponse" />
  <message name="updateActionParameters" />
  <message name="updateActionParametersResponse" />
  <message name="getActionParameter" />
  <message name="getActionParameterResponse" />
  <portType name="TriggerService">
    <operation name="approveAction">
      <input message="tns:approveAction" />
      <output message="tns:approveActionResponse" />
    </operation>
    <operation name="cancelActions">
      <input message="tns:cancelActions" />
      <output message="tns:cancelActionsResponse" />
    </operation>
    <operation name="deleteActions">
      <input message="tns:deleteActions" />
      <output message="tns:deleteActionsResponse" />
    </operation>
    <operation name="getAllDefinitions">
      <input message="tns:getAllDefinitions" />
      <output message="tns:getAllDefinitionsResponse" />
    </operation>
    <operation name="getAllActions">
      <input message="tns:getAllActions" />
      <output message="tns:getAllActionsResponse" />
    </operation>
    <operation name="getAllActionsForOrganization">
      <input message="tns:getAllActionsForOrganization" />
      <output message="tns:getAllActionsForOrganizationResponse" />
    </operation>
    <operation name="rejectAction">
      <input message="tns:rejectAction" />
      <output message="tns:rejectActionResponse" />
    </operation>
    <operation name="updateActionParameters">
      <input message="tns:updateActionParameters" />
      <output message="tns:updateActionParametersResponse" />
    </operation>
    <operation name="getActionParameter">
      <input message="tns:getActionParameter" />
      <output message="tns:getActionParameterResponse" />
    </operation>
  </portType>
  <binding name="TriggerServicePortSTSBinding" type="tns:TriggerService">
    <wsp:PolicyReference URI="#TriggerServicePortSTSBindingPolicy" />
    <operation name="approveAction">
      <input>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="cancelActions">
      <input>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deleteActions">
      <input>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getAllDefinitions">
      <input>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getAllActions">
      <input>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getAllActionsForOrganization">
      <input>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="rejectAction">
      <input>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="updateActionParameters">
      <input>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getActionParameter">
      <input>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#TriggerServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
  </binding>
  <service name="TriggerService">
    <port name="TriggerServicePortSTS" binding="tns:TriggerServicePortSTSBinding" />
  </service>
  <wsp:Policy wsu:Id="TriggerServicePortSTSBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing wsp:Optional="false" />
        <sp:SymmetricBinding>
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:IssuedToken
                  sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <sp:RequestSecurityTokenTemplate>
                    <t:TokenType>urn:oasis:names:tc:SAML:2.0:assertion</t:TokenType>
                    <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                    <t:KeySize>@SSO_STS_ENCKEY_LEN@</t:KeySize>
                  </sp:RequestSecurityTokenTemplate>
                  <wsp:Policy>
                    <sp:RequireInternalReference />
                  </wsp:Policy>
                  <sp:Issuer>
                    <wsaw:Address>@SSO_STS_URL@</wsaw:Address>
                    <wsaw:Metadata>
                      <wsx:Metadata>
                        <wsx:MetadataSection>
                          <wsx:MetadataReference>
                            <wsaw:Address>@SSO_STS_METADATA_URL@</wsaw:Address>
                          </wsx:MetadataReference>
                        </wsx:MetadataSection>
                      </wsx:Metadata>
                    </wsaw:Metadata>
                  </sp:Issuer>
                </sp:IssuedToken>
              </wsp:Policy>
            </sp:ProtectionToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:OnlySignEntireHeadersAndBody />
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:SymmetricBinding>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefIssuerSerial />
            <sp:MustSupportRefThumbprint />
            <sp:MustSupportRefEncryptedKey />
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="TriggerServicePortSTSBinding_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="TriggerServicePortSTSBinding_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</definitions>
