oscm-webservices/javares/wsitconfig/wsit-org.oscm.webservices.SessionServiceWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->
 
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SessionService"
  targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"
  xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
  xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
  xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <message name="createServiceSession" />
  <message name="createServiceSessionResponse" />
  <message name="resolveUserToken" />
  <message name="resolveUserTokenResponse" />
  <message name="deleteServiceSession" />
  <message name="deleteServiceSessionResponse" />
  <message name="deleteSessionsForSessionId" />
  <message name="deleteSessionsForSessionIdResponse" />
  <message name="deletePlatformSession" />
  <message name="deletePlatformSessionResponse" />
  <message name="createPlatformSession" />
  <message name="createPlatformSessionResponse" />
  <message name="getNumberOfServiceSessions" />
  <message name="getNumberOfServiceSessionsResponse" />
  <message name="getSubscriptionKeysForSessionId" />
  <message name="getSubscriptionKeysForSessionIdResponse" />
  <message name="deleteServiceSessionsForSubscription" />
  <message name="deleteServiceSessionsForSubscriptionResponse" />
  <portType name="SessionService">
    <operation name="createServiceSession">
      <input message="tns:createServiceSession" />
      <output message="tns:createServiceSessionResponse" />
    </operation>
    <operation name="resolveUserToken">
      <input message="tns:resolveUserToken" />
      <output message="tns:resolveUserTokenResponse" />
    </operation>
    <operation name="deleteServiceSession">
      <input message="tns:deleteServiceSession" />
      <output message="tns:deleteServiceSessionResponse" />
    </operation>
    <operation name="deleteSessionsForSessionId">
      <input message="tns:deleteSessionsForSessionId" />
      <output message="tns:deleteSessionsForSessionIdResponse" />
    </operation>
    <operation name="deletePlatformSession">
      <input message="tns:deletePlatformSession" />
      <output message="tns:deletePlatformSessionResponse" />
    </operation>
    <operation name="createPlatformSession">
      <input message="tns:createPlatformSession" />
      <output message="tns:createPlatformSessionResponse" />
    </operation>
    <operation name="getNumberOfServiceSessions">
      <input message="tns:getNumberOfServiceSessions" />
      <output message="tns:getNumberOfServiceSessionsResponse" />
    </operation>
    <operation name="getSubscriptionKeysForSessionId">
      <input message="tns:getSubscriptionKeysForSessionId" />
      <output message="tns:getSubscriptionKeysForSessionIdResponse" />
    </operation>
    <operation name="deleteServiceSessionsForSubscription">
      <input message="tns:deleteServiceSessionsForSubscription" />
      <output message="tns:deleteServiceSessionsForSubscriptionResponse" />
    </operation>
  </portType>
  <binding name="SessionServicePortSTSBinding" type="tns:SessionService">
    <wsp:PolicyReference URI="#SessionServicePortSTSBindingPolicy" />
    <operation name="createServiceSession">
      <input>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="resolveUserToken">
      <input>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deleteServiceSession">
      <input>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deleteSessionsForSessionId">
      <input>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deletePlatformSession">
      <input>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="createPlatformSession">
      <input>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getNumberOfServiceSessions">
      <input>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="getSubscriptionKeysForSessionId">
      <input>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
    <operation name="deleteServiceSessionsForSubscription">
      <input>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Input_Policy" />
      </input>
      <output>
        <wsp:PolicyReference URI="#SessionServicePortSTSBinding_Output_Policy" />
      </output>
    </operation>
  </binding>
  <service name="SessionService">
    <port name="SessionServicePortSTS" binding="tns:SessionServicePortSTSBinding" />
  </service>
  <wsp:Policy wsu:Id="SessionServicePortSTSBindingPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing wsp:Optional="false" />
        <sp:SymmetricBinding>
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:IssuedToken
                  sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <sp:RequestSecurityTokenTemplate>
                    <t:TokenType>urn:oasis:names:tc:SAML:2.0:assertion</t:TokenType>
                    <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                    <t:KeySize>@SSO_STS_ENCKEY_LEN@</t:KeySize>
                  </sp:RequestSecurityTokenTemplate>
                  <wsp:Policy>
                    <sp:RequireInternalReference />
                  </wsp:Policy>
                  <sp:Issuer>
                    <wsaw:Address>@SSO_STS_URL@</wsaw:Address>
                    <wsaw:Metadata>
                      <wsx:Metadata>
                        <wsx:MetadataSection>
                          <wsx:MetadataReference>
                            <wsaw:Address>@SSO_STS_METADATA_URL@</wsaw:Address>
                          </wsx:MetadataReference>
                        </wsx:MetadataSection>
                      </wsx:Metadata>
                    </wsaw:Metadata>
                  </sp:Issuer>
                </sp:IssuedToken>
              </wsp:Policy>
            </sp:ProtectionToken>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:OnlySignEntireHeadersAndBody />
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:SymmetricBinding>
        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefIssuerSerial />
            <sp:MustSupportRefThumbprint />
            <sp:MustSupportRefEncryptedKey />
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust13>
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="SessionServicePortSTSBinding_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="SessionServicePortSTSBinding_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
        <sp:SignedParts>
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
          <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
        </sp:SignedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</definitions>
