oscm-webservices/javares/wsitconfig/wsit-org.oscm.webservices.OrganizationalUnitServiceWS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright FUJITSU LIMITED 2017-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="OrganizationalUnitService"
             targetNamespace="http://oscm.org/xsd" xmlns:tns="http://oscm.org/xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
             xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
             xmlns:wsaw="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
    <message name="grantUserRoles" />
    <message name="grantUserRolesResponse" />
    <message name="revokeUserRoles" />
    <message name="revokeUserRolesResponse" />
    <message name="getOrganizationalUnits" />
    <message name="getOrganizationalUnitsResponse" />
    <message name="createUnit" />
    <message name="createUnitResponse" />
    <message name="deleteUnit" />
    <message name="deleteUnitResponse" />
    <message name="getVisibleServices" />
    <message name="getVisibleServicesResponse" />
    <message name="getAccessibleServices" />
    <message name="getAccessibleServicesResponse" />
    <message name="addVisibleServices" />
    <message name="addVisibleServicesResponse" />
    <message name="addAccessibleServices" />
    <message name="addAccessibleServicesResponse" />
    <message name="revokeVisibleServices" />
    <message name="revokeVisibleServicesResponse" />
    <message name="revokeAccessibleServices" />
    <message name="revokeAccessibleServicesResponse" />
    <portType name="OrganizationalUnitService">
        <operation name="grantUserRoles">
            <input message="tns:grantUserRoles" />
            <output message="tns:grantUserRolesResponse" />
        </operation>
        <operation name="revokeUserRoles">
            <input message="tns:revokeUserRoles" />
            <output message="tns:revokeUserRolesResponse" />
        </operation>
        <operation name="getOrganizationalUnits">
            <input message="tns:getOrganizationalUnits" />
            <output message="tns:getOrganizationalUnitsResponse" />
        </operation>
        <operation name="createUnit">
            <input message="tns:createUnit" />
            <output message="tns:createUnitResponse" />
        </operation>
        <operation name="deleteUnit">
            <input message="tns:deleteUnit" />
            <output message="tns:deleteUnitResponse" />
        </operation>
        <operation name="getVisibleServices">
            <input message="tns:getVisibleServices" />
            <output message="tns:getVisibleServicesResponse" />
        </operation>
        <operation name="getAccessibleServices">
            <input message="tns:getAccessibleServices" />
            <output message="tns:getAccessibleServicesResponse" />
        </operation>
        <operation name="addAccessibleServices">
            <input message="tns:addAccessibleServices" />
            <output message="tns:addAccessibleServicesResponse" />
        </operation>
        <operation name="revokeAccessibleServices">
            <input message="tns:revokeAccessibleServices" />
            <output message="tns:revokeAccessibleServicesResponse" />
        </operation>
        <operation name="addVisibleServices">
            <input message="tns:addVisibleServices" />
            <output message="tns:addVisibleServicesResponse" />
        </operation>
        <operation name="revokeVisibleServices">
            <input message="tns:revokeVisibleServices" />
            <output message="tns:revokeVisibleServicesResponse" />
        </operation>
    </portType>
    <binding name="OrganizationalUnitServicePortSTSBinding" type="tns:OrganizationalUnitService">
        <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBindingPolicy" />
        <operation name="grantUserRoles">
            <input>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Input_Policy" />
            </input>
            <output>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Output_Policy" />
            </output>
        </operation>
        <operation name="revokeUserRoles">
            <input>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Input_Policy" />
            </input>
            <output>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Output_Policy" />
            </output>
        </operation>
        <operation name="getOrganizationalUnits">
            <input>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Input_Policy" />
            </input>
            <output>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Output_Policy" />
            </output>
        </operation>
        <operation name="createUnit">
            <input>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Input_Policy" />
            </input>
            <output>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Output_Policy" />
            </output>
        </operation>
        <operation name="deleteUnit">
            <input>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Input_Policy" />
            </input>
            <output>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Output_Policy" />
            </output>
        </operation>
        <operation name="getVisibleServices">
            <input>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Input_Policy" />
            </input>
            <output>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Output_Policy" />
            </output>
        </operation>
        <operation name="getAccessibleServices">
            <input>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Input_Policy" />
            </input>
            <output>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Output_Policy" />
            </output>
        </operation>
        <operation name="addAccessibleServices">
            <input>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Input_Policy" />
            </input>
            <output>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Output_Policy" />
            </output>
        </operation>
        <operation name="revokeAccessibleServices">
            <input>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Input_Policy" />
            </input>
            <output>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Output_Policy" />
            </output>
        </operation>
        <operation name="addVisibleServices">
            <input>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Input_Policy" />
            </input>
            <output>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Output_Policy" />
            </output>
        </operation>
        <operation name="revokeVisibleServices">
            <input>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Input_Policy" />
            </input>
            <output>
                <wsp:PolicyReference URI="#OrganizationalUnitServicePortSTSBinding_Output_Policy" />
            </output>
        </operation>
    </binding>
    <service name="OrganizationalUnitService">
        <port name="OrganizationalUnitServicePortSTS" binding="tns:OrganizationalUnitServicePortSTSBinding" />
    </service>
    <wsp:Policy wsu:Id="OrganizationalUnitServicePortSTSBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing wsp:Optional="false" />
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:IssuedToken
                                        sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                    <sp:RequestSecurityTokenTemplate>
                                        <t:TokenType>urn:oasis:names:tc:SAML:2.0:assertion</t:TokenType>
                                        <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
                                        <t:KeySize>@SSO_STS_ENCKEY_LEN@</t:KeySize>
                                    </sp:RequestSecurityTokenTemplate>
                                    <wsp:Policy>
                                        <sp:RequireInternalReference />
                                    </wsp:Policy>
                                    <sp:Issuer>
                                        <wsaw:Address>@SSO_STS_URL@</wsaw:Address>
                                        <wsaw:Metadata>
                                            <wsx:Metadata>
                                                <wsx:MetadataSection>
                                                    <wsx:MetadataReference>
                                                        <wsaw:Address>@SSO_STS_METADATA_URL@</wsaw:Address>
                                                    </wsx:MetadataReference>
                                                </wsx:MetadataSection>
                                            </wsx:Metadata>
                                        </wsaw:Metadata>
                                    </sp:Issuer>
                                </sp:IssuedToken>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax />
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                        <sp:OnlySignEntireHeadersAndBody />
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128 />
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial />
                        <sp:MustSupportRefThumbprint />
                        <sp:MustSupportRefEncryptedKey />
                    </wsp:Policy>
                </sp:Wss11>
                <sp:Trust13>
                    <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                    </wsp:Policy>
                </sp:Trust13>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OrganizationalUnitServicePortSTSBinding_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body />
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body />
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OrganizationalUnitServicePortSTSBinding_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body />
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body />
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
