example-service/WebContent/META-INF/ProvisioningService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://oscm.org/xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://oscm.org/xsd">
    <xs:element name="activateInstance" type="tns:activateInstance"/>
    <xs:element name="activateInstanceResponse" type="tns:activateInstanceResponse"/>
    <xs:element name="asyncCreateInstance" type="tns:asyncCreateInstance"/>
    <xs:element name="asyncCreateInstanceResponse" type="tns:asyncCreateInstanceResponse"/>
    <xs:element name="asyncModifySubscription" type="tns:asyncModifySubscription"/>
    <xs:element name="asyncModifySubscriptionResponse" type="tns:asyncModifySubscriptionResponse"/>
    <xs:element name="asyncUpgradeSubscription" type="tns:asyncUpgradeSubscription"/>
    <xs:element name="asyncUpgradeSubscriptionResponse" type="tns:asyncUpgradeSubscriptionResponse"/>
    <xs:element name="createInstance" type="tns:createInstance"/>
    <xs:element name="createInstanceResponse" type="tns:createInstanceResponse"/>
    <xs:element name="createUsers" type="tns:createUsers"/>
    <xs:element name="createUsersResponse" type="tns:createUsersResponse"/>
    <xs:element name="deactivateInstance" type="tns:deactivateInstance"/>
    <xs:element name="deactivateInstanceResponse" type="tns:deactivateInstanceResponse"/>
    <xs:element name="deleteInstance" type="tns:deleteInstance"/>
    <xs:element name="deleteInstanceResponse" type="tns:deleteInstanceResponse"/>
    <xs:element name="deleteUsers" type="tns:deleteUsers"/>
    <xs:element name="deleteUsersResponse" type="tns:deleteUsersResponse"/>
    <xs:element name="modifySubscription" type="tns:modifySubscription"/>
    <xs:element name="modifySubscriptionResponse" type="tns:modifySubscriptionResponse"/>
    <xs:element name="saveAttributes" type="tns:saveAttributes"/>
    <xs:element name="saveAttributesResponse" type="tns:saveAttributesResponse"/>
    <xs:element name="sendPing" type="tns:sendPing"/>
    <xs:element name="sendPingResponse" type="tns:sendPingResponse"/>
    <xs:element name="updateUsers" type="tns:updateUsers"/>
    <xs:element name="updateUsersResponse" type="tns:updateUsersResponse"/>
    <xs:element name="upgradeSubscription" type="tns:upgradeSubscription"/>
    <xs:element name="upgradeSubscriptionResponse" type="tns:upgradeSubscriptionResponse"/>
    <xs:complexType name="asyncUpgradeSubscription">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="instanceId" type="xs:string"/>
            <xs:element form="unqualified" minOccurs="0" name="subscriptionId" type="xs:string"/>
            <xs:element name="referenceId" type="xs:string" form="unqualified" minOccurs="0"/>
            <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="parameterValues" type="tns:serviceParameter"/>
            <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="attributeValues" type="tns:serviceAttribute"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="serviceParameter">
        <xs:sequence>
            <xs:element name="encrypted" type="xs:boolean"/>
            <xs:element minOccurs="0" name="parameterId" type="xs:string"/>
            <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="serviceAttribute">
        <xs:sequence>
            <xs:element name="attributeId" type="xs:string" minOccurs="0"/>
            <xs:element name="controllerId" type="xs:string" minOccurs="0"/>
            <xs:element name="encrypted" type="xs:boolean"/>
            <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="user">
        <xs:sequence>
            <xs:element minOccurs="0" name="applicationUserId" type="xs:string"/>
            <xs:element minOccurs="0" name="email" type="xs:string"/>
            <xs:element minOccurs="0" name="locale" type="xs:string"/>
            <xs:element minOccurs="0" name="roleIdentifier" type="xs:string"/>
            <xs:element minOccurs="0" name="userFirstName" type="xs:string"/>
            <xs:element minOccurs="0" name="userId" type="xs:string"/>
            <xs:element minOccurs="0" name="userLastName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="asyncUpgradeSubscriptionResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:baseResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="baseResult">
        <xs:sequence>
            <xs:element minOccurs="0" name="desc" type="xs:string"/>
            <xs:element name="rc" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="asyncModifySubscription">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="instanceId" type="xs:string"/>
            <xs:element form="unqualified" minOccurs="0" name="subscriptionId" type="xs:string"/>
            <xs:element name="referenceId" type="xs:string" form="unqualified" minOccurs="0"/>
            <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="parameterValues" type="tns:serviceParameter"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="asyncModifySubscriptionResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:baseResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deactivateInstance">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="instanceId" type="xs:string"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deactivateInstanceResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:baseResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateUsers">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="instanceId" type="xs:string"/>
            <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="users" type="tns:user"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateUsersResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:baseResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="asyncCreateInstance">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="request" type="tns:instanceRequest"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="instanceRequest">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeValue" nillable="true" type="tns:serviceAttribute"/>
            <xs:element minOccurs="0" name="defaultLocale" type="xs:string"/>
            <xs:element minOccurs="0" name="loginUrl" type="xs:string"/>
            <xs:element minOccurs="0" name="organizationId" type="xs:string"/>
            <xs:element minOccurs="0" name="organizationName" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="parameterValue" nillable="true" type="tns:serviceParameter"/>
            <xs:element name="referenceId" type="xs:string" minOccurs="0"/>
            <xs:element minOccurs="0" name="subscriptionId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="asyncCreateInstanceResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:baseResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="upgradeSubscription">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="instanceId" type="xs:string"/>
            <xs:element form="unqualified" minOccurs="0" name="subscriptionId" type="xs:string"/>
            <xs:element name="referenceId" type="xs:string" form="unqualified" minOccurs="0"/>
            <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="parameterValues" type="tns:serviceParameter"/>
            <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="attributeValues" type="tns:serviceAttribute"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="upgradeSubscriptionResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:baseResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteInstance">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="instanceId" type="xs:string"/>
            <xs:element form="unqualified" minOccurs="0" name="organizationId" type="xs:string"/>
            <xs:element form="unqualified" minOccurs="0" name="subscriptionId" type="xs:string"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteInstanceResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:baseResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="activateInstance">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="instanceId" type="xs:string"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="activateInstanceResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:baseResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createInstance">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="request" type="tns:instanceRequest"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createInstanceResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:instanceResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="instanceResult">
        <xs:complexContent>
            <xs:extension base="tns:baseResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="instance" type="tns:instanceInfo"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="instanceInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="accessInfo" type="xs:string"/>
            <xs:element minOccurs="0" name="baseUrl" type="xs:string"/>
            <xs:element minOccurs="0" name="instanceId" type="xs:string"/>
            <xs:element minOccurs="0" name="loginPath" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sendPing">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="arg" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sendPingResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="saveAttributes">
        <xs:sequence>
            <xs:element name="organizationId" type="xs:string" form="unqualified" minOccurs="0"/>
            <xs:element name="attributeValues" type="tns:serviceAttribute" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="requestingUser" type="tns:user" form="unqualified" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="saveAttributesResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:baseResult" form="unqualified" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteUsers">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="instanceId" type="xs:string"/>
            <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="users" type="tns:user"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteUsersResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:baseResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createUsers">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="instanceId" type="xs:string"/>
            <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="users" type="tns:user"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createUsersResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:userResult"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="userResult">
        <xs:complexContent>
            <xs:extension base="tns:baseResult">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="users" nillable="true" type="tns:user"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="modifySubscription">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="instanceId" type="xs:string"/>
            <xs:element form="unqualified" minOccurs="0" name="subscriptionId" type="xs:string"/>
            <xs:element name="referenceId" type="xs:string" form="unqualified" minOccurs="0"/>
            <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="parameterValues" type="tns:serviceParameter"/>
            <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="attributeValues" type="tns:serviceAttribute"/>
            <xs:element form="unqualified" minOccurs="0" name="requestingUser" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="modifySubscriptionResponse">
        <xs:sequence>
            <xs:element form="unqualified" minOccurs="0" name="return" type="tns:baseResult"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
