oscm-billing/javares/BillingResult.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="Locale.xsd" />
  <xsd:complexType name="BillingDetailsType">
    <xsd:annotation>
      <xsd:documentation>Top level container element of the billing result file. It contains sections with the billing
        details for one customer.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Period" type="PeriodType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the month for which billing data are calculated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OrganizationDetails" type="OrganizationDetailsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the name, address, and custom attribute data of the organization for which the
            billing data are calculated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Subscriptions" type="SubscriptionsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares all subscriptions relevant for the current billing period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OverallCosts" type="OverallCostsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the total amount of charges to be paid by the customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="timezone" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Declares the time zone used for the calculation.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="key" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation>Optional unique identifier allowing accounting systems like SAP to relate the raw billing
          data to an invoice generated by the accounting system.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:simpleType name="NormalizedCosts">
    <xsd:annotation>
      <xsd:documentation>Maximum number of fraction: 2.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value='2' />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PeriodType">
    <xsd:annotation>
      <xsd:documentation>Time range for which the calculation of billing data is performed.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="startDate" type="xsd:long">
      <xsd:annotation>
        <xsd:documentation>
          First day of the month for which a billing run is to be executed (0:00). The day is specified
          in milliseconds
          and takes 01-01-1970 as starting point.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="startDateIsoFormat" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Same as the startDate attribute, but the day is specified in ISO
          8601(YYYY-MM-DDThh:mm:ss.fffZ) format.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="endDate" type="xsd:long">
      <xsd:annotation>
        <xsd:documentation>
          First day of the next month following the start date (0:00). The day is specified in
          milliseconds and takes
          01-01-1970 as starting point.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="endDateIsoFormat" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation>Same as the endDate attribute, but the day is specified in ISO 8601(YYYY-MM-DDThh:mm:ss.fffZ)
          format.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="OrganizationDetailsType">
    <xsd:annotation>
      <xsd:documentation>Details of the organization for which the calculation of billing data is performed.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>ID of the organization. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Email" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Email of the organization. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Name of the organization. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Address" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Address of the organization to be printed on invoices. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Paymenttype" type="xsd:string" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>The payment type used for the subscription. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Udas" type="UdasType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Custom attribute storing additional information on the organization. This could be, for
            example, the profit center to which the customer's revenue is to be accounted.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SubscriptionsType">
    <xsd:annotation>
      <xsd:documentation>Subscriptions of the customer.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Subscription" type="SubscriptionType" maxOccurs="unbounded" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>For every subscription of the customer, a separate section is included in the billing
            result file.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SubscriptionType">
    <xsd:annotation>
      <xsd:documentation>A single subscription.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OrganizationalUnit" type="OrganizationalUnitType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the organizational unit to which the subscription is assigned at the end of the
            billing period. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PriceModels" type="PriceModelsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the price models used for calculating the utilization charges for the
            subscription.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Udas" type="UdasType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the custom attribute storing information on the subscription. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Subscription name uniquely identifying the subscription.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="purchaseOrderNumber" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Internal reference number as specified when subscribing to a service. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="PriceModelsType">
    <xsd:annotation>
      <xsd:documentation>Price models.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PriceModel" type="PriceModelType" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Price model.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PriceModelType">
    <xsd:annotation>
      <xsd:documentation>Price model details.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UsagePeriod" type="PeriodType">
        <xsd:annotation>
          <xsd:documentation>Declares the summed-up usage time of the subscription in milliseconds.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GatheredEvents" type="GatheredEventsType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares all events that occurred during subscription usage.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PeriodFee" type="PeriodFeeType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the costs for using the subscription. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserAssignmentCosts" type="UserAssignmentCostsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Declares the costs for users assigned to the subscription.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OneTimeFee" type="OneTimeFeeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the one-time fee to be paid when subscribing to a service. This fee is added to
            the utilization charges for the first billing period.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Parameters" type="ParametersType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the costs for parameters, i.e. options defined for the service underlying the
            subscription.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PriceModelCosts" type="DetailedCostsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the summed-up costs resulting from the price model definition.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Price model name uniquely identifying the applicable price model.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceId" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>ID of the corresponding marketable service.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="calculationMode" type="priceModelCalculationType">
      <xsd:annotation>
        <xsd:documentation>Declares the calculationMode on which the calculation is based on.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="GatheredEventsType">
    <xsd:annotation>
      <xsd:documentation>Chargeable events that occurred during the usage of the subscription.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Event" type="EventType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Declares a single event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GatheredEventsCosts" type="NormalizedCostsType" minOccurs="1" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EventType">
    <xsd:annotation>
      <xsd:documentation>Event.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Description" type="DescriptionType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      <xsd:element name="SingleCost" type="CostsType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the price for the event as defined in the price model.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SteppedPrices" type="SteppedPricesType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Declares stepped price definitions for the event.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NumberOfOccurrence" type="NumberOfOccurrenceType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the number how often the event occurred. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CostForEventType" type="NormalizedCostsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the calculated overall costs for the event (single cost * number of occurrences).
            Stepped prices for events are also considered in the calculation.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Event ID.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="DescriptionType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute ref="xml:lang" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="UserAssignmentCostsType">
    <xsd:annotation>
      <xsd:documentation>Costs that occurred due to assignments of users to the subscription.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UserAssignmentCostsByUser" type="UserAssignmentCostsByUserType" minOccurs="0"
        maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Declares the costs for a single user assigned to the subscription.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RoleCosts" type="RoleCostsType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the additional costs for user roles.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SteppedPrices" type="SteppedPricesType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares stepped price definitions for the user assignments.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="basePeriod" type="basePeriodType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Period on which charges are based.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="basePrice" type="xsd:decimal" use="optional">
      <xsd:annotation>
        <xsd:documentation>Recurring charge per user according to the price model.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="factor" type="xsd:decimal" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Factor resulting from the calculation of actual usage time of all users assigned to the
          subscription, based on
          the base period. The base price is multiplied with this factor.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="numberOfUsersTotal" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation>Total number of users assigned to the subscription in the billing period.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="total" type="NormalizedCosts"></xsd:attribute>
    <xsd:attribute name="price" type="NormalizedCosts" use="optional">
      <xsd:annotation>
        <xsd:documentation>Calculated price for the user assignments.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:simpleType name="basePeriodType">
    <xsd:annotation>
      <xsd:documentation>Period on which charges are based. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MONTH"></xsd:enumeration>
      <xsd:enumeration value="WEEK"></xsd:enumeration>
      <xsd:enumeration value="DAY"></xsd:enumeration>
      <xsd:enumeration value="HOUR"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="NormalizedCostsType">
    <xsd:annotation>
      <xsd:documentation>Costs.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="amount" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Calculated amount of costs. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="DetailedCostsType">
    <xsd:annotation>
      <xsd:documentation>Costs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Discount" type="DiscountType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares a discount granted to the customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VAT" type="VATType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the VAT rate to be applied. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="currency" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>ISO code of the currency in which costs are calculated.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="grossAmount" type="NormalizedCosts" use="optional">
      <xsd:annotation>
        <xsd:documentation>Gross overall amount of costs (net amount plus VAT amount).</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="amount" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Net overall amount of costs. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="OverallCostsType">
    <xsd:annotation>
      <xsd:documentation>Calculated total sum of costs to be invoiced for the customer.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Discount" type="DiscountType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares a discount granted to the customer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VAT" type="VATType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the VAT rate to be applied. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name="netAmount" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Net overall amount of costs. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="currency" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>ISO code of the currency in which costs are calculated.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="grossAmount" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Gross overall amount of costs (net amount plus VAT amount).</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="DiscountType">
    <xsd:annotation>
      <xsd:documentation>Discount.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="percent" type="xsd:float" use="required">
      <xsd:annotation>
        <xsd:documentation>Value specifying how many percent are deducted from the overall costs.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="discountNetAmount" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Calculated amount to be deducted from the overall costs. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="netAmountAfterDiscount" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Calculated net amount of costs after the discount net amount has been deducted from the
          overall costs.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="netAmountBeforeDiscount" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Calculated overall costs before the discount net amount is deducted from the overall costs.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="ParametersType">
    <xsd:annotation>
      <xsd:documentation>Service parameters. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Parameter" type="ParameterType" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Declares a parameter. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ParametersCosts" type="NormalizedCostsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the costs for using the parameter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ParameterType">
    <xsd:annotation>
      <xsd:documentation>Parameter.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ParameterUsagePeriod" type="PeriodType" maxOccurs="1" minOccurs="0"></xsd:element>
      <xsd:element name="ParameterValue" type="ParameterValueType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the value set for the parameter</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Options" type="ParameterOptionsType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares options for the parameter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PeriodFee" type="ParameterPeriodFeeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the costs for using the parameter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserAssignmentCosts" type="ParameterUserAssignmentCostsType" minOccurs="0"
        maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            Declares the parameter costs caused by user assignments to the subscription, based on the
            prices defined in
            the price model.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ParameterCosts" type="NormalizedCostsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the costs for using the parameter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Parameter ID.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="ParameterValueType">
    <xsd:annotation>
      <xsd:documentation>Parameter value. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="amount" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Price for the parameter as defined in the price model. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="parameterDataType" use="required">
      <xsd:annotation>
        <xsd:documentation>Data type of the parameter.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:simpleType name="parameterDataType">
    <xsd:annotation>
      <xsd:documentation>Data type of the parameter.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LONG"></xsd:enumeration>
      <xsd:enumeration value="STRING"></xsd:enumeration>
      <xsd:enumeration value="BOOLEAN"></xsd:enumeration>
      <xsd:enumeration value="ENUMERATION"></xsd:enumeration>
      <xsd:enumeration value="INTEGER"></xsd:enumeration>
      <xsd:enumeration value="DURATION"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="priceModelCalculationType">
    <xsd:annotation>
      <xsd:documentation>Price model type.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FREE_OF_CHARGE"></xsd:enumeration>
      <xsd:enumeration value="PRO_RATA"></xsd:enumeration>
      <xsd:enumeration value="PER_UNIT"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="ParameterPeriodFeeType">
    <xsd:annotation>
      <xsd:documentation>Costs for using the parameter.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SteppedPrices" type="SteppedPricesType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares stepped price definitions for the user assignments.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="basePeriod" type="basePeriodType" use="required">
      <xsd:annotation>
        <xsd:documentation>Period on which the charges are based.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="basePrice" type="xsd:decimal" use="optional">
      <xsd:annotation>
        <xsd:documentation>Recurring charge per subscription according to the price model.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="factor" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>Factor used to calculate the price for using the parameter. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="price" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Calculated price for the parameter usage.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="valueFactor" type="xsd:float" use="required">
      <xsd:annotation>
        <xsd:documentation>Value of the numeric parameter. For boolean parameter values, 1 if set to true, 0 otherwise.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="PeriodFeeType">
    <xsd:annotation>
      <xsd:documentation>Details on costs for using the subscription in the given period.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="basePeriod" type="basePeriodType" use="required">
      <xsd:annotation>
        <xsd:documentation>Period on which the charges are based. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="basePrice" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>Recurring charge per subscription according to the price model.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="factor" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>Factor used to calculate the price for using the subscription.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="price" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Calculated price for the subscription based on the recurring charge for this subsription.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="ParameterUserAssignmentCostsType">
    <xsd:annotation>
      <xsd:documentation>
        Costs for the parameter based on user-related prices and the number of user assignments.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RoleCosts" type="RoleCostsType" maxOccurs="1" minOccurs="0"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="basePeriod" type="basePeriodType" use="required">
      <xsd:annotation>
        <xsd:documentation>Period on which the charges are based.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="basePrice" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>Recurring charge per user according to the price model.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="factor" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>Factor used to calculate the price for using the parameter.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="price" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Calculated price for the parameter usage.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="total" type="NormalizedCosts"></xsd:attribute>
    <xsd:attribute name="valueFactor" type="xsd:float" use="required">
      <xsd:annotation>
        <xsd:documentation>
          Value of the numeric parameter used to determine the parameter costs. For boolean parameter
          values, 1 if set
          to true, 0 otherwise.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="ParameterOptionsType">
    <xsd:annotation>
      <xsd:documentation>Parameter options.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Option" type="ParameterOptionType" maxOccurs="unbounded" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares a parameter option.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ParameterOptionType">
    <xsd:annotation>
      <xsd:documentation>Parameter option.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PeriodFee" type="PeriodFeeType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the costs for using the parameter option based on the usage time
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserAssignmentCosts" type="ParametersUserAssignmentCostsType" minOccurs="1"
        maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the option-related costs caused by user assignments to the subscription (price per
            user for this option as defined in the price model).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OptionCosts" type="NormalizedCostsType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Declares the costs for parameter options.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Option ID.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="ParametersUserAssignmentCostsType">
    <xsd:annotation>
      <xsd:documentation>Parameter costs related to user assignments.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RoleCosts" type="RoleCostsType" maxOccurs="1" minOccurs="0"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="basePeriod" type="basePeriodType" use="required">
      <xsd:annotation>
        <xsd:documentation>Period on which the charges are based.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="basePrice" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>
          Recurring charge per user for the parameter option according to the price model.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="factor" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>Factor used to calculate the price for using the parameter option.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="total" type="NormalizedCosts"></xsd:attribute>
    <xsd:attribute name="price" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>
          Calculated price for the parameter option usage related to costs caused by user assignments.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="UserAssignmentCostsByUserType">
    <xsd:annotation>
      <xsd:documentation>Fine-grained list of user assignment costs, based on particular users. Every entry represents
        the costs related to one particular user.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="factor" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>Fraction of the billing period the current user was assigned to the subscription.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="userId" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>User ID. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="NumberOfOccurrenceType">
    <xsd:annotation>
      <xsd:documentation>Detailed information on the occurrence of events.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="amount" type="xsd:long" use="required">
      <xsd:annotation>
        <xsd:documentation>Number of times the event occurred.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="OneTimeFeeType">
    <xsd:annotation>
      <xsd:documentation>One-time fee.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="amount" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>One-time fee as being charged.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="baseAmount" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>One-time fee as defined in the price model. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="factor" type="xsd:long" use="required">
      <xsd:annotation>
        <xsd:documentation>Factor used for calculating the one-time fee. Since this charge occurs only once, the factor
          is 1 for the first billing period, and 0 in case the one-time fee has already been charged in a previous
          month.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="SteppedPricesType">
    <xsd:annotation>
      <xsd:documentation>Stepped prices. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SteppedPrice" type="SteppedPriceType" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Declares stepped pricing elements.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="amount" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Calculated price for the previous step.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="SteppedPriceType">
    <xsd:annotation>
      <xsd:documentation>Stepped price element.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="additionalPrice" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Calculated price for the previous step.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="basePrice" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>For each step limit, price according to the price model.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="freeAmount" type="xsd:long" use="required">
      <xsd:annotation>
        <xsd:documentation>Price per step that is considered as fixed discount.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="limit" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Step limit as defined in the price model.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="stepAmount" type="NormalizedCosts" use="optional">
      <xsd:annotation>
        <xsd:documentation>Calculated price for for this step.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="stepEntityCount" type="xsd:decimal" use="optional"></xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="RoleCostsType">
    <xsd:annotation>
      <xsd:documentation>Costs for user roles. </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RoleCost" type="RoleCostType" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Declares the costs for a user role.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="total" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Total amount of costs for user roles.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="RoleCostType">
    <xsd:annotation>
      <xsd:documentation>Costs for one user role. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>ID of the user role.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="basePrice" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>Price to be added for a user role according to the price model. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="factor" type="xsd:decimal" use="required">
      <xsd:annotation>
        <xsd:documentation>Factor used to calculate the costs for user roles.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="price" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Calculated costs for user roles. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="UdasType">
    <xsd:annotation>
      <xsd:documentation>Custom attributes.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Uda" type="UdaType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Custom attribute.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UdaType">
    <xsd:annotation>
      <xsd:documentation>Type of custom attribute. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>ID of the custom attribute.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="value" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Value of the custom attribute.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="OrganizationalUnitType">
    <xsd:annotation>
      <xsd:documentation>Type of organizational unit. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The name of the organizational unit.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="referenceID" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>The reference ID of the organizational unit.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="VATType">
    <xsd:annotation>
      <xsd:documentation>Type of VAT.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="percent" type="xsd:float" use="required">
      <xsd:annotation>
        <xsd:documentation>VAT rate in percent, specified as decimal number.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

    <xsd:attribute name="amount" type="NormalizedCosts" use="required">
      <xsd:annotation>
        <xsd:documentation>Calculated amount of VAT to be added to the net amount.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>

  </xsd:complexType>

  <xsd:element name="Billingdata" type="BillingdataType">
    <xsd:annotation>
      <xsd:documentation>Billing data.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="BillingdataType">
    <xsd:annotation>
      <xsd:documentation>Billing data.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BillingDetails" type="BillingDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Declares the billing information for one customer organization for one billing period. By
            default, the billing period is one month.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CostsType">
    <xsd:attribute name="amount" type="xsd:decimal"></xsd:attribute>
  </xsd:complexType>
</xsd:schema>